Repository quisquous/cactbot, pull requests merged in 2021-08, with the labels that each got.

#3363 resources: add new Map net log line
  resources/netregexes.ts
  test/unittests/netregex_test.js
  types/net_fields.d.ts
  util/logtools/netlog_defs.js
Labels: resources, test, util

#3365 lint: change indent to 2
  .eslintrc.cjs
  resources/netregexes.ts
  resources/overlay_plugin_api.ts
  resources/player_override.ts
  resources/regexes.ts
  resources/responses.ts
  resources/translations.ts
  resources/user_config.ts
  resources/weather.ts
  test/unittests/resources_test.js
  ui/config/config.js
  ui/dps/rdmty/dps.js
  ui/eureka/eureka.js
  ui/fisher/fisher.js
  ui/jobs/buff_tracker.ts
  ui/jobs/jobs.js
  ui/jobs/utils.ts
  ui/oopsyraidsy/damage_tracker.ts
  ui/oopsyraidsy/oopsy_common.ts
  ui/radar/radar.ts
  ui/raidboss/data/04-sb/alliance/ridorana_lighthouse.ts
  ui/raidboss/data/05-shb/eureka/delubrum_reginae.ts
  ui/raidboss/data/05-shb/raid/e10s.ts
  ui/raidboss/data/05-shb/raid/e9s.ts
  ui/raidboss/data/05-shb/trial/wol-ex.ts
  ui/raidboss/data/05-shb/ultimate/the_epic_of_alexander.ts
  ui/raidboss/emulator/EmulatorCommon.ts
  ui/raidboss/emulator/data/AnalyzedEncounter.ts
  ui/raidboss/emulator/data/CombatantState.ts
  ui/raidboss/emulator/data/CombatantTracker.ts
  ui/raidboss/emulator/data/Encounter.ts
  ui/raidboss/emulator/data/NetworkLogConverter.ts
  ui/raidboss/emulator/data/PopupTextAnalysis.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent.ts
  ui/raidboss/emulator/data/network_log_converter/LogRepository.ts
  ui/raidboss/emulator/data/network_log_converter/ParseLine.ts
  ui/raidboss/emulator/overrides/RaidEmulatorOverlayApiHook.ts
  ui/raidboss/emulator/overrides/RaidEmulatorPopupText.ts
  ui/raidboss/emulator/overrides/RaidEmulatorTimeline.ts
  ui/raidboss/emulator/overrides/RaidEmulatorTimelineController.ts
  ui/raidboss/emulator/overrides/StubbedPopupText.ts
  ui/raidboss/emulator/ui/EmulatedPartyInfo.ts
  ui/raidboss/emulator/ui/ProgressBar.ts
  ui/raidboss/emulator/ui/Tooltip.ts
  ui/raidboss/popup-text.ts
  ui/raidboss/raidboss_config.js
  ui/raidboss/raidemulator.ts
  ui/raidboss/timeline.ts
  util/coinach.ts
  util/csv_util.ts
  util/file_utils.ts
  util/gen_effect_id.ts
  webpack/webpack.config.ts
Labels: config, dps, eureka, fishing🎣, jobs, oopsy, radar, raidboss, raidemulator, resources, test, util

#3366 lint: manually fix some dprint bugs in LineEvent
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x14.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x15.ts
Labels: raidemulator

#3367 lint: pre-format CombatantJobSearch
  ui/raidboss/emulator/data/CombatantJobSearch.ts
Labels: raidemulator

#3370 raidboss: Add targetability lines to Omega normal
  ui/raidboss/data/04-sb/raid/o3n.txt
  ui/raidboss/data/04-sb/raid/o4n.txt
  ui/raidboss/data/04-sb/raid/o9n.txt
Labels: raidboss

#3374 raidboss: fix WolEx flare+stack callout
  ui/raidboss/data/05-shb/trial/wol-ex.ts
Labels: raidboss

#3368 resources: fix ZoneId name collision
  resources/content_list.ts
  types/oopsy.d.ts
  types/trigger.d.ts
  ui/oopsyraidsy/damage_tracker.ts
  ui/oopsyraidsy/oopsy_options.ts
Labels: oopsy, resources

#3373 raidemulator: Make LineEvent0x1A not an ability line
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x1A.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x1E.ts
Labels: raidemulator

#3371 resources: change net_fields to use netlog_defs
  resources/netlog_defs.ts
  types/net_fields.d.ts
Labels: resources

#3372 raidemulator: change LineEvent to use netlog_defs
  resources/netlog_defs.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x00.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x01.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x02.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x03.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x0C.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x14.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x15.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x17.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x18.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x19.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x1A.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x1B.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x1C.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x1D.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x1F.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x22.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x23.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x24.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x25.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x26.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x27.ts
Labels: raidemulator, resources

#3375 raidboss: 5.5-cn
  plugin/CactbotEventSource/FFXIVProcessCn.cs
  plugin/CactbotEventSource/FateWatcher.cs
  resources/zone_info.ts
  ui/raidboss/data/05-shb/alliance/the_tower_at_paradigms_breach.ts
  ui/raidboss/data/05-shb/dungeon/paglthan.ts
  ui/raidboss/data/05-shb/trial/diamond_weapon-ex.ts
  ui/raidboss/data/05-shb/trial/diamond_weapon.ts
Labels: plugin, raidboss, resources, 💬cn

#3377 resources: Refactor netregexes to use netlog_defs
  resources/netlog_defs.ts
  resources/netregexes.ts
  types/net_fields.d.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x00.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x01.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x02.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x03.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x0C.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x14.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x15.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x19.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x1A.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x1B.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x22.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x23.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x26.ts
Labels: raidemulator, resources

#3378 util: disable lint on coverage report
  util/gen_coverage_report.js
Labels: util

#3383 i18n: various Chinese translations
  resources/zone_info.ts
  ui/raidboss/data/05-shb/alliance/the_tower_at_paradigms_breach.ts
  ui/raidboss/data/05-shb/dungeon/paglthan.ts
  ui/raidboss/data/05-shb/trial/diamond_weapon-ex.ts
  ui/raidboss/data/05-shb/trial/diamond_weapon.ts
Labels: resources, raidboss, 💬cn

#3381 docs: update README to not mention HP option
  README.md
  docs/ko-KR/README.md
  docs/zh-CN/README.md
Labels: 💬ko, docs, 💬cn

#3385 i18n: some translation updates
  ui/raidboss/data/04-sb/dungeon/drowned_city_of_skalla.ts
  ui/raidboss/data/05-shb/dungeon/paglthan.ts
Labels: raidboss

#3384 plugin:bozjan new opcode-cn 5.5
  plugin/CactbotEventSource/FateWatcher.cs
Labels: plugin

#3386 resources: consistently capitalize netlog_defs keys
  resources/netlog_defs.ts
  types/net_fields.d.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x17.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x18.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x1C.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x1D.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x1F.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x24.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x25.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x27.ts
Labels: resources, raidemulator

#3382 docs: Generate LogGuide.md contents dynamically
  docs/LogGuide.md
  package-lock.json
  package.json
  ui/raidboss/emulator/EmulatorCommon.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x18.ts
  util/gen_log_guide.ts
Labels: raidemulator, util, docs

#3390 docs: change log guide headings
  docs/LogGuide.md
Labels: docs

#3393 raidboss: EmeraldEx improvements
  ui/raidboss/data/05-shb/trial/emerald_weapon-ex.ts
  ui/raidboss/data/05-shb/trial/emerald_weapon-ex.txt
Labels: raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#3391 docs: add Map to log guide
  docs/LogGuide.md
  ui/raidboss/emulator/data/network_log_converter/LineEventBlank.ts
  ui/raidboss/emulator/data/network_log_converter/ParseLine.ts
  util/gen_log_guide.ts
Labels: raidemulator, util, docs

#3392 docs: clean up text, outdated hex type mentions
  docs/LogGuide.md
  util/gen_log_guide.ts
Labels: util, docs

#3396 i18n: drowned_city_of_skalla & ruby_weapon-ex missing ja/cn
  ui/raidboss/data/04-sb/dungeon/drowned_city_of_skalla.ts
  ui/raidboss/data/05-shb/trial/ruby_weapon-ex.ts
Labels: raidboss, 💬cn, 💬ja

#3397 i18n: some new Translations for a6n and emerald-ex
  ui/raidboss/data/03-hw/raid/a6n.ts
  ui/raidboss/data/05-shb/trial/emerald_weapon-ex.ts
Labels: raidboss, 💬cn, 💬de

#3400 raidboss: Fix issue with initial timeline load + user config
  ui/raidboss/popup-text.ts
Labels: raidboss

#3394 pullcounter: TypeScript conversion
  types/event.d.ts
  ui/pullcounter/pullcounter.ts
  webpack/webpack.config.ts
Labels: pullcounter

#3407 test: bump mocha test timeout to 5s
  .mocharc.cjs
Labels: test

#3418 raidboss: Misc FR translations
  ui/raidboss/data/04-sb/dungeon/drowned_city_of_skalla.ts
  ui/raidboss/data/05-shb/trial/emerald_weapon-ex.ts
  ui/raidboss/data/05-shb/trial/emerald_weapon.ts
  ui/raidboss/data/05-shb/trial/hades.ts
  ui/raidboss/emulator/translations.ts
Labels: raidboss, raidemulator, 💬fr

#3419 raidboss: Misc ko translations
  ui/raidboss/data/04-sb/dungeon/drowned_city_of_skalla.ts
  ui/raidboss/data/04-sb/raid/o10s.ts
  ui/raidboss/data/04-sb/raid/o12s.ts
  ui/raidboss/data/05-shb/dungeon/dohn_mheg.ts
  ui/raidboss/data/05-shb/trial/emerald_weapon-ex.ts
Labels: raidboss, 💬ko, 💬cn

#3395 eureka: TypeScript conversion
  ui/eureka/eureka.ts
  webpack/webpack.config.ts
Labels: eureka, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#3410 oopsy: move buff tracking into code rather than triggers
  ui/oopsyraidsy/buff_map.ts
  ui/oopsyraidsy/damage_tracker.ts
  ui/oopsyraidsy/data/00-misc/buffs.ts
  ui/oopsyraidsy/data/oopsy_manifest.txt
  ui/oopsyraidsy/effect_tracker.ts
  ui/oopsyraidsy/oopsyraidsy_config.js
Labels: config, oopsy, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#3409 oopsy: change icons to fontawesome
  ui/oopsyraidsy/oopsy_common.css
  ui/oopsyraidsy/oopsy_summary.html
  ui/oopsyraidsy/oopsyraidsy.html
Labels: oopsy

#3423 raidemulator/docs: Fix issues with timestamp timezones
  docs/LogGuide.md
  ui/raidboss/emulator/EmulatorCommon.ts
  ui/raidboss/emulator/data/Encounter.ts
  ui/raidboss/emulator/data/PersistorEncounter.ts
  ui/raidboss/emulator/data/PopupTextAnalysis.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x01.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x14.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x18.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x19.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x1A.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x1E.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x1F.ts
  ui/raidboss/emulator/overrides/RaidEmulatorPopupText.ts
  ui/raidboss/emulator/overrides/RaidEmulatorTimelineController.ts
  ui/raidboss/emulator/ui/EncounterTab.ts
  util/gen_log_guide.ts
Labels: raidemulator, util, docs

#3424 raidboss: Fix *_only.html pages to also include OVERLAY_WS
  ui/raidboss/raidboss_alerts_only.html
  ui/raidboss/raidboss_timeline_only.html
Labels: raidboss

#3425 docs: Fix issues with hashes on ACT log line examples
  docs/LogGuide.md
  ui/raidboss/emulator/data/network_log_converter/LineEvent.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x0C.ts
  util/gen_log_guide.ts
Labels: raidemulator, util, docs

#3416 docs: add cn translate of timrline guide
  docs/TimelineGuide.md
  docs/zh-CN/TimelineGuide.md
Labels: docs, 💬cn
