Repository quisquous/cactbot, pull requests merged in 2021-12, with the labels that each got.

#3711 raidboss: remaining alpha timeline conversions
  ui/raidboss/data/03-hw/dungeon/gubal_library_hard.txt
  ui/raidboss/data/04-sb/eureka/eureka_hydatos.txt
  ui/raidboss/data/05-shb/eureka/bozjan_southern_front.txt
  ui/raidboss/data/05-shb/eureka/delubrum_reginae_savage.txt
  ui/raidboss/data/05-shb/eureka/zadnor.txt
Labels: raidboss

#3709 raidboss: added missing translations Fr on Trial shb
  ui/raidboss/data/04-sb/trial/byakko.ts
  ui/raidboss/data/04-sb/trial/rathalos-ex.ts
  ui/raidboss/data/04-sb/trial/rathalos.ts
  ui/raidboss/data/04-sb/trial/suzaku.ts
  ui/raidboss/data/04-sb/trial/tsukuyomi-ex.ts
  ui/raidboss/data/04-sb/trial/tsukuyomi.ts
Labels: raidboss, 💬fr

#3708 oopsy: ignore buffs on pets
  ui/oopsyraidsy/player_state_tracker.ts
Labels: oopsy

#3697 util: Alpha Python timeline utility updates
  util/encounter_tools.py
  util/make_timeline.py
  util/test_timeline.py
Labels: util

#3712 util: support lowercase Unknown_ and Attack
  util/make_timeline.py
Labels: util

#3682 jobs: full refactoring for job module
  package-lock.json
  package.json
  resources/widget_list.ts
  ui/jobs/bars.ts
  ui/jobs/components/ast.ts
  ui/jobs/components/base.ts
  ui/jobs/components/blm.ts
  ui/jobs/components/blu.ts
  ui/jobs/components/brd.ts
  ui/jobs/components/dnc.ts
  ui/jobs/components/drg.ts
  ui/jobs/components/drk.ts
  ui/jobs/components/gnb.ts
  ui/jobs/components/index.ts
  ui/jobs/components/mch.ts
  ui/jobs/components/mnk.ts
  ui/jobs/components/nin.ts
  ui/jobs/components/pld.ts
  ui/jobs/components/rdm.ts
  ui/jobs/components/sam.ts
  ui/jobs/components/sch.ts
  ui/jobs/components/smn.ts
  ui/jobs/components/war.ts
  ui/jobs/components/whm.ts
  ui/jobs/constants.ts
  ui/jobs/event_emitter.ts
  ui/jobs/jobs.css
  ui/jobs/jobs.html
  ui/jobs/jobs.ts
  ui/jobs/player.ts
  ui/jobs/utils.ts
Labels: resources, jobs, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#3716 util: update deps for OverlayPlugin 0.17.0
  util/DEPS.json5
Labels: util

#3718 resources: add framed versions of new EW job icons
  resources/ffxiv/jobs/rpr-framed.png
  resources/ffxiv/jobs/sge-framed.png
Labels: resources

#3717 jobs: update buff tracker for EW
  resources/ffxiv/status/devotion.png
  ui/jobs/buff_tracker.ts
Labels: resources, jobs

#3719 resources/jobs: add new EW job enums
  resources/util.ts
  types/job.d.ts
  ui/jobs/components/index.ts
  ui/jobs/components/rpr.ts
  ui/jobs/components/sge.ts
Labels: resources, jobs

#3720 util: add missing semicolon to gen_hunt_data output
  util/gen_hunt_data.py
Labels: util

#3721 resources: add ew hunt data
  resources/hunt.ts
Labels: resources, 💬fr, 💬de, 💬ja

#3722 resources: update weather_rates for EW
  resources/weather_rate.ts
Labels: resources

#3723 resources: add rpr/sge glowy icons
  resources/ffxiv/jobs/rpr.png
  resources/ffxiv/jobs/sge.png
Labels: resources

#3725 util/config: update exversion=4 text for EW
  ui/config/config.ts
  util/coverage/coverage.ts
Labels: config, util

#3727 i18n: add EW text localisation
  ui/config/config.ts
  util/coverage/coverage.ts
Labels: config, util, 💬fr, 💬cn, 💬de, 💬ja

#3728 jobs: fix build after stats line change in alpha_plugin
  ui/jobs/player.ts
Labels: jobs

#3729 plugin: adjust memory offsets for player data
  plugin/CactbotEventSource/FFXIVProcessIntl.cs
Labels: plugin

#3731 plugin: ignore FateWatcher initialization errors
  plugin/CactbotEventSource/FateWatcher.cs
Labels: plugin

#3736 plugin: add sage job detail
  plugin/CactbotEventSource/FFXIVProcess.cs
  plugin/CactbotEventSource/FFXIVProcessIntl.cs
  types/event.d.ts
  ui/test/test.ts
Labels: test, plugin

#3733 raidboss: Add some basic Tower of Zot triggers
  ui/raidboss/data/06-ew/dungeon/the_tower_of_zot.ts
  ui/raidboss/data/raidboss_manifest.txt
Labels: raidboss

#3737 raidboss: Tower of Zot initial timeline
  ui/raidboss/data/06-ew/dungeon/the_tower_of_zot.ts
  ui/raidboss/data/06-ew/dungeon/the_tower_of_zot.txt
  ui/raidboss/data/raidboss_manifest.txt
Labels: raidboss

#3732 plugin: support for type rename in FFXIV_ACT_Plugin 2.6.2.0
  plugin/CactbotEventSource/FateWatcher.cs
Labels: plugin

#3734 plugin: Update CE Opcode for v6.0
  plugin/CactbotEventSource/FateWatcher.cs
Labels: plugin

#3738 resources: update endwalker effect ids
  resources/effect_id.ts
  util/gen_effect_id.ts
Labels: resources, util

#3740 jobs: update samurai new buff fuka and fugetsu
  ui/jobs/components/sam.ts
  ui/jobs/jobs.css
  ui/jobs/player.ts
  ui/jobs/utils.ts
Labels: jobs

#3741 jobs: update dancer buffs
  ui/jobs/components/dnc.ts
Labels: resources, jobs

#3739 jobs: add sage jobs ui
  ui/jobs/components/sge.ts
  ui/jobs/constants.ts
  ui/jobs/jobs.css
Labels: jobs

#3745 util: support lowercase Unknown_ and Attack (#3712)
  util/make_timeline.py
Labels: util

#3744 raidboss: Tower of Babil initial timeline
  ui/raidboss/data/06-ew/dungeon/the_tower_of_babil.ts
  ui/raidboss/data/06-ew/dungeon/the_tower_of_babil.txt
  ui/raidboss/data/raidboss_manifest.txt
Labels: raidboss

#3749 i18n: first set of ew dungeon translation
  ui/raidboss/data/06-ew/dungeon/the_tower_of_babil.ts
  ui/raidboss/data/06-ew/dungeon/the_tower_of_zot.ts
Labels: raidboss

#3746 test: fix husky errors with test_raidboss_data
  package.json
  test/test_raidboss_data.ts
Labels: test

#3742 plugin: renew 6.0 summoner job detail
  plugin/CactbotEventSource/FFXIVProcessIntl.cs
  types/event.d.ts
  ui/jobs/components/index.ts
  ui/jobs/components/smn.ts
  ui/jobs/constants.ts
  ui/test/test.ts
Labels: jobs, test, plugin

#3747 oopsy: add first EW trial
  ui/oopsyraidsy/data/06-ew/trial/zodiark.ts
  ui/oopsyraidsy/data/oopsy_manifest.txt
Labels: oopsy, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#3748 raidboss: add first EW trial timeline
  ui/raidboss/data/06-ew/trial/zodiark.ts
  ui/raidboss/data/06-ew/trial/zodiark.txt
  ui/raidboss/data/raidboss_manifest.txt
Labels: raidboss

#3755 lint: Update Fixer Node Argument Range
  eslint/cactbot-response-default-severities.js
Labels: style

#3752 oopsy: add vanaspati
  ui/oopsyraidsy/data/06-ew/dungeon/vanaspati.ts
  ui/oopsyraidsy/data/oopsy_manifest.txt
Labels: oopsy

#3753 raidboss: add vanaspati
  ui/raidboss/data/06-ew/dungeon/vanaspati.ts
  ui/raidboss/data/06-ew/dungeon/vanaspati.txt
  ui/raidboss/data/raidboss_manifest.txt
Labels: raidboss

#3756 raidboss: Ktisis Hyperboreia initial timeline
  ui/raidboss/data/06-ew/dungeon/ktisis_hyperboreia.ts
  ui/raidboss/data/06-ew/dungeon/ktisis_hyperboreia.txt
  ui/raidboss/data/raidboss_manifest.txt
Labels: raidboss

#3757 i18n: Ew trial 1 translation
  ui/raidboss/data/06-ew/trial/zodiark.ts
Labels: raidboss, 💬de

#3758 raidboss: the_tower_of_zot Fr
  ui/raidboss/data/06-ew/dungeon/the_tower_of_zot.ts
Labels: raidboss

#3759 raidemulator: Endwalker fixes
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x17.ts
  ui/raidboss/emulator/ui/EmulatedPartyInfo.ts
  ui/raidboss/raidemulator.css
Labels: raidemulator

#3762 i18n: added more EW dungeon translation
  ui/raidboss/data/06-ew/dungeon/ktisis_hyperboreia.ts
  ui/raidboss/data/06-ew/dungeon/vanaspati.ts
Labels: raidboss, 💬de

#3760 resources: run gen tools for EW
  ui/fisher/static-data.ts
Labels: fishing🎣

#3765 eureka: update Hydatos bunny respawn time
  ui/eureka/zone_hydatos.ts
Labels: eureka

#3761 oopsy: add Tower of Zot
  ui/oopsyraidsy/data/06-ew/dungeon/the_tower_of_zot.ts
  ui/oopsyraidsy/data/oopsy_manifest.txt
Labels: oopsy

#3768 docs: fix several log guide issues
  docs/LogGuide.md
  resources/regexes.ts
  util/gen_log_guide.ts
Labels: resources, util, docs

#3771 i18n: ew-vanaspati Fr
  ui/raidboss/data/06-ew/dungeon/vanaspati.ts
Labels: raidboss, 💬fr

#3769 plugin: update RDM/BRD job details
  plugin/CactbotEventSource/FFXIVProcessIntl.cs
  types/event.d.ts
  ui/test/test.ts
Labels: test, plugin

#3770 raidboss: add ew ex trial timelines and triggers
  ui/raidboss/data/06-ew/trial/hydaelyn-ex.ts
  ui/raidboss/data/06-ew/trial/hydaelyn-ex.txt
  ui/raidboss/data/06-ew/trial/zodiark-ex.ts
  ui/raidboss/data/06-ew/trial/zodiark-ex.txt
  ui/raidboss/data/raidboss_manifest.txt
Labels: raidboss

#3773 resources: add new zones to content_list.ts
  resources/content_list.ts
Labels: resources

#3776 i18n: ew zodiark-Fr
  ui/raidboss/data/06-ew/trial/zodiark.ts
Labels: raidboss, 💬fr

#3772 resources: change text of Outputs.goIntoMiddle
  resources/outputs.ts
Labels: resources

#3774 jobs: WAR surging tempest timer fix
  ui/jobs/components/war.ts
Labels: jobs

#3777 i18n: added EW ex trials
  ui/raidboss/data/06-ew/trial/hydaelyn-ex.ts
  ui/raidboss/data/06-ew/trial/zodiark-ex.ts
Labels: raidboss

#3780 raidboss: fix Vanaspati Last Gasp trigger
  ui/raidboss/data/06-ew/dungeon/vanaspati.ts
Labels: raidboss

#3781 jobs: fix gp alarm from constantly beeping
  ui/jobs/bars.ts
  ui/jobs/components/index.ts
Labels: jobs

#3785 raidboss: EW KO translate
  ui/raidboss/data/06-ew/dungeon/vanaspati.ts
  ui/raidboss/data/06-ew/trial/zodiark.ts
Labels: raidboss, 💬ko

#3786 raidemulator: Fix bug with last combatant state tracking
  ui/raidboss/emulator/data/CombatantTracker.ts
Labels: raidemulator

#3763 raidboss: Initial triggers and timeline for EW final trial
  ui/raidboss/data/06-ew/trial/endsinger.ts
  ui/raidboss/data/06-ew/trial/endsinger.txt
  ui/raidboss/data/raidboss_manifest.txt
Labels: raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#3790 jobs: support new combo duration in EW
  ui/jobs/components/base.ts
  ui/jobs/components/dnc.ts
  ui/jobs/components/drk.ts
  ui/jobs/components/gnb.ts
  ui/jobs/components/index.ts
  ui/jobs/components/mch.ts
  ui/jobs/components/nin.ts
  ui/jobs/components/sam.ts
  ui/jobs/components/war.ts
  ui/jobs/jobs.ts
Labels: jobs

#3794 raidboss: 2nd EW extreme timeline touchups
  ui/raidboss/data/06-ew/trial/hydaelyn-ex.txt
Labels: raidboss

#3797 i18n: more EW trial tranlsations
  ui/raidboss/data/06-ew/trial/endsinger.ts
  ui/raidboss/data/06-ew/trial/hydaelyn-ex.ts
Labels: raidboss, 💬de

#3789 jobs: support Blade of Valor dot
  ui/jobs/components/pld.ts
  ui/jobs/constants.ts
Labels: jobs

#3796 raidboss: touch up Tower of Zot timeline
  ui/raidboss/data/06-ew/dungeon/the_tower_of_zot.txt
Labels: raidboss

#3787 i18n: raidboss and etc kr translations
  ui/config/config.ts
  ui/eureka/zone_bozja_southern.ts
  ui/oopsyraidsy/data/05-shb/raid/e4s.ts
  ui/raidboss/data/03-hw/raid/a2s.ts
  ui/raidboss/data/03-hw/raid/a5s.ts
  ui/raidboss/data/03-hw/raid/a6n.ts
  ui/raidboss/data/03-hw/raid/a8s.ts
  ui/raidboss/data/04-sb/raid/o1n.ts
  ui/raidboss/data/04-sb/raid/o2s.ts
  ui/raidboss/data/04-sb/raid/o3s.ts
  ui/raidboss/data/04-sb/raid/o4s.ts
  ui/raidboss/data/04-sb/raid/o5n.ts
  ui/raidboss/data/04-sb/raid/o5s.ts
  ui/raidboss/data/04-sb/raid/o6n.ts
  ui/raidboss/data/04-sb/raid/o7n.ts
  ui/raidboss/data/04-sb/raid/o7s.ts
  ui/raidboss/data/04-sb/raid/o8n.ts
  ui/raidboss/data/04-sb/raid/o8s.ts
  ui/raidboss/data/04-sb/raid/o9n.ts
  ui/raidboss/data/04-sb/ultimate/unending_coil_ultimate.ts
  ui/raidboss/data/05-shb/dungeon/paglthan.ts
  ui/raidboss/data/05-shb/dungeon/twinning.ts
  ui/raidboss/data/05-shb/raid/e1s.ts
  ui/raidboss/data/06-ew/dungeon/vanaspati.ts
  util/coverage/coverage.ts
Labels: config, eureka, oopsy, raidboss, util, 💬ko

#3792 util: add summoner pet/trust names to make_timeline.py
  util/make_timeline.py
Labels: util

#3784 raidboss: add Tower of Zot triggers
  ui/raidboss/data/06-ew/dungeon/the_tower_of_zot.ts
Labels: raidboss

#3793 oopsy: add 2nd EW extreme
  ui/oopsyraidsy/data/06-ew/trial/hydaelyn-ex.ts
  ui/oopsyraidsy/data/oopsy_manifest.txt
Labels: oopsy

#3800 jobs: Temporarily fake kLevelMod data to avoid error
  ui/jobs/constants.ts
Labels: jobs

#3802 jobs: fix stats not emit when component init
  ui/jobs/player.ts
Labels: jobs

#3803 i18n: added more missing translations for DE
  ui/oopsyraidsy/oopsy_live_list.ts
  ui/raidboss/data/04-sb/raid/o12n.ts
  ui/raidboss/data/06-ew/dungeon/the_tower_of_zot.ts
  ui/raidboss/data/06-ew/dungeon/vanaspati.ts
  ui/raidboss/data/06-ew/trial/endsinger.ts
  ui/raidboss/data/06-ew/trial/hydaelyn-ex.ts
Labels: oopsy, raidboss, 💬de

#3804 i18n: ew the_tower_of_zot Fr
  ui/raidboss/data/06-ew/dungeon/the_tower_of_zot.ts
Labels: raidboss, 💬fr

#3805 raidboss: Tower of Babil triggers
  ui/raidboss/data/06-ew/dungeon/the_tower_of_babil.ts
  ui/raidboss/data/06-ew/dungeon/the_tower_of_babil.txt
Labels: raidboss

#3801 i18n: (raidboss) add EW kr translations
  ui/raidboss/data/06-ew/dungeon/the_tower_of_babil.ts
  ui/raidboss/data/06-ew/dungeon/the_tower_of_zot.ts
  ui/raidboss/data/06-ew/trial/endsinger.ts
  ui/raidboss/data/06-ew/trial/hydaelyn-ex.ts
Labels: raidboss, 💬ko

#3799 jobs: update combo breakers for 6.x
  ui/jobs/combo_tracker.ts
  ui/jobs/constants.ts
  ui/jobs/jobs.ts
  ui/jobs/player.ts
Labels: jobs

#3808 oopsy: Add Tower of Babil
  ui/oopsyraidsy/data/06-ew/dungeon/the_tower_of_babil.ts
  ui/oopsyraidsy/data/oopsy_manifest.txt
Labels: oopsy

#3806 oopsy: add Smileton
  ui/oopsyraidsy/data/06-ew/dungeon/smileton.ts
  ui/oopsyraidsy/data/oopsy_manifest.txt
Labels: oopsy

#3807 raidboss: add Smileton
  ui/raidboss/data/06-ew/dungeon/smileton.ts
  ui/raidboss/data/06-ew/dungeon/smileton.txt
  ui/raidboss/data/raidboss_manifest.txt
Labels: raidboss

#3809 i18n: tower of babil translation
  ui/raidboss/data/06-ew/dungeon/the_tower_of_babil.ts
Labels: raidboss, 💬de

#3810 i18n: will EW translation ever stop
  ui/oopsyraidsy/data/06-ew/dungeon/smileton.ts
  ui/oopsyraidsy/data/06-ew/dungeon/the_tower_of_babil.ts
  ui/raidboss/data/06-ew/dungeon/smileton.ts
Labels: oopsy, raidboss, 💬de

#3767 eureka: Bozja map fixes
  ui/eureka/eureka.css
  ui/eureka/eureka.ts
Labels: eureka

#3811 plugin: fix fisher bait is a uint
  plugin/CactbotEventSource/FFXIVProcess.cs
  plugin/CactbotEventSource/JSEvents.cs
Labels: plugin

#3812 plugin: remove stray variable in fatewatcher
  plugin/CactbotEventSource/FateWatcher.cs
Labels: plugin

#3813 jobs: add blm paradox in job detail
  plugin/CactbotEventSource/FFXIVProcessCn.cs
  plugin/CactbotEventSource/FFXIVProcessIntl.cs
  plugin/CactbotEventSource/FFXIVProcessKo.cs
  types/event.d.ts
  ui/jobs/components/blm.ts
  ui/test/test.ts
Labels: jobs, test, plugin

#3814 raidboss: Misc EW FR Translations
  ui/raidboss/data/06-ew/dungeon/smileton.ts
  ui/raidboss/data/06-ew/dungeon/the_tower_of_babil.ts
  ui/raidboss/data/06-ew/dungeon/vanaspati.ts
Labels: raidboss, 💬fr

#3818 jobs: refactor procs boxes in flex layout
  ui/jobs/bars.ts
  ui/jobs/jobs.css
Labels: jobs

#3821 i18n: Ew little correction fr
  ui/raidboss/data/06-ew/dungeon/smileton.ts
  ui/raidboss/data/06-ew/dungeon/the_tower_of_babil.ts
Labels: raidboss

#3816 i18n: add ja translations for EW timeline/triggers
  ui/raidboss/data/06-ew/dungeon/the_tower_of_zot.ts
  ui/raidboss/data/06-ew/dungeon/vanaspati.ts
  ui/raidboss/data/06-ew/trial/endsinger.ts
  ui/raidboss/data/06-ew/trial/hydaelyn-ex.ts
  ui/raidboss/data/06-ew/trial/zodiark-ex.ts
  ui/raidboss/data/06-ew/trial/zodiark.ts
Labels: raidboss, 💬ja

#3820 raidboss: fix crystallize+aureole in 2nd EW extreme
  ui/raidboss/data/06-ew/trial/hydaelyn-ex.ts
Labels: raidboss

#3823 jobs: fix effect/gain/you dont trigger self gains buffs
  ui/jobs/player.ts
Labels: jobs

#3828 jobs: refactor stacks boxes in flex layout
  ui/jobs/components/blm.ts
  ui/jobs/components/mch.ts
  ui/jobs/components/sam.ts
  ui/jobs/components/sge.ts
  ui/jobs/components/whm.ts
  ui/jobs/jobs.css
Labels: jobs

#3829 jobs: add compact view option
  ui/jobs/bars.ts
  ui/jobs/jobs.css
  ui/jobs/jobs_config.ts
  ui/jobs/jobs_options.ts
Labels: config, jobs, 💬cn, 💬ja

#3831 jobs: WAR: Re-support ShB
  ui/jobs/components/war.ts
Labels: jobs

#3832 jobs: DRK: update Delirium trace
  ui/jobs/components/drk.ts
Labels: jobs

#3833 jobs: GNB: update cartridges guage
  ui/jobs/components/gnb.ts
Labels: jobs

#3835 jobs: MNK: support Disciplined Fist
  ui/jobs/components/mnk.ts
Labels: jobs

#3836 jobs: NIN: Fix huton and ninjutsu
  ui/jobs/components/nin.ts
Labels: jobs

#3837 i18n: CN translations for hydaelyn ex
  ui/raidboss/data/06-ew/trial/hydaelyn-ex.ts
Labels: raidboss, 💬cn

#3822 i18n: some CN translations for endwalker
  ui/config/config.ts
  ui/raidboss/data/06-ew/dungeon/the_tower_of_zot.ts
  ui/raidboss/data/06-ew/dungeon/vanaspati.ts
  ui/raidboss/data/06-ew/trial/zodiark.ts
Labels: config, raidboss, 💬cn

#3838 i18n: add missing translation Fr
  ui/jobs/jobs_config.ts
Labels: config, jobs, 💬fr

#3834 jobs: AST: Draw and Sealbox change
  ui/jobs/components/ast.ts
Labels: jobs

#3839 i18n: add EW and etc kr translations
  resources/outputs.ts
  ui/jobs/jobs_config.ts
  ui/oopsyraidsy/data/06-ew/dungeon/smileton.ts
  ui/oopsyraidsy/data/06-ew/dungeon/the_tower_of_babil.ts
  ui/oopsyraidsy/oopsy_live_list.ts
  ui/raidboss/data/06-ew/dungeon/smileton.ts
Labels: resources, config, jobs, oopsy, raidboss, 💬ko

#3825 oopsy: add The Aitiascope
  ui/oopsyraidsy/data/06-ew/dungeon/the_aitiascope.ts
  ui/oopsyraidsy/data/oopsy_manifest.txt
Labels: oopsy

#3826 raidboss: add The Aitiascope
  ui/raidboss/data/06-ew/dungeon/the_aitiascope.ts
  ui/raidboss/data/06-ew/dungeon/the_aitiascope.txt
  ui/raidboss/data/raidboss_manifest.txt
Labels: raidboss

#3841 jobs: BRD: EW changes
  ui/jobs/components/brd.ts
  ui/jobs/constants.ts
Labels: jobs

#3840 oopsy: small fixes for Babil/Zot
  ui/oopsyraidsy/data/06-ew/dungeon/the_tower_of_babil.ts
  ui/oopsyraidsy/data/06-ew/dungeon/the_tower_of_zot.ts
Labels: oopsy

#3830 jobs: refactor combo tracker as an event emitter
  ui/jobs/combo_tracker.ts
  ui/jobs/components/base.ts
  ui/jobs/components/dnc.ts
  ui/jobs/components/drk.ts
  ui/jobs/components/gnb.ts
  ui/jobs/components/mch.ts
  ui/jobs/components/nin.ts
  ui/jobs/components/sam.ts
  ui/jobs/components/war.ts
  ui/jobs/constants.ts
  ui/jobs/player.ts
Labels: jobs

#3842 util: add G'raha to list of ignored names
  util/make_timeline.py
Labels: util

#3844 jobs: BLM: update thunder dot duration
  ui/jobs/components/blm.ts
Labels: jobs

#3845 i18n: new Translations + small fix
  ui/raidboss/data/06-ew/dungeon/the_aitiascope.ts
  ui/raidboss/data/06-ew/trial/endsinger.ts
Labels: raidboss

#3847 raidboss: fix 2nd EW extreme Crystallize->Beacon->Aureole
  ui/raidboss/data/06-ew/trial/hydaelyn-ex.ts
Labels: raidboss

#3843 raidboss: Stigma Dreamscape initial timeline and triggers
  ui/raidboss/data/06-ew/dungeon/stigma_dreamscape.ts
  ui/raidboss/data/06-ew/dungeon/stigma_dreamscape.txt
  ui/raidboss/data/raidboss_manifest.txt
Labels: raidboss

#3849 jobs: fix only buff option not hide procs
  ui/jobs/jobs.css
Labels: jobs

#3852 plugin: change tab text to Cactbot Config
  plugin/CactbotEventSource/CactbotEventSource.cs
Labels: plugin

#3855 i18n: continue EW translations
  ui/jobs/jobs_config.ts
  ui/raidboss/data/06-ew/dungeon/stigma_dreamscape.ts
  ui/raidboss/data/06-ew/dungeon/the_aitiascope.ts
Labels: config, jobs, raidboss, 💬de

#3856 raidboss: add 1st ex trial targetable lines to timeline
  ui/raidboss/data/06-ew/trial/zodiark-ex.txt
Labels: raidboss

#3860 jobs: fix buff durations for non-EW
  resources/ffxiv/status/devotion.png
  ui/jobs/buff_tracker.ts
  ui/jobs/components/index.ts
Labels: resources, jobs

#3859 raidboss/oopsy: fixups for The Aitiascope
  ui/oopsyraidsy/data/06-ew/dungeon/the_aitiascope.ts
  ui/raidboss/data/06-ew/dungeon/the_aitiascope.ts
  ui/raidboss/data/06-ew/dungeon/the_aitiascope.txt
Labels: oopsy, raidboss

#3850 raidboss: small Vanaspati improvements
  ui/raidboss/data/06-ew/dungeon/vanaspati.ts
  ui/raidboss/data/06-ew/dungeon/vanaspati.txt
Labels: raidboss

#3862 raidboss: add minor timeline comments to Aitiascope
  ui/raidboss/data/06-ew/dungeon/the_aitiascope.txt
Labels: raidboss

#3864 raidboss: Stigma dreamscape FR translations
  ui/raidboss/data/06-ew/dungeon/stigma_dreamscape.ts
Labels: raidboss, 💬fr

#3865 jobs: update 708090 klevelmod
  ui/jobs/constants.ts
Labels: jobs

#3866 i18n: small trigger updates
  ui/raidboss/data/06-ew/dungeon/the_aitiascope.ts
Labels: raidboss

#3869 raidboss: Correct Dreamscape second boss buster ID
  ui/raidboss/data/06-ew/dungeon/stigma_dreamscape.ts
Labels: raidboss

#3868 raidboss: Correct Dreamscape dragon direction trigger
  ui/raidboss/data/06-ew/dungeon/stigma_dreamscape.ts
Labels: raidboss

#3863 i18n: Ew dungeons Fr
  ui/raidboss/data/06-ew/dungeon/the_aitiascope.ts
  ui/raidboss/data/06-ew/dungeon/vanaspati.ts
Labels: raidboss, 💬fr

#3857 oopsy: add Ktisis Hyperboreia
  ui/oopsyraidsy/data/06-ew/dungeon/ktisis_hyperboreia.ts
  ui/oopsyraidsy/data/oopsy_manifest.txt
Labels: oopsy

#3861 jobs: fix Embolden/Searing Light/Arcane Circle buffs
  resources/ffxiv/status/arcane-circle.png
  resources/ffxiv/status/searing-light.png
  ui/jobs/buff_tracker.ts
  ui/jobs/constants.ts
Labels: resources, jobs

#3867 oopsy: support new EW missed buffs and abilities
  ui/oopsyraidsy/buff_map.ts
Labels: oopsy

#3858 raidboss: basic Ktisis Hyperboreia triggers
  ui/raidboss/data/06-ew/dungeon/ktisis_hyperboreia.ts
  ui/raidboss/data/06-ew/dungeon/ktisis_hyperboreia.txt
Labels: raidboss

#3870 i18n: ktisis translations
  ui/raidboss/data/06-ew/dungeon/ktisis_hyperboreia.ts
Labels: raidboss, 💬de

#3871 i18n: add kr EW translations
  ui/raidboss/data/06-ew/dungeon/ktisis_hyperboreia.ts
  ui/raidboss/data/06-ew/dungeon/stigma_dreamscape.ts
  ui/raidboss/data/06-ew/dungeon/the_aitiascope.ts
Labels: raidboss, 💬ko

#3872 i18n: Ew dg fr
  ui/raidboss/data/06-ew/dungeon/ktisis_hyperboreia.ts
  ui/raidboss/data/06-ew/dungeon/stigma_dreamscape.ts
Labels: raidboss, 💬fr

#3873 jobs: Flourish timer fix and re-support ShB
  ui/jobs/components/dnc.ts
Labels: jobs

#3879 i18n: endsinger Fr
  ui/raidboss/data/06-ew/trial/endsinger.ts
Labels: raidboss, 💬fr

#3882 oopsy: add lvl89 trial
  ui/oopsyraidsy/data/06-ew/trial/hydaelyn-ex.ts
  ui/oopsyraidsy/data/06-ew/trial/hydaelyn.ts
  ui/oopsyraidsy/data/oopsy_manifest.txt
Labels: oopsy

#3883 raidboss: add lvl89 trial
  ui/raidboss/data/06-ew/trial/hydaelyn.ts
  ui/raidboss/data/06-ew/trial/hydaelyn.txt
  ui/raidboss/data/raidboss_manifest.txt
Labels: raidboss, 💬ko, 💬cn, 💬de, 💬ja

#3884 i18n: add missing translation Fr
  resources/outputs.ts
Labels: resources, 💬fr

#3874 jobs: WAR: fix Surging Tempest timer
  ui/jobs/components/war.ts
Labels: jobs

#3885 i18n: Hydaelyn fr
  ui/raidboss/data/06-ew/trial/hydaelyn.ts
Labels: raidboss, 💬fr

#3896 resources: run python gen tools for 6.01
  resources/weather_rate.ts
  resources/zone_id.ts
  resources/zone_info.ts
  ui/fisher/static-data.ts
Labels: resources, fishing🎣, 💬fr, 💬de, 💬ja

#3891 plugin: update CE opcode for 6.01
  plugin/CactbotEventSource/FateWatcher.cs
Labels: plugin

#3892 i18n: lvl89 trial translations
  ui/raidboss/data/06-ew/trial/hydaelyn.ts
Labels: raidboss

#3890 oopsy: Add Stigma Dreamscape
  ui/oopsyraidsy/data/06-ew/dungeon/stigma_dreamscape.ts
  ui/oopsyraidsy/data/oopsy_manifest.txt
Labels: oopsy

#3888 oopsy: add final trial
  ui/oopsyraidsy/data/06-ew/trial/endsinger.ts
  ui/oopsyraidsy/data/oopsy_manifest.txt
Labels: oopsy, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#3889 oopsy: add first extreme
  ui/oopsyraidsy/data/06-ew/trial/zodiark-ex.ts
  ui/oopsyraidsy/data/oopsy_manifest.txt
Labels: oopsy, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#3886 raidboss: add The Dead Ends
  ui/raidboss/data/06-ew/dungeon/the_dead_ends.ts
  ui/raidboss/data/06-ew/dungeon/the_dead_ends.txt
  ui/raidboss/data/raidboss_manifest.txt
Labels: raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#3887 oopsy: add The Dead Ends
  ui/oopsyraidsy/data/06-ew/dungeon/the_dead_ends.ts
  ui/oopsyraidsy/data/oopsy_manifest.txt
Labels: oopsy

#3893 raidboss: Add p1n triggers
  ui/raidboss/data/06-ew/raid/p1n.ts
  ui/raidboss/data/raidboss_manifest.txt
Labels: raidboss
