Repository quisquous/cactbot, pull requests merged in 2021-07, with the labels that each got.

#3219 lint: bump eslint to 4.28.0
  package.json
  ui/raidboss/emulator/ui/Tooltip.ts
Labels: raidemulator

#3225 missing DE translations
  ui/eureka/eureka.js
  ui/eureka/eureka_config.ts
  ui/raidboss/data/00-misc/test.ts
  ui/raidboss/data/04-sb/raid/o3s.js
  ui/raidboss/data/05-shb/alliance/the_copied_factory.js
  ui/raidboss/data/05-shb/eureka/zadnor.js
  ui/raidboss/raidboss_config.js
  util/coverage/coverage.js
Labels: config, eureka, raidboss, util, 💬de

#3224 jobs: prevent notifications if only buffs are shown
  ui/jobs/jobs.js
Labels: jobs

#3160 raidboss: improve o2s triggers
  ui/raidboss/data/04-sb/raid/o2s.js
Labels: raidboss, 💬ko

#3162 raidboss: add more Ruby Weapon Extreme triggers
  ui/raidboss/data/05-shb/trial/ruby_weapon-ex.js
  ui/raidboss/data/05-shb/trial/ruby_weapon-ex.txt
Labels: raidboss, 💬ko

#3185 raidemulator: Convert EmulatedPartyInfo to typescript
  ui/raidboss/emulator/data/AnalyzedEncounter.ts
  ui/raidboss/emulator/ui/EmulatedPartyInfo.js
  ui/raidboss/emulator/ui/EmulatedPartyInfo.ts
  ui/raidboss/emulator/ui/Tooltip.ts
Labels: raidemulator

#3217 oopsy: convert oopsy_options to TS
  ui/oopsyraidsy/oopsy_options.js
  ui/oopsyraidsy/oopsy_options.ts
Labels: oopsy

#3177 feat(plugin): expose strings for further localisation
  plugin/CactbotEventSource/CactbotEventSource.cs
  plugin/CactbotEventSource/CactbotEventSource.csproj
  plugin/CactbotEventSource/CactbotEventSourceConfig.cs
  plugin/CactbotEventSource/FFXIVPlugin.cs
  plugin/CactbotEventSource/FFXIVProcess.cs
  plugin/CactbotEventSource/FFXIVProcessCn.cs
  plugin/CactbotEventSource/FFXIVProcessIntl.cs
  plugin/CactbotEventSource/FFXIVProcessKo.cs
  plugin/CactbotEventSource/VersionChecker.cs
  plugin/CactbotEventSource/loc/Strings.Designer.cs
  plugin/CactbotEventSource/loc/Strings.resx
  plugin/CactbotOverlay/CactbotOverlay.csproj
  plugin/CactbotOverlay/PluginLoader.cs
  plugin/CactbotOverlay/loc/Strings.Designer.cs
  plugin/CactbotOverlay/loc/Strings.resx
Labels: plugin

#3226 lint: add no-unsafe-argument
  .eslintrc.cjs
  resources/overlay_plugin_api.ts
  resources/user_config.ts
  ui/raidboss/emulator/EmulatorCommon.ts
  ui/raidboss/emulator/data/NetworkLogConverter.worker.ts
  ui/raidboss/emulator/overrides/RaidEmulatorTimelineUI.ts
  ui/raidboss/emulator/ui/EmulatedPartyInfo.ts
  util/translate_timeline.ts
Labels: raidemulator, resources, util

#3228 raidemulator: Move query and clone helper methods to EmulatorCommon to de-duplicate code
  ui/raidboss/emulator/EmulatorCommon.ts
  ui/raidboss/emulator/ui/EmulatedPartyInfo.ts
  ui/raidboss/emulator/ui/EncounterTab.ts
  ui/raidboss/emulator/ui/ProgressBar.ts
Labels: raidemulator

#3131 raidboss: Remove Timeline Callback Indirection
  ui/raidboss/emulator/data/AnalyzedEncounter.ts
  ui/raidboss/emulator/overrides/RaidEmulatorAnalysisTimelineUI.ts
  ui/raidboss/emulator/overrides/RaidEmulatorTimelineUI.ts
  ui/raidboss/timeline.ts
Labels: raidboss, raidemulator

#3232 i18n: fix minor typo in coverage.js
  util/coverage/coverage.js
Labels: util, 💬ja

#3229 oopsy: convert oopsy lists to TS
  ui/oopsyraidsy/oopsy_live_list.ts
  ui/oopsyraidsy/oopsy_summary_list.ts
Labels: oopsy

#3230 raidemulator: Convert raidemulator.js to typescript
  types/worker.d.ts
  ui/raidboss/raidemulator.ts
  webpack/webpack.config.ts
Labels: raidemulator

#3233 oopsy: convert oopsy_common to TS
  ui/oopsyraidsy/oopsy_common.ts
  ui/oopsyraidsy/oopsy_options.ts
Labels: oopsy

#3235 types: fix name of NetFields.type
  test/unittests/netregex_test.js
  types/net_fields.d.ts
Labels: test

#3236 oopsy: add soloWarn/soloFail
  eslint/cactbot-triggerset-property-order.js
  ui/oopsyraidsy/damage_tracker.js
  ui/oopsyraidsy/data/02-arr/trial/ifrit-nm.js
  ui/oopsyraidsy/data/02-arr/trial/shiva-ex.js
  ui/oopsyraidsy/data/03-hw/alliance/weeping_city.js
  ui/oopsyraidsy/data/04-sb/dungeon/st_mocianne_hard.js
  ui/oopsyraidsy/data/04-sb/raid/o1n.js
  ui/oopsyraidsy/data/05-shb/dungeon/heroes_gauntlet.js
  ui/oopsyraidsy/data/05-shb/raid/e11s.js
  ui/oopsyraidsy/data/05-shb/raid/e12s.js
  ui/oopsyraidsy/data/05-shb/raid/e1n.js
  ui/oopsyraidsy/data/05-shb/raid/e1s.js
  ui/oopsyraidsy/data/05-shb/raid/e3n.js
  ui/oopsyraidsy/data/05-shb/raid/e6s.js
  ui/oopsyraidsy/data/05-shb/raid/e7n.js
  ui/oopsyraidsy/data/05-shb/raid/e7s.js
  ui/oopsyraidsy/data/05-shb/raid/e8s.js
  ui/oopsyraidsy/data/05-shb/raid/e9s.js
  ui/oopsyraidsy/data/05-shb/trial/hades.js
  ui/oopsyraidsy/data/05-shb/trial/shiva-un.js
  ui/oopsyraidsy/data/05-shb/trial/wol-ex.js
  ui/oopsyraidsy/data/05-shb/ultimate/the_epic_of_alexander.js
  ui/oopsyraidsy/oopsy_fields.ts
Labels: oopsy, style, 💬cn, 💬de, 💬fr, 💬ja, 💬ko

#3237 oopsy: convert abilityRegex to netRegex
  ui/oopsyraidsy/damage_tracker.js
  ui/oopsyraidsy/data/00-misc/general.js
  ui/oopsyraidsy/data/04-sb/raid/o3n.js
  ui/oopsyraidsy/data/04-sb/raid/o4s.js
  ui/oopsyraidsy/data/04-sb/raid/o7s.js
  ui/oopsyraidsy/data/05-shb/eureka/delubrum_reginae_savage.js
  ui/oopsyraidsy/data/05-shb/raid/e7s.js
  ui/oopsyraidsy/data/05-shb/raid/e8s.js
Labels: oopsy

#3238 oopsy: replace damageRegex with netRegex
  ui/oopsyraidsy/data/00-misc/test.js
  ui/oopsyraidsy/data/03-hw/dungeon/aetherochemical_research_facility.js
  ui/oopsyraidsy/data/03-hw/dungeon/gubal_library_hard.js
  ui/oopsyraidsy/data/03-hw/raid/a12n.js
  ui/oopsyraidsy/data/04-sb/dungeon/ala_mhigo.js
  ui/oopsyraidsy/data/04-sb/raid/o12s.js
  ui/oopsyraidsy/data/04-sb/raid/o2n.js
  ui/oopsyraidsy/data/04-sb/raid/o3n.js
  ui/oopsyraidsy/data/04-sb/raid/o4n.js
  ui/oopsyraidsy/data/04-sb/raid/o4s.js
  ui/oopsyraidsy/data/04-sb/trial/byakko-ex.js
  ui/oopsyraidsy/data/04-sb/trial/shinryu.js
  ui/oopsyraidsy/data/04-sb/ultimate/ultima_weapon_ultimate.js
  ui/oopsyraidsy/data/04-sb/ultimate/unending_coil_ultimate.js
  ui/oopsyraidsy/data/05-shb/dungeon/heroes_gauntlet.js
  ui/oopsyraidsy/data/05-shb/eureka/delubrum_reginae.js
  ui/oopsyraidsy/data/05-shb/eureka/delubrum_reginae_savage.js
  ui/oopsyraidsy/data/05-shb/raid/e10s.js
  ui/oopsyraidsy/data/05-shb/raid/e12s.js
  ui/oopsyraidsy/data/05-shb/raid/e2n.js
  ui/oopsyraidsy/data/05-shb/raid/e2s.js
  ui/oopsyraidsy/data/05-shb/raid/e4s.js
  ui/oopsyraidsy/data/05-shb/raid/e5n.js
  ui/oopsyraidsy/data/05-shb/raid/e5s.js
  ui/oopsyraidsy/data/05-shb/raid/e7n.js
  ui/oopsyraidsy/data/05-shb/raid/e7s.js
  ui/oopsyraidsy/data/05-shb/raid/e8n.js
  ui/oopsyraidsy/data/05-shb/raid/e9s.js
  ui/oopsyraidsy/data/05-shb/trial/hades-ex.js
  ui/oopsyraidsy/data/05-shb/trial/varis-ex.js
  ui/oopsyraidsy/data/05-shb/trial/wol-ex.js
  ui/oopsyraidsy/data/05-shb/trial/wol.js
  ui/oopsyraidsy/data/05-shb/ultimate/the_epic_of_alexander.js
  ui/oopsyraidsy/oopsy_common.ts
Labels: oopsy, 💬cn, 💬de, 💬fr, 💬ja, 💬ko

#3246 refactor(jobs): convert regex using to netregex
  ui/jobs/jobs.js
  ui/jobs/utils.ts
Labels: jobs

#3248 FR missing options
  ui/jobs/jobs_config.ts
  ui/raidboss/raidboss_config.js
Labels: config, jobs, raidboss, 💬fr

#3242 raidboss: fix incorrect Options.Triggers type
  ui/raidboss/popup-text.ts
  ui/raidboss/raidboss_options.ts
Labels: raidboss

#3244 raidboss: remove type assertion from popuptext
  ui/raidboss/popup-text.ts
Labels: raidboss

#3257 fix(config): display English when display language set to default
  resources/user_config.ts
Labels: resources

#3258 util: Rework overlay API and overrides
  resources/overlay_plugin_api.ts
  resources/util.ts
  types/event.d.ts
  ui/raidboss/emulator/overrides/RaidEmulatorOverlayApiHook.js
Labels: raidemulator, resources

#3265 raidemulator: Remove line sorting on convert
  ui/raidboss/emulator/data/NetworkLogConverter.ts
Labels: raidemulator

#3259 raidboss: convert 03-hw/dungeon to TS
  ui/raidboss/data/03-hw/dungeon/aetherochemical_research_facility.ts
  ui/raidboss/data/03-hw/dungeon/fractal_continuum.ts
  ui/raidboss/data/03-hw/dungeon/gubal_library_hard.ts
  ui/raidboss/data/03-hw/dungeon/sohm_al.ts
  ui/raidboss/data/03-hw/dungeon/sohm_al_hard.ts
  ui/raidboss/data/03-hw/dungeon/the_vault.ts
  ui/raidboss/data/03-hw/dungeon/xelphatol.ts
  ui/raidboss/data/raidboss_manifest.txt
Labels: raidboss

#3261 raidboss: convert 03-hw/raid to TS
  types/trigger.d.ts
  ui/raidboss/data/03-hw/raid/a10s.ts
  ui/raidboss/data/03-hw/raid/a11s.ts
  ui/raidboss/data/03-hw/raid/a12n.ts
  ui/raidboss/data/03-hw/raid/a12s.ts
  ui/raidboss/data/03-hw/raid/a1s.ts
  ui/raidboss/data/03-hw/raid/a2s.ts
  ui/raidboss/data/03-hw/raid/a3s.ts
  ui/raidboss/data/03-hw/raid/a4s.ts
  ui/raidboss/data/03-hw/raid/a5s.ts
  ui/raidboss/data/03-hw/raid/a6s.ts
  ui/raidboss/data/03-hw/raid/a7s.ts
  ui/raidboss/data/03-hw/raid/a8n.ts
  ui/raidboss/data/03-hw/raid/a8s.ts
  ui/raidboss/data/03-hw/raid/a9s.ts
  ui/raidboss/data/raidboss_manifest.txt
Labels: raidboss

#3263 raidemulator: Fix dexie readonly error, fix double initialize
  ui/raidboss/emulator/data/Persistor.ts
  ui/raidboss/raidemulator.ts
Labels: raidemulator

#3245 refactor: prefix setTimeout with window global
  resources/overlay_plugin_api.ts
  resources/timerbox.ts
  ui/fisher/fisher-ui.js
  ui/jobs/buff_tracker.ts
  ui/jobs/components/dnc.js
  ui/jobs/components/drg.js
  ui/jobs/components/drk.ts
  ui/jobs/components/gnb.ts
  ui/jobs/components/mch.js
  ui/jobs/components/nin.js
  ui/oopsyraidsy/oopsy_live_list.ts
Labels: fishing🎣, jobs, oopsy, resources

#3266 raidboss: convert 03-hw/** to TS
  ui/raidboss/data/03-hw/alliance/dun_scaith.ts
  ui/raidboss/data/03-hw/alliance/weeping_city.ts
  ui/raidboss/data/03-hw/pvp/shatter.ts
  ui/raidboss/data/03-hw/trial/ravana-ex.ts
  ui/raidboss/data/03-hw/trial/sephirot-ex.ts
  ui/raidboss/data/03-hw/trial/sophia-ex.ts
  ui/raidboss/data/raidboss_manifest.txt
Labels: raidboss

#3267 raidboss: convert 04-sb/dungeon to TS
  ui/raidboss/data/04-sb/dungeon/ala_mhigo.ts
  ui/raidboss/data/04-sb/dungeon/bardams_mettle.ts
  ui/raidboss/data/04-sb/dungeon/drowned_city_of_skalla.ts
  ui/raidboss/data/04-sb/dungeon/fractal_continuum_hard.ts
  ui/raidboss/data/04-sb/dungeon/ghimlyt_dark.ts
  ui/raidboss/data/04-sb/dungeon/hells_lid.ts
  ui/raidboss/data/04-sb/dungeon/kugane_castle.ts
  ui/raidboss/data/04-sb/dungeon/st_mocianne_hard.ts
  ui/raidboss/data/04-sb/dungeon/swallows_compass.ts
  ui/raidboss/data/04-sb/dungeon/temple_of_the_fist.ts
  ui/raidboss/data/04-sb/dungeon/the_burn.ts
  ui/raidboss/data/raidboss_manifest.txt
Labels: raidboss

#3268 raidboss: convert 04-sb/raid to TS
  types/data.d.ts
  ui/raidboss/data/04-sb/raid/o10n.ts
  ui/raidboss/data/04-sb/raid/o10s.ts
  ui/raidboss/data/04-sb/raid/o11n.ts
  ui/raidboss/data/04-sb/raid/o11s.ts
  ui/raidboss/data/04-sb/raid/o12n.ts
  ui/raidboss/data/04-sb/raid/o12s.ts
  ui/raidboss/data/04-sb/raid/o1n.ts
  ui/raidboss/data/04-sb/raid/o1s.ts
  ui/raidboss/data/04-sb/raid/o2n.ts
  ui/raidboss/data/04-sb/raid/o2s.ts
  ui/raidboss/data/04-sb/raid/o3n.ts
  ui/raidboss/data/04-sb/raid/o3s.ts
  ui/raidboss/data/04-sb/raid/o4n.ts
  ui/raidboss/data/04-sb/raid/o4s.ts
  ui/raidboss/data/04-sb/raid/o5n.ts
  ui/raidboss/data/04-sb/raid/o5s.ts
  ui/raidboss/data/04-sb/raid/o6n.ts
  ui/raidboss/data/04-sb/raid/o6s.ts
  ui/raidboss/data/04-sb/raid/o7n.ts
  ui/raidboss/data/04-sb/raid/o7s.ts
  ui/raidboss/data/04-sb/raid/o8n.ts
  ui/raidboss/data/04-sb/raid/o8s.ts
  ui/raidboss/data/04-sb/raid/o9n.ts
  ui/raidboss/data/04-sb/raid/o9s.ts
  ui/raidboss/data/raidboss_manifest.txt
Labels: raidboss

#3262 raidboss: add Doma Castle timeline
  ui/raidboss/data/04-sb/dungeon/doma_castle.ts
  ui/raidboss/data/04-sb/dungeon/doma_castle.txt
  ui/raidboss/data/raidboss_manifest.txt
Labels: raidboss

#3269 raidboss: convert 04-sb/trial to TS
  ui/raidboss/data/04-sb/trial/byakko-ex.ts
  ui/raidboss/data/04-sb/trial/lakshmi-ex.ts
  ui/raidboss/data/04-sb/trial/lakshmi.ts
  ui/raidboss/data/04-sb/trial/rathalos-ex.ts
  ui/raidboss/data/04-sb/trial/seiryu-ex.ts
  ui/raidboss/data/04-sb/trial/shinryu-ex.ts
  ui/raidboss/data/04-sb/trial/shinryu.ts
  ui/raidboss/data/04-sb/trial/susano-ex.ts
  ui/raidboss/data/04-sb/trial/suzaku-ex.ts
  ui/raidboss/data/04-sb/trial/tsukuyomi-ex.ts
  ui/raidboss/data/04-sb/trial/yojimbo.ts
  ui/raidboss/data/raidboss_manifest.txt
Labels: raidboss

#3270 raidboss: convert 04-sb/** (minus ucob) to TS
  ui/raidboss/data/04-sb/alliance/orbonne_monastery.ts
  ui/raidboss/data/04-sb/alliance/ridorana_lighthouse.ts
  ui/raidboss/data/04-sb/alliance/royal_city_of_rabanastre.ts
  ui/raidboss/data/04-sb/eureka/eureka_anemos.ts
  ui/raidboss/data/04-sb/eureka/eureka_hydatos.ts
  ui/raidboss/data/04-sb/eureka/eureka_pagos.ts
  ui/raidboss/data/04-sb/eureka/eureka_pyros.ts
  ui/raidboss/data/04-sb/ultimate/ultima_weapon_ultimate.ts
  ui/raidboss/data/raidboss_manifest.txt
Labels: raidboss

#3276 raidboss: Add 03-hw/raid initData
  test/helper/test_trigger.js
  ui/raidboss/data/03-hw/raid/a10s.ts
  ui/raidboss/data/03-hw/raid/a12s.ts
  ui/raidboss/data/03-hw/raid/a1s.ts
  ui/raidboss/data/03-hw/raid/a5s.ts
  ui/raidboss/data/03-hw/raid/a7s.ts
  ui/raidboss/data/03-hw/raid/a8s.ts
  ui/raidboss/data/03-hw/raid/a9s.ts
Labels: raidboss, test

#3271 raidboss: convert 05-shb/dungeon to TS
  ui/raidboss/data/05-shb/dungeon/akadaemia_anyder.ts
  ui/raidboss/data/05-shb/dungeon/amaurot.ts
  ui/raidboss/data/05-shb/dungeon/anamnesis_anyder.ts
  ui/raidboss/data/05-shb/dungeon/dohn_mheg.ts
  ui/raidboss/data/05-shb/dungeon/heroes_gauntlet.ts
  ui/raidboss/data/05-shb/dungeon/holminster_switch.ts
  ui/raidboss/data/05-shb/dungeon/malikahs_well.ts
  ui/raidboss/data/05-shb/dungeon/matoyas_relict.ts
  ui/raidboss/data/05-shb/dungeon/mt_gulg.ts
  ui/raidboss/data/05-shb/dungeon/paglthan.ts
  ui/raidboss/data/05-shb/dungeon/qitana_ravel.ts
  ui/raidboss/data/05-shb/dungeon/the_grand_cosmos.ts
  ui/raidboss/data/05-shb/dungeon/twinning.ts
  ui/raidboss/data/raidboss_manifest.txt
Labels: raidboss

#3281 raidboss: convert 05-shb/ultimate to TS
  ui/raidboss/data/05-shb/ultimate/the_epic_of_alexander.ts
  ui/raidboss/data/raidboss_manifest.txt
Labels: raidboss

#3283 raidboss: convert 05-shb/alliance (and etc) to TS
  ui/raidboss/data/05-shb/alliance/the_copied_factory.ts
  ui/raidboss/data/05-shb/alliance/the_puppets_bunker.ts
  ui/raidboss/data/05-shb/alliance/the_tower_at_paradigms_breach.ts
  ui/raidboss/data/05-shb/etc/the_diadem.ts
  ui/raidboss/data/raidboss_manifest.txt
Labels: raidboss

#3240 oopsy: remove collectSeconds feature
  docs/OopsyraidsyGuide.md
  eslint/cactbot-trigger-property-order.js
  ui/oopsyraidsy/damage_tracker.js
  ui/oopsyraidsy/data/00-misc/buffs.js
  ui/oopsyraidsy/data/00-misc/test.js
  ui/oopsyraidsy/data/04-sb/raid/o4s.js
  ui/oopsyraidsy/data/04-sb/ultimate/ultima_weapon_ultimate.js
  ui/oopsyraidsy/data/05-shb/ultimate/the_epic_of_alexander.js
Labels: docs, oopsy, style, 💬cn, 💬de, 💬fr, 💬ja, 💬ko

#3241 oopsy: add initial oopsy TypeScript types
  types/data.d.ts
  types/oopsy.d.ts
  ui/oopsyraidsy/data/05-shb/raid/e6s.ts
  ui/oopsyraidsy/data/05-shb/raid/e7s.ts
  ui/oopsyraidsy/data/oopsy_manifest.txt
  ui/oopsyraidsy/mistake_collector.ts
  ui/oopsyraidsy/oopsy_options.ts
Labels: oopsy

#3243 oopsy: remove all non-netRegex trigger types
  ui/oopsyraidsy/damage_tracker.js
  ui/oopsyraidsy/oopsyraidsy.js
Labels: oopsy, 💬cn, 💬de, 💬fr, 💬ja, 💬ko

#3249 oopsy: convert DamageTracker to TS
  resources/regexes.ts
  types/data.d.ts
  types/manifest.d.ts
  types/oopsy.d.ts
  ui/oopsyraidsy/damage_tracker.ts
  ui/oopsyraidsy/mistake_collector.ts
  ui/oopsyraidsy/oopsy_common.ts
Labels: oopsy, resources

#3250 oopsy: convert top level file to TS
  ui/oopsyraidsy/oopsyraidsy.ts
Labels: oopsy

#3251 oopsy: remove event field from all triggers
  docs/OopsyraidsyGuide.md
  types/oopsy.d.ts
  ui/oopsyraidsy/damage_tracker.ts
  ui/oopsyraidsy/data/00-misc/buffs.js
  ui/oopsyraidsy/data/00-misc/general.js
  ui/oopsyraidsy/data/00-misc/test.js
  ui/oopsyraidsy/data/02-arr/trial/levi-ex.js
  ui/oopsyraidsy/data/02-arr/trial/shiva-ex.js
  ui/oopsyraidsy/data/02-arr/trial/shiva-hm.js
  ui/oopsyraidsy/data/03-hw/alliance/weeping_city.js
  ui/oopsyraidsy/data/03-hw/dungeon/aetherochemical_research_facility.js
  ui/oopsyraidsy/data/03-hw/dungeon/gubal_library_hard.js
  ui/oopsyraidsy/data/03-hw/dungeon/sohm_al_hard.js
  ui/oopsyraidsy/data/03-hw/raid/a12n.js
  ui/oopsyraidsy/data/04-sb/dungeon/ala_mhigo.js
  ui/oopsyraidsy/data/04-sb/dungeon/bardams_mettle.js
  ui/oopsyraidsy/data/04-sb/dungeon/kugane_castle.js
  ui/oopsyraidsy/data/04-sb/dungeon/swallows_compass.js
  ui/oopsyraidsy/data/04-sb/raid/o12s.js
  ui/oopsyraidsy/data/04-sb/raid/o2n.js
  ui/oopsyraidsy/data/04-sb/raid/o3n.js
  ui/oopsyraidsy/data/04-sb/raid/o4n.js
  ui/oopsyraidsy/data/04-sb/raid/o4s.js
  ui/oopsyraidsy/data/04-sb/raid/o7s.js
  ui/oopsyraidsy/data/04-sb/trial/byakko-ex.js
  ui/oopsyraidsy/data/04-sb/trial/shinryu.js
  ui/oopsyraidsy/data/04-sb/ultimate/ultima_weapon_ultimate.js
  ui/oopsyraidsy/data/04-sb/ultimate/unending_coil_ultimate.js
  ui/oopsyraidsy/data/05-shb/alliance/the_tower_at_paradigms_breach.js
  ui/oopsyraidsy/data/05-shb/dungeon/dohn_mheg.js
  ui/oopsyraidsy/data/05-shb/dungeon/heroes_gauntlet.js
  ui/oopsyraidsy/data/05-shb/eureka/delubrum_reginae.js
  ui/oopsyraidsy/data/05-shb/eureka/delubrum_reginae_savage.js
  ui/oopsyraidsy/data/05-shb/raid/e10s.js
  ui/oopsyraidsy/data/05-shb/raid/e11n.js
  ui/oopsyraidsy/data/05-shb/raid/e11s.js
  ui/oopsyraidsy/data/05-shb/raid/e12s.js
  ui/oopsyraidsy/data/05-shb/raid/e2n.js
  ui/oopsyraidsy/data/05-shb/raid/e2s.js
  ui/oopsyraidsy/data/05-shb/raid/e4s.js
  ui/oopsyraidsy/data/05-shb/raid/e5n.js
  ui/oopsyraidsy/data/05-shb/raid/e5s.js
  ui/oopsyraidsy/data/05-shb/raid/e7n.js
  ui/oopsyraidsy/data/05-shb/raid/e7s.ts
  ui/oopsyraidsy/data/05-shb/raid/e8n.js
  ui/oopsyraidsy/data/05-shb/raid/e8s.js
  ui/oopsyraidsy/data/05-shb/raid/e9s.js
  ui/oopsyraidsy/data/05-shb/trial/diamond_weapon-ex.js
  ui/oopsyraidsy/data/05-shb/trial/diamond_weapon.js
  ui/oopsyraidsy/data/05-shb/trial/emerald_weapon.js
  ui/oopsyraidsy/data/05-shb/trial/hades-ex.js
  ui/oopsyraidsy/data/05-shb/trial/levi-un.js
  ui/oopsyraidsy/data/05-shb/trial/ruby_weapon-ex.js
  ui/oopsyraidsy/data/05-shb/trial/shiva-un.js
  ui/oopsyraidsy/data/05-shb/trial/varis-ex.js
  ui/oopsyraidsy/data/05-shb/trial/wol-ex.js
  ui/oopsyraidsy/data/05-shb/trial/wol.js
  ui/oopsyraidsy/data/05-shb/ultimate/the_epic_of_alexander.js
Labels: docs, oopsy

#3252 oopsy: remove fullText
  docs/OopsyraidsyGuide.md
  types/oopsy.d.ts
  ui/oopsyraidsy/data/00-misc/test.js
  ui/oopsyraidsy/data/04-sb/raid/o4s.js
  ui/oopsyraidsy/data/05-shb/eureka/delubrum_reginae_savage.js
  ui/oopsyraidsy/mistake_collector.ts
Labels: docs, oopsy

#3255 oopsy: convert remaining triggersets to TS
  types/data.d.ts
  types/oopsy.d.ts
  ui/oopsyraidsy/damage_tracker.ts
  ui/oopsyraidsy/data/00-misc/buffs.ts
  ui/oopsyraidsy/data/00-misc/general.ts
  ui/oopsyraidsy/data/00-misc/test.ts
  ui/oopsyraidsy/data/02-arr/trial/shiva-hm.ts
  ui/oopsyraidsy/data/03-hw/alliance/weeping_city.ts
  ui/oopsyraidsy/data/03-hw/dungeon/gubal_library_hard.ts
  ui/oopsyraidsy/data/03-hw/raid/a12n.ts
  ui/oopsyraidsy/data/04-sb/raid/o12s.ts
  ui/oopsyraidsy/data/04-sb/raid/o3n.ts
  ui/oopsyraidsy/data/04-sb/raid/o4s.ts
  ui/oopsyraidsy/data/04-sb/ultimate/unending_coil_ultimate.ts
  ui/oopsyraidsy/data/05-shb/raid/e12s.ts
  ui/oopsyraidsy/data/05-shb/raid/e4s.ts
  ui/oopsyraidsy/data/05-shb/raid/e5n.ts
  ui/oopsyraidsy/data/05-shb/raid/e5s.ts
  ui/oopsyraidsy/data/05-shb/raid/e7n.ts
  ui/oopsyraidsy/data/05-shb/trial/hades-ex.ts
  ui/oopsyraidsy/data/05-shb/ultimate/the_epic_of_alexander.ts
  ui/oopsyraidsy/data/oopsy_manifest.txt
Labels: oopsy, 💬cn, 💬de, 💬fr, 💬ja, 💬ko

#3287 Again - New DE translations
  ui/oopsyraidsy/data/00-misc/test.ts
  ui/oopsyraidsy/data/05-shb/raid/e2n.ts
  ui/oopsyraidsy/data/05-shb/raid/e2s.ts
  ui/oopsyraidsy/data/05-shb/raid/e4s.ts
  ui/raidboss/data/03-hw/dungeon/xelphatol.ts
  ui/raidboss/data/04-sb/raid/o2s.ts
  ui/raidboss/data/05-shb/trial/ruby_weapon-ex.js
Labels: oopsy, raidboss, 💬de

#3288 oopsy: change deathReason.reason to .text for consistency
  docs/OopsyraidsyGuide.md
  types/oopsy.d.ts
  ui/oopsyraidsy/damage_tracker.ts
  ui/oopsyraidsy/data/02-arr/trial/levi-ex.ts
  ui/oopsyraidsy/data/03-hw/alliance/weeping_city.ts
  ui/oopsyraidsy/data/04-sb/dungeon/swallows_compass.ts
  ui/oopsyraidsy/data/04-sb/raid/o12s.ts
  ui/oopsyraidsy/data/04-sb/raid/o4n.ts
  ui/oopsyraidsy/data/04-sb/raid/o4s.ts
  ui/oopsyraidsy/data/04-sb/trial/shinryu.ts
  ui/oopsyraidsy/data/04-sb/ultimate/unending_coil_ultimate.ts
  ui/oopsyraidsy/data/05-shb/alliance/the_tower_at_paradigms_breach.ts
  ui/oopsyraidsy/data/05-shb/raid/e11n.ts
  ui/oopsyraidsy/data/05-shb/raid/e11s.ts
  ui/oopsyraidsy/data/05-shb/raid/e12s.ts
  ui/oopsyraidsy/data/05-shb/raid/e7s.ts
  ui/oopsyraidsy/data/05-shb/raid/e8n.ts
  ui/oopsyraidsy/data/05-shb/trial/diamond_weapon-ex.ts
  ui/oopsyraidsy/data/05-shb/trial/diamond_weapon.ts
  ui/oopsyraidsy/data/05-shb/trial/emerald_weapon.ts
  ui/oopsyraidsy/data/05-shb/trial/hades-ex.ts
  ui/oopsyraidsy/data/05-shb/trial/levi-un.ts
  ui/oopsyraidsy/data/05-shb/trial/ruby_weapon-ex.ts
  ui/oopsyraidsy/data/05-shb/trial/wol-ex.ts
  ui/oopsyraidsy/data/05-shb/trial/wol.ts
  ui/oopsyraidsy/data/05-shb/ultimate/the_epic_of_alexander.ts
Labels: docs, oopsy

#3290 fix(jobs): consist AST/DNC `jobDetails` types with C# side
  types/event.d.ts
  ui/test/test.ts
Labels: test

#3291 Fix spelling error in Yiazmat fight
  ui/raidboss/data/04-sb/alliance/ridorana_lighthouse.ts
Labels: raidboss

#3272 i18n(plugin): add Chinese translations
  plugin/CactbotEventSource/CactbotEventSource.cs
  plugin/CactbotEventSource/CactbotEventSource.csproj
  plugin/CactbotEventSource/loc/Strings.zh.resx
  plugin/CactbotOverlay/CactbotOverlay.csproj
  plugin/CactbotOverlay/loc/Strings.zh.resx
Labels: plugin

#3279 raidboss: convert 05-shb/raid to TS
  types/trigger.d.ts
  ui/raidboss/data/05-shb/raid/e10n.ts
  ui/raidboss/data/05-shb/raid/e10s.ts
  ui/raidboss/data/05-shb/raid/e11n.ts
  ui/raidboss/data/05-shb/raid/e11s.ts
  ui/raidboss/data/05-shb/raid/e12n.ts
  ui/raidboss/data/05-shb/raid/e12s.ts
  ui/raidboss/data/05-shb/raid/e1n.ts
  ui/raidboss/data/05-shb/raid/e1s.ts
  ui/raidboss/data/05-shb/raid/e2n.ts
  ui/raidboss/data/05-shb/raid/e2s.ts
  ui/raidboss/data/05-shb/raid/e3n.ts
  ui/raidboss/data/05-shb/raid/e3s.ts
  ui/raidboss/data/05-shb/raid/e4n.ts
  ui/raidboss/data/05-shb/raid/e4s.ts
  ui/raidboss/data/05-shb/raid/e5n.ts
  ui/raidboss/data/05-shb/raid/e5s.ts
  ui/raidboss/data/05-shb/raid/e6n.ts
  ui/raidboss/data/05-shb/raid/e6s.ts
  ui/raidboss/data/05-shb/raid/e7n.ts
  ui/raidboss/data/05-shb/raid/e7s.ts
  ui/raidboss/data/05-shb/raid/e8n.ts
  ui/raidboss/data/05-shb/raid/e8s.ts
  ui/raidboss/data/05-shb/raid/e9n.ts
  ui/raidboss/data/05-shb/raid/e9s.ts
  ui/raidboss/data/raidboss_manifest.txt
Labels: raidboss, 💬cn, 💬de, 💬fr, 💬ja, 💬ko

#3282 raidboss: convert 05-shb/eureka to TS
  ui/raidboss/data/05-shb/eureka/bozjan_southern_front.ts
  ui/raidboss/data/05-shb/eureka/delubrum_reginae.ts
  ui/raidboss/data/05-shb/eureka/delubrum_reginae_savage.ts
  ui/raidboss/data/05-shb/eureka/zadnor.ts
  ui/raidboss/data/raidboss_manifest.txt
Labels: raidboss, 💬ja

#3280 raidboss: convert 05-shb/trial to TS
  ui/raidboss/data/05-shb/trial/diamond_weapon-ex.ts
  ui/raidboss/data/05-shb/trial/diamond_weapon.ts
  ui/raidboss/data/05-shb/trial/emerald_weapon-ex.ts
  ui/raidboss/data/05-shb/trial/emerald_weapon.ts
  ui/raidboss/data/05-shb/trial/hades-ex.ts
  ui/raidboss/data/05-shb/trial/hades.ts
  ui/raidboss/data/05-shb/trial/innocence-ex.ts
  ui/raidboss/data/05-shb/trial/innocence.ts
  ui/raidboss/data/05-shb/trial/levi-un.ts
  ui/raidboss/data/05-shb/trial/ruby_weapon-ex.ts
  ui/raidboss/data/05-shb/trial/ruby_weapon.ts
  ui/raidboss/data/05-shb/trial/shiva-un.ts
  ui/raidboss/data/05-shb/trial/titan-un.ts
  ui/raidboss/data/05-shb/trial/titania-ex.ts
  ui/raidboss/data/05-shb/trial/titania.ts
  ui/raidboss/data/05-shb/trial/varis-ex.ts
  ui/raidboss/data/05-shb/trial/wol-ex.ts
  ui/raidboss/data/05-shb/trial/wol.ts
  ui/raidboss/data/raidboss_manifest.txt
Labels: raidboss

#3297 raidboss: Fix T9 Fire In Callout
  ui/raidboss/data/02-arr/raid/t9.js
Labels: raidboss

#3305 Refactor(jobs): consist custom element property type
  resources/timerbar.ts
  resources/timerbox.ts
  resources/timericon.ts
  resources/widget_list.ts
  ui/jobs/components/drk.ts
  ui/jobs/components/gnb.ts
  ui/jobs/components/mnk.js
  ui/jobs/jobs.js
  ui/jobs/utils.ts
  ui/raidboss/timeline.ts
  ui/test/timerbar_test.ts
Labels: jobs, raidboss, resources, test

#3298 Raidboss: Add Suzaku Normal oopsy, timeline, and triggers
  ui/oopsyraidsy/data/04-sb/trial/suzaku.ts
  ui/oopsyraidsy/data/oopsy_manifest.txt
  ui/raidboss/data/04-sb/trial/suzaku.ts
  ui/raidboss/data/04-sb/trial/suzaku.txt
  ui/raidboss/data/raidboss_manifest.txt
Labels: oopsy, raidboss, 💬cn, 💬de, 💬fr, 💬ja

#3309 fix(resources): hideafter typo in timerbox.ts
  resources/timerbox.ts
Labels: resources

#3310 ci: Use MSBuild for Plugin Release Artifacts
  .github/workflows/release.yml
Labels: ci

#3311 refactor(jobs): direct compute MNK lightning stack
  ui/jobs/bar.d.ts
  ui/jobs/components/mnk.js
  ui/jobs/jobs.js
  ui/jobs/utils.ts
Labels: jobs

#3316 jobs: remove dynamic threshold of storm's eye
  ui/jobs/components/war.js
Labels: jobs

#3313 Raidboss: Reduce annoyance in A8n
  ui/raidboss/data/03-hw/raid/a8n.ts
  ui/raidboss/data/03-hw/raid/a8n.txt
Labels: raidboss

#3312 refactor: remove all PGL/MNK lightning related code
  plugin/CactbotEventSource/FFXIVProcessCn.cs
  plugin/CactbotEventSource/FFXIVProcessIntl.cs
  plugin/CactbotEventSource/FFXIVProcessKo.cs
  types/event.d.ts
  ui/jobs/components/mnk.js
  ui/jobs/jobs.css
  ui/test/test.ts
Labels: jobs, plugin, test

#3317 Raidboss/Oopsy: Add Drowned City of Skalla dungeon package
  ui/oopsyraidsy/data/04-sb/dungeon/drowned_city_of_skalla.ts
  ui/oopsyraidsy/data/oopsy_manifest.txt
  ui/raidboss/data/04-sb/dungeon/drowned_city_of_skalla.ts
  ui/raidboss/data/04-sb/dungeon/drowned_city_of_skalla.txt
  ui/raidboss/data/raidboss_manifest.txt
Labels: oopsy, raidboss

#3239 raidemulator: Add translation support
  ui/raidboss/emulator/translations.ts
  ui/raidboss/raidemulator.html
  ui/raidboss/raidemulator.ts
Labels: raidemulator

#3318 Raidboss: Remove "timeline needs work" flag from Dun Scaith
  ui/raidboss/data/03-hw/alliance/dun_scaith.ts
Labels: raidboss

#3319 raidboss: fix TEA nisi bug after TS conversion
  ui/raidboss/data/05-shb/ultimate/the_epic_of_alexander.ts
Labels: raidboss

#3320 raidboss: fix Adrammelech single orb bug
  ui/raidboss/data/05-shb/eureka/bozjan_southern_front.ts
Labels: raidboss

#3322 raidboss: fix DRS avowed sword triggers
  ui/raidboss/data/05-shb/eureka/delubrum_reginae_savage.ts
Labels: raidboss

#3323 Network Event: Added combatant - level fix
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x03.ts
Labels: raidemulator

#3325 jobs: extract options to new file
  ui/jobs/jobs.js
  ui/jobs/jobs_options.ts
Labels: jobs

#3324 raidboss: fix wolex drk/brd flare call
  ui/raidboss/data/05-shb/trial/wol-ex.ts
Labels: raidboss

#3330 raidboss: v5.45 Korean
  plugin/CactbotEventSource/FateWatcher.cs
  ui/raidboss/data/03-hw/alliance/dun_scaith.ts
  ui/raidboss/data/04-sb/trial/lakshmi.ts
  ui/raidboss/data/05-shb/eureka/delubrum_reginae.ts
  ui/raidboss/data/05-shb/eureka/delubrum_reginae_savage.ts
Labels: plugin, raidboss, 💬ko

#3332 chore: generate KO server v5.45 data
  resources/effect_id.ts
  resources/zone_info.ts
Labels: resources, 💬ko

#3327 jobs: update jobs_options reference
  ui/jobs/buff_tracker.ts
  ui/jobs/types.d.ts
Labels: jobs

#3321 raidboss: earlier callouts for wolex summon phases
  ui/raidboss/data/05-shb/trial/wol-ex.ts
  ui/raidboss/data/05-shb/trial/wol-ex.txt
Labels: raidboss

#3334 add ja translation for zadnor based on #3333
  ui/eureka/eureka.js
Labels: eureka, 💬ja

#3335 bozjan opcode 5.58
  plugin/CactbotEventSource/FateWatcher.cs
Labels: plugin

#3284 raidboss: convert Regexes.hasHP to watchCombatant
  ui/raidboss/data/02-arr/raid/t11.js
  ui/raidboss/data/02-arr/raid/t5.ts
  ui/raidboss/data/02-arr/raid/t6.js
  ui/raidboss/data/02-arr/raid/t7.js
  ui/raidboss/data/02-arr/raid/t9.js
  ui/raidboss/data/04-sb/ultimate/unending_coil_ultimate.js
Labels: raidboss, 💬cn, 💬de, 💬fr, 💬ja, 💬ko

#3337 Missing DE trans + Most of Skalla translations
  ui/raidboss/data/04-sb/dungeon/drowned_city_of_skalla.ts
  ui/raidboss/data/04-sb/trial/suzaku.ts
  ui/raidboss/data/05-shb/trial/wol-ex.ts
  ui/raidboss/emulator/translations.ts
Labels: raidboss, raidemulator, 💬de

#3278 raidboss: Enforce Non-TriggerOutput Return Defined
  types/trigger.d.ts
  ui/raidboss/data/03-hw/raid/a11s.ts
  ui/raidboss/data/05-shb/ultimate/the_epic_of_alexander.ts
Labels: raidboss

#3154 feat(util): add interactive command line interface
  package-lock.json
  package.json
  util/find_missing_translations.js
  util/gen_effect_id.ts
  util/index.ts
  util/translate_timeline.ts
Labels: util

#3336 raidboss: update remaining triggers to TypeScript
  ui/raidboss/data/02-arr/raid/t11.ts
  ui/raidboss/data/02-arr/raid/t6.ts
  ui/raidboss/data/02-arr/raid/t7.ts
  ui/raidboss/data/02-arr/raid/t9.ts
  ui/raidboss/data/04-sb/ultimate/unending_coil_ultimate.ts
  ui/raidboss/data/raidboss_manifest.txt
Labels: raidboss

#3314 ci: add PR title linting
  .github/scripts/lint-pr-title.cjs
  .github/workflows/lint-pr-title.yaml
Labels: ci

#3342 ci: fix regex bugs in PR title workflow
  .github/scripts/lint-pr-title.cjs
Labels: ci

#3343 ci: fail PR title workflow on errors
  .github/scripts/lint-pr-title.cjs
Labels: ci

#3348 raidboss: fix DRS sword brand direction
  ui/raidboss/data/05-shb/eureka/delubrum_reginae_savage.ts
Labels: raidboss

#3347 docs: fix troubleshooting TOC
  docs/FAQ-Troubleshooting.md
Labels: docs

#3344 ci: fail PR title workflow on errors
  .github/scripts/lint-pr-title.cjs
Labels: ci

#3345 ci: shorten PR title lint message
  .github/scripts/lint-pr-title.cjs
Labels: ci

#3346 ci: add length restriction of 60 to PR titles
  .github/scripts/lint-pr-title.cjs
Labels: ci, docs, raidboss

#3351 ci: support multiple scopes in PR titles
  .github/scripts/lint-pr-title.cjs
Labels: ci

#3350 Raidboss + Oopsy: Add A6N package
  ui/oopsyraidsy/data/03-hw/raid/a6n.ts
  ui/oopsyraidsy/data/oopsy_manifest.txt
  ui/raidboss/data/03-hw/raid/a6n.ts
  ui/raidboss/data/03-hw/raid/a6n.txt
  ui/raidboss/data/raidboss_manifest.txt
Labels: oopsy, raidboss, 💬cn, 💬de, 💬fr, 💬ja, 💬ko

#3352 ci: Add suggestion for PR titles
  .github/scripts/lint-pr-title.cjs
  package-lock.json
  package.json
Labels: ci

#3357 ci: trigger lint-pr-title when pr edited/reopened
  .github/workflows/lint-pr-title.yaml
Labels: ci

#3355 resources: support position fields for startsUsing
  resources/netregexes.ts
  test/unittests/netregex_test.js
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x14.ts
  util/logtools/netlog_defs.js
Labels: raidemulator, resources, test, util

#3354 raidboss: delubrum reginae normal + savage KR
  ui/raidboss/data/05-shb/eureka/delubrum_reginae.ts
  ui/raidboss/data/05-shb/eureka/delubrum_reginae_savage.ts
Labels: raidboss, 💬ko

#3356 lint: force typescript files to use override keyword
  package-lock.json
  package.json
  tsconfig.json
  ui/raidboss/emulator/data/PopupTextAnalysis.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x01.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x14.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x18.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x19.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x1A.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x1E.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x1F.ts
  ui/raidboss/emulator/overrides/RaidEmulatorAnalysisTimelineUI.ts
  ui/raidboss/emulator/overrides/RaidEmulatorPopupText.ts
  ui/raidboss/emulator/overrides/RaidEmulatorTimeline.ts
  ui/raidboss/emulator/overrides/RaidEmulatorTimelineController.ts
  ui/raidboss/emulator/overrides/RaidEmulatorTimelineUI.ts
  ui/raidboss/emulator/overrides/StubbedPopupText.ts
Labels: raidemulator

#3361 raidboss: Add targetability lines to O10n
  ui/raidboss/data/04-sb/raid/o10n.txt
Labels: raidboss

#3362 util: Add type checking for NetRegexes parseHelper fields
  resources/netregexes.ts
  types/net_fields.d.ts
Labels: resources
