Repository quisquous/cactbot, pull requests merged in 2021-06, with the labels that each got.

#2976 raidemulator: Fix Encounter pet name checks not respecting language
  ui/raidboss/emulator/data/Encounter.js
Labels: raidemulator

#2973 build: Use HtmlWebpackPlugin to Generate HTML
  .github/workflows/update-gh-pages.yml
  package-lock.json
  package.json
  plugin/CactbotEventSource/CactbotEventSource.cs
  resources/timerbar_test.html
  ui/config/config.html
  ui/dps/rdmty/dps.html
  ui/dps/xephero/xephero-cactbot.html
  ui/eureka/eureka.html
  ui/fisher/fisher.html
  ui/jobs/jobs.html
  ui/oopsyraidsy/oopsy_summary.html
  ui/oopsyraidsy/oopsyraidsy.html
  ui/pullcounter/pullcounter.html
  ui/radar/radar.html
  ui/raidboss/raidboss.html
  ui/raidboss/raidemulator.html
  ui/test/test.html
  util/coverage/coverage.html
  util/publish.sh
  webpack/webpack.config.cjs
Labels: ci, config, dps, eureka, fishing🎣, jobs, oopsy, pullcounter, radar, raidboss, raidemulator, resources, test, util

#2975 raidboss: small Zadnor trigger adjustments
  ui/raidboss/data/05-shb/eureka/zadnor.js
Labels: raidboss

#2978 ci: Don't Commit .nojekyll File
  .github/workflows/update-gh-pages.yml
Labels: ci

#2979 raidboss: update Zadnor Korean translate
  ui/raidboss/data/05-shb/eureka/zadnor.js
Labels: raidboss, 💬KO

#2985 Fix FR Common translations
  ui/raidboss/common_replacement.ts
Labels: raidboss, 💬FR

#2986 fix(config): view source fragment
  ui/raidboss/raidboss_config.js
Labels: raidboss

#2977 ci: add plugin and docs labels
  .github/scripts/auto-label.cjs
Labels: ci

#2981 raidemulator: Convert CombatantJobSearch to typescript
  ui/raidboss/emulator/data/CombatantJobSearch.js
  ui/raidboss/emulator/data/CombatantJobSearch.ts
  ui/raidboss/emulator/data/CombatantTracker.js
Labels: raidemulator

#2982 Jobs: Fix bigatzero=false doesn't work
  resources/timerbox.ts
Labels: resources

#2990 Revert "fix(config): view source fragment"
  ui/raidboss/raidboss_config.js
Labels: config, raidboss

#2988 ci: make language pr labels lowercase
  .github/scripts/auto-label.cjs
Labels: ci

#2998 raidboss: Fix e9s callout not being declared properly
  ui/raidboss/data/05-shb/raid/e9s.js
Labels: raidboss

#2989 raidboss: small Zadnor Sartauvoir improvements
  ui/raidboss/data/05-shb/eureka/zadnor.js
Labels: raidboss

#2991 build: Fix Webpack Dev Server TimerBar Test
  resources/timerbar_test.html
  ui/test/timerbar_test.html
  ui/test/timerbar_test.ts
  webpack/webpack.config.cjs
Labels: resources, test

#2992 doc: update name/link to *.ts
  docs/CactbotCustomization.md
  docs/OopsyraidsyGuide.md
  docs/RaidbossGuide.md
  docs/ko-KR/CactbotCustomization.md
  docs/zh-CN/CactbotCustomization.md
  docs/zh-CN/RaidbossGuide.md
  docs/zh-TW/CactbotCustomization.md
Labels: docs, 💬cn, 💬ko

#2993 refactor: remove redundant extension in import
  resources/party.ts
  types/data.d.ts
  ui/jobs/components/drk.js
Labels: jobs, resources

#2996 i18n(jobs): add pull text fr translation
  ui/jobs/jobs.js
Labels: jobs, 💬fr

#3002 resources: Remove TimerBar TODO
  resources/timerbar.ts
Labels: resources

#3004 raidboss: Fix Unending Coil Nael Fireball 4 Callout
  ui/raidboss/data/04-sb/ultimate/unending_coil_ultimate.js
Labels: raidboss

#2983 Jobs: buff tracker improvement
  resources/effect_id.ts
  ui/jobs/buff_tracker.ts
  util/gen_effect_id.py
Labels: jobs, resources, util

#2999 fix(config): view source fragment
  ui/raidboss/raidboss_config.js
Labels: config, raidboss

#3008 doc: update zh-CN/README.md
  docs/zh-CN/README.md
Labels: docs, 💬cn

#3007 ci: label script will match key with lang only
  .github/scripts/auto-label.cjs
Labels: ci

#3011 lint: Enable prefer-regex-literals
  .eslintrc.cjs
  resources/netregexes.ts
  util/find_missing_translations.js
Labels: resources, util

#3013 eureka: update ko v5.4 CE opcode
  plugin/CactbotEventSource/FateWatcher.cs
Labels: plugin

#3015 Jobs: Auto remove readied raidbuffs that not be used in 3min
  ui/jobs/buff_tracker.ts
Labels: jobs

#3018 raidboss: Fix UCoB Bahamut's Claw Condition
  ui/raidboss/data/04-sb/ultimate/unending_coil_ultimate.js
Labels: raidboss

#2997 raidemulator: Refactor LineEvent properties to be normalized/consistent
  ui/raidboss/emulator/data/CombatantTracker.js
  ui/raidboss/emulator/data/Encounter.js
  ui/raidboss/emulator/data/Persistor.js
  ui/raidboss/emulator/data/network_log_converter/LineEvent.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x03.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x14.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x15.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x17.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x18.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x1A.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x1B.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x22.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x25.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x26.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x27.ts
Labels: raidemulator

#3006 Refactor(jobs): Partial Update for TypeScript-ization
  ui/jobs/jobs.js
Labels: jobs

#3009 extend type of `document.createElement`
  resources/timerbar.ts
  resources/timericon.ts
  ui/raidboss/timeline.ts
  ui/test/timerbar_test.ts
Labels: raidboss, resources, test

#3016 Jobs: Fix missing BLU attenuation debuff and DRG RightEye effect ID out of date
  resources/effect_id.ts
  resources/ffxiv/status/astral.png
  resources/ffxiv/status/umbral.png
  ui/jobs/buff_tracker.ts
  util/gen_effect_id.py
Labels: jobs, resources, util

#3019 lint: add @typescript-eslint/object-curly-spacing
  .eslintrc.cjs
  resources/overlay_plugin_api.ts
  resources/party.ts
  resources/player_override.ts
  ui/raidboss/emulator/EventBus.ts
Labels: raidemulator, resources

#3023 raidemulator: Fix #3021
  ui/raidboss/emulator/data/AnalyzedEncounter.js
  ui/raidboss/emulator/data/Encounter.js
  ui/raidboss/emulator/data/NetworkLogConverterWorker.js
  ui/raidboss/emulator/data/Persistor.js
Labels: raidemulator

#3012 raidemulator: Convert CombatantState to typescript
  ui/raidboss/emulator/data/CombatantState.js
  ui/raidboss/emulator/data/CombatantState.ts
  ui/raidboss/emulator/data/CombatantTracker.js
  ui/raidboss/emulator/ui/EmulatedPartyInfo.js
Labels: raidemulator

#3027 raidemulator: Convert Combatant, CombatantTracker to typescript
  ui/raidboss/emulator/data/Combatant.js
  ui/raidboss/emulator/data/Combatant.ts
  ui/raidboss/emulator/data/CombatantTracker.js
  ui/raidboss/emulator/data/CombatantTracker.ts
Labels: raidemulator

#3017 raidboss: Add Transition on TimerBar Removed
  ui/raidboss/raidboss.css
  ui/raidboss/skins/lippe/lippe.css
  ui/raidboss/timeline.ts
Labels: raidboss

#3026 ci: don't label PRs as English
  .github/scripts/auto-label.cjs
Labels: ci

#3028 oopsy: ignore bozja zones
  ui/oopsyraidsy/oopsyraidsy.js
Labels: oopsy

#2880 raidboss: Add TriggerSet types; convert some initial triggers
  .eslintrc.cjs
  resources/responses.ts
  types/trigger.d.ts
  ui/raidboss/data/02-arr/raid/t1.ts
  ui/raidboss/data/02-arr/trial/titan-ex.ts
  ui/raidboss/data/raidboss_manifest.txt
  ui/raidboss/timeline.ts
  util/process_triggers_folder.ts
Labels: raidboss, resources, util

#3022 build: Use MiniCssExtract Webpack Plugin
  package-lock.json
  package.json
  ui/config/config.html
  ui/config/config.js
  ui/dps/rdmty/dps.html
  ui/dps/rdmty/dps.js
  ui/dps/xephero/xephero-cactbot.html
  ui/dps/xephero/xephero.js
  ui/eureka/eureka.html
  ui/eureka/eureka.js
  ui/fisher/fisher.html
  ui/fisher/fisher.js
  ui/jobs/jobs.html
  ui/jobs/jobs.js
  ui/oopsyraidsy/oopsy_live.ts
  ui/oopsyraidsy/oopsy_summary.html
  ui/oopsyraidsy/oopsy_summary.ts
  ui/oopsyraidsy/oopsyraidsy.html
  ui/oopsyraidsy/oopsyraidsy.js
  ui/pullcounter/pullcounter.html
  ui/pullcounter/pullcounter.js
  ui/radar/radar.html
  ui/radar/radar.ts
  ui/raidboss/raidboss.html
  ui/raidboss/raidboss.ts
  ui/raidboss/raidemulator.html
  ui/raidboss/raidemulator.js
  ui/test/test.html
  ui/test/test.ts
  util/coverage/coverage.html
  util/coverage/coverage.js
  webpack/webpack.config.cjs
Labels: config, dps, eureka, fishing🎣, jobs, oopsy, pullcounter, radar, raidboss, raidemulator, test, util

#3030 lint: Add Rule for Mismatched Matches TypeReferences
  .eslintrc.cjs
  eslint/cactbot-matches-type-references.js
Labels: style

#3010 Jobs: Trace the cooldown of raidbuffs which not lands on you or misses target
  ui/jobs/buff_tracker.ts
  ui/jobs/constants.ts
  ui/jobs/jobs.js
Labels: jobs

#3024 raidboss: add Dalriada timeline
  ui/raidboss/data/05-shb/eureka/zadnor.js
  ui/raidboss/data/05-shb/eureka/zadnor.txt
Labels: raidboss

#3032 Raidboss: 5.45-cn
  ui/raidboss/data/05-shb/eureka/delubrum_reginae.js
  ui/raidboss/data/05-shb/eureka/delubrum_reginae_savage.js
Labels: raidboss, 💬cn, 💬fr, 💬ja

#3036 raidboss: Fix issue with Dun Scaith Ferdiad Hollow trigger
  ui/raidboss/data/03-hw/alliance/dun_scaith.js
Labels: raidboss

#3035 add timeline translation to zadnor
  ui/raidboss/data/05-shb/eureka/zadnor.js
Labels: raidboss, 💬de, 💬fr, 💬ja

#3034 util: Move `Lang` to its own file, add `isLang` typeguard
  resources/languages.ts
  resources/pet_names.ts
  resources/player_override.ts
  resources/translations.ts
  resources/user_config.ts
  types/data.d.ts
  types/event.d.ts
  types/global.d.ts
  types/trigger.d.ts
  ui/fisher/static-data.ts
  ui/radar/radar.ts
  ui/raidboss/browser_tts_engine.ts
  ui/raidboss/common_replacement.ts
  ui/raidboss/emulator/EmulatorCommon.ts
  ui/raidboss/emulator/data/CombatantTracker.ts
  ui/raidboss/raidboss_options.ts
  ui/raidboss/timeline.ts
  util/gen_fisher_data.py
  util/gen_pet_names.py
  util/translate_timeline.ts
Labels: fishing🎣, radar, raidboss, raidemulator, resources, util

#3029 raidemulator: Convert Encounter to typescript
  ui/raidboss/emulator/data/Encounter.ts
  ui/raidboss/emulator/overrides/RaidEmulatorTimeline.js
  ui/raidboss/emulator/ui/ProgressBar.js
  ui/raidboss/raidemulator.js
Labels: raidemulator

#3041 Resources: 5.45-cn
  resources/zone_info.ts
  ui/raidboss/data/05-shb/eureka/delubrum_reginae_savage.js
Labels: raidboss, resources, 💬cn

#3043 Plugin: Update cedirector_cn for CN 5.45
  plugin/CactbotEventSource/FateWatcher.cs
Labels: plugin

#3044 small fixes for dr svg
  ui/raidboss/data/05-shb/eureka/delubrum_reginae_savage.js
Labels: raidboss

#3050 raidemulator: Convert StubbedPopupText to typescript
  ui/raidboss/emulator/overrides/StubbedPopupText.js
  ui/raidboss/emulator/overrides/StubbedPopupText.ts
Labels: raidemulator

#3052 raidemulator: Fix issue caused by #3029 with initialOffset
  ui/raidboss/emulator/data/Encounter.ts
  ui/raidboss/emulator/overrides/RaidEmulatorTimeline.js
  ui/raidboss/emulator/ui/ProgressBar.js
  ui/raidboss/raidemulator.js
Labels: raidemulator

#3051 raidemulator: Convert RaidEmulatorTimelineUI to typescript
  ui/raidboss/emulator/overrides/RaidEmulatorTimelineUI.js
  ui/raidboss/emulator/overrides/RaidEmulatorTimelineUI.ts
  ui/raidboss/timeline.ts
Labels: raidboss, raidemulator

#3048 raidboss: Fix timeline sync based on area seal message
  ui/raidboss/common_replacement.ts
Labels: raidboss

#3047 raidboss: Fix some triggers using `matches.duration` instead of `matches.castTime`
  ui/raidboss/data/04-sb/dungeon/st_mocianne_hard.js
  ui/raidboss/data/05-shb/alliance/the_tower_at_paradigms_breach.js
Labels: raidboss

#3049 Remove baseUrl definition from tsconfig
  resources/player_override.ts
  tsconfig.base.json
  ui/raidboss/browser_tts_engine.ts
  ui/raidboss/common_replacement.ts
  ui/raidboss/emulator/EmulatorCommon.ts
  ui/raidboss/emulator/data/CombatantTracker.ts
  ui/raidboss/raidboss_options.ts
  ui/raidboss/timeline.ts
  util/translate_timeline.ts
Labels: raidboss, raidemulator, resources, util

#3046 raidemulator: Performance and fixes
  ui/raidboss/emulator/data/AnalyzedEncounter.js
  ui/raidboss/emulator/overrides/RaidEmulatorAnalysisTimelineUI.js
  ui/raidboss/raidemulator.js
Labels: raidemulator

#3056 util: Adjust typings in trigger.d.ts
  types/trigger.d.ts
  ui/raidboss/data/00-misc/test.js
Labels: raidboss

#3061 various: Fixes in preparation for popup-text typescript conversion
  resources/player_override.ts
  resources/responses.ts
  resources/user_config.ts
  types/data.d.ts
  types/event.d.ts
  types/manifest.d.ts
  types/trigger.d.ts
  ui/raidboss/raidboss_options.ts
  ui/raidboss/timeline.ts
  webpack/webpack.config.cjs
Labels: raidboss, resources

#3066 raidboss: Shiva Ex Timeline Trigger Suppressions
  ui/raidboss/data/02-arr/trial/shiva-ex.js
Labels: raidboss

#3014 refactor fetch_deps to TypeScript
  .github/workflows/build-artifact.yml
  .github/workflows/release.yml
  package-lock.json
  package.json
  util/DEPS.json5
  util/fetch_deps.py
  util/fetch_deps.ts
Labels: ci, util

#3065 raidboss: Disable Animations for Skips
  ui/raidboss/timeline.ts
Labels: raidboss

#3058 docs: update Korean Readme
  README.md
  docs/ko-KR/README.md
  docs/zh-CN/README.md
Labels: docs, 💬cn, 💬ko

#3055 raidboss: add e11s cycle of faith TTS
  ui/raidboss/data/05-shb/raid/e11s.js
Labels: raidboss, 💬cn, 💬de, 💬fr, 💬ja, 💬ko

#3059 Jobs: Flash proc box when expired and in combat
  resources/timerbox.ts
  ui/jobs/components/ast.js
  ui/jobs/components/blm.js
  ui/jobs/components/brd.js
  ui/jobs/components/drg.js
  ui/jobs/components/pld.js
  ui/jobs/components/sam.js
  ui/jobs/components/sch.js
  ui/jobs/components/smn.js
  ui/jobs/components/war.js
  ui/jobs/components/whm.js
  ui/jobs/jobs.css
  ui/jobs/jobs.js
  ui/jobs/jobs_config.ts
  ui/jobs/types.d.ts
Labels: config, jobs, resources, 💬de

#3069 eureka: fix Eureka fates not being marked red when on cooldown
  ui/eureka/eureka.js
Labels: eureka

#3070 docs: fix Eureka docs to reflect the real tracker text
  README.md
  docs/zh-CN/README.md
Labels: docs, 💬cn

#3072 raidboss: fix incorrect Zadnor Time Bomb trigger
  ui/raidboss/data/05-shb/eureka/zadnor.js
Labels: raidboss

#3073 raidboss: Fix some trigger properties returning string when they should return float
  ui/raidboss/data/05-shb/raid/e10s.js
  ui/raidboss/data/05-shb/raid/e8s.js
Labels: raidboss

#3077 oopsy: Titan NM
  ui/oopsyraidsy/data/02-arr/trial/titan-nm.js
  ui/oopsyraidsy/data/oopsy_manifest.txt
Labels: oopsy

#3064 raidboss: Convert PopupText to typescript
  .vscode/settings.json
  resources/player_override.ts
  types/trigger.d.ts
  ui/raidboss/popup-text.ts
  ui/raidboss/raidboss_options.ts
Labels: raidboss, resources, 💬fr

#3076 French translation for Zadnor NMs
  ui/eureka/eureka.js
Labels: eureka, 💬de, 💬fr

#3068 refactor util/timeline_adjust.py
  util/timeline_adjust.mjs
  util/timeline_adjust.py
Labels: util

#3079 raidboss: Refactor PopupTextGenerator to pass timeline time
  ui/raidboss/popup-text.ts
  ui/raidboss/timeline.ts
Labels: raidboss

#3067 parallelize fetch deps
  package-lock.json
  package.json
  util/fetch_deps.ts
Labels: util

#3080 raidboss: Allow partial TTS entries
  docs/RaidbossGuide.md
  types/trigger.d.ts
  ui/raidboss/popup-text.ts
Labels: docs, raidboss

#3088 fix(jobs): darkside proc box not working
  ui/jobs/components/drk.ts
Labels: jobs

#3084 raidemulator: Convert PopupTextAnalysis to typescript
  ui/raidboss/emulator/EmulatorCommon.ts
  ui/raidboss/emulator/data/PopupTextAnalysis.js
  ui/raidboss/emulator/data/PopupTextAnalysis.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent.ts
  ui/raidboss/popup-text.ts
Labels: raidboss, raidemulator

#3092 fix config outputString
  ui/raidboss/popup-text.ts
Labels: raidboss

#3095 raidboss: Fix timeline triggers getting added to triggers and netTriggers
  ui/raidboss/popup-text.ts
Labels: raidboss

#3096 raidemulator: Convert RaidEmulatorTimeline to typescript
  ui/raidboss/emulator/data/AnalyzedEncounter.js
  ui/raidboss/emulator/overrides/RaidEmulatorTimeline.ts
  ui/raidboss/timeline.ts
Labels: raidboss, raidemulator

#3085 eureka: Complete names & enriched content for Save-The-Queen
  ui/eureka/eureka.css
  ui/eureka/eureka.js
  ui/eureka/eureka_config.ts
Labels: config, eureka, 💬cn, 💬de, 💬fr, 💬ja, 💬ko

#3104 plugin: Korean v5.41 CE opcode
  plugin/CactbotEventSource/FateWatcher.cs
Labels: plugin

#3081 raidboss: Add option for trigger sets to initialize data object
  docs/RaidbossGuide.md
  types/trigger.d.ts
  ui/raidboss/data/02-arr/raid/t1.ts
  ui/raidboss/popup-text.ts
Labels: docs, raidboss

#3105 raidemulator: Convert RaidEmulatorTimelineController to typescript
  ui/raidboss/emulator/EmulatorCommon.ts
  ui/raidboss/emulator/data/PopupTextAnalysis.ts
  ui/raidboss/emulator/overrides/RaidEmulatorTimelineController.ts
  ui/raidboss/timeline.ts
Labels: raidboss, raidemulator

#3106 raidemulator: Convert RaidEmulatorAnalysisTimelineUI to typescript
  ui/raidboss/emulator/overrides/RaidEmulatorAnalysisTimelineUI.js
  ui/raidboss/emulator/overrides/RaidEmulatorAnalysisTimelineUI.ts
  ui/raidboss/emulator/overrides/RaidEmulatorTimelineUI.ts
Labels: raidemulator

#3108 other: Rework PlayerChangedRet to auto-infer jobDetail type
  types/event.d.ts
  ui/test/test.ts
Labels: test

#3109 lint: Ensure Matches is Always Typed
  .eslintrc.cjs
  eslint/cactbot-matches-type-references.js
Labels: style

#3074 build: split webpack config as prod/dev
  .github/workflows/update-gh-pages.yml
  package-lock.json
  package.json
  webpack/constants.cjs
  webpack/webpack.config.cjs
  webpack/webpack.dev.cjs
  webpack/webpack.ghpages.cjs
  webpack/webpack.prod.cjs
Labels: ci

#3107 raidemulator: Update job fields to use Job type
  ui/raidboss/emulator/data/Combatant.ts
  ui/raidboss/emulator/data/CombatantJobSearch.ts
  ui/raidboss/emulator/data/CombatantTracker.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x03.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x26.ts
Labels: raidemulator

#3099 raidboss: Convert Various Coil Triggers to TypeScript
  ui/raidboss/data/02-arr/raid/t10.ts
  ui/raidboss/data/02-arr/raid/t12.ts
  ui/raidboss/data/02-arr/raid/t13.ts
  ui/raidboss/data/02-arr/raid/t2.ts
  ui/raidboss/data/02-arr/raid/t4.ts
  ui/raidboss/data/02-arr/raid/t8.ts
  ui/raidboss/data/raidboss_manifest.txt
Labels: raidboss

#3112 lint: Create ESLint Utils for Ordering Functions
  eslint/cactbot-locale-order.js
  eslint/eslint-utils.js
Labels: style

#3101 popup-text replacement should be `unknown`
  ui/raidboss/popup-text.ts
Labels: raidboss

#3097 Jobs: Add notification sound to proc boxes
  resources/sounds/freesound/LICENSE.txt
  resources/sounds/freesound/alarm.ogg
  resources/timerbox.ts
  ui/jobs/jobs.js
  ui/jobs/jobs_config.ts
Labels: config, jobs, resources, 💬de

#3127 raidemulator: Fix timeline triggers
  ui/raidboss/emulator/data/AnalyzedEncounter.js
  ui/raidboss/emulator/data/PopupTextAnalysis.ts
Labels: raidemulator

#2942 raidemulator: Make websocket connection optional
  resources/languages.ts
  ui/raidboss/emulator/data/Persistor.js
  ui/raidboss/emulator/overrides/RaidEmulatorOverlayApiHook.js
  ui/raidboss/raidemulator.html
  ui/raidboss/raidemulator.js
Labels: raidemulator, resources, 💬cn, 💬de, 💬fr, 💬ja, 💬ko

#3086 refactor: import image instead of path
  types/images.d.ts
  ui/eureka/eureka.js
  ui/jobs/buff_tracker.ts
  ui/jobs/jobs.js
  ui/radar/radar.ts
  webpack/webpack.config.cjs
Labels: eureka, jobs, radar

#3113 raidemulator: Convert AnalyzedEncounter to typescript
  types/event.d.ts
  ui/raidboss/emulator/EmulatorCommon.ts
  ui/raidboss/emulator/data/AnalyzedEncounter.js
  ui/raidboss/emulator/data/AnalyzedEncounter.ts
  ui/raidboss/emulator/data/PopupTextAnalysis.ts
  ui/raidboss/emulator/data/RaidEmulator.js
  ui/raidboss/emulator/overrides/RaidEmulatorPopupText.js
  ui/raidboss/emulator/overrides/RaidEmulatorTimelineController.ts
  ui/raidboss/emulator/overrides/StubbedPopupText.ts
  ui/raidboss/raidemulator.js
  ui/test/test.ts
Labels: raidemulator, test

#3128 Jobs: Remove obsolete timerbox reset calls
  ui/jobs/components/ast.js
  ui/jobs/components/blm.js
  ui/jobs/components/blu.js
  ui/jobs/components/brd.js
  ui/jobs/components/dnc.js
  ui/jobs/components/drg.js
  ui/jobs/components/drk.ts
  ui/jobs/components/gnb.ts
  ui/jobs/components/mch.js
  ui/jobs/components/mnk.js
  ui/jobs/components/nin.js
  ui/jobs/components/pld.js
  ui/jobs/components/rdm.js
  ui/jobs/components/sam.js
  ui/jobs/components/sch.js
  ui/jobs/components/smn.js
  ui/jobs/components/war.js
  ui/jobs/components/whm.js
Labels: jobs

#3129 resources: Improve Timerbar Performance
  resources/timerbar.ts
Labels: resources

#3132 raidboss: fix Korean translation (Shinryu)
  ui/raidboss/data/04-sb/trial/shinryu-ex.js
  ui/raidboss/data/04-sb/trial/shinryu.js
Labels: raidboss, 💬ko

#3089 refactor(util): add util/csv_util.py TypeScript version
  package-lock.json
  package.json
  test/unittests/csv_util_test.js
  util/csv_util.ts
Labels: test, util

#3133 fix: remove `isMain` section in coinach.ts
  util/coinach.ts
Labels: util

#3130 lint: Have Ordering Fix Preserve Comments
  eslint/cactbot-locale-order.js
  eslint/eslint-utils.js
Labels: style

#3116 lint: Add ESLint for Trigger Property Order
  .eslintrc.cjs
  eslint/cactbot-trigger-property-order.js
  ui/oopsyraidsy/data/03-hw/raid/a12n.js
  ui/oopsyraidsy/data/05-shb/raid/e12s.js
  ui/raidboss/data/02-arr/dungeon/brayfloxs_longstop.js
  ui/raidboss/data/02-arr/dungeon/haukke_manor.js
  ui/raidboss/data/02-arr/trial/shiva-ex.js
  ui/raidboss/data/03-hw/alliance/weeping_city.js
  ui/raidboss/data/03-hw/dungeon/sohm_al_hard.js
  ui/raidboss/data/03-hw/raid/a4s.js
  ui/raidboss/data/03-hw/raid/a5s.js
  ui/raidboss/data/03-hw/raid/a6s.js
  ui/raidboss/data/03-hw/raid/a7s.js
  ui/raidboss/data/03-hw/trial/sophia-ex.js
  ui/raidboss/data/04-sb/trial/byakko-ex.js
  ui/raidboss/data/04-sb/ultimate/ultima_weapon_ultimate.js
  ui/raidboss/data/05-shb/alliance/the_copied_factory.js
  ui/raidboss/data/05-shb/raid/e5n.js
  ui/raidboss/data/05-shb/raid/e5s.js
  ui/raidboss/data/05-shb/trial/hades-ex.js
  ui/raidboss/data/05-shb/trial/shiva-un.js
  ui/raidboss/data/05-shb/ultimate/the_epic_of_alexander.js
Labels: oopsy, raidboss, style

#3111 raidboss: Add helper to watch combatants
  resources/util.ts
  types/event.d.ts
  ui/raidboss/data/00-misc/test.js
  ui/raidboss/emulator/data/CombatantState.ts
  ui/raidboss/popup-text.ts
Labels: raidboss, raidemulator, resources

#3115 ui: Stop using global Options variables everywhere
  .eslintrc.cjs
  ui/config/config.js
  ui/dps/dps_common.js
  ui/dps/rdmty/dps.js
  ui/dps/xephero/xephero.js
  ui/eureka/eureka.js
  ui/fisher/fisher-ui.js
  ui/fisher/fisher.js
  ui/jobs/jobs.js
  ui/oopsyraidsy/oopsyraidsy.js
  ui/pullcounter/pullcounter.js
  ui/radar/radar.ts
  ui/raidboss/raidboss.ts
  ui/raidboss/raidemulator.js
Labels: config, dps, eureka, fishing🎣, jobs, oopsy, pullcounter, radar, raidboss, raidemulator

#3139 raidemulator: Convert PersistorEncounter to typescript
  ui/raidboss/emulator/data/PersistorEncounter.ts
Labels: raidemulator

#3138 fix(timeline): execute timeline trigger with current time
  ui/raidboss/timeline.ts
Labels: raidboss

#3140 Jobs: Fix Thunder2 ID out of date
  ui/jobs/constants.ts
Labels: jobs

#3141 raidemulator: Convert RaidEmulator class to typescript
  ui/raidboss/emulator/data/AnalyzedEncounter.ts
  ui/raidboss/emulator/data/RaidEmulator.ts
  ui/raidboss/emulator/overrides/RaidEmulatorTimelineUI.ts
Labels: raidemulator

#3143 raidemulator: Fix async issue, fix tts still actually triggering tts during analysis
  ui/raidboss/emulator/data/PopupTextAnalysis.ts
  ui/raidboss/raidemulator.js
Labels: raidemulator

#3142 raidemulator: Convert RaidEmulatorPopupText to typescript
  ui/raidboss/emulator/EventBus.ts
  ui/raidboss/emulator/overrides/RaidEmulatorPopupText.js
  ui/raidboss/emulator/overrides/RaidEmulatorPopupText.ts
Labels: raidemulator

#3144 raidboss: Fix tts issues re: #3136
  ui/raidboss/popup-text.ts
Labels: raidboss

#3137 util: Rework trigger structure to have union discriminator
  .eslintrc.cjs
  docs/RaidbossGuide.md
  docs/zh-CN/RaidbossGuide.md
  eslint/cactbot-matches-type-references.js
  eslint/cactbot-trigger-property-order.js
  resources/matches.ts
  resources/netregexes.ts
  resources/regexes.ts
  resources/responses.ts
  resources/translations.ts
  test/helper/test_trigger.js
  types/net_fields.d.ts
  types/net_matches.d.ts
  types/net_props.d.ts
  types/net_trigger.d.ts
  types/trigger.d.ts
  ui/jobs/buff_tracker.ts
  ui/jobs/utils.ts
  ui/radar/radar.ts
  ui/raidboss/data/02-arr/raid/t1.ts
  ui/raidboss/data/02-arr/raid/t10.ts
  ui/raidboss/data/02-arr/raid/t12.ts
  ui/raidboss/data/02-arr/raid/t13.ts
  ui/raidboss/data/02-arr/raid/t2.ts
  ui/raidboss/data/02-arr/raid/t4.ts
  ui/raidboss/data/02-arr/raid/t8.ts
  ui/raidboss/data/02-arr/trial/titan-ex.ts
  ui/raidboss/emulator/EmulatorCommon.ts
  ui/raidboss/emulator/data/Encounter.ts
  ui/raidboss/emulator/data/PopupTextAnalysis.ts
  ui/raidboss/popup-text.ts
  ui/raidboss/raidboss_options.ts
  ui/raidboss/timeline.ts
Labels: docs, jobs, radar, raidboss, raidemulator, resources, style, test, 💬cn

#3117 lint: Add ESLint for TriggerSet Property Order
  .eslintrc.cjs
  eslint/cactbot-triggerset-property-order.js
Labels: style

#3135 raidemulator: refactor raidemulator.js initialization
  ui/raidboss/raidemulator.js
Labels: raidemulator

#3145 raidemulator: Convert NetworkLogConverterWorker to typescript
  types/worker.d.ts
  ui/raidboss/emulator/data/NetworkLogConverter.worker.ts
  ui/raidboss/emulator/ui/EmulatedMap.js
  ui/raidboss/emulator/ui/EmulatedMapInfo.js
  ui/raidboss/raidemulator.js
  webpack/webpack.config.ts
Labels: raidemulator

#3134 refactor(util): add gen_effect_id TypeScript version
  resources/effect_id.ts
  util/gen_effect_id.py
  util/gen_effect_id.ts
Labels: resources, util

#3148 raidemulator: Fix promise not evaluating sync during analysis
  ui/raidboss/emulator/data/PopupTextAnalysis.ts
Labels: raidemulator

#3146 config: add link to coverage report
  resources/user_config.ts
  ui/config/config.js
  ui/raidboss/raidboss_config.js
Labels: config, raidboss, resources, 💬cn, 💬de, 💬fr, 💬ja, 💬ko

#3147 jobs: turn on notifications by default
  ui/jobs/jobs_config.ts
Labels: config, jobs

#3151 i18n(Jobs): New option translation for cn&ja
  ui/jobs/jobs_config.ts
Labels: config, jobs, 💬cn, 💬ja

#3153 refactor(util): extract csvReader as a new func
  util/csv_util.ts
Labels: util

#3150 Feature(Raidboss): show default value instead of (default)
  ui/config/config.css
  ui/raidboss/raidboss_config.js
Labels: config, raidboss

#3168 plugin: update CE opcode for 5.57
  plugin/CactbotEventSource/FateWatcher.cs
Labels: plugin

#3170 i18n: add new config ja/cn/ko translation
  ui/raidboss/raidboss_config.js
Labels: config, raidboss, 💬cn, 💬ja, 💬ko

#3152 i18n(eureka, jobs): Fix multi-language support on eureka, small translation for jobs Korean
  ui/eureka/eureka.js
  ui/eureka/eureka_config.ts
  ui/jobs/jobs_config.ts
Labels: config, eureka, jobs, 💬ja, 💬ko

#3167 Chore: dungeon timelines improvement
  ui/raidboss/data/05-shb/alliance/the_copied_factory.js
  ui/raidboss/data/05-shb/alliance/the_copied_factory.txt
  ui/raidboss/data/05-shb/dungeon/matoyas_relict.txt
Labels: raidboss, 💬cn, 💬de, 💬fr, 💬ja, 💬ko

#3175 i18n(eureka): Translation for new feature
  ui/config/config.js
  ui/eureka/eureka.js
  ui/eureka/eureka_config.ts
Labels: config, eureka, 💬cn, 💬de, 💬fr, 💬ja, 💬ko

#3171 coverage: add description about release and latest version differencences
  util/coverage/coverage.css
  util/coverage/coverage.html
  util/coverage/coverage.js
Labels: util, 💬cn, 💬ja, 💬ko

#3178 coverage: fix description text
  ui/config/config.js
  util/coverage/coverage.js
Labels: config, util, 💬ko

#3174 raidemulator: Bug fixes
  ui/raidboss/emulator/data/AnalyzedEncounter.ts
  ui/raidboss/emulator/data/PopupTextAnalysis.ts
  ui/raidboss/emulator/overrides/RaidEmulatorPopupText.ts
Labels: raidemulator

#3165 util: support FIXME to mark improvable translations
  util/find_missing_translations.js
Labels: util

#3184 raidboss: Minor T10 TypeScript Revisions
  ui/raidboss/data/02-arr/raid/t8.ts
Labels: raidboss

#3181 raidemulator: Switch Encounter.initialTimestamp from getter to property
  ui/raidboss/emulator/data/Encounter.ts
Labels: raidemulator

#3161 raidboss: improve o3s triggers
  ui/raidboss/data/04-sb/raid/o3s.js
Labels: raidboss, 💬cn, 💬de, 💬fr, 💬ja, 💬ko

#3164 eslint: add indent rule for TypeScript
  .eslintrc.cjs
  resources/overlay_plugin_api.ts
  ui/raidboss/emulator/data/AnalyzedEncounter.ts
  ui/raidboss/emulator/data/Encounter.ts
  ui/raidboss/emulator/data/PopupTextAnalysis.ts
Labels: raidemulator, resources

#3187 raidboss: Convert ARR Dungeons to TypeScript
  ui/raidboss/data/02-arr/dungeon/brayfloxs_longstop.ts
  ui/raidboss/data/02-arr/dungeon/haukke_manor.ts
  ui/raidboss/data/raidboss_manifest.txt
Labels: raidboss

#3182 raidemulator: Convert ProgressBar to typescript
  ui/raidboss/emulator/ui/ProgressBar.js
  ui/raidboss/emulator/ui/ProgressBar.ts
  ui/raidboss/emulator/ui/Tooltip.ts
Labels: raidemulator

#3183 raidemulator: Convert EncounterTab to typescript
  ui/raidboss/emulator/ui/EncounterTab.js
  ui/raidboss/emulator/ui/EncounterTab.ts
Labels: raidemulator

#3195 docs: Update raidemulator links and instructions in README
  README.md
Labels: docs

#3194 util: Fix linux paths in find_missing_translations.js tool
  util/find_missing_translations.js
Labels: util

#3197 util: Fix the return type of watchCombatant helper
  resources/util.ts
Labels: resources

#3198 raidboss: Fix typing of timeline property on trigger sets
  types/trigger.d.ts
  ui/raidboss/popup-text.ts
Labels: raidboss

#3200 raidboss: Convert test triggerset to typescript
  ui/raidboss/data/00-misc/test.ts
  ui/raidboss/data/raidboss_manifest.txt
Labels: raidboss

#3186 raidboss: Convert T5 to TypeScript
  ui/raidboss/data/02-arr/raid/t5.ts
  ui/raidboss/data/raidboss_manifest.txt
Labels: raidboss

#3204 ci: fix auto-label on pure renames
  .github/scripts/auto-label.cjs
Labels: ci
