Repository quisquous/cactbot, pull requests merged in 2021-09, with the labels that each got.

#3422 oopsy: don't report dead players for missed buffs
  ui/oopsyraidsy/damage_tracker.ts
  ui/oopsyraidsy/effect_tracker.ts
Labels: oopsy

#3420 plugin: remove 1.x language detection path
  plugin/CactbotEventSource/FFXIVPlugin.cs
Labels: plugin

#3421 eureka: split zone info into separate files
  ui/eureka/eureka.ts
  ui/eureka/eureka_options.ts
  ui/eureka/eureka_translations.ts
  ui/eureka/zone_anemos.ts
  ui/eureka/zone_bozja_southern.ts
  ui/eureka/zone_hydatos.ts
  ui/eureka/zone_pagos.ts
  ui/eureka/zone_pyros.ts
  ui/eureka/zone_zadnor.ts
Labels: eureka, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#3438 raidboss: fix BA seal regexes for non-en/de languages
  ui/raidboss/data/04-sb/eureka/eureka_hydatos.ts
Labels: raidboss

#3443 raidboss: ignore texts with empty spaces
  ui/raidboss/popup-text.ts
Labels: raidboss

#3446 i18n: added 5.5 KR translations
  ui/raidboss/data/05-shb/alliance/the_tower_at_paradigms_breach.ts
  ui/raidboss/data/05-shb/dungeon/paglthan.ts
  ui/raidboss/data/05-shb/trial/diamond_weapon-ex.ts
  ui/raidboss/data/05-shb/trial/diamond_weapon.ts
Labels: raidboss

#3449 i18n: update 5.5 KR translations + CE opcode
  plugin/CactbotEventSource/FateWatcher.cs
  ui/raidboss/data/05-shb/alliance/the_tower_at_paradigms_breach.ts
  ui/raidboss/data/05-shb/dungeon/paglthan.ts
  ui/raidboss/data/05-shb/trial/diamond_weapon-ex.ts
  ui/raidboss/data/05-shb/trial/diamond_weapon.ts
Labels: raidboss, plugin

#3452 resources: add Korean 5.5 resources
  resources/zone_info.ts
  ui/fisher/static-data.ts
Labels: resources, fishing🎣, 💬ko

#3454 jobs: fix japanese countdown regex
  resources/translations.ts
Labels: resources, 💬ja

#3457 ci: add version to package.json
  .github/workflows/create-tag.yml
  .npmrc
  package.json
  util/sync_version.cjs
Labels: ci, util

#3456 jobs: reduce regex matching via logDefinition
  ui/jobs/jobs.js
  ui/jobs/utils.ts
Labels: jobs

#3433 raidboss/oopsy: add sirensong sea
  resources/outputs.ts
  resources/responses.ts
  ui/oopsyraidsy/data/04-sb/dungeon/sirensong_sea.ts
  ui/oopsyraidsy/data/oopsy_manifest.txt
  ui/raidboss/data/04-sb/dungeon/sirensong_sea.ts
  ui/raidboss/data/04-sb/dungeon/sirensong_sea.txt
  ui/raidboss/data/raidboss_manifest.txt
Labels: resources, oopsy, raidboss

#3462 raidboss: remove Diamond Wep normal Airship's Bane trigger
  ui/raidboss/data/05-shb/trial/diamond_weapon.ts
Labels: raidboss

#3471 oopsy: add logDefinition refactoring
  ui/oopsyraidsy/damage_tracker.ts
Labels: oopsy

#3472 i18n: sirensong_sea translations
  ui/raidboss/data/04-sb/dungeon/sirensong_sea.ts
Labels: raidboss

#3434 raidboss: improve alphascape normal triggers
  ui/raidboss/data/04-sb/raid/o10n.ts
  ui/raidboss/data/04-sb/raid/o11n.ts
  ui/raidboss/data/04-sb/raid/o11n.txt
  ui/raidboss/data/04-sb/raid/o12n.ts
  ui/raidboss/data/04-sb/raid/o9n.ts
Labels: raidboss

#3436 oopsy: add deltascape savage
  ui/oopsyraidsy/data/04-sb/raid/o1s.ts
  ui/oopsyraidsy/data/04-sb/raid/o2s.ts
  ui/oopsyraidsy/data/04-sb/raid/o3s.ts
  ui/oopsyraidsy/data/04-sb/raid/o4s.ts
  ui/oopsyraidsy/data/oopsy_manifest.txt
Labels: oopsy

#3435 oopsy: add alphascape normal
  ui/oopsyraidsy/data/04-sb/raid/o10n.ts
  ui/oopsyraidsy/data/04-sb/raid/o11n.ts
  ui/oopsyraidsy/data/04-sb/raid/o12n.ts
  ui/oopsyraidsy/data/04-sb/raid/o9n.ts
  ui/oopsyraidsy/data/oopsy_manifest.txt
Labels: oopsy, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#3474 i18n: added some DE translations
  resources/outputs.ts
  ui/oopsyraidsy/oopsyraidsy_config.js
  ui/raidboss/data/04-sb/dungeon/sirensong_sea.ts
  ui/raidboss/data/04-sb/raid/o10n.ts
  ui/raidboss/data/04-sb/raid/o11n.ts
  ui/raidboss/data/04-sb/raid/o12n.ts
  ui/raidboss/data/04-sb/raid/o9n.ts
Labels: resources, config, oopsy, raidboss, 💬de

#3465 resources: change export type of resources/util.ts as named
  resources/party.ts
  resources/player_override.ts
  resources/user_config.ts
  resources/util.ts
  test/unittests/util_test.js
  ui/dps/dps_common.js
  ui/jobs/jobs.js
  ui/jobs/utils.ts
  ui/oopsyraidsy/damage_tracker.ts
  ui/raidboss/data/00-misc/test.ts
  ui/raidboss/data/02-arr/raid/t11.ts
  ui/raidboss/data/02-arr/raid/t5.ts
  ui/raidboss/data/02-arr/raid/t6.ts
  ui/raidboss/data/02-arr/raid/t7.ts
  ui/raidboss/data/02-arr/raid/t9.ts
  ui/raidboss/data/02-arr/trial/levi-ex.ts
  ui/raidboss/data/04-sb/ultimate/unending_coil_ultimate.ts
  ui/raidboss/data/05-shb/raid/e10s.ts
  ui/raidboss/data/05-shb/trial/levi-un.ts
  ui/raidboss/emulator/data/AnalyzedEncounter.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x03.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x26.ts
  ui/raidboss/emulator/ui/EmulatedPartyInfo.ts
  ui/raidboss/popup-text.ts
  ui/raidboss/raidboss_config.js
Labels: resources, config, dps, jobs, oopsy, raidboss, raidemulator, test

#3460 oopsy: add prefix to suzaku normal
  ui/oopsyraidsy/data/04-sb/trial/suzaku.ts
Labels: oopsy

#3414 docs: add cn translation of memory signature
  docs/zh-CN/MemorySignatures.md
Labels: docs, 💬cn

#3440 oopsy: add sigmascape normal
  ui/oopsyraidsy/data/04-sb/raid/o5n.ts
  ui/oopsyraidsy/data/04-sb/raid/o6n.ts
  ui/oopsyraidsy/data/04-sb/raid/o7n.ts
  ui/oopsyraidsy/data/04-sb/raid/o8n.ts
  ui/oopsyraidsy/data/oopsy_manifest.txt
Labels: oopsy, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#3441 oopsy: add sigmascape savage
  ui/oopsyraidsy/data/04-sb/raid/o5s.ts
  ui/oopsyraidsy/data/04-sb/raid/o6s.ts
  ui/oopsyraidsy/data/04-sb/raid/o7s.ts
  ui/oopsyraidsy/data/04-sb/raid/o8s.ts
  ui/oopsyraidsy/data/oopsy_manifest.txt
Labels: oopsy, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#3442 oopsy: add alphascape savage
  ui/oopsyraidsy/data/04-sb/raid/o10s.ts
  ui/oopsyraidsy/data/04-sb/raid/o11s.ts
  ui/oopsyraidsy/data/04-sb/raid/o9s.ts
  ui/oopsyraidsy/data/oopsy_manifest.txt
Labels: oopsy, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#3485 i18n: cn-5.55
  resources/zone_info.ts
  ui/eureka/zone_zadnor.ts
  ui/raidboss/data/05-shb/eureka/zadnor.ts
Labels: resources, eureka, raidboss, 💬cn
