Repository quisquous/cactbot, pull requests merged in 2021-11, with the labels that each got.

#3610 oopsy: add EmeraldEx Photon Ring warning
  ui/oopsyraidsy/data/05-shb/trial/emerald_weapon-ex.ts
Labels: oopsy

#3607 util: fix some type error
  types/data.d.ts
  types/net_matches.d.ts
  types/net_trigger.d.ts
  ui/eureka/eureka.ts
Labels: eureka

#3605 raidboss: add trigger for Bloody Sweep
  ui/raidboss/data/05-shb/alliance/the_tower_at_paradigms_breach.ts
Labels: raidboss

#3572 raidboss: switch ucob nael dives to use output strings
  ui/raidboss/data/04-sb/ultimate/unending_coil_ultimate.ts
Labels: raidboss

#3608 oopsy: add current hp to death reports
  ui/oopsyraidsy/death_report.ts
  ui/oopsyraidsy/oopsy_live.css
  ui/oopsyraidsy/oopsy_live_list.ts
  ui/oopsyraidsy/oopsy_summary.css
  ui/oopsyraidsy/oopsy_summary_list.ts
  ui/oopsyraidsy/oopsyraidsy.html
Labels: oopsy

#3611 i18n: missing CN translations
  ui/raidboss/data/05-shb/alliance/the_tower_at_paradigms_breach.ts
Labels: raidboss, 💬cn

#3604 util: Typescriptify encounter_tools
  util/logtools/encounter_tools.js
  util/logtools/encounter_tools.ts
Labels: util

#3615 i18n: (eureka) add korean translation to zadnor, bozja
  ui/eureka/zone_bozja_southern.ts
  ui/eureka/zone_zadnor.ts
Labels: eureka, 💬ko

#3612 raidboss: separate timeline parser
  test/helper/test_timeline.js
  types/trigger.d.ts
  ui/raidboss/emulator/overrides/RaidEmulatorAnalysisTimelineUI.ts
  ui/raidboss/emulator/overrides/RaidEmulatorTimeline.ts
  ui/raidboss/emulator/overrides/RaidEmulatorTimelineController.ts
  ui/raidboss/emulator/overrides/RaidEmulatorTimelineUI.ts
  ui/raidboss/popup-text.ts
  ui/raidboss/timeline.ts
  ui/raidboss/timeline_parser.ts
  util/find_missing_timeline_translations.js
  util/translate_timeline.ts
Labels: raidboss, raidemulator, test, util

#3614 raidboss: add basic triggers for Angra Mainyu
  ui/raidboss/data/02-arr/alliance/the_world_of_darkness.ts
  ui/raidboss/data/raidboss_manifest.txt
Labels: raidboss

#3619 oopsy: add death report side/disable config
  ui/oopsyraidsy/oopsy_live.css
  ui/oopsyraidsy/oopsy_live_list.ts
  ui/oopsyraidsy/oopsy_options.ts
  ui/oopsyraidsy/oopsyraidsy_config.js
Labels: config, oopsy

#3621 oopsy: adjust summary death report css
  ui/oopsyraidsy/oopsy_summary.css
Labels: oopsy

#3618 fisher: only handle your own snag/chum messages
  ui/fisher/fisher.js
Labels: fishing🎣

#3620 oopsy: add deathReason to death reports
  ui/oopsyraidsy/damage_tracker.ts
  ui/oopsyraidsy/data/02-arr/trial/titan-ex.ts
  ui/oopsyraidsy/death_report.ts
Labels: oopsy, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#3624 raidboss: fix inconsistent EmEx swords
  ui/raidboss/data/05-shb/trial/emerald_weapon-ex.ts
Labels: raidboss

#3623 oopsy/test: add player id to PlayerChangedDetail
  types/event.d.ts
  ui/oopsyraidsy/damage_tracker.ts
  ui/oopsyraidsy/effect_tracker.ts
  ui/raidboss/emulator/data/AnalyzedEncounter.ts
  ui/test/test.html
  ui/test/test.ts
Labels: oopsy, raidemulator, test

#3622 oopsy: handle death report solo/share mistakes better
  ui/oopsyraidsy/damage_tracker.ts
  ui/oopsyraidsy/death_report.ts
  ui/oopsyraidsy/effect_tracker.ts
  ui/oopsyraidsy/oopsy_common.ts
Labels: oopsy, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#3625 oopsy: fixed solo/shared mistakes always showing in report
  ui/oopsyraidsy/effect_tracker.ts
Labels: oopsy

#3629 i18n: add german translations
  ui/oopsyraidsy/oopsyraidsy_config.js
  ui/raidboss/data/02-arr/alliance/the_world_of_darkness.ts
  ui/raidboss/data/05-shb/alliance/the_tower_at_paradigms_breach.ts
Labels: config, oopsy, raidboss, 💬de

#3631 raidboss: fix ucob nael dive callouts
  ui/raidboss/data/04-sb/ultimate/unending_coil_ultimate.ts
Labels: raidboss

#3591 jobs: custom elements add create function
  resources/resourcebar.ts
  resources/timerbar.ts
  resources/timerbox.ts
  resources/timericon.ts
  resources/widget_list.ts
  ui/jobs/jobs.ts
  ui/jobs/utils.ts
  ui/raidboss/timeline.ts
  ui/test/timerbar_test.ts
Labels: resources, jobs, raidboss, test

#3634 plugin: FateOpcodes CN 5.57
  plugin/CactbotEventSource/FateWatcher.cs
Labels: plugin

#3635 oopsy: config fr
  ui/oopsyraidsy/oopsyraidsy_config.js
Labels: config, oopsy, 💬fr

#3632 i18n: (raidboss) add missing Korean direction at Tower
  ui/raidboss/data/05-shb/alliance/the_tower_at_paradigms_breach.ts
Labels: raidboss, 💬ko

#3636 i18n: (oopsy, raidboss, resources) add and fix KR
  resources/outputs.ts
  ui/oopsyraidsy/data/03-hw/dungeon/gubal_library_hard.ts
  ui/oopsyraidsy/data/03-hw/raid/a12n.ts
  ui/oopsyraidsy/data/04-sb/trial/suzaku.ts
  ui/oopsyraidsy/data/05-shb/raid/e5n.ts
  ui/oopsyraidsy/data/05-shb/raid/e5s.ts
  ui/oopsyraidsy/data/05-shb/raid/e7s.ts
  ui/oopsyraidsy/data/05-shb/trial/emerald_weapon-ex.ts
  ui/oopsyraidsy/data/05-shb/ultimate/the_epic_of_alexander.ts
  ui/oopsyraidsy/oopsyraidsy_config.js
  ui/raidboss/data/00-misc/general.ts
  ui/raidboss/data/00-misc/test.ts
  ui/raidboss/data/02-arr/alliance/the_world_of_darkness.ts
  ui/raidboss/data/03-hw/pvp/shatter.ts
  ui/raidboss/data/04-sb/alliance/orbonne_monastery.ts
  ui/raidboss/data/04-sb/dungeon/ala_mhigo.ts
  ui/raidboss/data/04-sb/dungeon/castrum_abania.ts
  ui/raidboss/data/04-sb/dungeon/doma_castle.ts
  ui/raidboss/data/04-sb/dungeon/fractal_continuum_hard.ts
  ui/raidboss/data/04-sb/dungeon/st_mocianne_hard.ts
  ui/raidboss/data/04-sb/dungeon/temple_of_the_fist.ts
  ui/raidboss/data/05-shb/eureka/zadnor.ts
Labels: resources, config, oopsy, raidboss, 💬ko

#3633 raidboss: add alerts for Chimera in Cutter's Cry
  ui/raidboss/data/02-arr/dungeon/cutters_cry.ts
  ui/raidboss/data/raidboss_manifest.txt
Labels: raidboss

#3637 i18n: oopsy config add ja/cn translations
  ui/oopsyraidsy/oopsyraidsy_config.js
Labels: config, oopsy, 💬cn, 💬ja

#3638 i18n: fix oopsy config kr translation
  ui/oopsyraidsy/oopsyraidsy_config.js
Labels: config, oopsy

#3613 util: fix type errors
  .vscode/settings.json
  types/event.d.ts
  types/manifest.d.ts
  types/net_matches.d.ts
  types/net_trigger.d.ts
  types/oopsy.d.ts
  types/trigger.d.ts
  ui/raidboss/emulator/data/PopupTextAnalysis.ts
  ui/raidboss/emulator/overrides/RaidEmulatorPopupText.ts
  ui/raidboss/emulator/overrides/StubbedPopupText.ts
  ui/raidboss/popup-text.ts
  ui/raidboss/timeline.ts
Labels: raidboss, raidemulator

#3639 build: Revert fix skipLibCheck type errors
  .vscode/settings.json
  types/event.d.ts
  types/manifest.d.ts
  types/net_matches.d.ts
  types/net_trigger.d.ts
  types/oopsy.d.ts
  types/trigger.d.ts
  ui/raidboss/emulator/data/PopupTextAnalysis.ts
  ui/raidboss/emulator/overrides/RaidEmulatorPopupText.ts
  ui/raidboss/emulator/overrides/StubbedPopupText.ts
  ui/raidboss/popup-text.ts
  ui/raidboss/timeline.ts
Labels: raidboss, raidemulator

#3640 build: add failure exit code for tsc in process-triggers
  util/process_triggers_folder.ts
Labels: util

#3644 config: add config_options file
  ui/config/config.js
  ui/config/config_options.ts
Labels: config

#3646 raidboss: fix TEA type error
  ui/raidboss/data/05-shb/ultimate/the_epic_of_alexander.ts
Labels: raidboss

#3650 raidboss: E8n--add Diamond Frost AoE warning
  ui/raidboss/data/05-shb/raid/e8n.ts
Labels: raidboss

#3651 util: re: fix d.ts files type errors
  .vscode/settings.json
  types/event.d.ts
  types/manifest.d.ts
  types/net_matches.d.ts
  types/net_trigger.d.ts
  types/oopsy.d.ts
  types/trigger.d.ts
  ui/raidboss/emulator/data/PopupTextAnalysis.ts
  ui/raidboss/emulator/overrides/RaidEmulatorPopupText.ts
  ui/raidboss/emulator/overrides/StubbedPopupText.ts
  ui/raidboss/popup-text.ts
  ui/raidboss/timeline.ts
Labels: raidboss, raidemulator

#3649 util: convert gen_pet_names to ts
  resources/pet_names.ts
  util/csv_util.ts
  util/gen_pet_names.ts
  util/index.ts
Labels: resources, util, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#3652 util: Fix encounter_tools after Typescriptification
  util/logtools/encounter_tools.ts
  util/logtools/split_log.js
Labels: util

#3654 resources: FR fixes
  resources/outputs.ts
Labels: resources, 💬fr

#3655 i18n: (raidboss) add and fix kr translations
  ui/raidboss/data/00-misc/test.ts
  ui/raidboss/data/02-arr/trial/titan-ex.ts
  ui/raidboss/data/03-hw/alliance/dun_scaith.ts
  ui/raidboss/data/03-hw/dungeon/baelsars_wall.ts
  ui/raidboss/data/03-hw/dungeon/gubal_library_hard.ts
  ui/raidboss/data/03-hw/dungeon/sohm_al_hard.ts
  ui/raidboss/data/03-hw/dungeon/xelphatol.ts
  ui/raidboss/data/03-hw/trial/sephirot-ex.ts
  ui/raidboss/data/04-sb/alliance/orbonne_monastery.ts
  ui/raidboss/data/04-sb/alliance/ridorana_lighthouse.ts
  ui/raidboss/data/04-sb/alliance/royal_city_of_rabanastre.ts
  ui/raidboss/data/04-sb/dungeon/ala_mhigo.ts
  ui/raidboss/data/04-sb/dungeon/castrum_abania.ts
  ui/raidboss/data/04-sb/dungeon/doma_castle.ts
  ui/raidboss/data/04-sb/dungeon/ghimlyt_dark.ts
  ui/raidboss/data/04-sb/dungeon/kugane_castle.ts
  ui/raidboss/data/04-sb/dungeon/shisui_of_the_violet_tides.ts
  ui/raidboss/data/04-sb/dungeon/st_mocianne_hard.ts
  ui/raidboss/data/04-sb/dungeon/temple_of_the_fist.ts
  ui/raidboss/data/04-sb/eureka/eureka_hydatos.ts
  ui/raidboss/data/04-sb/trial/byakko-ex.ts
  ui/raidboss/data/04-sb/trial/byakko.ts
  ui/raidboss/data/04-sb/trial/shinryu-ex.ts
  ui/raidboss/data/04-sb/trial/susano-ex.ts
  ui/raidboss/data/04-sb/trial/suzaku.ts
  ui/raidboss/data/04-sb/trial/tsukuyomi-ex.ts
  ui/raidboss/data/04-sb/trial/tsukuyomi.ts
  ui/raidboss/data/04-sb/ultimate/ultima_weapon_ultimate.ts
  ui/raidboss/data/05-shb/alliance/the_copied_factory.ts
  ui/raidboss/data/05-shb/dungeon/mt_gulg.ts
  ui/raidboss/data/05-shb/eureka/bozjan_southern_front.ts
  ui/raidboss/data/05-shb/eureka/delubrum_reginae.ts
  ui/raidboss/data/05-shb/eureka/delubrum_reginae_savage.ts
  ui/raidboss/data/05-shb/trial/emerald_weapon-ex.ts
  ui/raidboss/data/05-shb/trial/hades-ex.ts
  ui/raidboss/data/05-shb/trial/ruby_weapon-ex.ts
  ui/raidboss/data/05-shb/trial/titania-ex.ts
  ui/raidboss/data/05-shb/ultimate/the_epic_of_alexander.ts
Labels: raidboss, 💬ko

#3656 raidboss: trigger on gain doom, not losing doom
  ui/raidboss/data/02-arr/alliance/the_world_of_darkness.ts
Labels: raidboss

#3659 i18n: small de translation fix
  ui/raidboss/data/05-shb/eureka/zadnor.ts
Labels: raidboss, 💬de

#3643 config: convert general_config.js to ts
  ui/config/general_config.ts
Labels: config

#3645 config: change param types of getOption/setOption
  ui/config/config.js
  ui/oopsyraidsy/oopsyraidsy_config.js
  ui/raidboss/raidboss_config.js
Labels: config, oopsy, raidboss

#3647 config: convert config.js to ts
  resources/user_config.ts
  types/event.d.ts
  types/oopsy.d.ts
  types/trigger.d.ts
  ui/config/config.ts
  ui/raidboss/raidboss_config.js
  webpack/webpack.config.ts
Labels: resources, config, raidboss

#3648 config: convert oopsyraidsy_config to ts
  types/manifest.d.ts
  types/oopsy.d.ts
  ui/config/config.ts
  ui/oopsyraidsy/buff_map.ts
  ui/oopsyraidsy/damage_tracker.ts
  ui/oopsyraidsy/oopsyraidsy_config.ts
Labels: config, oopsy

#3653 config: convert raidboss_config to ts
  resources/user_config.ts
  types/oopsy.d.ts
  types/trigger.d.ts
  ui/config/config.ts
  ui/oopsyraidsy/oopsyraidsy_config.ts
  ui/raidboss/raidboss_config.ts
Labels: resources, config, oopsy, raidboss

#3660 raidboss: fix castrum bottom floor bugs
  ui/raidboss/data/05-shb/eureka/bozjan_southern_front.ts
Labels: raidboss

#3661 plugin: bump .NET to 4.8 for ffxiv act plugin alpha
  plugin/CactbotEventSource/CactbotEventSource.csproj
  plugin/CactbotOverlay/CactbotOverlay.csproj
Labels: plugin

#3662 plugin: fix plugin search finding disabled plugins
  plugin/CactbotEventSource/FateWatcher.cs
Labels: plugin

#3666 util: remove gen_pet_names.py
  util/gen_pet_names.py
Labels: util

#3667 i18n: bozja southern add short labels japanese
  ui/eureka/zone_bozja_southern.ts
Labels: eureka, 💬ja

#3668 i18n: oopsy add various missing ja translations
  ui/oopsyraidsy/data/04-sb/alliance/ridorana_lighthouse.ts
  ui/oopsyraidsy/data/04-sb/alliance/royal_city_of_rabanastre.ts
  ui/oopsyraidsy/data/05-shb/raid/e2n.ts
  ui/oopsyraidsy/data/05-shb/raid/e2s.ts
  ui/oopsyraidsy/data/05-shb/raid/e4s.ts
  ui/oopsyraidsy/data/05-shb/trial/emerald_weapon-ex.ts
  ui/oopsyraidsy/oopsy_common.ts
Labels: oopsy, 💬ja

#3669 raidboss: Missing FR strings (ARR Alliance)
  ui/raidboss/data/02-arr/alliance/the_world_of_darkness.ts
Labels: raidboss, 💬fr

#3665 util: coinach add helper function that sorts keys
  util/coinach.ts
Labels: util

#3670 util: fix type of id in PlayerChangedEvent
  types/event.d.ts
  ui/oopsyraidsy/damage_tracker.ts
  ui/raidboss/emulator/data/AnalyzedEncounter.ts
  ui/test/test.ts
Labels: oopsy, raidemulator, test

#3672 raidboss: Misc FR missing strings
  ui/oopsyraidsy/oopsy_common.ts
  ui/raidboss/data/05-shb/alliance/the_puppets_bunker.ts
  ui/raidboss/data/05-shb/alliance/the_tower_at_paradigms_breach.ts
Labels: oopsy, raidboss, 💬fr

#3674 i18n: World of Darkness missing CN translations
  ui/raidboss/data/02-arr/alliance/the_world_of_darkness.ts
  ui/raidboss/data/05-shb/trial/innocence.ts
Labels: raidboss, 💬cn

#3681 raidboss: add missing Translations fr
  ui/raidboss/data/02-arr/alliance/the_world_of_darkness.ts
  ui/raidboss/data/03-hw/dungeon/baelsars_wall.ts
Labels: raidboss, 💬fr

#3694 test: Temporarily permit old/new seal formats in timelines
  test/helper/test_timeline.js
  ui/raidboss/common_replacement.ts
Labels: raidboss, test

#3673 raidboss: Automated alpha conversion of ARR timelines
  ui/raidboss/data/02-arr/raid/t10.txt
  ui/raidboss/data/02-arr/raid/t11.txt
  ui/raidboss/data/02-arr/raid/t12.txt
  ui/raidboss/data/02-arr/raid/t13.txt
  ui/raidboss/data/02-arr/raid/t4.txt
  ui/raidboss/data/02-arr/raid/t5.txt
  ui/raidboss/data/02-arr/raid/t6.txt
  ui/raidboss/data/02-arr/raid/t7.txt
  ui/raidboss/data/02-arr/raid/t8.txt
  ui/raidboss/data/02-arr/raid/t9.txt
  ui/raidboss/data/02-arr/trial/cape_westwind.txt
  ui/raidboss/data/02-arr/trial/ifrit-nm.txt
  ui/raidboss/data/02-arr/trial/levi-ex.txt
  ui/raidboss/data/02-arr/trial/shiva-ex.txt
  ui/raidboss/data/02-arr/trial/shiva-hm.txt
  ui/raidboss/data/02-arr/trial/titan-ex.txt
  ui/raidboss/data/02-arr/trial/titan-hm.txt
  ui/raidboss/data/02-arr/trial/titan-nm.txt
Labels: raidboss

#3696 raidboss: Automated alpha conversion of HW timelines
  ui/raidboss/data/03-hw/alliance/dun_scaith.txt
  ui/raidboss/data/03-hw/alliance/weeping_city.txt
  ui/raidboss/data/03-hw/dungeon/aetherochemical_research_facility.txt
  ui/raidboss/data/03-hw/dungeon/baelsars_wall.txt
  ui/raidboss/data/03-hw/dungeon/fractal_continuum.txt
  ui/raidboss/data/03-hw/dungeon/gubal_library_hard.txt
  ui/raidboss/data/03-hw/dungeon/sohm_al.txt
  ui/raidboss/data/03-hw/dungeon/sohm_al_hard.txt
  ui/raidboss/data/03-hw/dungeon/the_vault.txt
  ui/raidboss/data/03-hw/dungeon/xelphatol.txt
  ui/raidboss/data/03-hw/raid/a10s.txt
  ui/raidboss/data/03-hw/raid/a11s.txt
  ui/raidboss/data/03-hw/raid/a12n.txt
  ui/raidboss/data/03-hw/raid/a12s.txt
  ui/raidboss/data/03-hw/raid/a1s.txt
  ui/raidboss/data/03-hw/raid/a2s.txt
  ui/raidboss/data/03-hw/raid/a3s.txt
  ui/raidboss/data/03-hw/raid/a4s.txt
  ui/raidboss/data/03-hw/raid/a5s.txt
  ui/raidboss/data/03-hw/raid/a6n.txt
  ui/raidboss/data/03-hw/raid/a6s.txt
  ui/raidboss/data/03-hw/raid/a7s.txt
  ui/raidboss/data/03-hw/raid/a8n.txt
  ui/raidboss/data/03-hw/raid/a8s.txt
  ui/raidboss/data/03-hw/raid/a9s.txt
  ui/raidboss/data/03-hw/trial/ravana-ex.txt
  ui/raidboss/data/03-hw/trial/sephirot-ex.txt
  ui/raidboss/data/03-hw/trial/sophia-ex.txt
Labels: raidboss

#3684 i18n: remove CN remote font
  resources/defaults.css
Labels: resources

#3698 raidboss: revert: add trigger for Bloody Sweep
  ui/raidboss/data/05-shb/alliance/the_tower_at_paradigms_breach.ts
Labels: raidboss

#3695 util: convert coverage to ts
  util/coverage/coverage.d.ts
  util/coverage/coverage.ts
  util/coverage/coverage_report.ts
  util/gen_coverage_report.js
  webpack/webpack.config.ts
Labels: util

#3692 raidboss: Automated alpha conversion of SB timelines
  ui/raidboss/data/04-sb/alliance/orbonne_monastery.txt
  ui/raidboss/data/04-sb/alliance/ridorana_lighthouse.txt
  ui/raidboss/data/04-sb/alliance/royal_city_of_rabanastre.txt
  ui/raidboss/data/04-sb/dungeon/ala_mhigo.txt
  ui/raidboss/data/04-sb/dungeon/bardams_mettle.txt
  ui/raidboss/data/04-sb/dungeon/castrum_abania.txt
  ui/raidboss/data/04-sb/dungeon/doma_castle.txt
  ui/raidboss/data/04-sb/dungeon/drowned_city_of_skalla.txt
  ui/raidboss/data/04-sb/dungeon/fractal_continuum_hard.txt
  ui/raidboss/data/04-sb/dungeon/ghimlyt_dark.txt
  ui/raidboss/data/04-sb/dungeon/hells_lid.txt
  ui/raidboss/data/04-sb/dungeon/kugane_castle.txt
  ui/raidboss/data/04-sb/dungeon/shisui_of_the_violet_tides.txt
  ui/raidboss/data/04-sb/dungeon/sirensong_sea.txt
  ui/raidboss/data/04-sb/dungeon/st_mocianne_hard.txt
  ui/raidboss/data/04-sb/dungeon/swallows_compass.txt
  ui/raidboss/data/04-sb/dungeon/temple_of_the_fist.txt
  ui/raidboss/data/04-sb/dungeon/the_burn.txt
  ui/raidboss/data/04-sb/eureka/eureka_hydatos.txt
  ui/raidboss/data/04-sb/raid/o10n.txt
  ui/raidboss/data/04-sb/raid/o10s.txt
  ui/raidboss/data/04-sb/raid/o11n.txt
  ui/raidboss/data/04-sb/raid/o11s.txt
  ui/raidboss/data/04-sb/raid/o12n.txt
  ui/raidboss/data/04-sb/raid/o12s.txt
  ui/raidboss/data/04-sb/raid/o1n.txt
  ui/raidboss/data/04-sb/raid/o1s.txt
  ui/raidboss/data/04-sb/raid/o2n.txt
  ui/raidboss/data/04-sb/raid/o2s.txt
  ui/raidboss/data/04-sb/raid/o3n.txt
  ui/raidboss/data/04-sb/raid/o3s.txt
  ui/raidboss/data/04-sb/raid/o4n.txt
  ui/raidboss/data/04-sb/raid/o4s.txt
  ui/raidboss/data/04-sb/raid/o5n.txt
  ui/raidboss/data/04-sb/raid/o5s.txt
  ui/raidboss/data/04-sb/raid/o6n.txt
  ui/raidboss/data/04-sb/raid/o6s.txt
  ui/raidboss/data/04-sb/raid/o7n.txt
  ui/raidboss/data/04-sb/raid/o7s.txt
  ui/raidboss/data/04-sb/raid/o8n.txt
  ui/raidboss/data/04-sb/raid/o8s.txt
  ui/raidboss/data/04-sb/raid/o9n.txt
  ui/raidboss/data/04-sb/raid/o9s.txt
  ui/raidboss/data/04-sb/trial/byakko-ex.txt
  ui/raidboss/data/04-sb/trial/byakko.txt
  ui/raidboss/data/04-sb/trial/lakshmi-ex.txt
  ui/raidboss/data/04-sb/trial/lakshmi.txt
  ui/raidboss/data/04-sb/trial/seiryu-ex.txt
  ui/raidboss/data/04-sb/trial/seiryu.txt
  ui/raidboss/data/04-sb/trial/shinryu-ex.txt
  ui/raidboss/data/04-sb/trial/shinryu.txt
  ui/raidboss/data/04-sb/trial/susano-ex.txt
  ui/raidboss/data/04-sb/trial/susano.txt
  ui/raidboss/data/04-sb/trial/suzaku-ex.txt
  ui/raidboss/data/04-sb/trial/suzaku.txt
  ui/raidboss/data/04-sb/trial/tsukuyomi-ex.txt
  ui/raidboss/data/04-sb/trial/tsukuyomi.txt
  ui/raidboss/data/04-sb/trial/yojimbo.txt
  ui/raidboss/data/04-sb/ultimate/ultima_weapon_ultimate.txt
  ui/raidboss/data/04-sb/ultimate/unending_coil_ultimate.txt
Labels: raidboss

#3685 jobs: fix create func didn't receive falsy value
  resources/resourcebar.ts
  resources/timerbar.ts
  resources/timerbox.ts
  resources/timericon.ts
  resources/widget_list.ts
Labels: resources

#3699 util: convert gen_coverage_report to ts
  ui/oopsyraidsy/oopsy_fields.ts
  util/gen_coverage_report.ts
Labels: oopsy, util

#3675 ci: bump node version to 16
  .github/workflows/build-artifact.yml
  .github/workflows/css-lint.yml
  .github/workflows/javascript-lint.yml
  .github/workflows/labels.yaml
  .github/workflows/lint-pr-title.yaml
  .github/workflows/markdown-lint.yml
  .github/workflows/post-process.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/update-gh-pages.yml
  .github/workflows/update-triggers-branch.yml
  eslint/cactbot-output-strings.js
  package-lock.json
  package.json
  tsconfig-for-webpack.json
  util/process_triggers_folder.ts
Labels: ci, util, style

#3706 i18n: added new translations
  ui/raidboss/data/02-arr/alliance/the_world_of_darkness.ts
  ui/raidboss/data/02-arr/dungeon/cutters_cry.ts
  ui/raidboss/data/05-shb/dungeon/twinning.ts
Labels: raidboss

#3704 build: fix webpack freeze in ci
  .github/workflows/build-artifact.yml
  package-lock.json
  package.json
  webpack/webpack.config.ts
Labels: ci

#3691 resources: add html lang attribute
  resources/defaults.css
  resources/languages.ts
  resources/timerbar.ts
  resources/user_config.ts
  ui/config/config.html
  ui/dps/rdmty/dps.html
  ui/dps/xephero/xephero-cactbot.html
  ui/eureka/eureka.html
  ui/fisher/fisher.html
  ui/jobs/jobs.html
  ui/jobs/jobs.ts
  ui/oopsyraidsy/oopsy_summary.html
  ui/oopsyraidsy/oopsyraidsy.html
  ui/pullcounter/pullcounter.html
  ui/radar/radar.html
  ui/raidboss/raidboss.css
  ui/raidboss/raidboss.html
  ui/raidboss/raidemulator.html
  ui/raidboss/timeline.ts
  ui/test/test.html
  ui/test/timerbar_test.html
  util/coverage/coverage.html
  util/coverage/coverage.ts
Labels: resources, config, dps, eureka, fishing🎣, jobs, oopsy, pullcounter, radar, raidboss, raidemulator, test, util, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#3705 raidboss: alpha 6.0 manual timeline fixes
  ui/raidboss/data/02-arr/raid/t7.txt
  ui/raidboss/data/02-arr/raid/t9.txt
  ui/raidboss/data/02-arr/trial/titan-nm.txt
  ui/raidboss/data/03-hw/raid/a11s.txt
  ui/raidboss/data/03-hw/raid/a3s.txt
  ui/raidboss/data/03-hw/raid/a7s.txt
  ui/raidboss/data/04-sb/alliance/ridorana_lighthouse.txt
  ui/raidboss/data/04-sb/dungeon/swallows_compass.txt
  ui/raidboss/data/04-sb/raid/o11n.txt
  ui/raidboss/data/04-sb/raid/o12n.ts
  ui/raidboss/data/04-sb/raid/o12n.txt
  ui/raidboss/data/04-sb/raid/o5s.txt
  ui/raidboss/data/04-sb/raid/o7n.txt
  ui/raidboss/data/04-sb/raid/o7s.txt
  ui/raidboss/data/04-sb/raid/o8s.txt
  ui/raidboss/data/04-sb/raid/o9n.txt
  ui/raidboss/data/04-sb/trial/seiryu-ex.txt
  ui/raidboss/data/04-sb/trial/tsukuyomi-ex.txt
  ui/raidboss/data/05-shb/alliance/the_tower_at_paradigms_breach.txt
  ui/raidboss/data/05-shb/trial/hades.txt
  ui/raidboss/data/05-shb/ultimate/the_epic_of_alexander.txt
Labels: raidboss

#3686 resources: update Regexes for ffxiv plugin alpha changes
  docs/LogGuide.md
  resources/netlog_defs.ts
  resources/netregexes.ts
  resources/regexes.ts
  test/unittests/netregex_test.js
  test/unittests/regex_test.js
  ui/raidboss/emulator/data/network_log_converter/LineEvent.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x00.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x01.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x02.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x03.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x04.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x0C.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x14.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x18.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x19.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x1A.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x1E.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x1F.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x24.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x28.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x29.ts
  ui/raidboss/emulator/data/network_log_converter/LogRepository.ts
  ui/raidboss/emulator/data/network_log_converter/ParseLine.ts
  util/gen_log_guide.ts
Labels: resources, raidemulator, test, util, docs

#3688 resources: move parsed message type into log definitions
  resources/netlog_defs.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent.ts
Labels: resources, raidemulator

#3689 resources: build Regexes with parseHelper
  docs/LogGuide.md
  resources/netlog_defs.ts
  resources/netregexes.ts
  resources/regexes.ts
Labels: resources, docs
