Repository quisquous/cactbot, pull requests merged in 2021-10, with the labels that each got.

#3484 raidboss: add ifrit dialog translations
  ui/raidboss/data/02-arr/trial/ifrit-nm.ts
  ui/raidboss/data/02-arr/trial/ifrit-nm.txt
Labels: raidboss

#3487 plugin: Fix CE Opcode region mix-up
  plugin/CactbotEventSource/FateWatcher.cs
Labels: plugin

#3488 oopsy/config: add translation fr
  ui/oopsyraidsy/oopsyraidsy_config.js
Labels: config, oopsy, 💬fr

#3469 raidboss: improve susano extreme timeline/triggers
  ui/raidboss/data/04-sb/trial/susano-ex.ts
  ui/raidboss/data/04-sb/trial/susano-ex.txt
Labels: raidboss

#3482 raidboss/oopsy: add seiryu normal
  ui/oopsyraidsy/data/04-sb/trial/seiryu.ts
  ui/oopsyraidsy/data/oopsy_manifest.txt
  ui/raidboss/data/04-sb/trial/seiryu.ts
  ui/raidboss/data/04-sb/trial/seiryu.txt
  ui/raidboss/data/raidboss_manifest.txt
Labels: oopsy, raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#3483 oopsy: add shinryu extreme
  ui/oopsyraidsy/data/04-sb/trial/shinryu-ex.ts
  ui/oopsyraidsy/data/oopsy_manifest.txt
Labels: oopsy, 💬fr, 💬cn, 💬de, 💬ja

#3481 pullcounter: add `startRegex` globalisation
  ui/pullcounter/pullcounter.ts
Labels: pullcounter, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#3478 oopsy: add tsukuyomi extreme
  ui/oopsyraidsy/data/04-sb/trial/tsukuyomi-ex.ts
  ui/oopsyraidsy/data/oopsy_manifest.txt
Labels: oopsy

#3475 raidboss: improve lakshmi extreme timeline
  ui/raidboss/data/04-sb/trial/lakshmi-ex.ts
  ui/raidboss/data/04-sb/trial/lakshmi-ex.txt
Labels: raidboss

#3444 raidboss/oopsy: add doma castle triggers and oopsy
  ui/oopsyraidsy/data/04-sb/dungeon/doma_castle.ts
  ui/oopsyraidsy/data/oopsy_manifest.txt
  ui/raidboss/data/04-sb/dungeon/doma_castle.ts
Labels: oopsy, raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#3448 oopsy: add Hell's Lid
  ui/oopsyraidsy/data/04-sb/dungeon/hells_lid.ts
  ui/oopsyraidsy/data/oopsy_manifest.txt
Labels: oopsy

#3477 oopsy: add seiryu extreme
  ui/oopsyraidsy/data/04-sb/trial/seiryu-ex.ts
  ui/oopsyraidsy/data/oopsy_manifest.txt
Labels: oopsy

#3491 i18n: new translations + cleanup
  ui/raidboss/data/04-sb/dungeon/doma_castle.ts
  ui/raidboss/data/04-sb/raid/o10n.ts
  ui/raidboss/data/04-sb/trial/lakshmi-ex.ts
  ui/raidboss/data/04-sb/trial/seiryu.ts
  ui/raidboss/data/04-sb/trial/susano-ex.ts
Labels: raidboss, 💬cn, 💬de, 💬ja

#3492 oopsy: config cn/ja
  ui/oopsyraidsy/oopsyraidsy_config.js
Labels: config, oopsy, 💬cn, 💬ja

#3468 resources: bug fix of overlay_plugin_api.ts
  resources/overlay_plugin_api.ts
Labels: resources

#3495 eureka: Fix flagRegex ignoring certain lines
  ui/eureka/eureka.ts
Labels: eureka

#3494 i18n: missing CN translations
  resources/outputs.ts
  ui/eureka/zone_bozja_southern.ts
  ui/oopsyraidsy/data/05-shb/raid/e2n.ts
  ui/oopsyraidsy/data/05-shb/raid/e2s.ts
  ui/oopsyraidsy/data/05-shb/raid/e4s.ts
  ui/raidboss/data/00-misc/test.ts
  ui/raidboss/data/03-hw/raid/a6n.ts
  ui/raidboss/data/03-hw/raid/a6s.ts
  ui/raidboss/data/03-hw/raid/a7s.ts
  ui/raidboss/data/03-hw/raid/a8s.ts
  ui/raidboss/data/04-sb/alliance/ridorana_lighthouse.ts
  ui/raidboss/data/04-sb/dungeon/doma_castle.ts
  ui/raidboss/data/04-sb/dungeon/kugane_castle.ts
  ui/raidboss/data/04-sb/dungeon/sirensong_sea.ts
  ui/raidboss/data/04-sb/raid/o10n.ts
  ui/raidboss/data/04-sb/raid/o11n.ts
  ui/raidboss/data/04-sb/raid/o12n.ts
  ui/raidboss/data/04-sb/raid/o2s.ts
  ui/raidboss/data/04-sb/raid/o3s.ts
  ui/raidboss/data/04-sb/raid/o4s.ts
  ui/raidboss/data/04-sb/raid/o6s.ts
  ui/raidboss/data/04-sb/raid/o9n.ts
  ui/raidboss/data/04-sb/trial/byakko-ex.ts
  ui/raidboss/data/04-sb/trial/lakshmi.ts
  ui/raidboss/data/04-sb/trial/seiryu.ts
  ui/raidboss/data/04-sb/trial/shinryu-ex.ts
  ui/raidboss/data/04-sb/trial/shinryu.ts
  ui/raidboss/data/04-sb/trial/susano-ex.ts
  ui/raidboss/data/04-sb/trial/suzaku.ts
  ui/raidboss/data/05-shb/alliance/the_copied_factory.ts
  ui/raidboss/data/05-shb/dungeon/malikahs_well.ts
  ui/raidboss/data/05-shb/dungeon/matoyas_relict.ts
  ui/raidboss/data/05-shb/dungeon/mt_gulg.ts
  ui/raidboss/data/05-shb/eureka/bozjan_southern_front.ts
  ui/raidboss/data/05-shb/eureka/zadnor.ts
  ui/raidboss/data/05-shb/trial/hades-ex.ts
  ui/raidboss/data/05-shb/trial/ruby_weapon-ex.ts
  ui/raidboss/data/05-shb/ultimate/the_epic_of_alexander.ts
  ui/raidboss/emulator/translations.ts
Labels: resources, eureka, oopsy, raidboss, raidemulator, 💬cn

#3451 oopsy: add fractal continuum hard
  ui/oopsyraidsy/data/04-sb/dungeon/fractal_continuum_hard.ts
  ui/oopsyraidsy/data/oopsy_manifest.txt
Labels: oopsy

#3496 plugin: cn-5.55
  plugin/CactbotEventSource/FateWatcher.cs
Labels: plugin

#3439 raidboss: improve sigmascape normal triggers
  ui/raidboss/data/04-sb/raid/o5n.ts
  ui/raidboss/data/04-sb/raid/o6n.ts
  ui/raidboss/data/04-sb/raid/o7n.ts
  ui/raidboss/data/04-sb/raid/o8n.ts
  ui/raidboss/data/04-sb/raid/o8n.txt
Labels: raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#3500 i18n: missing CN translations
  ui/eureka/zone_bozja_southern.ts
  ui/raidboss/data/03-hw/dungeon/xelphatol.ts
  ui/raidboss/data/04-sb/raid/o5n.ts
  ui/raidboss/data/04-sb/raid/o6n.ts
  ui/raidboss/data/04-sb/raid/o7n.ts
  ui/raidboss/data/04-sb/raid/o8n.ts
Labels: eureka, raidboss, 💬cn

#3502 i18n: new german translations + small zadnor fix
  ui/eureka/zone_zadnor.ts
  ui/raidboss/data/04-sb/raid/o5n.ts
  ui/raidboss/data/04-sb/raid/o6n.ts
  ui/raidboss/data/04-sb/raid/o7n.ts
  ui/raidboss/data/04-sb/raid/o8n.ts
Labels: eureka, raidboss, 💬de

#3506 i18n: add ja misc translations
  resources/outputs.ts
  ui/eureka/eureka_config.ts
  ui/raidboss/emulator/translations.ts
Labels: resources, config, eureka, raidemulator, 💬ja

#3458 oopsy: add the ghimlyt dark
  ui/oopsyraidsy/data/04-sb/dungeon/ghimlyt_dark.ts
  ui/oopsyraidsy/data/oopsy_manifest.txt
Labels: oopsy

#3459 oopsy: add lakshmi normal
  ui/oopsyraidsy/data/04-sb/trial/lakshmi.ts
  ui/oopsyraidsy/data/oopsy_manifest.txt
Labels: oopsy, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#3508 i18n: fix ja translations of "Collectors"
  ui/raidboss/emulator/translations.ts
Labels: raidemulator, 💬ja

#3509 resources: add global override for custom elements
  resources/resourcebar.ts
  resources/timerbox.ts
  resources/widget_list.ts
Labels: resources

#3489 oopsy: improve uwu
  ui/oopsyraidsy/data/04-sb/ultimate/ultima_weapon_ultimate.ts
Labels: oopsy

#3514 oopsy: add `(share)` suffix on shareWarn/shareFail
  ui/oopsyraidsy/damage_tracker.ts
Labels: oopsy, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#3589 raidboss: Adds translations missing and corrections fr
  ui/raidboss/raidboss_config.js
Labels: config, raidboss, 💬fr

#3592 raidboss: add 00-misc/test.ts ja translations
  ui/raidboss/data/00-misc/test.ts
Labels: raidboss, 💬ja

#3575 docs: LogGuide.md add header localisation
  docs/LogGuide.md
  util/gen_log_guide.ts
Labels: util, docs

#3585 raidboss: improve shinryu extreme timeline
  ui/raidboss/data/04-sb/trial/shinryu-ex.ts
  ui/raidboss/data/04-sb/trial/shinryu-ex.txt
Labels: raidboss

#3594 i18n: update shinryu-ex cn
  ui/oopsyraidsy/death_report.ts
  ui/raidboss/data/04-sb/trial/shinryu-ex.ts
Labels: oopsy, raidboss, 💬cn

#3593 resources: revert resources/util.ts default export
  resources/party.ts
  resources/player_override.ts
  resources/user_config.ts
  resources/util.ts
  test/unittests/util_test.js
  ui/dps/dps_common.js
  ui/jobs/jobs.ts
  ui/jobs/utils.ts
  ui/oopsyraidsy/damage_tracker.ts
  ui/raidboss/data/00-misc/test.ts
  ui/raidboss/data/02-arr/raid/t11.ts
  ui/raidboss/data/02-arr/raid/t5.ts
  ui/raidboss/data/02-arr/raid/t6.ts
  ui/raidboss/data/02-arr/raid/t7.ts
  ui/raidboss/data/02-arr/raid/t9.ts
  ui/raidboss/data/02-arr/trial/levi-ex.ts
  ui/raidboss/data/04-sb/ultimate/unending_coil_ultimate.ts
  ui/raidboss/data/05-shb/raid/e10s.ts
  ui/raidboss/data/05-shb/trial/levi-un.ts
  ui/raidboss/emulator/data/AnalyzedEncounter.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x03.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x26.ts
  ui/raidboss/emulator/ui/EmulatedPartyInfo.ts
  ui/raidboss/popup-text.ts
Labels: resources, dps, jobs, oopsy, raidboss, raidemulator, test

#3596 i18n: added missing translations (mostly DE)
  ui/oopsyraidsy/data/05-shb/trial/emerald_weapon-ex.ts
  ui/oopsyraidsy/death_report.ts
  ui/oopsyraidsy/oopsyraidsy_config.js
  ui/raidboss/data/03-hw/dungeon/baelsars_wall.ts
  ui/raidboss/data/04-sb/trial/shinryu-ex.ts
  ui/raidboss/data/05-shb/alliance/the_puppets_bunker.ts
  ui/raidboss/data/05-shb/raid/e12s.ts
Labels: config, oopsy, raidboss, 💬de

#3601 resources: Revert #3465 change export type util.ts
  resources/party.ts
  resources/player_override.ts
  resources/user_config.ts
  resources/util.ts
  test/unittests/util_test.js
  ui/dps/dps_common.js
  ui/jobs/jobs.ts
  ui/jobs/utils.ts
  ui/oopsyraidsy/damage_tracker.ts
  ui/raidboss/data/00-misc/test.ts
  ui/raidboss/data/02-arr/raid/t11.ts
  ui/raidboss/data/02-arr/raid/t5.ts
  ui/raidboss/data/02-arr/raid/t6.ts
  ui/raidboss/data/02-arr/raid/t7.ts
  ui/raidboss/data/02-arr/raid/t9.ts
  ui/raidboss/data/02-arr/trial/levi-ex.ts
  ui/raidboss/data/04-sb/ultimate/unending_coil_ultimate.ts
  ui/raidboss/data/05-shb/raid/e10s.ts
  ui/raidboss/data/05-shb/trial/levi-un.ts
  ui/raidboss/emulator/data/AnalyzedEncounter.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x03.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x26.ts
  ui/raidboss/emulator/ui/EmulatedPartyInfo.ts
  ui/raidboss/popup-text.ts
  ui/raidboss/raidboss_config.js
Labels: resources, config, dps, jobs, oopsy, raidboss, raidemulator, test

#3603 i18n: add korean translations (oopsy, raidboss)
  ui/oopsyraidsy/death_report.ts
  ui/oopsyraidsy/oopsyraidsy_config.js
  ui/raidboss/data/05-shb/alliance/the_puppets_bunker.ts
  ui/raidboss/data/05-shb/alliance/the_tower_at_paradigms_breach.ts
  ui/raidboss/data/05-shb/raid/e12s.ts
Labels: config, oopsy, raidboss, 💬ko

#3597 oopsy: cancel queue when closing death report
  ui/oopsyraidsy/oopsy_live_list.ts
Labels: oopsy

#3595 raidboss: add triggers for Meng-Zi/Xun-Zi Deploy Armaments
  ui/raidboss/data/05-shb/alliance/the_tower_at_paradigms_breach.ts
Labels: raidboss
