Repository quisquous/cactbot, pull requests merged in 2022-09, with the labels that each got.

#4760 i18n: small p5s addition
  ui/raidboss/data/06-ew/raid/p5s.ts
Labels: raidboss, 💬de

#4753 raidboss: p5s raging claw move use 7710
  ui/raidboss/data/06-ew/raid/p5s.ts
Labels: raidboss

#4754 raidboss: p5s callout for venom pool crystals
  ui/raidboss/data/06-ew/raid/p5s.ts
Labels: raidboss

#4762 plugin: update bozja intl opcode for v6.2h
  plugin/CactbotEventSource/FateWatcher.cs
Labels: plugin

#4756 raidboss: p6s Pathogenic Cells headmarkers
  ui/raidboss/data/06-ew/raid/p6s.ts
Labels: raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#4757 raidboss: P5S Add Searing Ray/Raging Claw Callouts
  ui/raidboss/data/06-ew/raid/p5s.ts
Labels: raidboss

#4761 i18n: FR p5s Raging Tail/Raging Claw Callout
  ui/raidboss/data/06-ew/raid/p5s.ts
Labels: raidboss, 💬fr

#4750 raidboss: p5s add searing ray to timeline
  ui/raidboss/data/06-ew/raid/p5s.ts
  ui/raidboss/data/06-ew/raid/p5s.txt
Labels: raidboss

#4751 raidboss: p5s add targetable/untargetable lines
  ui/raidboss/data/06-ew/raid/p5s.txt
Labels: raidboss

#4752 raidboss: p5s add Ruby Glow aoe callout
  ui/raidboss/data/06-ew/raid/p5s.ts
Labels: raidboss

#4758 raidboss: p6s Exchange of Agonies headmarkers
  ui/raidboss/data/06-ew/raid/p6s.ts
Labels: raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#4759 raidboss: P6s initial timeline
  ui/raidboss/data/06-ew/raid/p6s.ts
  ui/raidboss/data/06-ew/raid/p6s.txt
Labels: raidboss

#4744 raidboss: P5S Topaz Rays Callouts
  ui/raidboss/data/06-ew/raid/p5s.ts
Labels: raidboss

#4763 raidboss/oopsy: p7s initial timeline, tankbuster triggers
  ui/oopsyraidsy/data/06-ew/raid/p7s.ts
  ui/raidboss/data/06-ew/raid/p7s.ts
  ui/raidboss/data/06-ew/raid/p7s.txt
Labels: oopsy, raidboss

#4765 raidboss: Fix P5S Topaz Cluster Overrides
  ui/raidboss/data/06-ew/raid/p5s.ts
Labels: raidboss

#4767 i18n: More savage FR translations
  ui/raidboss/data/06-ew/raid/p5s.ts
  ui/raidboss/data/06-ew/raid/p6s.ts
Labels: raidboss, 💬fr

#4768 raidboss: p6s timeline pathogenic cells counts
  ui/raidboss/data/06-ew/raid/p6s.txt
Labels: raidboss

#4771 raidboss: p6 fix Unholy Darkness spellid
  ui/raidboss/data/06-ew/raid/p6s.txt
Labels: raidboss

#4766 raidboss: p7s inviolate bonds, inviolate purgation
  ui/raidboss/data/06-ew/raid/p7s.ts
Labels: raidboss

#4775 i18n: savage translations
  ui/raidboss/data/06-ew/raid/p5s.ts
  ui/raidboss/data/06-ew/raid/p6s.ts
  ui/raidboss/data/06-ew/raid/p7s.ts
Labels: raidboss, 💬de

#4773 raidboss: P7S knockback triggers
  ui/raidboss/data/06-ew/raid/p7s.ts
Labels: raidboss

#4774 raidboss: initial P8S triggers
  ui/raidboss/data/06-ew/raid/p8s.ts
Labels: raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#4770 raidboss: p6s Exocleaver Move + Healer Groups
  ui/raidboss/data/06-ew/raid/p6s.ts
Labels: raidboss

#4772 raidboss: p6s predation bait triggers
  ui/raidboss/data/06-ew/raid/p6s.ts
Labels: raidboss

#4777 i18n: more savage translations
  ui/raidboss/data/06-ew/raid/p6s.ts
  ui/raidboss/data/06-ew/raid/p8s.ts
Labels: raidboss, 💬de

#4782 i18n: ko p5~6 update
  ui/raidboss/data/06-ew/raid/p5n.ts
  ui/raidboss/data/06-ew/raid/p5s.ts
  ui/raidboss/data/06-ew/raid/p6s.ts
Labels: raidboss, 💬ko, 💬de

#4778 raidboss: Add P6S Exchange Comments
  ui/raidboss/data/06-ew/raid/p6s.ts
Labels: raidboss

#4780 raidboss: p7s Bough of Attis (arrows) callout
  ui/raidboss/data/06-ew/raid/p7s.ts
Labels: raidboss

#4783 raidboss: p7s Hemitheos's Holy III Healer Groups
  ui/raidboss/data/06-ew/raid/p7s.ts
Labels: raidboss

#4785 raidboss: p7s add Light of Life bigAoe
  ui/raidboss/data/06-ew/raid/p7s.ts
Labels: raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#4787 raidboss: more p8s triggers
  ui/raidboss/data/06-ew/raid/p8s.ts
Labels: raidboss

#4788 raidboss: P8N initial vent
  ui/raidboss/data/06-ew/raid/p8n.ts
Labels: raidboss

#4786 raidboss: p7s timeline fix comment Birds => Bulls
  ui/raidboss/data/06-ew/raid/p7s.txt
Labels: raidboss

#4790 raidboss: add p8s timeline
  ui/raidboss/data/06-ew/raid/p8s.ts
  ui/raidboss/data/06-ew/raid/p8s.txt
Labels: raidboss

#4795 i18n: p6s & p7s FR translations
  ui/raidboss/data/06-ew/raid/p6s.ts
  ui/raidboss/data/06-ew/raid/p7s.ts
Labels: raidboss, 💬fr

#4796 i18n: severall missing 6.2 translations
  ui/raidboss/data/06-ew/raid/p5s.ts
  ui/raidboss/data/06-ew/raid/p6s.ts
  ui/raidboss/data/06-ew/raid/p7s.ts
  ui/raidboss/data/06-ew/raid/p8n.ts
  ui/raidboss/data/06-ew/raid/p8s.ts
Labels: raidboss, 💬de

#4797 i18n: add missing Japanese translations (煉獄編)
  ui/raidboss/data/06-ew/raid/p5n.ts
  ui/raidboss/data/06-ew/raid/p5s.ts
  ui/raidboss/data/06-ew/raid/p6n.ts
  ui/raidboss/data/06-ew/raid/p6s.ts
  ui/raidboss/data/06-ew/raid/p7n.ts
  ui/raidboss/data/06-ew/raid/p7s.ts
  ui/raidboss/data/06-ew/raid/p8n.ts
  ui/raidboss/data/06-ew/raid/p8s.ts
Labels: raidboss, 💬ja

#4798 i18n: p7s,p8s ko translate
  ui/raidboss/data/06-ew/raid/p7s.ts
  ui/raidboss/data/06-ew/raid/p8s.ts
Labels: raidboss, 💬ko

#4799 i18n: p6s cn translate
  ui/raidboss/data/06-ew/raid/p6s.ts
Labels: raidboss, 💬cn

#4784 raidboss: p7s Inviolate Bonds/Purgation Reminders
  ui/raidboss/data/06-ew/raid/p7s.ts
Labels: raidboss

#4781 raidboss: p7s Roots of Attis Triggers
  ui/raidboss/data/06-ew/raid/p7s.ts
Labels: raidboss

#4779 raidboss: p7s Forbidden Fruit 4 and Harvest Tethers
  ui/raidboss/data/06-ew/raid/p7s.ts
Labels: raidboss

#4800 i18n: missing p7s and p8s translations
  ui/raidboss/data/06-ew/raid/p7s.ts
  ui/raidboss/data/06-ew/raid/p8s.ts
Labels: raidboss, 💬de

#4801 i18n: update p7s~p8s ko translate
  ui/raidboss/data/05-shb/trial/hades-ex.ts
  ui/raidboss/data/06-ew/dungeon/the_fell_court_of_troia.ts
  ui/raidboss/data/06-ew/raid/p7s.ts
  ui/raidboss/data/06-ew/raid/p8n.ts
  ui/raidboss/data/06-ew/raid/p8s.ts
Labels: raidboss, 💬ko

#4804 i18n: add missing 6.2 Japanese translations
  ui/raidboss/data/06-ew/dungeon/the_fell_court_of_troia.ts
  ui/raidboss/data/06-ew/raid/p5s.ts
  ui/raidboss/data/06-ew/raid/p6n.ts
  ui/raidboss/data/06-ew/raid/p6s.ts
  ui/raidboss/data/06-ew/raid/p7n.ts
  ui/raidboss/data/06-ew/raid/p7s.ts
  ui/raidboss/data/06-ew/raid/p8n.ts
  ui/raidboss/data/06-ew/raid/p8s.ts
Labels: raidboss, 💬ja

#4807 i18n: p6s p7s more FR translations
  ui/raidboss/data/06-ew/raid/p6s.ts
  ui/raidboss/data/06-ew/raid/p7s.ts
Labels: raidboss, 💬fr

#4802 raidboss: p5s devour timeline cleanup
  ui/raidboss/data/06-ew/raid/p5s.txt
Labels: raidboss

#4808 raidboss: p8s potential bird fix
  ui/raidboss/data/06-ew/raid/p8s.ts
Labels: raidboss

#4793 raidboss: p7s Egg Tracking + Forbidden Fruits 1,4,6-10
  ui/raidboss/data/06-ew/raid/p7s.ts
Labels: raidboss

#4806 raidboss: add more p8s triggers
  ui/raidboss/data/06-ew/raid/p8s.ts
  ui/raidboss/data/06-ew/raid/p8s.txt
Labels: raidboss

#4809 docs: update README for new OverlayPlugin
  README.md
Labels: docs

#4810 docs: update CN README for new OverlayPlugin
  docs/zh-CN/README.md
Labels: docs, 💬cn

#4815 docs: update Ko README for new OverlayPlugin
  docs/ko-KR/README.md
Labels: 💬ko, docs

#4816 raidboss: changed Barb's Void Aero III to shared tankbuster
  ui/raidboss/data/06-ew/trial/barbariccia.ts
Labels: raidboss

#4813 i18n: Corrected one p6s machanic CN translation.
  ui/raidboss/data/06-ew/raid/p6s.ts
Labels: raidboss, 💬cn

#4818 i18n: update ko p7s, p8s translate
  ui/raidboss/data/06-ew/raid/p7s.ts
  ui/raidboss/data/06-ew/raid/p8s.ts
Labels: raidboss, 💬ko

#4817 raidboss: add p8s orogenic deformation trigger
  ui/raidboss/data/06-ew/raid/p8s.ts
Labels: raidboss

#4819 raidboss: p8s north/south bird fix attempt 2
  ui/raidboss/data/06-ew/raid/p8s.ts
Labels: raidboss

#4825 raidboss: Fix P6s Cachexia 1 timeline
  ui/raidboss/data/06-ew/raid/p6s.txt
Labels: raidboss

#4824 raidboss: p8s add hints about which tower to take
  ui/raidboss/data/06-ew/raid/p8s.ts
Labels: raidboss

#4823 raidboss: p8s fix NA1 bait and spread text
  ui/raidboss/data/06-ew/raid/p8s.ts
Labels: raidboss

#4826 i18n: More p6s CN translations
  ui/raidboss/data/06-ew/raid/p6s.ts
Labels: raidboss, 💬cn

#4827 raidboss: p8s call out Gorgon spawn locations
  ui/raidboss/data/06-ew/raid/p8s.ts
Labels: raidboss

#4831 i18n: P8S more Japanese translations
  ui/raidboss/data/06-ew/raid/p8s.ts
Labels: raidboss, 💬ja

#4832 plugin: update bozja intl opcode for v6.21
  plugin/CactbotEventSource/FateWatcher.cs
Labels: plugin

#4829 raidboss: p8s add End of Days first/second row
  ui/raidboss/data/06-ew/raid/p8s.ts
Labels: raidboss

#4834 i18n: more DE savage translations
  ui/raidboss/data/06-ew/raid/p7s.ts
  ui/raidboss/data/06-ew/raid/p8s.ts
Labels: raidboss, 💬de

#4836 raidboss: p8s temporarily disable crush/impact direction
  ui/raidboss/data/06-ew/raid/p8s.ts
Labels: raidboss

#4805 config: New skin for timeline and alert text
  resources/timerbar.ts
  ui/raidboss/raidboss_config.ts
  ui/raidboss/skins/jwidea/jwidea.css
Labels: resources, config, raidboss

#4837 raidboss: p8s fix initial impact/crush
  ui/raidboss/data/06-ew/raid/p8s.ts
Labels: raidboss

#4838 raidboss: shorten P6S Pathogenic Cells Counter duration
  ui/raidboss/data/06-ew/raid/p6s.ts
Labels: raidboss

#4840 i18n: update p8s ko translate
  ui/raidboss/data/03-hw/dungeon/the_lost_city_of_amdapor_hard.ts
  ui/raidboss/data/06-ew/raid/p8s.ts
Labels: raidboss, 💬ko, 💬ja

#4844 oopsy: add more DSR exaflare ability ids
  ui/oopsyraidsy/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: oopsy

#4843 raidboss: Allow Skins to Override Timerbar Elements
  resources/timerbar.ts
  ui/raidboss/skins/jwidea/jwidea.css
  ui/raidboss/skins/lippe/lippe.css
Labels: resources, raidboss

#4846 raidboss: p8s Quadrupedal Impact/Crush fix 2
  ui/raidboss/data/06-ew/raid/p8s.ts
Labels: raidboss

#4842 i18n: p7s & p8s FR translations
  ui/raidboss/data/06-ew/raid/p7s.ts
  ui/raidboss/data/06-ew/raid/p8s.ts
Labels: raidboss, 💬fr, 💬ja

#4847 resources: add source to netlog_defs.ts
  resources/netlog_defs.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent.ts
Labels: resources, raidemulator

#4850 raidboss: fix p8s flameviper/tetraflare combo trigger
  ui/raidboss/data/06-ew/raid/p8s.ts
Labels: raidboss

#4851 resources: build NetRegexes from helper in most cases
  resources/netregexes.ts
Labels: resources

#4854 i18n: add P8S Japanese translations
  ui/raidboss/data/06-ew/raid/p8s.ts
Labels: raidboss, 💬ja

#4853 raidboss: make P7S inviolate purgation not use roles
  ui/raidboss/data/06-ew/raid/p7s.ts
Labels: raidboss

#4845 oopsy: add more Abyssos savage
  ui/oopsyraidsy/damage_tracker.ts
  ui/oopsyraidsy/data/06-ew/raid/p5s.ts
  ui/oopsyraidsy/data/06-ew/raid/p6s.ts
  ui/oopsyraidsy/data/06-ew/raid/p7s.ts
  ui/oopsyraidsy/data/06-ew/raid/p8s.ts
  ui/oopsyraidsy/oopsy_common.ts
Labels: oopsy, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#4841 raidboss: p8s Limitless Desolation Callouts
  ui/raidboss/data/06-ew/raid/p8s.ts
Labels: raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#4821 raidboss: p8s Blazing Footfalls directions
  ui/raidboss/data/06-ew/raid/p8s.ts
Labels: raidboss

#4855 raidboss: add s-rank hunts
  resources/outputs.ts
  resources/responses.ts
  ui/raidboss/data/06-ew/hunts/elpis.ts
  ui/raidboss/data/06-ew/hunts/mare_lamentorum.ts
  ui/raidboss/data/06-ew/hunts/ss_rank.ts
  ui/raidboss/data/06-ew/hunts/thavnair.ts
  ui/raidboss/data/06-ew/hunts/ultima_thule.ts
  ui/raidboss/data/raidboss_manifest.txt
  ui/raidboss/popup-text.ts
Labels: resources, raidboss

#4862 raidboss: fix skin colors not working properly
  ui/raidboss/skins/jwidea/jwidea.css
  ui/raidboss/skins/lippe/lippe.css
Labels: raidboss

#4866 i18n: add missing DE translations
  ui/oopsyraidsy/data/06-ew/raid/p8s.ts
  ui/raidboss/data/06-ew/hunts/elpis.ts
  ui/raidboss/data/06-ew/hunts/mare_lamentorum.ts
  ui/raidboss/data/06-ew/hunts/ss_rank.ts
  ui/raidboss/data/06-ew/hunts/thavnair.ts
  ui/raidboss/data/06-ew/raid/p8s.ts
Labels: oopsy, raidboss, 💬de

#4863 plugin: update ninja job gauge for 6.2
  plugin/CactbotEventSource/FFXIVProcessIntl.cs
Labels: plugin

#4864 raidboss: Allow Skins to Use CSS Background
  resources/timerbar.ts
  ui/raidboss/raidboss.css
  ui/raidboss/timeline.ts
Labels: resources, raidboss

#4867 i18n: p8s FR update
  ui/oopsyraidsy/data/06-ew/raid/p8s.ts
  ui/raidboss/data/06-ew/raid/p8s.ts
Labels: oopsy, raidboss, 💬fr

#4869 i18n: update ko translations
  resources/outputs.ts
  ui/oopsyraidsy/data/06-ew/raid/p8s.ts
  ui/raidboss/data/06-ew/hunts/elpis.ts
  ui/raidboss/data/06-ew/hunts/mare_lamentorum.ts
  ui/raidboss/data/06-ew/hunts/thavnair.ts
  ui/raidboss/data/06-ew/raid/p8s.ts
Labels: resources, oopsy, raidboss, 💬ko

#4870 raidboss: Fix Skins CSS for OVERLAY_WS
  resources/user_config.ts
Labels: resources

#4875 build: stabilize emulator service worker's output filename
  ui/raidboss/raidemulator.ts
Labels: raidemulator

#4877 i18n: Added most CN translations for p8s door boss
  ui/raidboss/data/06-ew/raid/p8s.ts
Labels: raidboss, 💬cn

#4881 raidboss: fix abilityID typo for P8N: Genesis of Flame
  ui/raidboss/data/06-ew/raid/p8n.ts
Labels: raidboss

#4884 raidboss: Ensuring timelines have a non-chatlog initial sync
  ui/raidboss/data/06-ew/dungeon/alzadaals_legacy.txt
  ui/raidboss/data/06-ew/raid/p5n.txt
  ui/raidboss/data/06-ew/raid/p7n.txt
  ui/raidboss/data/06-ew/trial/barbariccia.txt
Labels: raidboss

#4888 raidboss: add o8s Ultima/Ultima Upsurge aoe callouts
  ui/raidboss/data/04-sb/raid/o8s.ts
Labels: raidboss

#4883 ci: upgrade actions checkout to v3
  .github/workflows/build-artifact.yml
  .github/workflows/css-lint.yml
  .github/workflows/javascript-lint.yml
  .github/workflows/labels.yaml
  .github/workflows/lint-pr-title.yaml
  .github/workflows/markdown-lint.yml
  .github/workflows/post-process.yml
  .github/workflows/python-lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/update-gh-pages.yml
  .github/workflows/update-triggers-branch.yml
Labels: ci

#4891 raidboss: fix Thavnair/Mare Lamentorium hunt triggers
  ui/raidboss/popup-text.ts
Labels: raidboss

#4892 ci: simplify config
  .github/actions/setup-js-env/action.yml
  .github/workflows/build-artifact.yml
  .github/workflows/css-lint.yml
  .github/workflows/javascript-lint.yml
  .github/workflows/labels.yaml
  .github/workflows/lint-pr-title.yaml
  .github/workflows/markdown-lint.yml
  .github/workflows/post-process.yml
  .github/workflows/python-lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/update-gh-pages.yml
  .github/workflows/update-triggers-branch.yml
Labels: ci

#4894 i18n: added 6.1 KO content translations
  ui/raidboss/data/06-ew/alliance/aglaia.ts
  ui/raidboss/data/06-ew/dungeon/alzadaals_legacy.ts
  ui/raidboss/data/06-ew/trial/endsinger-ex.ts
Labels: raidboss

#4895 resources: update for ko 6.1
  resources/pet_names.ts
  resources/zone_info.ts
  ui/fisher/static-data.ts
Labels: resources, fishing🎣, 💬ko

#4896 i18n: add 6.1 ko translations
  ui/raidboss/data/06-ew/alliance/aglaia.ts
  ui/raidboss/data/06-ew/dungeon/alzadaals_legacy.ts
  ui/raidboss/data/06-ew/dungeon/alzadaals_legacy.txt
  ui/raidboss/data/06-ew/trial/endsinger-ex.ts
Labels: raidboss

#4897 build: revert setup-msbuild version change
  .github/workflows/release.yml
Labels: ci
