Repository quisquous/cactbot, pull requests merged in 2022-07, with the labels that each got.

#4623 raidboss: DSR fix opposite order wyrmsbreath
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss

#4622 raidboss: update DSR Spreading/Entangled Flame
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss, 💬ko

#4625 resources: remove unnecessary non-capture group
  docs/LogGuide.md
  resources/regexes.ts
  ui/raidboss/common_replacement.ts
Labels: resources, raidboss, docs

#4626 i18n: ko DSR update & small p4s fix
  ui/raidboss/data/06-ew/raid/p4s.ts
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss, 💬ko

#4628 docs: en, ko jobs table update
  README.md
  docs/ko-KR/README.md
  resources/ffxiv/jobs/rpr-large.png
  resources/ffxiv/jobs/sge-large.png
Labels: resources, 💬ko, docs

#4629 plugin: update bozja intl opcode for 6.18
  plugin/CactbotEventSource/FateWatcher.cs
Labels: plugin

#4632 i18n: fix CN translations
  ui/eureka/zone_bozja_southern.ts
Labels: eureka, 💬cn

#4635 oopsy: DSR add conditions to cauterize damage
  ui/oopsyraidsy/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: oopsy

#4639 i18n: CN missing translations
  ui/oopsyraidsy/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
  ui/oopsyraidsy/oopsy_viewer.ts
  ui/raidboss/data/03-hw/raid/a3n.ts
Labels: oopsy, raidboss, 💬cn

#4633 raidboss: fix zodiark ex tankbuster id
  ui/raidboss/data/06-ew/trial/zodiark-ex.ts
Labels: raidboss

#4634 oopsy: DSR fix dark orb id
  ui/oopsyraidsy/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: oopsy

#4636 raidboss: DSR fix Ser Charibert Brightwing counter
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss

#4641 i18n: fix a mistake in cn
  ui/raidboss/data/05-shb/eureka/bozjan_southern_front.ts
Labels: raidboss, 💬cn

#4642 plugin: update bozja ko opcode for 6.05h
  plugin/CactbotEventSource/FateWatcher.cs
Labels: plugin

#4645 i18n: update ko translations
  ui/oopsyraidsy/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
  ui/oopsyraidsy/oopsy_viewer.ts
  ui/raidboss/data/03-hw/raid/a3n.ts
  ui/raidboss/data/06-ew/raid/p1n.ts
Labels: oopsy, raidboss, 💬ko

#4612 raidemulator: Change emulator display to hide pre-pull time
  ui/raidboss/emulator/data/AnalyzedEncounter.ts
  ui/raidboss/emulator/translations.ts
  ui/raidboss/emulator/ui/EmulatedPartyInfo.ts
  ui/raidboss/emulator/ui/EncounterTab.ts
  ui/raidboss/emulator/ui/ProgressBar.ts
  ui/raidboss/raidemulator.html
Labels: raidemulator

#4646 i18n: fix minor ja translation
  ui/raidboss/data/05-shb/eureka/bozjan_southern_front.ts
Labels: raidboss, 💬ja

#4657 util: Fix phase timing error in make_timeline.ts
  util/logtools/make_timeline.ts
Labels: util

#4649 oopsy: Sephirot EX
  ui/oopsyraidsy/data/03-hw/trial/sephirot-ex.ts
  ui/oopsyraidsy/data/oopsy_manifest.txt
Labels: oopsy, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#4655 oopsy: add Lost City of Amdapor Hard
  ui/oopsyraidsy/data/03-hw/dungeon/the_lost_city_of_amdapor_hard.ts
  ui/oopsyraidsy/data/oopsy_manifest.txt
Labels: oopsy

#4652 oopsy: DSR more p7
  ui/oopsyraidsy/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: oopsy

#4653 raidboss: DSR only show p7 provoke if tank
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss

#4656 raidboss: add Lost City of Amdapor Hard
  ui/raidboss/data/03-hw/dungeon/the_lost_city_of_amdapor_hard.ts
  ui/raidboss/data/03-hw/dungeon/the_lost_city_of_amdapor_hard.txt
  ui/raidboss/data/raidboss_manifest.txt
Labels: raidboss

#4584 util: add a log splitting web page
  resources/languages.ts
  ui/raidboss/raidemulator.ts
  util/logtools/split_log.ts
  util/logtools/splitter.css
  util/logtools/splitter.html
  util/logtools/splitter.ts
  util/logtools/web_splitter.ts
  webpack/constants.ts
  webpack/webpack.config.ts
Labels: resources, raidemulator, util

#4661 raidboss: fix some ew hunts triggers
  ui/raidboss/data/06-ew/hunts/thavnair.ts
  ui/raidboss/data/06-ew/hunts/ultima_thule.ts
Labels: raidboss
