Repository quisquous/cactbot, pull requests merged in 2022-05, with the labels that each got.

#4365 i18n: misc CN translations
  ui/raidboss/data/02-arr/dungeon/aurum_vale.ts
  ui/raidboss/data/02-arr/dungeon/the_sunken_temple_of_quarn.ts
  ui/raidboss/data/03-hw/trial/sephirot-ex.ts
  ui/raidboss/data/06-ew/raid/p4s.ts
Labels: raidboss, 💬cn

#4369 i18n: small translation fixes
  ui/raidboss/data/04-sb/dungeon/st_mocianne_hard.ts
  ui/raidboss/data/06-ew/alliance/aglaia.ts
Labels: raidboss, 💬de

#4370 oopsy: update DSR through Nidhogg
  ui/oopsyraidsy/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: oopsy

#4366 raidboss: DSR timeline through Nidhogg
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.txt
Labels: raidboss

#4371 raidboss: note more headmarker ids for DSR
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss

#4362 raidboss: DSR Strength and Sanctity additional triggers
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#4374 raidboss: fix DSR Adelphel Charge Start Direction
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss

#4372 i18n: new DSR translations
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#4380 test: Tweaks for missing timelineFile
  test/helper/test_trigger.ts
  util/gen_coverage_report.ts
Labels: test, util

#4376 raidboss: Fix Adelphel KB direction, add move callout
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss, 💬ko, 💬cn, 💬de

#4377 raidemulator: Clean up TODO in RaidEmulatorOverlayApiHook
  ui/raidboss/emulator/data/Combatant.ts
  ui/raidboss/emulator/data/CombatantState.ts
  ui/raidboss/emulator/data/CombatantTracker.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent.ts
  ui/raidboss/emulator/overrides/RaidEmulatorOverlayApiHook.ts
Labels: raidemulator

#4373 i18n: ko DSR translations
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss, 💬ko

#4381 raidboss: improve DSR phase 1 timeline
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.txt
Labels: raidboss

#4378 raidemulator: Fix NaNs and extra states
  ui/raidboss/emulator/data/CombatantTracker.ts
Labels: raidemulator

#4383 raidboss: fix Thordan knockback call
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss

#4385 raidboss: add DSR gnash and lash
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss

#4379 plugin: OverlayPlugin-related cleanup
  plugin/CactbotEventSource/CactbotEventSource.cs
  plugin/CactbotEventSource/CactbotEventSource.csproj
  plugin/CactbotEventSource/CactbotEventSourceConfig.cs
  plugin/CactbotEventSource/FFXIVPlugin.cs
  plugin/CactbotEventSource/FFXIVProcess.cs
  plugin/CactbotEventSource/FFXIVProcessCn.cs
  plugin/CactbotEventSource/FFXIVProcessIntl.cs
  plugin/CactbotEventSource/FFXIVProcessKo.cs
  plugin/CactbotEventSource/FateWatcher.cs
  plugin/CactbotEventSource/VersionChecker.cs
  plugin/CactbotOverlay/CactbotOverlay.csproj
  plugin/CactbotOverlay/OverlayAddonMain.cs
  plugin/CactbotOverlay/PluginLoader.cs
Labels: plugin

#4382 raidboss: Add support for optional netlog fields
  resources/netlog_defs.ts
  resources/netregexes.ts
  resources/regexes.ts
Labels: resources

#4335 util: Argparse separation updates
  util/logtools/arg_parser.ts
  util/logtools/split_log.js
Labels: util

#4338 build: update python formatter and linter
  requirements.txt
  util/coinach.py
  util/encounter_tools.py
  util/gen_fisher_data.py
  util/make_timeline.py
  util/test_timeline.py
  util/translate_fight.py
Labels: util

#4384 build: Update typescript to latest version (4.6.4)
  package-lock.json
  package.json
  test/helper/test_trigger.ts
Labels: test

#4388 raidboss: DSR--Phase 1 targetable window addition
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.txt
Labels: raidboss

#4387 build: Update stylelint and stylelint-config-standard
  package-lock.json
  package.json
  resources/defaults.css
  resources/user_config.ts
  ui/config/config.css
  ui/eureka/eureka.css
  ui/fisher/fisher.css
  ui/jobs/components/ast.ts
  ui/jobs/components/mnk.ts
  ui/jobs/jobs.css
  ui/oopsyraidsy/oopsy_common.css
  ui/oopsyraidsy/oopsy_live.css
  ui/oopsyraidsy/oopsy_summary.css
  ui/pullcounter/pullcounter.css
  ui/radar/radar.css
  ui/raidboss/emulator/translations.ts
  ui/raidboss/emulator/ui/EmulatedPartyInfo.ts
  ui/raidboss/emulator/ui/EncounterTab.ts
  ui/raidboss/emulator/ui/ProgressBar.ts
  ui/raidboss/raidboss.css
  ui/raidboss/raidemulator.css
  ui/raidboss/raidemulator.html
  ui/raidboss/raidemulator.ts
Labels: resources, config, eureka, fishing🎣, jobs, oopsy, pullcounter, radar, raidboss, raidemulator, 💬fr, 💬cn, 💬de, 💬ja

#4393 i18n: FR missing translations Alzadaals legacy & Ultima ex
  ui/raidboss/data/02-arr/trial/ultima-ex.ts
  ui/raidboss/data/06-ew/dungeon/alzadaals_legacy.ts
Labels: raidboss, 💬fr

#4394 i18n: arr, hw, ew ko translations
  ui/raidboss/data/02-arr/dungeon/aurum_vale.ts
  ui/raidboss/data/02-arr/dungeon/the_sunken_temple_of_quarn.ts
  ui/raidboss/data/03-hw/dungeon/fractal_continuum.ts
  ui/raidboss/data/03-hw/dungeon/sohm_al_hard.ts
  ui/raidboss/data/03-hw/dungeon/the_vault.ts
  ui/raidboss/data/03-hw/trial/sephirot-ex.ts
  ui/raidboss/data/03-hw/trial/sophia-ex.ts
  ui/raidboss/data/06-ew/dungeon/smileton.ts
  ui/raidboss/data/06-ew/dungeon/stigma_dreamscape.ts
Labels: raidboss, 💬ko

#4392 raidboss: assorted more DSR Thordan/Nidhogg triggers
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss

#4395 build: Update webpack and related packages
  package-lock.json
  package.json
  test/helper/test_timeline.ts
  test/unittests/resources_test.ts
  webpack/webpack.config.ts
Labels: test

#4401 util: Fix coverage report error by not linting autogen file
  util/gen_coverage_report.ts
Labels: util

#4396 build: Update various packages to resolve upstream vulns
  CONTRIBUTING.md
  package-lock.json
  package.json
Labels: docs

#4397 raidboss: Allow comments on timeline hideall lines
  ui/raidboss/timeline_parser.ts
Labels: raidboss

#4399 i18n: new DSR translations
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss, 💬de

#4398 util: Make encounter info property categories explicit
  util/logtools/encounter_tools.ts
  util/logtools/split_log.js
Labels: util

#4402 raidboss: more DSR targetable lines
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.txt
Labels: raidboss

#4403 raidboss: add DSR Dive From Grace symbols
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss

#4404 raidboss: temporarily disable Adele L/R call
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss

#4405 util: support disabling missing translations
  util/find_missing_translations.js
  util/gen_pet_names.ts
Labels: util

#4407 util: fix will be sealed off common translation
  ui/raidboss/common_replacement.ts
  ui/raidboss/data/04-sb/eureka/eureka_hydatos.ts
Labels: raidboss

#4412 config: Fix display for user triggers with ZoneId.MatchAll
  ui/config/config.ts
Labels: config

#4413 build: Include timeline files in triggers branch
  util/process_triggers_folder.ts
Labels: util

#4414 raidboss: delay Spiral Thrust callout by 0.5s
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss

#4415 i18n: add several sync entries and small translation fixes
  ui/raidboss/data/03-hw/dungeon/sohm_al_hard.ts
  ui/raidboss/data/03-hw/dungeon/xelphatol.ts
  ui/raidboss/data/03-hw/raid/a6n.ts
  ui/raidboss/data/03-hw/raid/a8s.ts
  ui/raidboss/data/04-sb/alliance/ridorana_lighthouse.ts
  ui/raidboss/data/04-sb/eureka/eureka_hydatos.ts
  ui/raidboss/data/04-sb/raid/o12n.ts
  ui/raidboss/data/04-sb/raid/o3s.ts
  ui/raidboss/data/04-sb/raid/o4s.ts
  ui/raidboss/data/04-sb/trial/byakko-ex.ts
  ui/raidboss/data/04-sb/trial/byakko.ts
  ui/raidboss/data/04-sb/trial/lakshmi.ts
  ui/raidboss/data/04-sb/trial/shinryu-ex.ts
  ui/raidboss/data/04-sb/trial/susano-ex.ts
  ui/raidboss/data/04-sb/ultimate/ultima_weapon_ultimate.ts
  ui/raidboss/data/04-sb/ultimate/unending_coil_ultimate.ts
  ui/raidboss/data/05-shb/alliance/the_copied_factory.ts
  ui/raidboss/data/05-shb/eureka/bozjan_southern_front.ts
  ui/raidboss/data/05-shb/eureka/zadnor.ts
  ui/raidboss/data/05-shb/trial/diamond_weapon-ex.ts
  ui/raidboss/data/05-shb/trial/diamond_weapon.ts
  ui/raidboss/data/05-shb/trial/emerald_weapon-ex.ts
  ui/raidboss/data/05-shb/trial/hades-ex.ts
  ui/raidboss/data/05-shb/trial/ruby_weapon-ex.ts
  ui/raidboss/data/05-shb/ultimate/the_epic_of_alexander.ts
  ui/raidboss/data/06-ew/dungeon/alzadaals_legacy.ts
  ui/raidboss/data/06-ew/dungeon/the_aitiascope.ts
  ui/raidboss/data/06-ew/dungeon/the_dead_ends.ts
  ui/raidboss/data/06-ew/trial/endsinger-ex.ts
  ui/raidboss/data/06-ew/trial/hydaelyn-ex.ts
  ui/raidboss/data/06-ew/trial/hydaelyn.ts
  ui/raidboss/data/06-ew/trial/zodiark-ex.ts
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss

#4419 i18n: add DSR ko translations
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss, 💬ko

#4406 util: Move utility functions to Encounter Tools
  util/logtools/encounter_tools.ts
  util/logtools/split_log.js
Labels: util

#4420 util: add localeReg to find missing output
  util/find_missing_timeline_translations.js
Labels: util

#4421 i18n: add Japanese timelineReplace test translations
  ui/raidboss/data/00-misc/test.ts
Labels: raidboss

#4409 raidboss: Add Japanese translations for DSU
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss, 💬ja

#4422 test: Update test_trigger.ts
  test/helper/test_trigger.ts
  ui/raidboss/data/04-sb/eureka/eureka_hydatos.ts
  ui/raidboss/data/05-shb/etc/the_diadem.ts
Labels: raidboss, test

#4426 jobs: KO 6.0
  plugin/CactbotEventSource/FFXIVProcessCn.cs
  plugin/CactbotEventSource/FFXIVProcessIntl.cs
  plugin/CactbotEventSource/FFXIVProcessKo.cs
  ui/jobs/buff_tracker.ts
  ui/jobs/combo_tracker.ts
  ui/jobs/components/ast.ts
  ui/jobs/components/base.ts
  ui/jobs/components/blm.ts
  ui/jobs/components/brd.ts
  ui/jobs/components/dnc.ts
  ui/jobs/components/drg.ts
  ui/jobs/components/drk.ts
  ui/jobs/components/index.ts
  ui/jobs/components/mnk.ts
  ui/jobs/components/pld.ts
  ui/jobs/components/rdm.ts
  ui/jobs/components/smn.ts
  ui/jobs/components/war.ts
  ui/jobs/constants.ts
Labels: jobs, plugin

#4424 jobs: Refactor and fix food timer
  ui/jobs/bars.ts
  ui/jobs/components/index.ts
Labels: jobs

#4427 i18n: ko 6.0 updates
  ui/raidboss/data/06-ew/dungeon/ktisis_hyperboreia.ts
  ui/raidboss/data/06-ew/dungeon/smileton.ts
  ui/raidboss/data/06-ew/dungeon/stigma_dreamscape.ts
  ui/raidboss/data/06-ew/dungeon/the_aitiascope.ts
  ui/raidboss/data/06-ew/dungeon/the_dead_ends.ts
  ui/raidboss/data/06-ew/dungeon/the_tower_of_babil.ts
  ui/raidboss/data/06-ew/dungeon/the_tower_of_zot.ts
  ui/raidboss/data/06-ew/dungeon/vanaspati.ts
  ui/raidboss/data/06-ew/hunts/elpis.ts
  ui/raidboss/data/06-ew/hunts/garlemald.ts
  ui/raidboss/data/06-ew/hunts/labyrinthos.ts
  ui/raidboss/data/06-ew/hunts/mare_lamentorum.ts
  ui/raidboss/data/06-ew/hunts/thavnair.ts
  ui/raidboss/data/06-ew/hunts/ultima_thule.ts
  ui/raidboss/data/06-ew/raid/p1n.ts
  ui/raidboss/data/06-ew/raid/p1s.ts
  ui/raidboss/data/06-ew/trial/endsinger-ex.ts
  ui/raidboss/data/06-ew/trial/endsinger.ts
  ui/raidboss/data/06-ew/trial/hydaelyn-ex.ts
  ui/raidboss/data/06-ew/trial/hydaelyn.ts
  ui/raidboss/data/06-ew/trial/zodiark-ex.ts
  ui/raidboss/data/06-ew/trial/zodiark.ts
Labels: raidboss

#4430 i18n: fix Weeping City/Bardams sealed message translations
  ui/raidboss/common_replacement.ts
  ui/raidboss/data/03-hw/alliance/weeping_city.ts
  ui/raidboss/data/04-sb/dungeon/bardams_mettle.ts
Labels: raidboss, 💬ko

#4431 jobs/test: remove pre-6.x workarounds
  test/helper/test_timeline.ts
  types/event.d.ts
  ui/jobs/components/smn.ts
  ui/raidboss/common_replacement.ts
  ui/raidboss/timeline_parser.ts
  ui/test/test.ts
Labels: jobs, raidboss, test

#4432 resources: Revert: remove targetIndex/targetCount
  docs/LogGuide.md
  resources/netlog_defs.ts
  test/unittests/netregex_test.ts
  test/unittests/regex_test.ts
  ui/jobs/components/dnc.ts
  ui/jobs/components/rpr.ts
  ui/jobs/components/sge.ts
Labels: resources, jobs, test, docs

#4161 oopsy: don't mark abilities with one target as shares
  ui/oopsyraidsy/player_state_tracker.ts
Labels: oopsy

#4434 i18n: arr translations
  ui/raidboss/data/02-arr/dungeon/amdapor_keep.ts
  ui/raidboss/data/02-arr/dungeon/hullbreaker_isle.ts
  ui/raidboss/data/02-arr/dungeon/pharos_sirius.ts
  ui/raidboss/data/02-arr/dungeon/snowcloak.ts
  ui/raidboss/data/02-arr/dungeon/the_lost_city_of_amdapor.ts
Labels: raidboss, 💬de

#4428 raidboss: fix DSR In+Tether in Thordan2
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss

#4429 raidboss: add DSR Thordan1 meteor names to trigger
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss, 💬ko, 💬fr, 💬de, 💬ja

#4436 i18n: added more translationsyncs
  ui/raidboss/data/02-arr/alliance/the_world_of_darkness.ts
  ui/raidboss/data/02-arr/dungeon/brayfloxs_longstop.ts
  ui/raidboss/data/02-arr/dungeon/cutters_cry.ts
  ui/raidboss/data/02-arr/dungeon/the_stone_vigil.ts
  ui/raidboss/data/02-arr/raid/t1.ts
  ui/raidboss/data/02-arr/raid/t11.ts
  ui/raidboss/data/02-arr/raid/t8.ts
Labels: raidboss

#4441 i18n: EW ko translations
  ui/raidboss/data/06-ew/dungeon/the_aitiascope.ts
  ui/raidboss/data/06-ew/dungeon/the_dead_ends.ts
  ui/raidboss/data/06-ew/dungeon/the_tower_of_zot.ts
  ui/raidboss/data/06-ew/dungeon/vanaspati.ts
  ui/raidboss/data/06-ew/trial/endsinger.ts
  ui/raidboss/data/06-ew/trial/hydaelyn-ex.ts
  ui/raidboss/data/06-ew/trial/hydaelyn.ts
  ui/raidboss/data/06-ew/trial/zodiark-ex.ts
  ui/raidboss/data/06-ew/trial/zodiark.ts
Labels: raidboss, 💬ko

#4442 i18n: Small fixes
  ui/raidboss/data/02-arr/dungeon/haukke_manor.ts
  ui/raidboss/data/02-arr/raid/t1.ts
Labels: raidboss

#4408 raidboss: DSRU Adjust timing of baited protean move call
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss

#4443 raidboss/raidemulator: Fix issues with initData handling
  ui/raidboss/emulator/overrides/RaidEmulatorPopupText.ts
  ui/raidboss/popup-text.ts
Labels: raidboss, raidemulator

#4433 test/i18n: enforce regex translations at test time
  test/helper/test_timeline.ts
  test/helper/test_trigger.ts
  ui/raidboss/common_replacement.ts
  ui/raidboss/data/02-arr/alliance/the_world_of_darkness.ts
  ui/raidboss/data/02-arr/dungeon/brayfloxs_longstop.ts
  ui/raidboss/data/02-arr/dungeon/cutters_cry.ts
  ui/raidboss/data/02-arr/dungeon/haukke_manor.ts
  ui/raidboss/data/02-arr/dungeon/the_stone_vigil.ts
  ui/raidboss/data/02-arr/raid/t1.ts
  ui/raidboss/data/02-arr/raid/t11.ts
  ui/raidboss/data/02-arr/raid/t8.ts
  ui/raidboss/data/04-sb/trial/shinryu-ex.ts
  ui/raidboss/data/05-shb/eureka/zadnor.ts
  util/find_missing_timeline_translations.js
Labels: raidboss, test, util

#4447 config: Fix config page not showing proper checkbox state
  ui/config/config.ts
Labels: config

#4455 test: fix test for missing regex translations
  test/helper/test_trigger.ts
Labels: test

#4451 lint/raidemulator: Clean up conditionals in raidemulator
  ui/raidboss/emulator/data/AnalyzedEncounter.ts
  ui/raidboss/emulator/data/Encounter.ts
  ui/raidboss/emulator/data/PopupTextAnalysis.ts
  ui/raidboss/emulator/data/RaidEmulator.ts
  ui/raidboss/emulator/data/network_log_converter/ParseLine.ts
  ui/raidboss/emulator/overrides/RaidEmulatorPopupText.ts
  ui/raidboss/emulator/ui/EmulatedPartyInfo.ts
  ui/raidboss/emulator/ui/Tooltip.ts
Labels: raidemulator

#4450 lint/raidboss: Clean up conditionals in raidboss triggers
  ui/raidboss/data/00-misc/test.ts
  ui/raidboss/data/02-arr/dungeon/brayfloxs_longstop.ts
  ui/raidboss/data/02-arr/trial/levi-ex.ts
  ui/raidboss/data/03-hw/raid/a7s.ts
  ui/raidboss/data/03-hw/trial/sophia-ex.ts
  ui/raidboss/data/04-sb/alliance/ridorana_lighthouse.ts
  ui/raidboss/data/04-sb/ultimate/unending_coil_ultimate.ts
  ui/raidboss/data/05-shb/eureka/delubrum_reginae.ts
  ui/raidboss/data/05-shb/eureka/delubrum_reginae_savage.ts
  ui/raidboss/data/05-shb/raid/e12s.ts
  ui/raidboss/data/05-shb/raid/e6s.ts
  ui/raidboss/data/05-shb/raid/e7s.ts
  ui/raidboss/data/05-shb/raid/e9s.ts
  ui/raidboss/data/05-shb/trial/levi-un.ts
  ui/raidboss/data/06-ew/raid/p2n.ts
  ui/raidboss/data/06-ew/raid/p4s.ts
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss

#4457 resources: update for Korean 6.0 release
  resources/hunt.ts
  resources/zone_info.ts
  ui/fisher/static-data.ts
Labels: resources, fishing🎣, 💬ko

#4456 resources/test: consolidate translation functions
  resources/translations.ts
  test/helper/test_timeline.ts
  test/helper/test_trigger.ts
  ui/raidboss/timeline_parser.ts
Labels: resources, raidboss, test

#4461 raidboss: DSR Twisting Dive
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#4452 lint: Clean up conditionals in misc other files
  resources/overlay_plugin_api.ts
  resources/party.ts
  resources/player_override.ts
  resources/regexes.ts
  resources/responses.ts
  resources/user_config.ts
  resources/util.ts
  test/helper/test_trigger.ts
  ui/raidboss/data/06-ew/raid/p1n.ts
  util/coverage/coverage.ts
  util/fetch_deps.ts
  util/gen_coverage_report.ts
  util/gen_log_guide.ts
  util/translate_timeline.ts
Labels: resources, raidboss, test, util

#4463 docs: Update links to log guide line types
  docs/TimelineGuide.md
  docs/zh-CN/TimelineGuide.md
  resources/netregexes.ts
  resources/regexes.ts
Labels: resources, docs, 💬cn

#4464 config: Adjust typechecks in config.ts
  ui/config/config.ts
Labels: config

#4458 raidboss: auto-translate netRegex
  ui/raidboss/popup-text.ts
Labels: raidboss

#4449 lint/raidboss: Clean up conditionals in raidboss
  ui/raidboss/popup-text.ts
  ui/raidboss/raidboss_config.ts
  ui/raidboss/timeline.ts
  ui/raidboss/timeline_parser.ts
Labels: config, raidboss

#4466 util: Convert `find_missing_*_translations` to typescript
  util/find_missing_timeline_translations.ts
  util/find_missing_translations.ts
  util/translate_timeline.ts
Labels: util

#4478 raidboss: Fix issue with data init in PopupText
  ui/raidboss/popup-text.ts
Labels: raidboss

#4454 lint: Clean up conditionals in misc UI components
  types/event.d.ts
  ui/config/config.ts
  ui/jobs/bars.ts
  ui/jobs/buff_tracker.ts
  ui/jobs/components/ast.ts
  ui/jobs/components/index.ts
  ui/jobs/event_emitter.ts
  ui/oopsyraidsy/damage_tracker.ts
  ui/oopsyraidsy/oopsy_summary_list.ts
  ui/oopsyraidsy/oopsyraidsy_config.ts
  ui/pullcounter/pullcounter.ts
  ui/radar/radar.ts
Labels: config, jobs, oopsy, pullcounter, radar

#4480 i18n: small DE DSU update
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss, 💬de

#4484 raidboss: fix edited-but-empty strings from being skipped
  ui/raidboss/popup-text.ts
Labels: raidboss

#4467 i18n: remove locale netRegex from 02-arr
  ui/raidboss/data/02-arr/alliance/the_world_of_darkness.ts
  ui/raidboss/data/02-arr/dungeon/amdapor_keep.ts
  ui/raidboss/data/02-arr/dungeon/brayfloxs_longstop.ts
  ui/raidboss/data/02-arr/dungeon/cutters_cry.ts
  ui/raidboss/data/02-arr/dungeon/haukke_manor.ts
  ui/raidboss/data/02-arr/dungeon/hullbreaker_isle.ts
  ui/raidboss/data/02-arr/dungeon/pharos_sirius.ts
  ui/raidboss/data/02-arr/dungeon/snowcloak.ts
  ui/raidboss/data/02-arr/dungeon/the_lost_city_of_amdapor.ts
  ui/raidboss/data/02-arr/dungeon/the_stone_vigil.ts
  ui/raidboss/data/02-arr/raid/t1.ts
  ui/raidboss/data/02-arr/raid/t10.ts
  ui/raidboss/data/02-arr/raid/t11.ts
  ui/raidboss/data/02-arr/raid/t12.ts
  ui/raidboss/data/02-arr/raid/t13.ts
  ui/raidboss/data/02-arr/raid/t4.ts
  ui/raidboss/data/02-arr/raid/t5.ts
  ui/raidboss/data/02-arr/raid/t6.ts
  ui/raidboss/data/02-arr/raid/t7.ts
  ui/raidboss/data/02-arr/raid/t8.ts
  ui/raidboss/data/02-arr/raid/t9.ts
  ui/raidboss/data/02-arr/trial/levi-ex.ts
  ui/raidboss/data/02-arr/trial/shiva-ex.ts
  ui/raidboss/data/02-arr/trial/titan-ex.ts
  ui/raidboss/data/02-arr/trial/titan-nm.ts
  ui/raidboss/data/02-arr/trial/ultima-ex.ts
Labels: raidboss

#4468 i18n: remove locale netRegex from 03-hw
  ui/raidboss/data/03-hw/alliance/dun_scaith.ts
  ui/raidboss/data/03-hw/alliance/weeping_city.ts
  ui/raidboss/data/03-hw/dungeon/aetherochemical_research_facility.ts
  ui/raidboss/data/03-hw/dungeon/baelsars_wall.ts
  ui/raidboss/data/03-hw/dungeon/fractal_continuum.ts
  ui/raidboss/data/03-hw/dungeon/gubal_library_hard.ts
  ui/raidboss/data/03-hw/dungeon/sohm_al.ts
  ui/raidboss/data/03-hw/dungeon/sohm_al_hard.ts
  ui/raidboss/data/03-hw/dungeon/the_vault.ts
  ui/raidboss/data/03-hw/dungeon/xelphatol.ts
  ui/raidboss/data/03-hw/pvp/shatter.ts
  ui/raidboss/data/03-hw/raid/a10s.ts
  ui/raidboss/data/03-hw/raid/a11s.ts
  ui/raidboss/data/03-hw/raid/a12n.ts
  ui/raidboss/data/03-hw/raid/a12s.ts
  ui/raidboss/data/03-hw/raid/a1s.ts
  ui/raidboss/data/03-hw/raid/a2s.ts
  ui/raidboss/data/03-hw/raid/a3s.ts
  ui/raidboss/data/03-hw/raid/a4s.ts
  ui/raidboss/data/03-hw/raid/a5s.ts
  ui/raidboss/data/03-hw/raid/a6n.ts
  ui/raidboss/data/03-hw/raid/a6s.ts
  ui/raidboss/data/03-hw/raid/a7s.ts
  ui/raidboss/data/03-hw/raid/a8n.ts
  ui/raidboss/data/03-hw/raid/a8s.ts
  ui/raidboss/data/03-hw/raid/a9s.ts
  ui/raidboss/data/03-hw/trial/sephirot-ex.ts
  ui/raidboss/data/03-hw/trial/sephirot.ts
  ui/raidboss/data/03-hw/trial/sophia-ex.ts
Labels: raidboss

#4471 i18n: remove locale netRegex from 06-ew
  ui/raidboss/data/06-ew/alliance/aglaia.ts
  ui/raidboss/data/06-ew/dungeon/alzadaals_legacy.ts
  ui/raidboss/data/06-ew/dungeon/ktisis_hyperboreia.ts
  ui/raidboss/data/06-ew/dungeon/smileton.ts
  ui/raidboss/data/06-ew/dungeon/stigma_dreamscape.ts
  ui/raidboss/data/06-ew/dungeon/the_aitiascope.ts
  ui/raidboss/data/06-ew/dungeon/the_dead_ends.ts
  ui/raidboss/data/06-ew/dungeon/the_tower_of_babil.ts
  ui/raidboss/data/06-ew/dungeon/the_tower_of_zot.ts
  ui/raidboss/data/06-ew/dungeon/vanaspati.ts
  ui/raidboss/data/06-ew/hunts/elpis.ts
  ui/raidboss/data/06-ew/hunts/garlemald.ts
  ui/raidboss/data/06-ew/hunts/labyrinthos.ts
  ui/raidboss/data/06-ew/hunts/mare_lamentorum.ts
  ui/raidboss/data/06-ew/hunts/thavnair.ts
  ui/raidboss/data/06-ew/hunts/ultima_thule.ts
  ui/raidboss/data/06-ew/raid/p1n.ts
  ui/raidboss/data/06-ew/raid/p1s.ts
  ui/raidboss/data/06-ew/raid/p2n.ts
  ui/raidboss/data/06-ew/raid/p2s.ts
  ui/raidboss/data/06-ew/raid/p3n.ts
  ui/raidboss/data/06-ew/raid/p3s.ts
  ui/raidboss/data/06-ew/raid/p4n.ts
  ui/raidboss/data/06-ew/raid/p4s.ts
  ui/raidboss/data/06-ew/trial/endsinger-ex.ts
  ui/raidboss/data/06-ew/trial/endsinger.ts
  ui/raidboss/data/06-ew/trial/hydaelyn-ex.ts
  ui/raidboss/data/06-ew/trial/hydaelyn.ts
  ui/raidboss/data/06-ew/trial/ultima-un.ts
  ui/raidboss/data/06-ew/trial/zodiark-ex.ts
  ui/raidboss/data/06-ew/trial/zodiark.ts
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss

#4473 i18n: remove locale netRegex from 00-misc
  ui/raidboss/data/00-misc/general.ts
  ui/raidboss/data/00-misc/test.ts
Labels: raidboss

#4472 raidboss: auto-translate regex as well
  ui/raidboss/popup-text.ts
Labels: raidboss

#4485 config: hide Add More Rows button when collapsing timeline
  ui/config/config.css
Labels: config

#4474 raidboss: deprecate netRegexDe / regexDe etc
  docs/RaidbossGuide.md
  docs/zh-CN/RaidbossGuide.md
  test/helper/test_trigger.ts
  types/trigger.d.ts
  ui/raidboss/raidboss_config.ts
Labels: config, raidboss, test, docs, 💬cn

#4476 util: Move responsibility for arg parsing out of index
  util/find_missing_translations.ts
  util/generate_data_files.ts
  util/index.ts
  util/translate_timeline.ts
Labels: util

#4483 lint: Disable `allowAny` lint rule
  .eslintrc.cjs
  resources/user_config.ts
  types/data.d.ts
  ui/config/config.ts
  ui/oopsyraidsy/mistake_collector.ts
  ui/oopsyraidsy/oopsy_options.ts
  ui/pullcounter/pullcounter.ts
  ui/raidboss/data/05-shb/raid/e8s.ts
  ui/raidboss/data/05-shb/ultimate/the_epic_of_alexander.ts
  ui/raidboss/popup-text.ts
  ui/raidboss/raidboss_options.ts
Labels: resources, config, oopsy, pullcounter, raidboss

#4444 util: Add typescript version of test_timeline.ts
  package-lock.json
  package.json
  ui/raidboss/timeline.ts
  ui/raidboss/timeline_parser.ts
  util/index.ts
  util/test_timeline.ts
Labels: raidboss, util

#4479 raidboss: DSR Wyrmsbreath 2 Boiling and Freezing
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#4487 oopsy: add file viewer
  ui/oopsyraidsy/damage_tracker.ts
  ui/oopsyraidsy/mistake_collector.ts
  ui/oopsyraidsy/oopsy_viewer.css
  ui/oopsyraidsy/oopsy_viewer.html
  ui/oopsyraidsy/oopsy_viewer.ts
  ui/oopsyraidsy/oopsyraidsy.ts
  webpack/constants.ts
  webpack/webpack.config.ts
Labels: oopsy

#4460 util: Typescriptify make_timeline
  util/logtools/arg_parser.ts
  util/logtools/encounter_tools.ts
  util/logtools/make_timeline.ts
  util/logtools/split_log.js
Labels: util

#4488 i18n: KO dsr update
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss, 💬ko

#4492 docs: remove one more regexCn mention
  docs/zh-CN/CactbotCustomization.md
Labels: docs, 💬cn

#4496 oopsy: fix single target damage looking like a share
  ui/oopsyraidsy/damage_tracker.ts
  ui/oopsyraidsy/data/06-ew/raid/p2s.ts
Labels: oopsy

#4489 raidboss: DSR Hallowed Wings and Plume
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss

#4501 i18n: DSR update Japanese & Korean
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss, 💬ko, 💬ja

#4495 raidboss: DSR eyes phase timeline edits
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.txt
Labels: raidboss

#4498 oopsy: list number of shares in mistakes
  ui/oopsyraidsy/damage_tracker.ts
  ui/oopsyraidsy/oopsy_common.ts
  ui/oopsyraidsy/player_state_tracker.ts
Labels: oopsy, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#4499 oopsy: use log lines instead of events for party tracking
  ui/oopsyraidsy/damage_tracker.ts
  ui/oopsyraidsy/player_state_tracker.ts
Labels: oopsy

#4350 raidboss: ARR dungeons triggers hard
  ui/raidboss/data/02-arr/dungeon/amdapor_keep_hard.ts
  ui/raidboss/data/02-arr/dungeon/halatali_hard.ts
  ui/raidboss/data/02-arr/dungeon/haukke_manor_hard.ts
  ui/raidboss/data/02-arr/dungeon/sastasha_hard.ts
  ui/raidboss/data/02-arr/dungeon/the_stone_vigil_hard.ts
  ui/raidboss/data/02-arr/dungeon/the_sunken_temple_of_quarn_hard.ts
  ui/raidboss/data/02-arr/dungeon/the_tam_tara_depocraft_hard.ts
  ui/raidboss/data/02-arr/dungeon/the_wanderers_palace_hard.ts
  ui/raidboss/data/raidboss_manifest.txt
Labels: raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#4504 i18n: new translations, mostly dsu
  ui/oopsyraidsy/oopsy_common.ts
  ui/raidboss/data/02-arr/dungeon/amdapor_keep_hard.ts
  ui/raidboss/data/02-arr/dungeon/halatali_hard.ts
  ui/raidboss/data/02-arr/dungeon/sastasha_hard.ts
  ui/raidboss/data/02-arr/dungeon/the_tam_tara_depocraft_hard.ts
  ui/raidboss/data/02-arr/dungeon/the_wanderers_palace_hard.ts
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.txt
Labels: oopsy, raidboss, 💬de

#4506 i18n: DSR fix Japanese & Korean for TTS
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss, 💬ko, 💬ja

#4507 raidboss: changed DCoS final boss custom text to preset
  ui/raidboss/data/04-sb/dungeon/drowned_city_of_skalla.ts
Labels: raidboss

#4511 util: coinach.py detail error indication
  util/coinach.py
Labels: util

#4505 util: Add single-pass file parsing in timeline tools
  util/logtools/encounter_tools.ts
  util/logtools/make_timeline.ts
Labels: util

#4513 i18n: ko arr, oopsy translations
  ui/oopsyraidsy/oopsy_common.ts
  ui/raidboss/data/02-arr/dungeon/amdapor_keep_hard.ts
  ui/raidboss/data/02-arr/dungeon/halatali_hard.ts
  ui/raidboss/data/02-arr/dungeon/hullbreaker_isle.ts
  ui/raidboss/data/02-arr/dungeon/pharos_sirius.ts
  ui/raidboss/data/02-arr/dungeon/sastasha_hard.ts
  ui/raidboss/data/02-arr/dungeon/snowcloak.ts
  ui/raidboss/data/02-arr/dungeon/the_lost_city_of_amdapor.ts
  ui/raidboss/data/02-arr/dungeon/the_tam_tara_depocraft_hard.ts
  ui/raidboss/data/02-arr/dungeon/the_wanderers_palace_hard.ts
Labels: oopsy, raidboss, 💬ko

#4514 i18n: cn arr translations
  ui/oopsyraidsy/oopsy_common.ts
  ui/raidboss/data/02-arr/dungeon/amdapor_keep_hard.ts
  ui/raidboss/data/02-arr/dungeon/halatali_hard.ts
  ui/raidboss/data/02-arr/dungeon/hullbreaker_isle.ts
  ui/raidboss/data/02-arr/dungeon/pharos_sirius.ts
  ui/raidboss/data/02-arr/dungeon/sastasha_hard.ts
  ui/raidboss/data/02-arr/dungeon/snowcloak.ts
  ui/raidboss/data/02-arr/dungeon/the_lost_city_of_amdapor.ts
  ui/raidboss/data/02-arr/dungeon/the_tam_tara_depocraft_hard.ts
  ui/raidboss/data/02-arr/dungeon/the_wanderers_palace_hard.ts
Labels: oopsy, raidboss, 💬cn

#4502 util: Fix encounter_tools encounter listing
  util/logtools/encounter_tools.ts
Labels: util

#4516 raidboss: DSR Resentment AoE + DoT Callout
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#4519 oopsy: add DSR through Thordan2
  ui/oopsyraidsy/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: oopsy, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#4435 raidboss: DSR DFG Place, Stack, and Soak Callouts
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss

#4512 raidboss: Cleanup some DSRU getCombatants calls
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss

#4520 raidboss: add DSR eyes phase
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#4524 plugin: update bozja intl opcode for 6.11h
  plugin/CactbotEventSource/FateWatcher.cs
Labels: plugin

#4526 raidboss: DSR DFG minor improvements
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss, 💬ko, 💬de, 💬ja

#4525 raidboss: fix error if TriggerParams are undefined
  ui/raidboss/popup-text.ts
Labels: raidboss

#4532 i18n: german dsu translations
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss, 💬de

#4522 util: Move + centralize core date/string handling
  resources/datetime.ts
  resources/stringhandlers.ts
  ui/raidboss/emulator/EmulatorCommon.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x01.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x1F.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x26.ts
  ui/raidboss/emulator/ui/EmulatedPartyInfo.ts
  ui/raidboss/emulator/ui/EncounterTab.ts
  ui/raidboss/emulator/ui/ProgressBar.ts
  ui/raidboss/raidemulator.ts
  util/logtools/encounter_tools.ts
  util/logtools/make_timeline.ts
Labels: resources, raidemulator, util

#4534 i18n: ko DSR update
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss, 💬ko

#4533 raidboss: DSR P6 & P7 some triggers
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss, 💬ko

#4538 raidboss: DSR increase sanctity meteor role duration
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss

#4539 raidboss: DSR DFG adjust durations
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss

#4540 raidboss: DSR DFG fix into/info typo
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss

#4541 raidboss: DSR DFG comma to paren text change
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss, 💬ko, 💬de

#4542 raidboss: DSR add Drachenlance trigger
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss

#4543 raidboss: DSR add Heavenly Heel trigger
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss

#4544 i18n: translated ew hunts
  ui/raidboss/data/06-ew/hunts/elpis.ts
  ui/raidboss/data/06-ew/hunts/garlemald.ts
  ui/raidboss/data/06-ew/hunts/labyrinthos.ts
  ui/raidboss/data/06-ew/hunts/mare_lamentorum.ts
  ui/raidboss/data/06-ew/hunts/thavnair.ts
  ui/raidboss/data/06-ew/hunts/ultima_thule.ts
Labels: raidboss

#4545 i18n: german dsu translations
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss, 💬de

#4546 i18n: fix some mistakes in cn translations
  ui/raidboss/data/06-ew/dungeon/smileton.ts
  ui/raidboss/data/06-ew/raid/p2n.ts
  ui/raidboss/data/06-ew/raid/p2s.ts
  ui/raidboss/data/06-ew/raid/p4n.ts
Labels: raidboss, 💬cn

#4535 i18n: ko translations update
  ui/raidboss/data/02-arr/dungeon/pharos_sirius.ts
  ui/raidboss/data/03-hw/trial/sephirot.ts
  ui/raidboss/data/05-shb/trial/wol-ex.ts
  ui/raidboss/data/05-shb/ultimate/the_epic_of_alexander.ts
  ui/raidboss/data/06-ew/trial/zodiark-ex.ts
Labels: raidboss, 💬ko

#4521 raidboss: add DSR Thordan2 triggers
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.txt
Labels: raidboss, 💬ko, 💬fr, 💬de, 💬ja

#4553 raidboss/oopsy: Add A3n package
  ui/oopsyraidsy/data/03-hw/raid/a3n.ts
  ui/oopsyraidsy/data/oopsy_manifest.txt
  ui/raidboss/data/03-hw/raid/a3n.ts
  ui/raidboss/data/03-hw/raid/a3n.txt
  ui/raidboss/data/raidboss_manifest.txt
Labels: oopsy, raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#4551 util: Add gen_hunt_data EW SS rank
  util/gen_hunt_data.py
Labels: util

#4555 resources: update hunts after #4551
  resources/hunt.ts
Labels: resources
