Repository quisquous/cactbot, pull requests merged in 2022-03, with the labels that each got.

#4170 i18n: adds missing translations Fr Bozja/zadnor
  ui/eureka/zone_bozja_southern.ts
  ui/eureka/zone_zadnor.ts
Labels: eureka, 💬fr, 💬de

#4171 i18n: add missing translations Fr death_report
  ui/oopsyraidsy/death_report.ts
  ui/raidboss/data/04-sb/trial/byakko-ex.ts
Labels: oopsy, raidboss, 💬fr

#4162 oopsy: add p2s
  ui/oopsyraidsy/data/06-ew/raid/p2s.ts
  ui/oopsyraidsy/data/oopsy_manifest.txt
Labels: oopsy, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#4172 i18n: simplifications Fr for some content
  ui/raidboss/data/02-arr/raid/t9.ts
  ui/raidboss/data/02-arr/trial/titan-ex.ts
  ui/raidboss/data/03-hw/trial/sephirot.ts
  ui/raidboss/data/04-sb/dungeon/drowned_city_of_skalla.ts
  ui/raidboss/data/04-sb/dungeon/ghimlyt_dark.ts
  ui/raidboss/data/04-sb/dungeon/sirensong_sea.ts
  ui/raidboss/data/04-sb/trial/lakshmi-ex.ts
  ui/raidboss/data/04-sb/trial/lakshmi.ts
  ui/raidboss/data/04-sb/trial/susano-ex.ts
  ui/raidboss/data/05-shb/raid/e9s.ts
  ui/raidboss/data/05-shb/trial/titan-un.ts
  ui/raidboss/data/06-ew/trial/endsinger.ts
Labels: raidboss, 💬fr

#4173 i18n: add missing translation Fr on coverage
  util/coverage/coverage.ts
Labels: util

#4177 i18n: fix wrong Japanese translation in p4s
  ui/raidboss/data/06-ew/raid/p4s.ts
Labels: raidboss, 💬ja

#4178 i18n: Misc missing CN translation
  resources/outputs.ts
  ui/oopsyraidsy/oopsy_live_list.ts
  ui/raidboss/data/03-hw/trial/sephirot.ts
  ui/raidboss/data/04-sb/raid/o12n.ts
  ui/raidboss/data/05-shb/alliance/the_tower_at_paradigms_breach.ts
  ui/raidboss/data/05-shb/trial/emerald_weapon-ex.ts
  util/coverage/coverage.ts
Labels: resources, oopsy, raidboss, util, 💬cn

#4175 plugin: don't title case entity names
  plugin/CactbotEventSource/FFXIVProcessIntl.cs
Labels: plugin

#4179 plugin: update bozja intl opcode for 6.08h
  plugin/CactbotEventSource/FateWatcher.cs
Labels: plugin

#4180 i18n: add KO translation for "Move between/opposite"
  ui/raidboss/data/05-shb/alliance/the_tower_at_paradigms_breach.ts
Labels: raidboss, 💬ko

#4181 i18n: New translations including cn 6.0
  ui/raidboss/data/03-hw/trial/sephirot.ts
  ui/raidboss/data/06-ew/dungeon/ktisis_hyperboreia.ts
  ui/raidboss/data/06-ew/dungeon/smileton.ts
  ui/raidboss/data/06-ew/dungeon/stigma_dreamscape.ts
  ui/raidboss/data/06-ew/dungeon/the_aitiascope.ts
  ui/raidboss/data/06-ew/dungeon/the_dead_ends.ts
  ui/raidboss/data/06-ew/dungeon/the_tower_of_babil.ts
  ui/raidboss/data/06-ew/dungeon/the_tower_of_zot.ts
  ui/raidboss/data/06-ew/dungeon/vanaspati.ts
  ui/raidboss/data/06-ew/hunts/elpis.ts
  ui/raidboss/data/06-ew/hunts/garlemald.ts
  ui/raidboss/data/06-ew/hunts/labyrinthos.ts
  ui/raidboss/data/06-ew/hunts/mare_lamentorum.ts
  ui/raidboss/data/06-ew/hunts/thavnair.ts
  ui/raidboss/data/06-ew/hunts/ultima_thule.ts
  ui/raidboss/data/06-ew/raid/p1n.ts
  ui/raidboss/data/06-ew/raid/p1s.ts
  ui/raidboss/data/06-ew/trial/endsinger.ts
  ui/raidboss/data/06-ew/trial/hydaelyn-ex.ts
  ui/raidboss/data/06-ew/trial/hydaelyn.ts
  ui/raidboss/data/06-ew/trial/zodiark-ex.ts
  ui/raidboss/data/06-ew/trial/zodiark.ts
Labels: raidboss, 💬de

#4182 i18n: Missing CN translations
  ui/oopsyraidsy/data/06-ew/dungeon/smileton.ts
  ui/oopsyraidsy/data/06-ew/dungeon/the_tower_of_babil.ts
  ui/raidboss/data/06-ew/dungeon/ktisis_hyperboreia.ts
  ui/raidboss/data/06-ew/dungeon/smileton.ts
  ui/raidboss/data/06-ew/dungeon/stigma_dreamscape.ts
  ui/raidboss/data/06-ew/dungeon/the_aitiascope.ts
  ui/raidboss/data/06-ew/dungeon/the_dead_ends.ts
  ui/raidboss/data/06-ew/dungeon/the_tower_of_babil.ts
  ui/raidboss/data/06-ew/dungeon/the_tower_of_zot.ts
  ui/raidboss/data/06-ew/dungeon/vanaspati.ts
  ui/raidboss/data/06-ew/hunts/elpis.ts
  ui/raidboss/data/06-ew/hunts/garlemald.ts
  ui/raidboss/data/06-ew/hunts/labyrinthos.ts
  ui/raidboss/data/06-ew/hunts/mare_lamentorum.ts
  ui/raidboss/data/06-ew/hunts/thavnair.ts
  ui/raidboss/data/06-ew/hunts/ultima_thule.ts
  ui/raidboss/data/06-ew/raid/p1s.ts
  ui/raidboss/data/06-ew/trial/endsinger.ts
  ui/raidboss/data/06-ew/trial/hydaelyn-ex.ts
  ui/raidboss/data/06-ew/trial/hydaelyn.ts
  ui/raidboss/data/06-ew/trial/zodiark-ex.ts
  ui/raidboss/data/06-ew/trial/zodiark.ts
Labels: oopsy, raidboss, 💬cn

#4183 resources: run python gen tools for CN 6.0
  resources/hunt.ts
  resources/zone_info.ts
  ui/fisher/static-data.ts
  ui/raidboss/data/04-sb/ultimate/ultima_weapon_ultimate.ts
  ui/raidboss/data/06-ew/raid/p4s.ts
Labels: resources, fishing🎣, raidboss, 💬cn

#4184 i18n: add & fix kr translations
  ui/oopsyraidsy/data/06-ew/raid/p3n.ts
  ui/oopsyraidsy/oopsy_common.ts
  ui/raidboss/data/04-sb/raid/o12n.ts
  ui/raidboss/data/05-shb/trial/emerald_weapon-ex.ts
  ui/raidboss/data/06-ew/hunts/elpis.ts
  ui/raidboss/data/06-ew/hunts/garlemald.ts
  ui/raidboss/data/06-ew/hunts/labyrinthos.ts
  ui/raidboss/data/06-ew/hunts/mare_lamentorum.ts
  ui/raidboss/data/06-ew/hunts/thavnair.ts
  ui/raidboss/data/06-ew/hunts/ultima_thule.ts
  ui/raidboss/data/06-ew/raid/p2s.ts
  ui/raidboss/data/06-ew/raid/p3s.ts
  ui/raidboss/data/06-ew/raid/p4s.ts
Labels: oopsy, raidboss, 💬ko

#4190 jobs: SAM
  ui/jobs/components/sam.ts
  ui/jobs/jobs.css
Labels: jobs

#4191 jobs: hide raidbuff for crafter&gatherer
  ui/jobs/components/index.ts
Labels: jobs

#4185 oopsy: fix p1 hot cold spell bugs
  ui/oopsyraidsy/data/06-ew/raid/p1n.ts
  ui/oopsyraidsy/data/06-ew/raid/p1s.ts
Labels: oopsy

#4192 plugin: update cedirector_cn
  plugin/CactbotEventSource/FateWatcher.cs
Labels: plugin

#4194 jobs: Remove CN is5x
  ui/jobs/jobs.ts
Labels: jobs

#4193 oopsy: add p4s door boss
  ui/oopsyraidsy/data/06-ew/raid/p4s.ts
  ui/oopsyraidsy/data/oopsy_manifest.txt
Labels: oopsy, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#4200 i18n: Fix two CN translation errors in zodiark-ex
  ui/raidboss/data/06-ew/trial/zodiark-ex.ts
Labels: raidboss

#4204 raidboss: add triggers Angra Mainyu Flare and Death
  ui/raidboss/data/02-arr/alliance/the_world_of_darkness.ts
Labels: raidboss

#4207 lint: properly detect all unused vars
  .eslintrc.cjs
  resources/resourcebar.ts
  resources/responses.ts
  resources/timerbar.ts
  resources/timerbox.ts
  resources/timericon.ts
  test/helper/test_trigger.ts
  test/unittests/resources_test.ts
  ui/oopsyraidsy/data/05-shb/trial/emerald_weapon-ex.ts
  ui/oopsyraidsy/oopsyraidsy_config.ts
  ui/oopsyraidsy/player_state_tracker.ts
  ui/raidboss/data/04-sb/alliance/royal_city_of_rabanastre.ts
  ui/raidboss/data/04-sb/dungeon/ghimlyt_dark.ts
  ui/raidboss/data/04-sb/raid/o6n.ts
  ui/raidboss/data/04-sb/raid/o7n.ts
  ui/raidboss/data/05-shb/trial/emerald_weapon-ex.ts
  ui/raidboss/data/06-ew/raid/p2s.ts
  ui/raidboss/data/06-ew/raid/p4s.ts
  ui/raidboss/data/06-ew/trial/endsinger.ts
  ui/raidboss/data/06-ew/trial/hydaelyn-ex.ts
  ui/raidboss/emulator/overrides/RaidEmulatorPopupText.ts
  ui/raidboss/popup-text.ts
  ui/raidboss/raidboss_config.ts
  util/coinach.ts
  util/gen_coverage_report.ts
  util/logtools/encounter_tools.ts
Labels: resources, config, oopsy, raidboss, raidemulator, test, util

#4206 config: remove unnecessary UnreachableCode assertions
  ui/config/config.ts
Labels: config

#4197 oopsy: add p4s final
  ui/oopsyraidsy/data/06-ew/raid/p4s.ts
Labels: oopsy

#4196 raidboss: add options for gamepad rumble
  ui/raidboss/popup-text.ts
  ui/raidboss/raidboss_config.ts
  ui/raidboss/raidboss_options.ts
Labels: config, raidboss

#4203 raidboss/config: add ui for timeline text enable/renaming
  ui/config/config.css
  ui/config/config.ts
  ui/raidboss/data/00-misc/test.txt
  ui/raidboss/emulator/overrides/RaidEmulatorTimeline.ts
  ui/raidboss/emulator/overrides/RaidEmulatorTimelineController.ts
  ui/raidboss/popup-text.ts
  ui/raidboss/raidboss_config.ts
  ui/raidboss/raidboss_options.ts
  ui/raidboss/timeline.ts
  ui/raidboss/timeline_parser.ts
Labels: config, raidboss, raidemulator

#4199 docs: add line 41 documentation
  docs/LogGuide.md
  resources/netlog_defs.ts
  test/unittests/netregex_test.ts
  test/unittests/regex_test.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x29.ts
Labels: resources, raidemulator, test, docs

#3853 jobs: minor improvements for proc boxes
  ui/jobs/bars.ts
  ui/jobs/jobs.css
Labels: jobs

#4210 plugin: china updata
  plugin/CactbotEventSource/FFXIVProcessCn.cs
  plugin/CactbotEventSource/FateWatcher.cs
Labels: plugin

#4216 jobs: WAR: Fix eyesbox threshold
  ui/jobs/components/war.ts
Labels: jobs

#4215 oopsy: fix p4s Dark IV mistake
  ui/oopsyraidsy/data/06-ew/raid/p4s.ts
Labels: oopsy

#4213 raidboss: fix TEA trines / shinryu icicles
  ui/raidboss/data/04-sb/trial/shinryu-ex.ts
  ui/raidboss/data/05-shb/ultimate/the_epic_of_alexander.ts
Labels: raidboss

#4218 jobs: PLD: More function and MP Threshold adjust
  resources/effect_id.ts
  ui/jobs/components/pld.ts
  ui/jobs/constants.ts
  ui/jobs/jobs.css
  ui/jobs/jobs_options.ts
  util/gen_effect_id.ts
Labels: resources, jobs, util

#4219 jobs: WAR: more timer box
  ui/jobs/components/war.ts
  ui/jobs/constants.ts
  ui/jobs/jobs.css
Labels: jobs

#4220 plugin: Update FFXIVProcessCn for EW job detail
  plugin/CactbotEventSource/FFXIVProcessCn.cs
Labels: plugin

#4222 raidboss: extend duration for diamond ex platform switch
  ui/raidboss/data/05-shb/trial/diamond_weapon-ex.ts
Labels: raidboss
