Repository quisquous/cactbot, pull requests merged in 2022-12, with the labels that each got.

#5132 i18n: missing CN translations again
  ui/raidboss/data/04-sb/deepdungeon/heaven-on-high_floors_21-30.ts
  ui/raidboss/data/04-sb/deepdungeon/heaven-on-high_floors_51-60.ts
  ui/raidboss/data/04-sb/deepdungeon/heaven-on-high_floors_61-70.ts
  ui/raidboss/data/04-sb/deepdungeon/heaven-on-high_floors_81-90.ts
  ui/raidboss/data/04-sb/eureka/eureka_hydatos.ts
  ui/raidboss/data/05-shb/hunts/kholusia.ts
  ui/raidboss/data/05-shb/hunts/lakeland.ts
  ui/raidboss/data/05-shb/hunts/ss_rank.ts
  ui/raidboss/data/05-shb/hunts/the_raktika_greatwood.ts
  ui/raidboss/data/05-shb/hunts/the_tempest.ts
  ui/raidboss/data/06-ew/hunts/ss_rank.ts
Labels: raidboss, 💬cn

#5131 raidboss: fix broken sync key translation replace
  ui/raidboss/common_replacement.ts
Labels: raidboss

#5133 i18n: translation updates including timeline translaitons
  ui/config/config.ts
  ui/raidboss/data/00-misc/the_masked_carnivale.ts
  ui/raidboss/data/02-arr/dungeon/haukke_manor_hard.ts
  ui/raidboss/data/02-arr/dungeon/the_stone_vigil_hard.ts
  ui/raidboss/data/02-arr/dungeon/the_sunken_temple_of_quarn_hard.ts
  ui/raidboss/data/03-hw/deepdungeon/the_palace_of_the_dead_floors_121-130.ts
  ui/raidboss/data/03-hw/deepdungeon/the_palace_of_the_dead_floors_131-140.ts
  ui/raidboss/data/03-hw/deepdungeon/the_palace_of_the_dead_floors_141-150.ts
  ui/raidboss/data/03-hw/deepdungeon/the_palace_of_the_dead_floors_151-160.ts
  ui/raidboss/data/03-hw/deepdungeon/the_palace_of_the_dead_floors_161-170.ts
  ui/raidboss/data/03-hw/deepdungeon/the_palace_of_the_dead_floors_171-180.ts
  ui/raidboss/data/03-hw/deepdungeon/the_palace_of_the_dead_floors_181-190.ts
  ui/raidboss/data/03-hw/deepdungeon/the_palace_of_the_dead_floors_191-200.ts
  ui/raidboss/data/03-hw/deepdungeon/the_palace_of_the_dead_general.ts
  ui/raidboss/data/03-hw/raid/a3n.ts
  ui/raidboss/data/03-hw/trial/bismarck-ex.ts
  ui/raidboss/data/03-hw/trial/sephirot.ts
  ui/raidboss/data/04-sb/deepdungeon/heaven-on-high_floors_01-10.ts
  ui/raidboss/data/04-sb/deepdungeon/heaven-on-high_floors_11-20.ts
  ui/raidboss/data/04-sb/deepdungeon/heaven-on-high_floors_21-30.ts
  ui/raidboss/data/04-sb/deepdungeon/heaven-on-high_floors_31-40.ts
  ui/raidboss/data/04-sb/deepdungeon/heaven-on-high_floors_41-50.ts
  ui/raidboss/data/04-sb/deepdungeon/heaven-on-high_floors_51-60.ts
  ui/raidboss/data/04-sb/deepdungeon/heaven-on-high_floors_61-70.ts
  ui/raidboss/data/04-sb/deepdungeon/heaven-on-high_floors_71-80.ts
  ui/raidboss/data/04-sb/deepdungeon/heaven-on-high_floors_81-90.ts
  ui/raidboss/data/04-sb/deepdungeon/heaven-on-high_floors_91-100.ts
  ui/raidboss/data/04-sb/deepdungeon/heaven-on-high_general.ts
  ui/raidboss/data/04-sb/eureka/eureka_anemos.ts
  ui/raidboss/data/04-sb/eureka/eureka_pagos.ts
  ui/raidboss/data/04-sb/eureka/eureka_pyros.ts
  ui/raidboss/data/05-shb/etc/the_diadem.ts
  ui/raidboss/data/05-shb/hunts/amh_araeng.ts
  ui/raidboss/data/05-shb/hunts/il_mheg.ts
  ui/raidboss/data/05-shb/hunts/kholusia.ts
  ui/raidboss/data/05-shb/hunts/lakeland.ts
  ui/raidboss/data/05-shb/hunts/ss_rank.ts
  ui/raidboss/data/05-shb/hunts/the_raktika_greatwood.ts
  ui/raidboss/data/05-shb/hunts/the_tempest.ts
  ui/raidboss/data/06-ew/hunts/ss_rank.ts
  ui/raidboss/data/06-ew/hunts/thavnair.ts
  ui/raidboss/data/06-ew/hunts/ultima_thule.ts
Labels: config, raidboss, 💬de

#5135 i18n: update ko translations
  ui/raidboss/data/04-sb/deepdungeon/heaven-on-high_floors_21-30.ts
  ui/raidboss/data/04-sb/deepdungeon/heaven-on-high_floors_51-60.ts
  ui/raidboss/data/04-sb/deepdungeon/heaven-on-high_floors_61-70.ts
  ui/raidboss/data/04-sb/deepdungeon/heaven-on-high_floors_81-90.ts
  ui/raidboss/data/05-shb/hunts/kholusia.ts
  ui/raidboss/data/05-shb/hunts/lakeland.ts
  ui/raidboss/data/05-shb/hunts/ss_rank.ts
  ui/raidboss/data/05-shb/hunts/the_raktika_greatwood.ts
  ui/raidboss/data/05-shb/hunts/the_tempest.ts
  ui/raidboss/data/06-ew/hunts/ss_rank.ts
  ui/raidboss/data/06-ew/hunts/thavnair.ts
Labels: raidboss, 💬ko

#5136 raidboss: PotD 1-120
  ui/raidboss/data/03-hw/deepdungeon/the_palace_of_the_dead_floors_001-010.ts
  ui/raidboss/data/03-hw/deepdungeon/the_palace_of_the_dead_floors_011-020.ts
  ui/raidboss/data/03-hw/deepdungeon/the_palace_of_the_dead_floors_021-030.ts
  ui/raidboss/data/03-hw/deepdungeon/the_palace_of_the_dead_floors_031-040.ts
  ui/raidboss/data/03-hw/deepdungeon/the_palace_of_the_dead_floors_041-050.ts
  ui/raidboss/data/03-hw/deepdungeon/the_palace_of_the_dead_floors_051-060.ts
  ui/raidboss/data/03-hw/deepdungeon/the_palace_of_the_dead_floors_061-070.ts
  ui/raidboss/data/03-hw/deepdungeon/the_palace_of_the_dead_floors_071-080.ts
  ui/raidboss/data/03-hw/deepdungeon/the_palace_of_the_dead_floors_081-090.ts
  ui/raidboss/data/03-hw/deepdungeon/the_palace_of_the_dead_floors_091-100.ts
  ui/raidboss/data/03-hw/deepdungeon/the_palace_of_the_dead_floors_101-110.ts
  ui/raidboss/data/03-hw/deepdungeon/the_palace_of_the_dead_floors_111-120.ts
  ui/raidboss/data/03-hw/deepdungeon/the_palace_of_the_dead_floors_171-180.ts
  ui/raidboss/data/03-hw/deepdungeon/the_palace_of_the_dead_general.ts
  ui/raidboss/data/raidboss_manifest.txt
Labels: raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#5140 i18n: add palace timeline translations
  ui/raidboss/data/03-hw/deepdungeon/the_palace_of_the_dead_floors_001-010.ts
  ui/raidboss/data/03-hw/deepdungeon/the_palace_of_the_dead_floors_011-020.ts
  ui/raidboss/data/03-hw/deepdungeon/the_palace_of_the_dead_floors_021-030.ts
  ui/raidboss/data/03-hw/deepdungeon/the_palace_of_the_dead_floors_031-040.ts
  ui/raidboss/data/03-hw/deepdungeon/the_palace_of_the_dead_floors_041-050.ts
  ui/raidboss/data/03-hw/deepdungeon/the_palace_of_the_dead_floors_051-060.ts
  ui/raidboss/data/03-hw/deepdungeon/the_palace_of_the_dead_floors_061-070.ts
  ui/raidboss/data/03-hw/deepdungeon/the_palace_of_the_dead_floors_071-080.ts
  ui/raidboss/data/03-hw/deepdungeon/the_palace_of_the_dead_floors_091-100.ts
  ui/raidboss/data/03-hw/deepdungeon/the_palace_of_the_dead_floors_101-110.ts
  ui/raidboss/data/03-hw/deepdungeon/the_palace_of_the_dead_floors_111-120.ts
Labels: raidboss, 💬de

#5138 raidboss: reorder DD chimera callouts
  ui/raidboss/data/03-hw/deepdungeon/the_palace_of_the_dead_floors_181-190.ts
  ui/raidboss/data/04-sb/deepdungeon/heaven-on-high_floors_81-90.ts
Labels: raidboss

#5146 i18n: Add CN translations for 6.2
  ui/oopsyraidsy/data/06-ew/raid/p8s.ts
  ui/raidboss/data/03-hw/deepdungeon/the_palace_of_the_dead_floors_181-190.ts
  ui/raidboss/data/03-hw/raid/a3n.ts
  ui/raidboss/data/04-sb/deepdungeon/heaven-on-high_floors_81-90.ts
  ui/raidboss/data/06-ew/dungeon/the_fell_court_of_troia.ts
  ui/raidboss/data/06-ew/raid/p5n.ts
  ui/raidboss/data/06-ew/raid/p5s.ts
  ui/raidboss/data/06-ew/raid/p6n.ts
  ui/raidboss/data/06-ew/raid/p6s.ts
  ui/raidboss/data/06-ew/raid/p7n.ts
  ui/raidboss/data/06-ew/raid/p7s.ts
  ui/raidboss/data/06-ew/raid/p8n.ts
  ui/raidboss/data/06-ew/raid/p8s.ts
  ui/raidboss/data/06-ew/trial/barbariccia-ex.ts
  ui/raidboss/data/06-ew/trial/barbariccia.ts
Labels: oopsy, raidboss, 💬cn

#5147 plugin: update signatures, memory and CE opcode for cn 6.2
  plugin/CactbotEventSource/FFXIVProcessCn.cs
  plugin/CactbotEventSource/FateWatcher.cs
Labels: plugin

#5149 resources: cn 6.2 update
  resources/zone_info.ts
Labels: resources, 💬cn

#5155 raidboss: Eden Normal timeline improvements
  ui/raidboss/data/05-shb/raid/e2n.txt
  ui/raidboss/data/05-shb/raid/e7n.txt
  ui/raidboss/data/05-shb/raid/e8n.txt
Labels: raidboss

#5156 i18n: 6.2 RSVdata CN translations
  ui/raidboss/data/06-ew/raid/p5s.ts
  ui/raidboss/data/06-ew/raid/p6n.ts
  ui/raidboss/data/06-ew/raid/p6s.ts
  ui/raidboss/data/06-ew/raid/p7s.ts
  ui/raidboss/data/06-ew/raid/p8s.ts
Labels: raidboss, 💬cn

#5154 raidboss: more treasure maps
  ui/raidboss/data/03-hw/map/the_aquapolis.ts
  ui/raidboss/data/04-sb/map/the_hidden_canals_of_uznair.ts
  ui/raidboss/data/04-sb/map/the_lost_canals_of_uznair.ts
  ui/raidboss/data/04-sb/map/the_shifting_altars_of_uznair.ts
  ui/raidboss/data/05-shb/map/the_dungeons_of_lyhe_ghiah.ts
  ui/raidboss/data/05-shb/map/the_shifting_oubliettes_of_lyhe_ghiah.ts
  ui/raidboss/data/06-ew/map/the_excitatron_6000.ts
  ui/raidboss/data/raidboss_manifest.txt
Labels: raidboss, 💬ko, 💬cn, 💬de

#5157 util: update sync_files for criterion dungeon oopsy
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane-savage.txt
  util/sync_files.ts
Labels: raidboss, util

#5158 raidboss: fix ASS/S Brand 5 cut color incorrect id
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane-savage.ts
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane.ts
Labels: raidboss

#5159 oopsy: add Another Sil'dihn Subteranne
  ui/oopsyraidsy/data/06-ew/dungeon/another_sildihn_subterrane-savage.ts
  ui/oopsyraidsy/data/06-ew/dungeon/another_sildihn_subterrane.ts
  ui/oopsyraidsy/data/06-ew/dungeon/the_sildihn_subterrane.ts
  ui/oopsyraidsy/data/oopsy_manifest.txt
Labels: oopsy

#5160 raidboss: ASS/S timeline improvements
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane-savage.txt
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane.txt
Labels: raidboss

#5161 raidboss: ASS/S improve Fresh Puff 3 directions
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane-savage.ts
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane.ts
Labels: raidboss

#5162 raidboss: ASS/S give more warning for Silkie ice movement
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane-savage.ts
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane.ts
Labels: raidboss

#5163 raidboss: ASS/S improve Curse of the Fallen text/timing
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane-savage.ts
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane.ts
Labels: raidboss

#5166 raidboss: ASS/S add hateful visage locations
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane-savage.ts
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane.ts
Labels: raidboss, 💬ko, 💬fr, 💬de, 💬ja

#5168 i18n: add ko translations
  ui/raidboss/data/03-hw/deepdungeon/the_palace_of_the_dead_floors_171-180.ts
  ui/raidboss/data/03-hw/deepdungeon/the_palace_of_the_dead_floors_181-190.ts
  ui/raidboss/data/04-sb/deepdungeon/heaven-on-high_floors_81-90.ts
  ui/raidboss/data/04-sb/map/the_hidden_canals_of_uznair.ts
  ui/raidboss/data/04-sb/map/the_shifting_altars_of_uznair.ts
  ui/raidboss/data/04-sb/ultimate/ultima_weapon_ultimate.ts
  ui/raidboss/data/05-shb/map/the_dungeons_of_lyhe_ghiah.ts
  ui/raidboss/data/05-shb/map/the_shifting_oubliettes_of_lyhe_ghiah.ts
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane-savage.ts
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane.ts
Labels: raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja
