Repository quisquous/cactbot, pull requests merged in 2022-04, with the labels that each got.

#4223 i18n: adds missing translations fr on raidboss_config
  ui/raidboss/raidboss_config.ts
Labels: config, raidboss, 💬fr

#4224 raidboss: fix susano CN translation and labyrinthos hunt
  ui/raidboss/data/04-sb/trial/susano.ts
  ui/raidboss/data/06-ew/hunts/labyrinthos.ts
Labels: raidboss

#4225 i18n: add and fix jp translations for raidboss
  ui/raidboss/data/02-arr/alliance/the_world_of_darkness.ts
  ui/raidboss/data/04-sb/alliance/royal_city_of_rabanastre.ts
  ui/raidboss/data/04-sb/dungeon/doma_castle.ts
  ui/raidboss/data/04-sb/dungeon/ghimlyt_dark.ts
  ui/raidboss/data/04-sb/dungeon/shisui_of_the_violet_tides.ts
  ui/raidboss/data/04-sb/dungeon/sirensong_sea.ts
  ui/raidboss/data/04-sb/trial/suzaku.ts
  ui/raidboss/data/04-sb/trial/tsukuyomi.ts
  ui/raidboss/data/04-sb/trial/yojimbo.ts
  ui/raidboss/data/05-shb/raid/e6n.ts
  ui/raidboss/data/06-ew/raid/p4n.ts
Labels: raidboss, 💬ja

#4226 i18n: de Raidbos config update
  ui/raidboss/raidboss_config.ts
Labels: config, raidboss, 💬de

#4227 i18n: cn Raidbos config update
  ui/raidboss/raidboss_config.ts
Labels: config, raidboss, 💬cn

#4228 i18n: ko Raidbos config update
  ui/raidboss/raidboss_config.ts
Labels: config, raidboss, 💬ko

#4229 i18n: ja Raidbos config update
  ui/raidboss/raidboss_config.ts
Labels: config, raidboss, 💬ja

#4231 i18n: cn 6.01
  ui/raidboss/data/06-ew/raid/p1n.ts
  ui/raidboss/data/06-ew/raid/p2n.ts
  ui/raidboss/data/06-ew/raid/p2s.ts
  ui/raidboss/data/06-ew/raid/p3n.ts
  ui/raidboss/data/06-ew/raid/p3s.ts
  ui/raidboss/data/06-ew/raid/p4n.ts
  ui/raidboss/data/06-ew/raid/p4s.ts
Labels: raidboss, 💬cn

#4232 resources: run python gen tools for cn 6.01
  resources/zone_info.ts
Labels: resources, 💬cn

#4234 plugin: update bozja cn opcode for 6.01
  plugin/CactbotEventSource/FateWatcher.cs
Labels: plugin

#4235 raidemulator: Fix error in PopupTextAnalysis
  ui/raidboss/emulator/data/PopupTextAnalysis.ts
Labels: raidemulator

#4238 i18n: oopsy cn 6.01
  ui/oopsyraidsy/data/06-ew/raid/p3n.ts
  ui/oopsyraidsy/data/06-ew/raid/p4n.ts
Labels: oopsy, 💬cn

#4233 raidboss: Ultima EX timeline and minimal triggers
  ui/raidboss/data/02-arr/trial/ultima-ex.ts
  ui/raidboss/data/02-arr/trial/ultima-ex.txt
  ui/raidboss/data/raidboss_manifest.txt
Labels: raidboss

#4240 docs: Update DirectorUpdate link to NARI docs
  docs/LogGuide.md
Labels: docs

#4241 i18n: adds missing translations Fr on ultima-ex
  ui/raidboss/data/02-arr/trial/ultima-ex.ts
Labels: raidboss, 💬fr

#4244 raidboss: Ultima EX updates
  ui/raidboss/data/02-arr/trial/ultima-ex.ts
  ui/raidboss/data/02-arr/trial/ultima-ex.txt
Labels: raidboss

#4246 docs: Add documentation for TransformTts customization
  docs/CactbotCustomization.md
Labels: docs

#4245 oopsy: add ultima ex
  ui/oopsyraidsy/data/02-arr/trial/ultima-ex.ts
  ui/oopsyraidsy/data/oopsy_manifest.txt
Labels: oopsy

#4243 util: skip definition files for find translations
  util/find_missing_translations.js
Labels: util

#4248 i18n: ultima translations
  ui/raidboss/data/02-arr/trial/ultima-ex.ts
Labels: raidboss, 💬de

#4249 i18n: ultima-ex cn translations
  ui/raidboss/data/02-arr/trial/ultima-ex.ts
Labels: raidboss, 💬cn

#4247 raidboss: zodiark ex
  ui/raidboss/data/06-ew/trial/zodiark-ex.ts
  ui/raidboss/data/06-ew/trial/zodiark-ex.txt
Labels: raidboss

#4236 config: show timeline in edit timeline section
  ui/config/config.css
  ui/raidboss/raidboss_config.ts
  ui/raidboss/timeline_parser.ts
  util/translate_timeline.ts
  webpack/loaders/timeline-loader.ts
Labels: config, raidboss, util

#4253 i18n: zodiark-ex cn
  ui/raidboss/data/06-ew/trial/zodiark-ex.ts
Labels: raidboss, 💬cn

#4254 plugin: update charmap signature
  plugin/CactbotEventSource/FFXIVProcessIntl.cs
Labels: plugin

#4255 plugin: fix in combat signature
  plugin/CactbotEventSource/FFXIVProcessIntl.cs
Labels: plugin

#4258 plugin: update bozja intl opcode for 6.1
  plugin/CactbotEventSource/FateWatcher.cs
Labels: plugin

#4260 i18n: little translations fr
  ui/raidboss/data/05-shb/trial/diamond_weapon-ex.ts
  ui/raidboss/data/06-ew/raid/p4s.ts
Labels: raidboss, 💬fr

#4263 raidboss: Alzadaal's Legacy initial timeline and triggers
  ui/raidboss/data/06-ew/dungeon/alzadaals_legacy.ts
  ui/raidboss/data/06-ew/dungeon/alzadaals_legacy.txt
  ui/raidboss/data/raidboss_manifest.txt
Labels: raidboss

#4256 oopsy: add Expedient as a missable buff
  ui/oopsyraidsy/buff_map.ts
Labels: oopsy

#4259 raidboss: Add Endsinger Ex timeline
  ui/raidboss/data/06-ew/trial/endsinger-ex.ts
  ui/raidboss/data/06-ew/trial/endsinger-ex.txt
  ui/raidboss/data/raidboss_manifest.txt
Labels: raidboss

#4266 i18n: 6.1 dungeon translation
  ui/raidboss/data/06-ew/dungeon/alzadaals_legacy.ts
Labels: raidboss, 💬de

#4261 raidboss: Endsinger ex basic triggers
  ui/raidboss/data/06-ew/trial/endsinger-ex.ts
Labels: raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#4268 plugin: use another in combat signature
  plugin/CactbotEventSource/FFXIVProcess.cs
  plugin/CactbotEventSource/FFXIVProcessIntl.cs
Labels: plugin

#4267 raidboss: Endsinger Ex advanced triggers
  ui/raidboss/data/06-ew/trial/endsinger-ex.ts
Labels: raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#4270 i18n: EW ex trial 3 translations
  ui/raidboss/data/06-ew/trial/endsinger-ex.ts
  ui/raidboss/data/06-ew/trial/endsinger-ex.txt
Labels: raidboss, 💬fr, 💬de, 💬ja

#4264 config: Fix mistaken in cn translation
  ui/raidboss/raidboss_config.ts
Labels: config, raidboss, 💬cn

#4273 raidboss: Add Ultima Unreal
  ui/raidboss/data/06-ew/trial/ultima-unreal.ts
  ui/raidboss/data/06-ew/trial/ultima-unreal.txt
  ui/raidboss/data/raidboss_manifest.txt
Labels: raidboss, 💬fr, 💬cn, 💬de

#4275 oopsy: Add Ultima Unreal
  ui/oopsyraidsy/data/06-ew/trial/ultima-unreal.ts
  ui/oopsyraidsy/data/oopsy_manifest.txt
Labels: oopsy

#4271 raidboss: small endsinger typescript/outputstring fixes
  ui/raidboss/data/06-ew/trial/endsinger-ex.ts
Labels: raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#4272 raidboss: Endsinger Ex star trigger tweaks
  ui/raidboss/data/06-ew/trial/endsinger-ex.ts
Labels: raidboss

#4280 i18n: Better cn config
  ui/config/general_config.ts
  ui/radar/radar_config.ts
  ui/raidboss/raidboss_config.ts
Labels: config, radar, raidboss, 💬cn

#4276 raidboss: add Aglaia
  ui/raidboss/data/06-ew/alliance/aglaia.ts
  ui/raidboss/data/06-ew/alliance/aglaia.txt
  ui/raidboss/data/06-ew/dungeon/alzadaals_legacy.txt
  ui/raidboss/data/raidboss_manifest.txt
Labels: raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#4277 oopsy: add Aglaia
  ui/oopsyraidsy/data/06-ew/alliance/aglaia.ts
  ui/oopsyraidsy/data/oopsy_manifest.txt
Labels: oopsy, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#4281 plugin: Update AST jobmemory for 6.1
  plugin/CactbotEventSource/FFXIVProcessIntl.cs
  ui/test/test.ts
Labels: test, plugin

#4283 i18n: EW Aglaia translations
  ui/raidboss/data/06-ew/alliance/aglaia.ts
Labels: raidboss, 💬de

#4286 oopsy: Add Alzadaal oopsy
  ui/oopsyraidsy/data/06-ew/dungeon/alzadaals_legacy.ts
  ui/oopsyraidsy/data/oopsy_manifest.txt
Labels: oopsy

#4285 raidboss: Aglaia Nald'thal stack trigger fix
  ui/raidboss/data/06-ew/alliance/aglaia.ts
  ui/raidboss/data/06-ew/alliance/aglaia.txt
Labels: raidboss

#4289 raidboss: add more aglaia timeline notes
  ui/raidboss/data/06-ew/alliance/aglaia.txt
Labels: raidboss

#4282 jobs: 6.1 changes and version diff
  resources/effect_id.ts
  resources/ffxiv/status/mug.png
  resources/ffxiv/status/searing-light-6.0.png
  resources/ffxiv/status/searing-light.png
  ui/jobs/buff_tracker.ts
  ui/jobs/combo_tracker.ts
  ui/jobs/components/ast.ts
  ui/jobs/components/base.ts
  ui/jobs/components/blm.ts
  ui/jobs/components/dnc.ts
  ui/jobs/components/drk.ts
  ui/jobs/components/index.ts
  ui/jobs/components/mnk.ts
  ui/jobs/components/pld.ts
  ui/jobs/components/war.ts
  ui/jobs/components/whm.ts
  ui/jobs/constants.ts
  ui/jobs/jobs.ts
  ui/jobs/player.ts
Labels: resources, jobs, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#4293 raidboss: Alzadaal updates
  ui/raidboss/data/06-ew/dungeon/alzadaals_legacy.ts
  ui/raidboss/data/06-ew/dungeon/alzadaals_legacy.txt
Labels: raidboss

#4290 oopsy: add Endsinger Ex
  ui/oopsyraidsy/data/06-ew/trial/endsinger-ex.ts
  ui/oopsyraidsy/data/oopsy_manifest.txt
Labels: oopsy, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#4291 raidboss/oopsy: rename ultima unreal files to un suffix
  ui/oopsyraidsy/data/06-ew/trial/ultima-un.ts
  ui/oopsyraidsy/data/oopsy_manifest.txt
  ui/raidboss/data/06-ew/trial/ultima-un.ts
  ui/raidboss/data/06-ew/trial/ultima-un.txt
  ui/raidboss/data/raidboss_manifest.txt
Labels: oopsy, raidboss

#4295 i18n: fix incorrect id in EW ali raid
  ui/raidboss/data/06-ew/alliance/aglaia.ts
Labels: raidboss

#4297 i18n: EW 6.1 KO translations
  ui/raidboss/data/06-ew/alliance/aglaia.ts
  ui/raidboss/data/06-ew/dungeon/alzadaals_legacy.ts
Labels: raidboss, 💬ko

#4298 raidboss: prevent chat trigger ready check
  ui/raidboss/data/00-misc/general.ts
Labels: raidboss

#4302 raidboss: Fix Endsinger Ex 5head collector logic
  ui/raidboss/data/06-ew/trial/endsinger-ex.ts
Labels: raidboss

#4300 raidboss: improve zodiark ex styx text
  ui/raidboss/data/06-ew/trial/zodiark-ex.ts
Labels: raidboss, 💬cn, 💬de

#4301 raidboss: fix naldthal stack trigger source
  ui/raidboss/data/06-ew/alliance/aglaia.ts
Labels: raidboss

#4299 util: fix multiple apostrophe issue in trigger ids
  util/find_missing_timeline_translations.js
Labels: util

#4303 build: update OverlayPlugin dependency to 0.18.2
  util/DEPS.json5
Labels: util

#3359 raidemulator: Force combatant sig states for line events
  ui/raidboss/emulator/data/CombatantTracker.ts
Labels: raidemulator

#3286 raidemulator: Add support for watchCombatant
  resources/util.ts
  ui/raidboss/emulator/data/AnalyzedEncounter.ts
  ui/raidboss/emulator/data/PopupTextAnalysis.ts
  ui/raidboss/emulator/data/RaidEmulator.ts
  ui/raidboss/emulator/overrides/RaidEmulatorWatchCombatantsOverride.ts
  ui/raidboss/raidemulator.ts
Labels: resources, raidemulator

#4306 raidboss: fix Sugriva Butcher trigger id
  ui/raidboss/data/06-ew/hunts/thavnair.ts
Labels: raidboss

#4305 raidboss: fix ready check trigger
  ui/raidboss/data/00-misc/general.ts
Labels: raidboss

#4307 raidemulator: Refactor state tracking for better performance
  ui/raidboss/emulator/data/Combatant.ts
  ui/raidboss/emulator/data/CombatantState.ts
  ui/raidboss/emulator/data/CombatantTracker.ts
Labels: raidemulator

#4310 i18n: ultima KO translations
  ui/raidboss/data/02-arr/trial/ultima-ex.ts
  ui/raidboss/data/06-ew/trial/ultima-un.ts
Labels: raidboss, 💬ko

#4308 raidemulator: Update LineEvent indexing
  ui/raidboss/emulator/data/NetworkLogConverter.ts
  ui/raidboss/emulator/data/NetworkLogConverter.worker.ts
Labels: raidemulator

#4311 raidemulator: Implement regex result caching for analysis
  ui/raidboss/emulator/data/AnalyzedEncounter.ts
  ui/raidboss/emulator/data/PopupTextAnalysis.ts
Labels: raidemulator

#4314 raidemulator: Adjust loops to be more efficient
  ui/raidboss/emulator/data/Combatant.ts
  ui/raidboss/emulator/data/CombatantTracker.ts
  ui/raidboss/emulator/data/Encounter.ts
  ui/raidboss/emulator/data/Persistor.ts
  ui/raidboss/emulator/data/PopupTextAnalysis.ts
Labels: raidemulator

#4315 radar: play noise when S rank is pulled
  ui/radar/radar.ts
  ui/radar/radar_config.ts
Labels: config, radar

#4317 radar: fix logic bug in S rank noise
  ui/radar/radar.ts
Labels: radar

#4188 raidboss: Refactor log defs to support multiple versions
  resources/netlog_defs.ts
  resources/netregexes.ts
  resources/regexes.ts
Labels: resources

#4319 util: rename unknown to sync from fflogs
  util/find_manual_timelines.js
  util/make_timeline.py
Labels: util

#4320 raidboss: fix incorrect Nald'thal Hearth trigger id
  ui/raidboss/data/06-ew/alliance/aglaia.ts
Labels: raidboss

#4318 raidboss: finish Aglaia Nald'thal timeline
  ui/raidboss/data/06-ew/alliance/aglaia.txt
Labels: raidboss

#4309 config: add UI for adding custom timeline entries
  docs/CactbotCustomization.md
  ui/config/config.css
  ui/config/config.ts
  ui/raidboss/raidboss_config.ts
  ui/raidboss/raidboss_options.ts
  ui/raidboss/timeline_parser.ts
Labels: config, raidboss, docs

#4322 raidboss: Sephirot EX updates
  ui/raidboss/data/03-hw/trial/sephirot-ex.ts
  ui/raidboss/data/03-hw/trial/sephirot-ex.txt
Labels: raidboss, 💬fr, 💬cn, 💬de

#4325 raidboss: cn-6.05
  resources/languages.ts
  resources/zone_info.ts
  ui/fisher/static-data.ts
  ui/radar/radar.ts
  ui/radar/radar_config.ts
  ui/raidboss/data/06-ew/raid/p1s.ts
  ui/raidboss/data/06-ew/raid/p2n.ts
  ui/raidboss/data/06-ew/raid/p2s.ts
  ui/raidboss/data/06-ew/raid/p3s.ts
  ui/raidboss/data/06-ew/raid/p4s.ts
  ui/raidboss/data/06-ew/trial/zodiark-ex.ts
  ui/raidboss/raidboss_config.ts
Labels: resources, config, fishing🎣, radar, raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#4324 plugin: use game version for memory locations
  plugin/CactbotEventSource/CactbotEventSource.cs
Labels: plugin

#4326 plugin: refactor region func into VersionChecker
  plugin/CactbotEventSource/CactbotEventSource.cs
  plugin/CactbotEventSource/VersionChecker.cs
  plugin/CactbotEventSource/loc/Strings.Designer.cs
  plugin/CactbotEventSource/loc/Strings.resx
Labels: plugin

#4327 plugin: pass version info to overlays
  plugin/CactbotEventSource/CactbotEventSource.cs
  resources/user_config.ts
  types/data.d.ts
  types/event.d.ts
Labels: resources, plugin

#4328 plugin: FateOpcode cn-6.05
  plugin/CactbotEventSource/FateWatcher.cs
Labels: plugin

#4330 i18n: add several missing translations
  ui/radar/radar.ts
  ui/radar/radar_config.ts
  ui/raidboss/data/03-hw/trial/sephirot-ex.ts
  ui/raidboss/raidboss_config.ts
Labels: config, radar, raidboss, 💬de

#4331 i18n: config & raidboss EW ko translations
  ui/radar/radar.ts
  ui/radar/radar_config.ts
  ui/raidboss/data/02-arr/trial/ultima-ex.ts
  ui/raidboss/data/06-ew/dungeon/alzadaals_legacy.ts
  ui/raidboss/data/06-ew/trial/endsinger-ex.ts
  ui/raidboss/data/06-ew/trial/hydaelyn-ex.ts
  ui/raidboss/data/06-ew/trial/ultima-un.ts
  ui/raidboss/data/06-ew/trial/zodiark-ex.ts
  ui/raidboss/raidboss_config.ts
Labels: config, radar, raidboss, 💬ko

#4333 config: fix removing timeline entry
  ui/raidboss/raidboss_config.ts
Labels: config, raidboss

#4334 plugin: Remove WipeDetector
  plugin/CactbotEventSource/CactbotEventSource.cs
  plugin/CactbotEventSource/CactbotEventSource.csproj
  plugin/CactbotEventSource/JSEvents.cs
  plugin/CactbotEventSource/WipeDetector.cs
  types/event.d.ts
  ui/jobs/event_emitter.ts
  ui/oopsyraidsy/damage_tracker.ts
  ui/pullcounter/pullcounter.ts
  ui/raidboss/popup-text.ts
Labels: jobs, oopsy, pullcounter, raidboss, plugin

#4336 raidboss: ARR Leveling Dungeons Triggers
  ui/raidboss/data/02-arr/dungeon/aurum_vale.ts
  ui/raidboss/data/02-arr/dungeon/brayfloxs_longstop.ts
  ui/raidboss/data/02-arr/dungeon/the_stone_vigil.ts
  ui/raidboss/data/02-arr/dungeon/the_sunken_temple_of_quarn.ts
  ui/raidboss/data/raidboss_manifest.txt
Labels: raidboss, 💬fr

#4337 plugin: update bozja intl opcode for 6.11
  plugin/CactbotEventSource/FateWatcher.cs
Labels: plugin

#4339 resources: 6.11 update
  resources/hunt.ts
  resources/zone_id.ts
  resources/zone_info.ts
Labels: resources, 💬fr, 💬cn, 💬de, 💬ja

#4341 raidboss: add blank files for ultimate
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.txt
  ui/raidboss/data/raidboss_manifest.txt
Labels: raidboss

#4345 oopsy: add DSR phase 1
  ui/oopsyraidsy/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
  ui/oopsyraidsy/data/oopsy_manifest.txt
Labels: oopsy

#4344 raidboss: DSR phase 1 timeline
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.txt
Labels: raidboss

#4346 i18n: first set of drs translations
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss

#4347 oopsy: partial Thordan mistakes
  ui/oopsyraidsy/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: oopsy

#4351 i18n: FR translation for raidboss config & aglia alliance
  ui/raidboss/data/06-ew/alliance/aglaia.ts
  ui/raidboss/raidboss_config.ts
Labels: config, raidboss, 💬fr

#4348 raidboss: partial Thordan DSR timeline
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.txt
Labels: raidboss

#4353 oopsy: more DSR oopsy
  ui/oopsyraidsy/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: oopsy

#4352 raidboss: add some basic DSR triggers
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss

#4354 raidboss: fix DSR Mercy Concealed id
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss

#4355 i18n: several new translations
  ui/raidboss/data/02-arr/dungeon/aurum_vale.ts
  ui/raidboss/data/02-arr/dungeon/the_stone_vigil.ts
  ui/raidboss/data/02-arr/dungeon/the_sunken_temple_of_quarn.ts
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss, 💬de

#4356 jobs: MCH: add missing combo breaker
  ui/jobs/constants.ts
Labels: jobs

#4357 plugin: fix broken singleton mode in Machina.FFXIV
  plugin/CactbotEventSource/VersionChecker.cs
Labels: plugin

#4359 oopsy: more Thordan oopsy
  ui/oopsyraidsy/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: oopsy

#4361 raidboss: fix DSR meteor logic
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss

#4364 i18n: new dsr translations
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss, 💬de
