Repository quisquous/cactbot, pull requests merged in 2022-11, with the labels that each got.

#5034 raidboss: ASS Squeaky Clean cast
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane.ts
Labels: raidboss

#5035 oopsy: one more variant trash mistake
  ui/oopsyraidsy/data/06-ew/dungeon/the_sildihn_subterrane.ts
Labels: oopsy

#5037 raidboss: Sil'dihn variant add Subterranean Shudder
  ui/raidboss/data/06-ew/dungeon/the_sildihn_subterrane.ts
Labels: raidboss

#5042 plugin: update FateWatcher for 6.28
  plugin/CactbotEventSource/FateWatcher.cs
Labels: plugin

#4959 eureka: use fate/CE lines instead of events
  resources/netlog_defs.ts
  resources/netregexes.ts
  ui/eureka/eureka.ts
  ui/eureka/zone_anemos.ts
  ui/eureka/zone_bozja_southern.ts
  ui/eureka/zone_hydatos.ts
  ui/eureka/zone_pagos.ts
  ui/eureka/zone_pyros.ts
  ui/eureka/zone_zadnor.ts
Labels: resources, eureka

#5050 i18n: add missing DE translations + timeline translations
  ui/raidboss/data/06-ew/dungeon/alzadaals_legacy.ts
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane-savage.ts
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane.ts
  ui/raidboss/data/06-ew/dungeon/the_sildihn_subterrane.ts
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss, 💬de

#5041 lint: fix output rule
  eslint/cactbot-output-strings.js
  package-lock.json
  package.json
Labels: 💬ko, 💬cn, 💬de, style, 💬ja

#5038 build: speedup tsc
  types/trigger.d.ts
  ui/raidboss/popup-text.ts
Labels: raidboss

#5046 ci: add `type` scope in PR title
  .github/scripts/lint-pr-title.cjs
Labels: ci

#5045 raidboss/test: fix `LooseTriggerSet` type
  test/helper/test_trigger.ts
  types/trigger.d.ts
  ui/raidboss/popup-text.ts
Labels: raidboss, test

#5051 raidboss: ASS 2nd trash fix
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane.ts
Labels: raidboss

#5052 raidboss: ASS(S) mob name change
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane-savage.ts
Labels: raidboss

#5053 i18n: ko sildihn update
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane-savage.ts
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane.ts
  ui/raidboss/data/06-ew/dungeon/the_sildihn_subterrane.ts
Labels: raidboss, 💬ko

#5054 oopsy: more variant mistakes
  ui/oopsyraidsy/data/06-ew/dungeon/the_sildihn_subterrane.ts
Labels: oopsy

#5043 raidboss: add ZodiarkEx astral eclipse
  ui/raidboss/data/06-ew/trial/zodiark-ex.ts
  ui/raidboss/data/06-ew/trial/zodiark-ex.txt
Labels: raidboss

#5044 raidboss: add ZodiarkEx Paradeigma triggers
  ui/raidboss/data/06-ew/trial/zodiark-ex.ts
Labels: raidboss, 💬ko, 💬cn, 💬de, 💬ja

#5058 resources: update Sleep to role action
  resources/util.ts
  test/unittests/util_test.ts
Labels: resources, test

#5036 raidboss: improvements to ASS/S silkie triggers
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane-savage.ts
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane.ts
Labels: raidboss

#5062 raidboss: initial triggers for The Masked Carnivale
  resources/content_list.ts
  ui/raidboss/data/04-sb/dungeon/the_masked_carnivale.ts
  ui/raidboss/data/raidboss_manifest.txt
Labels: resources, raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#5065 i18n: update ko translations
  ui/raidboss/data/04-sb/dungeon/the_masked_carnivale.ts
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane-savage.ts
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane.ts
  ui/raidboss/data/06-ew/trial/zodiark-ex.ts
Labels: raidboss, 💬ko

#5067 util: add The Masked Carnivale to content_type.ts
  resources/content_type.ts
  util/gen_zone_id_and_info.py
Labels: resources, util

#5068 raidboss: move Carnivale files from 04-SB to 00-misc
  ui/raidboss/data/00-misc/the_masked_carnivale.ts
  ui/raidboss/data/raidboss_manifest.txt
Labels: raidboss

#5070 util: rename The Masked Carnivale zone manually
  resources/zone_id.ts
  ui/raidboss/data/00-misc/the_masked_carnivale.ts
  util/gen_zone_id_and_info.py
Labels: resources, raidboss, util

#5071 raidboss: Sephirot EX--Fix duplicated alarm response
  ui/raidboss/data/03-hw/trial/sephirot-ex.ts
Labels: raidboss

#5072 oopsy: fix p8s2 multi/supersplicer mistakes
  ui/oopsyraidsy/data/06-ew/raid/p8s.ts
Labels: oopsy

#5074 util: handle undefined params in make_timeline.ts
  util/logtools/make_timeline.ts
Labels: util

#5077 raidboss: fix abilityid for ASS/S Slippery Soap
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane-savage.ts
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane.ts
Labels: raidboss

#5076 raidboss: refactor TimelineUI to not include HTML elements
  package.json
  ui/raidboss/emulator/overrides/RaidEmulatorTimelineUI.ts
  ui/raidboss/html_timeline_ui.ts
  ui/raidboss/raidboss.ts
  ui/raidboss/timeline.ts
  util/test_timeline.ts
Labels: raidboss, raidemulator, util, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#5075 util: some cleanup of make_timeline.ts
  util/logtools/make_timeline.ts
Labels: util

#5078 util: adjust test_timeline drift time/colors
  util/test_timeline.ts
Labels: util

#5079 util: include seal lines in EncounterCollector
  util/logtools/encounter_tools.ts
Labels: util

#5080 util: add support for `-lf` to test_timeline.ts
  util/test_timeline.ts
Labels: util

#5081 util: remove index.ts path from test_timeline
  util/index.ts
  util/test_timeline.ts
Labels: util

#5082 util: handle undefined args in test_timeline
  util/test_timeline.ts
Labels: util

#5063 raidboss: initial triggers for The Excitatron 6000
  ui/raidboss/data/06-ew/map/the_excitatron_6000.ts
  ui/raidboss/data/raidboss_manifest.txt
Labels: raidboss

#5086 util: refactor fflogs parseReport for sharing
  util/logtools/fflogs.ts
  util/logtools/make_timeline.ts
Labels: util

#5087 util: uppercase fflogs classnames
  util/logtools/fflogs.ts
Labels: util

#5088 util: fix make_timeline ignoring all entries
  util/logtools/make_timeline.ts
Labels: util

#5085 raidboss: Chi boss FATE triggers
  ui/raidboss/data/06-ew/hunts/ultima_thule.ts
Labels: raidboss

#5089 util: add fflogs support to test_timeline
  util/logtools/fflogs.ts
  util/test_timeline.ts
Labels: util

#5090 i18n: add & modify EW Japanese translations
  resources/outputs.ts
  ui/raidboss/data/06-ew/alliance/aglaia.ts
  ui/raidboss/data/06-ew/dungeon/alzadaals_legacy.ts
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane-savage.ts
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane.ts
  ui/raidboss/data/06-ew/dungeon/the_sildihn_subterrane.ts
  ui/raidboss/data/06-ew/dungeon/the_tower_of_babil.ts
  ui/raidboss/data/06-ew/hunts/elpis.ts
  ui/raidboss/data/06-ew/hunts/mare_lamentorum.ts
  ui/raidboss/data/06-ew/hunts/thavnair.ts
  ui/raidboss/data/06-ew/hunts/ultima_thule.ts
  ui/raidboss/data/06-ew/map/the_excitatron_6000.ts
  ui/raidboss/data/06-ew/raid/p5s.ts
  ui/raidboss/data/06-ew/raid/p6s.ts
  ui/raidboss/data/06-ew/raid/p7s.ts
  ui/raidboss/data/06-ew/raid/p8s.ts
  ui/raidboss/data/06-ew/trial/zodiark-ex.ts
Labels: resources, raidboss, 💬ko, 💬ja

#5092 plugin: CE opcode for cn 6.18
  plugin/CactbotEventSource/FateWatcher.cs
Labels: plugin

#5093 i18n: missing cn translations before 6.2
  ui/raidboss/data/00-misc/the_masked_carnivale.ts
  ui/raidboss/data/06-ew/dungeon/alzadaals_legacy.ts
  ui/raidboss/data/06-ew/hunts/mare_lamentorum.ts
  ui/raidboss/data/06-ew/hunts/thavnair.ts
  ui/raidboss/data/06-ew/hunts/ultima_thule.ts
  ui/raidboss/data/06-ew/map/the_excitatron_6000.ts
  ui/raidboss/data/06-ew/trial/sephirot-un.ts
  ui/raidboss/data/06-ew/trial/zodiark-ex.ts
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss, 💬cn

#5095 util: fix incorrect missing timeline translations
  ui/raidboss/timeline_parser.ts
Labels: raidboss

#5096 i18n: add missing translation + small CN/ENfix
  ui/raidboss/data/00-misc/the_masked_carnivale.ts
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane-savage.ts
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane.ts
  ui/raidboss/data/06-ew/dungeon/the_sildihn_subterrane.ts
  ui/raidboss/data/06-ew/hunts/ultima_thule.ts
  ui/raidboss/data/06-ew/map/the_excitatron_6000.ts
  ui/raidboss/data/06-ew/raid/p8n.ts
  ui/raidboss/data/06-ew/trial/zodiark-ex.ts
Labels: raidboss, 💬cn, 💬de

#5091 config: implement zoneLabel property
  docs/OopsyraidsyGuide.md
  docs/RaidbossGuide.md
  types/oopsy.d.ts
  types/trigger.d.ts
  ui/config/config.ts
  ui/raidboss/data/00-misc/the_masked_carnivale.ts
Labels: config, raidboss, docs

#5097 util: add -s/-e support to make_timeline
  util/logtools/make_timeline.ts
Labels: util

#5098 util: remove test_timeline logging of triggers
  util/test_timeline.ts
Labels: util

#5099 util: ignore repeated syncs in test_timeline
  util/test_timeline.ts
Labels: util

#5100 util: move test_timeline into util/logtools
  util/logtools/test_timeline.ts
Labels: util

#5103 raidboss: initial triggers for the Palace of the Dead
  ui/config/config.ts
  ui/raidboss/data/03-hw/deepdungeon/the_palace_of_the_dead_general.ts
  ui/raidboss/data/raidboss_manifest.txt
Labels: config, raidboss

#5105 raidboss: more Chi triggers
  ui/raidboss/data/06-ew/hunts/ultima_thule.ts
Labels: raidboss

#5107 i18n: add missing FR translation
  ui/raidboss/data/06-ew/dungeon/alzadaals_legacy.ts
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane.ts
  ui/raidboss/data/06-ew/dungeon/the_sildihn_subterrane.ts
  ui/raidboss/data/06-ew/raid/p5s.ts
  ui/raidboss/data/06-ew/raid/p8s.ts
  ui/raidboss/data/06-ew/trial/zodiark-ex.ts
Labels: raidboss, 💬fr

#5106 raidboss: initial triggers for Heaven-on-High
  ui/raidboss/data/04-sb/deepdungeon/heaven-on-high_general.ts
  ui/raidboss/data/raidboss_manifest.txt
Labels: raidboss

#5101 docs: rough update to TimelineGuide.md
  docs/TimelineGuide.md
Labels: docs

#5110 resources: ko 6.15 update
  ui/fisher/static-data.ts
Labels: fishing🎣

#5111 i18n: update ko translations & deepdungeon items
  ui/config/config.ts
  ui/raidboss/data/00-misc/the_masked_carnivale.ts
  ui/raidboss/data/03-hw/deepdungeon/the_palace_of_the_dead_general.ts
  ui/raidboss/data/04-sb/deepdungeon/heaven-on-high_general.ts
  ui/raidboss/data/06-ew/hunts/ultima_thule.ts
  ui/raidboss/data/06-ew/map/the_excitatron_6000.ts
Labels: config, raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#5112 raidboss: PotD 121-200
  ui/raidboss/data/03-hw/deepdungeon/the_palace_of_the_dead_floors_121-130.ts
  ui/raidboss/data/03-hw/deepdungeon/the_palace_of_the_dead_floors_131-140.ts
  ui/raidboss/data/03-hw/deepdungeon/the_palace_of_the_dead_floors_141-150.ts
  ui/raidboss/data/03-hw/deepdungeon/the_palace_of_the_dead_floors_151-160.ts
  ui/raidboss/data/03-hw/deepdungeon/the_palace_of_the_dead_floors_161-170.ts
  ui/raidboss/data/03-hw/deepdungeon/the_palace_of_the_dead_floors_171-180.ts
  ui/raidboss/data/03-hw/deepdungeon/the_palace_of_the_dead_floors_181-190.ts
  ui/raidboss/data/03-hw/deepdungeon/the_palace_of_the_dead_floors_191-200.ts
  ui/raidboss/data/03-hw/deepdungeon/the_palace_of_the_dead_general.ts
  ui/raidboss/data/raidboss_manifest.txt
Labels: raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#5102 util: remove Python timeline utilities
  util/encounter_tools.py
  util/fflogs.py
  util/make_timeline.py
  util/test_timeline.py
  util/timeline_aggregator.py
  util/translate_fight.py
Labels: util

#5116 raidboss: re-add territory replaced by 6.2 revamp
  resources/zone_id.ts
  resources/zone_info.ts
  ui/raidboss/data/02-arr/dungeon/snowcloak61.ts
  ui/raidboss/data/03-hw/dungeon/sohm_al61.ts
  ui/raidboss/data/03-hw/dungeon/sohm_al61.txt
  ui/raidboss/data/03-hw/dungeon/the_vault61.ts
  ui/raidboss/data/03-hw/dungeon/the_vault61.txt
  ui/raidboss/data/raidboss_manifest.txt
  util/gen_zone_id_and_info.py
Labels: resources, raidboss, util, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#5119 docs/util: add variant/criterion clear code
  docs/LogGuide.md
  ui/raidboss/emulator/EmulatorCommon.ts
  util/logtools/encounter_tools.ts
Labels: raidemulator, util, docs

#5118 raidboss: fix Narrow-Rift hunt not respecting combat status
  ui/raidboss/data/06-ew/hunts/ultima_thule.ts
Labels: raidboss

#5124 plugin: CE opcode for ko 6.15
  plugin/CactbotEventSource/FateWatcher.cs
Labels: plugin

#5126 resources: use healerNames getter
  resources/party.ts
Labels: resources

#5125 i18n: update PotD ko translations
  ui/raidboss/data/03-hw/deepdungeon/the_palace_of_the_dead_floors_151-160.ts
  ui/raidboss/data/03-hw/deepdungeon/the_palace_of_the_dead_floors_181-190.ts
Labels: raidboss, 💬ko

#5123 raidboss: Daivadipa boss FATE
  ui/raidboss/data/06-ew/hunts/thavnair.ts
Labels: raidboss

#5121 raidboss: HoH 21-100
  ui/raidboss/data/04-sb/deepdungeon/heaven-on-high_floors_21-30.ts
  ui/raidboss/data/04-sb/deepdungeon/heaven-on-high_floors_31-40.ts
  ui/raidboss/data/04-sb/deepdungeon/heaven-on-high_floors_41-50.ts
  ui/raidboss/data/04-sb/deepdungeon/heaven-on-high_floors_51-60.ts
  ui/raidboss/data/04-sb/deepdungeon/heaven-on-high_floors_61-70.ts
  ui/raidboss/data/04-sb/deepdungeon/heaven-on-high_floors_71-80.ts
  ui/raidboss/data/04-sb/deepdungeon/heaven-on-high_floors_81-90.ts
  ui/raidboss/data/04-sb/deepdungeon/heaven-on-high_floors_91-100.ts
  ui/raidboss/data/04-sb/deepdungeon/heaven-on-high_general.ts
  ui/raidboss/data/raidboss_manifest.txt
Labels: raidboss, 💬ko, 💬fr, 💬cn, 💬de

#5109 raidboss: add ShB hunts
  resources/outputs.ts
  resources/responses.ts
  ui/raidboss/data/05-shb/hunts/amh_araeng.ts
  ui/raidboss/data/05-shb/hunts/il_mheg.ts
  ui/raidboss/data/05-shb/hunts/kholusia.ts
  ui/raidboss/data/05-shb/hunts/lakeland.ts
  ui/raidboss/data/05-shb/hunts/ss_rank.ts
  ui/raidboss/data/05-shb/hunts/the_raktika_greatwood.ts
  ui/raidboss/data/05-shb/hunts/the_tempest.ts
  ui/raidboss/data/06-ew/hunts/elpis.ts
  ui/raidboss/data/06-ew/hunts/ss_rank.ts
  ui/raidboss/data/raidboss_manifest.txt
Labels: resources, raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#5129 lint: fix eslint output string spreading syntax
  eslint/cactbot-output-strings.js
  ui/raidboss/data/06-ew/trial/zodiark-ex.ts
Labels: raidboss, style

#5130 i18n: add missing cn translations
  ui/raidboss/data/06-ew/hunts/thavnair.ts
  ui/raidboss/data/06-ew/hunts/ultima_thule.ts
Labels: raidboss, 💬cn
