Repository quisquous/cactbot, pull requests merged in 2022-02, with the labels that each got.

#4093 plugin: initialize with current ffxiv process to avoid race
  plugin/CactbotEventSource/CactbotEventSource.cs
  plugin/CactbotEventSource/FFXIVPlugin.cs
  plugin/CactbotEventSource/loc/Strings.Designer.cs
  plugin/CactbotEventSource/loc/Strings.resx
Labels: plugin

#4090 jobs: DRG: EW Gauges
  plugin/CactbotEventSource/FFXIVProcessIntl.cs
  types/event.d.ts
  ui/jobs/components/drg.ts
  ui/jobs/components/index.ts
  ui/jobs/jobs.css
  ui/test/test.ts
Labels: jobs, test, plugin

#4091 jobs: AST: Add Minor Arcana Timer
  ui/jobs/components/ast.ts
  ui/jobs/constants.ts
  ui/jobs/jobs.css
Labels: jobs

#4092 jobs: SGE: Improvement
  ui/jobs/components/sge.ts
  ui/jobs/constants.ts
  ui/jobs/jobs.css
  ui/jobs/jobs_options.ts
Labels: jobs

#4095 plugin: Fix NonSerialized for drg job data
  plugin/CactbotEventSource/FFXIVProcessIntl.cs
Labels: plugin

#4088 i18n: add missing transaltions - Misc test fr
  ui/oopsyraidsy/oopsy_live_list.ts
  ui/raidboss/data/00-misc/test.ts
Labels: oopsy, raidboss, 💬fr

#4094 raidboss: Added more chinese for p4s
  ui/raidboss/data/06-ew/raid/p4s.ts
Labels: raidboss, 💬cn

#4097 jobs: Improve multi-call preventer
  ui/jobs/components/dnc.ts
  ui/jobs/components/rpr.ts
  ui/jobs/components/sge.ts
Labels: jobs

#4098 jobs: improve lily gauge
  ui/jobs/components/whm.ts
  ui/jobs/jobs.css
Labels: jobs

#4099 raidboss: second ex trial add phase directions
  ui/raidboss/data/06-ew/trial/hydaelyn-ex.ts
Labels: raidboss

#4100 eureka: detect _ in the trackerRegex
  ui/eureka/eureka.ts
Labels: eureka

#4101 i18n: small translation update
  ui/raidboss/data/06-ew/hunts/elpis.ts
  ui/raidboss/data/06-ew/hunts/thavnair.ts
  ui/raidboss/data/06-ew/raid/p2s.ts
Labels: raidboss, 💬de

#4103 i18n: translation adds and corrections fr o5n-o8n
  ui/raidboss/data/04-sb/raid/o5n.ts
  ui/raidboss/data/04-sb/raid/o6n.ts
  ui/raidboss/data/04-sb/raid/o7n.ts
  ui/raidboss/data/04-sb/raid/o8n.ts
Labels: raidboss, 💬fr

#4104 i18n: translation adds and corrections fr o5s-o8s
  ui/raidboss/data/04-sb/raid/o5s.ts
  ui/raidboss/data/04-sb/raid/o6s.ts
  ui/raidboss/data/04-sb/raid/o7s.ts
  ui/raidboss/data/04-sb/raid/o7s.txt
  ui/raidboss/data/04-sb/raid/o8s.ts
Labels: raidboss, 💬fr

#4105 jobs: MNK master's gauge
  plugin/CactbotEventSource/FFXIVProcessIntl.cs
  types/event.d.ts
  ui/jobs/components/mnk.ts
  ui/jobs/jobs.css
  ui/test/test.ts
Labels: jobs, test, plugin

#4106 i18n: Added Japanese translation for ew dungeons
  ui/raidboss/data/06-ew/dungeon/smileton.ts
  ui/raidboss/data/06-ew/dungeon/stigma_dreamscape.ts
  ui/raidboss/data/06-ew/dungeon/the_dead_ends.ts
Labels: raidboss, 💬ja

#4108 oopsy: clean up debug log messages
  ui/oopsyraidsy/mistake_collector.ts
Labels: oopsy

#3964 raidboss: translate Korean logs into pre-6.x forms
  ui/raidboss/common_replacement.ts
  ui/raidboss/timeline_parser.ts
Labels: raidboss

#4113 i18n: add missing translations fr on p4s
  ui/raidboss/data/06-ew/raid/p4s.ts
Labels: raidboss, 💬fr

#4114 raidboss: fix Tumult syncs in Titan Hard
  ui/raidboss/data/02-arr/trial/titan-hm.txt
Labels: raidboss

#4115 raidboss: fix French timeline translations
  ui/raidboss/common_replacement.ts
Labels: raidboss, 💬fr

#4112 raidboss: more Lunatender hunt trigger fixes
  ui/raidboss/data/06-ew/hunts/mare_lamentorum.ts
Labels: raidboss

#4119 i18n: Add/Fix some Japanese translations for EW contents
  ui/raidboss/data/06-ew/dungeon/smileton.ts
  ui/raidboss/data/06-ew/raid/p1s.ts
  ui/raidboss/data/06-ew/raid/p2s.ts
Labels: raidboss, 💬ja

#4121 raidboss: predict last 2 EmEx swords to give more time
  ui/raidboss/data/05-shb/trial/emerald_weapon-ex.ts
Labels: raidboss

#4122 raidboss: fix overriding trigger index 0 from user file
  ui/raidboss/popup-text.ts
Labels: raidboss

#4123 raidboss: improve act 2 tether callouts
  ui/raidboss/data/06-ew/raid/p4s.ts
Labels: raidboss

#4126 i18n: add missing translations fr on Hydaelyn-ex
  ui/raidboss/data/06-ew/trial/hydaelyn-ex.ts
Labels: raidboss, 💬fr

#4127 i18n: add translations Fr on P3s-p4s
  ui/raidboss/data/06-ew/raid/p3s.ts
  ui/raidboss/data/06-ew/raid/p4s.ts
Labels: raidboss, 💬fr

#4128 i18n: add missing translation fr on emerald-ex
  ui/raidboss/data/05-shb/trial/emerald_weapon-ex.ts
Labels: raidboss, 💬fr

#4131 i18n: Adds and corrections translations Fr on UcoB
  ui/raidboss/data/04-sb/ultimate/unending_coil_ultimate.ts
Labels: raidboss, 💬fr, 💬de

#4111 oopsy: add P1S
  ui/oopsyraidsy/data/06-ew/raid/p1s.ts
  ui/oopsyraidsy/data/oopsy_manifest.txt
Labels: oopsy, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#4130 raidboss: add P1S top/bottom first calls
  ui/raidboss/data/06-ew/raid/p1s.ts
Labels: raidboss

#4133 i18n: corrections of translations Fr on o9s-o12s
  ui/raidboss/data/04-sb/raid/o10s.ts
  ui/raidboss/data/04-sb/raid/o11s.ts
  ui/raidboss/data/04-sb/raid/o12s.ts
  ui/raidboss/data/04-sb/raid/o9s.ts
Labels: raidboss, 💬fr

#4135 i18n: adds missing translations Fr on p1s
  ui/raidboss/data/06-ew/raid/p1s.ts
Labels: raidboss, 💬fr

#4137 i18n: Better translations Fr for Back/Backwards
  ui/raidboss/data/04-sb/dungeon/sirensong_sea.ts
  ui/raidboss/data/05-shb/alliance/the_copied_factory.ts
  ui/raidboss/data/05-shb/raid/e3s.ts
  ui/raidboss/data/05-shb/ultimate/the_epic_of_alexander.ts
  ui/raidboss/data/06-ew/dungeon/stigma_dreamscape.ts
  ui/raidboss/data/06-ew/hunts/thavnair.ts
Labels: raidboss, 💬fr

#4138 i18n: adds missing EW translations for Ja/Ko
  ui/raidboss/data/06-ew/dungeon/smileton.ts
  ui/raidboss/data/06-ew/dungeon/stigma_dreamscape.ts
  ui/raidboss/data/06-ew/dungeon/the_aitiascope.ts
  ui/raidboss/data/06-ew/dungeon/the_dead_ends.ts
  ui/raidboss/data/06-ew/dungeon/the_tower_of_babil.ts
  ui/raidboss/data/06-ew/raid/p1s.ts
  ui/raidboss/data/06-ew/raid/p2s.ts
  ui/raidboss/data/06-ew/raid/p3s.ts
  ui/raidboss/data/06-ew/raid/p4s.ts
Labels: raidboss, 💬ko, 💬cn, 💬ja

#4129 raidboss: small fixes to P1S timeline
  ui/raidboss/data/06-ew/raid/p1s.ts
  ui/raidboss/data/06-ew/raid/p1s.txt
Labels: raidboss

#4141 raidboss: Fix EW Ex2 north/south trigger
  ui/raidboss/data/06-ew/trial/hydaelyn-ex.ts
Labels: raidboss

#4139 raidboss: add trigger for Bloody Sweep (#3605)
  ui/raidboss/data/05-shb/alliance/the_tower_at_paradigms_breach.ts
Labels: raidboss

#4140 i18n: small german updates
  ui/raidboss/data/05-shb/trial/emerald_weapon-ex.ts
  ui/raidboss/data/06-ew/raid/p1s.ts
  ui/raidboss/data/06-ew/raid/p4s.ts
  ui/raidboss/data/06-ew/trial/hydaelyn-ex.ts
Labels: raidboss, 💬de

#4124 raidboss: add p4s thorn direction
  ui/raidboss/data/06-ew/raid/p4s.ts
Labels: raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#4143 raidboss: Refactor ability vs abilityFull
  resources/netregexes.ts
  resources/regexes.ts
Labels: resources

#4144 resources: Stop TimerBar Advance on Disconnect
  resources/timerbar.ts
  resources/timerbox.ts
Labels: resources

#4145 raidboss: remove debug log for act 2 color tether
  ui/raidboss/data/06-ew/raid/p4s.ts
Labels: raidboss

#4147 resources: add targetCount to 0x15/0x16 lines
  docs/LogGuide.md
  resources/netlog_defs.ts
  test/unittests/netregex_test.ts
  test/unittests/regex_test.ts
Labels: resources, test, docs

#4148 oopsy: cancel death report queue when hiding
  ui/oopsyraidsy/oopsy_live_list.ts
Labels: oopsy

#4149 test: fix up regex tests after abilityFull change
  test/unittests/netregex_test.ts
  test/unittests/regex_test.ts
Labels: test

#4150 i18n: fix missing german translations
  ui/raidboss/data/05-shb/alliance/the_tower_at_paradigms_breach.ts
  ui/raidboss/data/06-ew/raid/p4s.ts
Labels: raidboss, 💬de

#4153 i18n: corrections and adds of translation Fr on Rabanastre
  ui/raidboss/data/04-sb/alliance/orbonne_monastery.ts
  ui/raidboss/data/04-sb/alliance/ridorana_lighthouse.ts
  ui/raidboss/data/04-sb/alliance/royal_city_of_rabanastre.ts
Labels: raidboss, 💬fr

#4151 oopsy: treat combatants with 0000 owners as not pets
  ui/oopsyraidsy/player_state_tracker.ts
Labels: oopsy

#4154 i18n: add Translations fr more content
  ui/eureka/eureka_config.ts
  ui/raidboss/data/04-sb/eureka/eureka_hydatos.ts
  ui/raidboss/data/04-sb/raid/o4s.ts
  ui/raidboss/data/04-sb/trial/byakko-ex.ts
  ui/raidboss/data/04-sb/trial/shinryu-ex.ts
  ui/raidboss/data/04-sb/trial/tsukuyomi.ts
  ui/raidboss/data/05-shb/alliance/the_tower_at_paradigms_breach.ts
  ui/raidboss/data/06-ew/raid/p1s.ts
  ui/raidboss/data/06-ew/raid/p4s.ts
  ui/raidboss/emulator/translations.ts
Labels: config, eureka, raidboss, raidemulator, 💬fr

#4155 i18n: fix regex Fr on hydatos
  ui/raidboss/data/04-sb/eureka/eureka_hydatos.ts
Labels: raidboss

#4160 resources: add all Ability fields to NetworkAOEAbility
  resources/netlog_defs.ts
Labels: resources

#4157 raidboss: improve Manusya/Transmute alerts
  ui/raidboss/data/06-ew/dungeon/the_tower_of_zot.ts
Labels: raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#4158 plugin: remove PIDDEBUG logging
  plugin/CactbotEventSource/FFXIVPlugin.cs
  plugin/CactbotEventSource/FFXIVProcess.cs
Labels: plugin

#4164 raidboss: add basic triggers for Sephirot Normal mode
  docs/LogGuide.md
  ui/raidboss/data/03-hw/trial/sephirot.ts
  ui/raidboss/data/raidboss_manifest.txt
Labels: raidboss, docs

#4166 jobs: BRD: further EW changes
  resources/effect_id.ts
  resources/ffxiv/status/radiant-finale.png
  ui/jobs/buff_tracker.ts
  ui/jobs/components/brd.ts
  ui/jobs/components/index.ts
  ui/jobs/constants.ts
  ui/jobs/jobs.css
  util/gen_effect_id.ts
Labels: resources, jobs, util

#4167 jobs: RPR: enshroud support and fixing
  ui/jobs/components/rpr.ts
  ui/jobs/jobs.css
Labels: jobs

#4169 resources: temporarily remove targetIndex/targetCount
  docs/LogGuide.md
  resources/netlog_defs.ts
  test/unittests/netregex_test.ts
  test/unittests/regex_test.ts
  ui/jobs/components/dnc.ts
  ui/jobs/components/rpr.ts
  ui/jobs/components/sge.ts
Labels: resources, jobs, test, docs
