Repository quisquous/cactbot, pull requests merged in 2022-10, with the labels that each got.

#4899 ci: set force_orphan when publishing gh-pages
  .github/workflows/update-gh-pages.yml
Labels: ci

#4900 raidboss: minor Sephirot trigger changes
  ui/raidboss/data/03-hw/trial/sephirot-ex.ts
  ui/raidboss/data/03-hw/trial/sephirot-ex.txt
  ui/raidboss/data/06-ew/trial/sephirot-un.ts
  ui/raidboss/data/06-ew/trial/sephirot-un.txt
Labels: raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#4898 raidboss: add Narrow-Rift Empty Refrain
  ui/raidboss/data/06-ew/hunts/ultima_thule.ts
Labels: raidboss

#4886 build: transpile triggers with ts-node api
  tsconfig.triggers.json
  util/process_triggers_folder.ts
Labels: util

#4903 resources: support for mapeffects
  docs/LogGuide.md
  resources/netlog_defs.ts
  resources/netregexes.ts
  resources/regexes.ts
  util/gen_log_guide.ts
Labels: resources, util, docs

#4905 docs: add remaining new log lines from OverlayPlugin
  docs/LogGuide.md
  resources/netlog_defs.ts
  resources/regexes.ts
  util/gen_log_guide.ts
Labels: resources, util, docs

#4906 docs: auto-generate netregex for all lines
  docs/LogGuide.md
  util/gen_log_guide.ts
Labels: util, docs

#4911 i18n: update ko sephirot translations
  ui/raidboss/data/03-hw/trial/sephirot-ex.ts
  ui/raidboss/data/06-ew/trial/sephirot-un.ts
Labels: raidboss, 💬ko

#4908 resources: rename field in MapEffect line
  docs/LogGuide.md
  resources/netlog_defs.ts
Labels: resources, docs

#4909 docs: auto-generate regex for all lines
  docs/LogGuide.md
  resources/regexes.ts
  util/gen_log_guide.ts
Labels: resources, util, docs

#4912 plugin: update FFXIVProcessKo to 6.1
  plugin/CactbotEventSource/FFXIVProcessKo.cs
Labels: plugin

#4913 raidboss: fix Sphatika inconsistent triggers
  ui/raidboss/data/06-ew/hunts/thavnair.ts
Labels: raidboss

#4918 raidboss: fix entering combat resetting `data`
  ui/raidboss/popup-text.ts
Labels: raidboss

#4920 oopsy: fix ZoneId in Alzadaal's Legacy file
  ui/oopsyraidsy/data/06-ew/dungeon/alzadaals_legacy.ts
Labels: oopsy

#4923 i18n: small DE correction + add missing translations
  ui/raidboss/data/03-hw/trial/sephirot-ex.ts
  ui/raidboss/data/06-ew/raid/p6s.ts
  ui/raidboss/data/06-ew/raid/p8s.ts
  ui/raidboss/data/06-ew/trial/sephirot-un.ts
Labels: raidboss, 💬de

#4925 i18n: FR fixes
  ui/raidboss/data/03-hw/trial/sephirot-ex.ts
  ui/raidboss/data/06-ew/raid/p7s.ts
  ui/raidboss/data/06-ew/trial/sephirot-un.ts
Labels: raidboss, 💬fr

#4922 docs: update log guide wording to say "parsed" log lines
  docs/LogGuide.md
  util/gen_log_guide.ts
Labels: util, docs

#4926 plugin: CE opcode for cn 6.15
  plugin/CactbotEventSource/FateWatcher.cs
  resources/outputs.ts
  ui/raidboss/data/03-hw/trial/sephirot-ex.ts
Labels: resources, raidboss, 💬cn, plugin

#4931 i18n: add missing CN translations
  ui/raidboss/data/06-ew/hunts/elpis.ts
Labels: raidboss, 💬cn

#4929 raidboss: p8s_vents possible fix
  ui/raidboss/data/06-ew/raid/p8s.ts
Labels: raidboss

#4830 raidboss: p8s add 2nd/3rd vent calls
  ui/raidboss/data/06-ew/raid/p8s.ts
Labels: raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#4907 raidboss: add triggers for P6S polyominoids & cachexia 2
  ui/raidboss/data/06-ew/raid/p6s.ts
Labels: raidboss

#4921 raidboss: add trigger for P6S transmission
  ui/raidboss/data/06-ew/raid/p6s.ts
Labels: raidboss

#4933 plugin: update bozja ko opcode for 6.1
  plugin/CactbotEventSource/FateWatcher.cs
Labels: plugin

#4934 i18n: update ko p6s translations
  ui/raidboss/data/06-ew/raid/p6s.ts
Labels: raidboss, 💬ko

#4935 i18n: update FR p6s translations
  ui/raidboss/data/06-ew/raid/p6s.ts
Labels: raidboss, 💬fr

#4939 raidboss: set base raidboss data after `initData`
  ui/raidboss/popup-text.ts
Labels: raidboss

#4919 raidboss: p8s HC1/HC2 Tower Colors + Merge Targets
  ui/raidboss/data/06-ew/raid/p8s.ts
Labels: raidboss

#4941 docs: add section for instance content id
  docs/LogGuide.md
Labels: docs

#4942 docs: update ability flags for 6.x
  docs/LogGuide.md
Labels: docs

#4944 lint: add eslint rule `import/no-useless-path-segments`
  .eslintrc.cjs
  resources/player_override.ts
  types/trigger.d.ts
  ui/raidboss/emulator/overrides/RaidEmulatorPopupText.ts
  ui/raidboss/emulator/overrides/RaidEmulatorTimelineUI.ts
Labels: resources, raidemulator

#4947 plugin: update bozja intl opcode for v6.25
  plugin/CactbotEventSource/FateWatcher.cs
Labels: plugin

#4945 ci: fix a jsdoc wrong type
  .github/scripts/auto-label.cjs
Labels: ci

#4948 resources: 6.25 update
  resources/zone_id.ts
  resources/zone_info.ts
  ui/fisher/static-data.ts
Labels: resources, fishing🎣, 💬fr, 💬de, 💬ja

#4949 resources: add new zones to content_list.ts
  resources/content_list.ts
Labels: resources

#4950 util: update coverage report to handle V&C
  util/coverage/coverage.ts
  util/gen_coverage_report.ts
Labels: util

#4936 raidboss: update Sohm Al stack/spread headmarkers
  ui/raidboss/data/03-hw/dungeon/sohm_al.ts
Labels: raidboss

#4951 util: handle V&C dungeons in log splitter
  util/logtools/encounter_tools.ts
Labels: util

#4952 i18n: added new DE p6s and p8s translations
  ui/raidboss/data/06-ew/raid/p6s.ts
  ui/raidboss/data/06-ew/raid/p8s.ts
Labels: raidboss, 💬de

#4958 resources: Revert: use a shared wipe net regex
  resources/netregexes.ts
  ui/pullcounter/pullcounter.ts
  ui/raidboss/emulator/EmulatorCommon.ts
  ui/raidboss/popup-text.ts
  ui/raidboss/timeline.ts
  util/logtools/encounter_tools.ts
Labels: resources, pullcounter, raidboss, raidemulator, util

#4963 resources: ko 6.11 update
  resources/zone_info.ts
Labels: resources, 💬ko

#4964 i18n: update ko translations
  ui/raidboss/data/06-ew/raid/p5s.ts
  ui/raidboss/data/06-ew/raid/p6s.ts
  ui/raidboss/data/06-ew/raid/p8s.ts
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss, 💬ko

#4960 raidboss: minor Cachexia trigger changes
  ui/raidboss/data/06-ew/raid/p6s.ts
Labels: raidboss

#4961 resources: common net regex
  resources/netregexes.ts
  ui/oopsyraidsy/damage_tracker.ts
  ui/pullcounter/pullcounter.ts
  ui/raidboss/common_replacement.ts
  ui/raidboss/emulator/EmulatorCommon.ts
  ui/raidboss/popup-text.ts
  ui/raidboss/timeline.ts
  util/logtools/encounter_tools.ts
Labels: resources, oopsy, pullcounter, raidboss, raidemulator, util

#4957 raidboss: use `NetRegexes` build args directly
  resources/netregexes.ts
  resources/translations.ts
  test/helper/test_trigger.ts
  types/trigger.d.ts
  ui/raidboss/data/00-misc/test.ts
  ui/raidboss/popup-text.ts
  ui/raidboss/raidboss_config.ts
Labels: resources, config, raidboss, test

#4938 ci: new workflow to release npm package
  .github/scripts/npm-package.cjs
  .github/workflows/release.yml
  .gitignore
  package-lock.json
  package.json
Labels: ci

#4969 plugin: update bozja ko opcode for 6.11
  plugin/CactbotEventSource/FateWatcher.cs
Labels: plugin

#4968 i18n: update ko DSR translations
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss

#4973 raidboss: fix test in some edge case
  resources/translations.ts
  test/helper/test_trigger.ts
Labels: resources, test

#4975 resources: deprecate `NetRegexes.addedCombatantFull`
  resources/netregexes.ts
Labels: resources

#4976 config: fix raidboss config not listing zones
  ui/raidboss/raidboss_config.ts
Labels: config, raidboss

#4978 resources: type for not used NetRegexes param key
  resources/netregexes.ts
Labels: resources

#4979 ci: fix for yarn user
  .github/scripts/npm-package.cjs
  .github/workflows/release.yml
  .npmrc
Labels: ci

#4980 raidboss: Fix seal common translation for param netRegex
  test/helper/test_timeline.ts
  ui/raidboss/common_replacement.ts
Labels: raidboss, test

#4981 lint: add `no-extra-parens`
  .eslintrc.cjs
  eslint/cactbot-output-strings.js
  eslint/cactbot-trigger-property-order.js
  eslint/cactbot-triggerset-property-order.js
  resources/datetime.ts
  resources/regexes.ts
  resources/resourcebar.ts
  resources/timerbar.ts
  resources/timerbox.ts
  resources/weather.ts
  resources/widget_list.ts
  ui/dps/xephero/xephero.js
  ui/eureka/eureka.ts
  ui/fisher/fisher-ui.js
  ui/fisher/fisher.js
  ui/jobs/components/dnc.ts
  ui/jobs/components/index.ts
  ui/jobs/components/rdm.ts
  ui/jobs/components/sge.ts
  ui/jobs/components/smn.ts
  ui/jobs/components/whm.ts
  ui/jobs/utils.ts
  ui/oopsyraidsy/damage_tracker.ts
  ui/radar/radar.ts
  ui/raidboss/data/03-hw/trial/sephirot-ex.ts
  ui/raidboss/data/04-sb/raid/o3n.ts
  ui/raidboss/data/05-shb/eureka/delubrum_reginae_savage.ts
  ui/raidboss/data/05-shb/raid/e12s.ts
  ui/raidboss/data/05-shb/raid/e9s.ts
  ui/raidboss/data/05-shb/ultimate/the_epic_of_alexander.ts
  ui/raidboss/data/06-ew/raid/p4s.ts
  ui/raidboss/data/06-ew/raid/p6s.ts
  ui/raidboss/data/06-ew/raid/p7s.ts
  ui/raidboss/data/06-ew/raid/p8s.ts
  ui/raidboss/data/06-ew/trial/endsinger-ex.ts
  ui/raidboss/data/06-ew/trial/sephirot-un.ts
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
  ui/raidboss/emulator/EventBus.ts
  ui/raidboss/emulator/data/AnalyzedEncounter.ts
  ui/raidboss/emulator/data/Encounter.ts
  ui/raidboss/emulator/data/PopupTextAnalysis.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent.ts
  ui/raidboss/emulator/overrides/RaidEmulatorPopupText.ts
  ui/raidboss/emulator/overrides/RaidEmulatorTimelineUI.ts
  ui/raidboss/emulator/ui/EmulatedPartyInfo.ts
  ui/raidboss/emulator/ui/ProgressBar.ts
  ui/raidboss/emulator/ui/Tooltip.ts
  ui/raidboss/popup-text.ts
  ui/raidboss/raidboss_config.ts
  ui/raidboss/raidemulator.ts
  ui/raidboss/timeline_parser.ts
  ui/test/test.ts
  util/coinach.ts
  util/gen_log_guide.ts
  util/logtools/make_timeline.ts
  util/test_timeline.ts
Labels: resources, config, dps, eureka, fishing🎣, jobs, oopsy, radar, raidboss, raidemulator, test, util, style

#4988 raidboss: fix `NetRegexes.ability` is alias
  resources/netregexes.ts
  test/helper/test_trigger.ts
  ui/raidboss/popup-text.ts
  ui/raidboss/raidboss_config.ts
Labels: resources, config, raidboss, test

#4967 raidboss: dungeons Add Another Sil'dihn Subterrane
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane.ts
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane.txt
  ui/raidboss/data/raidboss_manifest.txt
Labels: raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#4983 raidboss: p8s unnecessary brackets around 793E
  ui/raidboss/data/06-ew/raid/p8s.ts
Labels: raidboss

#4990 i18n: criterion dungeon translation and small p5s addition
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane.ts
  ui/raidboss/data/06-ew/raid/p5s.ts
Labels: raidboss, 💬de

#4994 raidboss: additional triggers for ASS second boss
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane.ts
Labels: raidboss

#4991 raidboss: ASS use new netregexes
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane.ts
Labels: raidboss

#4995 raidboss: fix Ker hunt trigger
  ui/raidboss/data/06-ew/hunts/ss_rank.ts
Labels: raidboss

#4937 build/ci: update to nodejs 18 LTS
  .github/actions/setup-js-env/action.yml
  .github/workflows/build-artifact.yml
  .github/workflows/css-lint.yml
  .github/workflows/javascript-lint.yml
  .github/workflows/markdown-lint.yml
  .github/workflows/post-process.yml
  .github/workflows/test.yml
  package-lock.json
  package.json
Labels: ci

#4954 lint: remove `eslint-plugin-dprint`
  .eslintrc.cjs
  .github/actions/setup-js-env/action.yml
  .github/scripts/auto-label.cjs
  .vscode/extensions.json
  .vscode/settings.json
  dprint.base.json
  dprint.json
  dprint.trigger.json
  eslint/cactbot-output-strings.js
  package-lock.json
  package.json
  resources/netlog_defs.ts
  resources/responses.ts
  resources/timerbox.ts
  resources/user_config.ts
  test/helper/test_trigger.ts
  types/event.d.ts
  types/trigger.d.ts
  ui/dps/rdmty/dps.js
  ui/dps/xephero/dps_phase_tracker.js
  ui/dps/xephero/xephero.js
  ui/fisher/fisher.js
  ui/jobs/bars.ts
  ui/jobs/components/blu.ts
  ui/jobs/components/brd.ts
  ui/jobs/components/dnc.ts
  ui/jobs/components/drg.ts
  ui/jobs/components/gnb.ts
  ui/jobs/components/mch.ts
  ui/jobs/components/mnk.ts
  ui/jobs/components/nin.ts
  ui/jobs/components/pld.ts
  ui/jobs/components/rdm.ts
  ui/jobs/components/rpr.ts
  ui/jobs/components/sam.ts
  ui/jobs/components/sch.ts
  ui/jobs/components/sge.ts
  ui/jobs/components/smn.ts
  ui/jobs/components/whm.ts
  ui/raidboss/data/05-shb/eureka/bozjan_southern_front.ts
  ui/raidboss/data/05-shb/eureka/zadnor.ts
  ui/raidboss/emulator/EventBus.ts
  ui/raidboss/emulator/data/PopupTextAnalysis.ts
  ui/raidboss/emulator/overrides/RaidEmulatorPopupText.ts
  ui/raidboss/emulator/overrides/RaidEmulatorTimelineController.ts
  ui/raidboss/emulator/overrides/RaidEmulatorTimelineUI.ts
  ui/raidboss/emulator/overrides/StubbedPopupText.ts
  ui/raidboss/popup-text.ts
  ui/raidboss/raidboss_config.ts
  ui/raidboss/timeline_parser.ts
  ui/test/test.ts
  util/fetch_deps.ts
  util/logtools/encounter_tools.ts
  util/test_timeline.ts
Labels: ci, resources, config, dps, fishing🎣, jobs, raidboss, raidemulator, test, util, style

#4998 raidboss: fix ASS Silkie triggers
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane.ts
Labels: raidboss

#4996 raidboss: ASS add Infern Brand 2 triggers
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane.ts
Labels: raidboss

#5001 raidboss: ASS Infern Brand 2 fixes
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane.ts
Labels: raidboss

#5003 raidboss: ASS fix gladiator timeline last bit
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane.txt
Labels: raidboss

#5006 i18n: more DE ass translations
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane.ts
Labels: raidboss, 💬de

#5007 raidboss: ASS typos
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane.ts
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane.txt
Labels: raidboss

#5018 raidboss: fix ASS Soaping Spree with no suds
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane.ts
Labels: raidboss

#5015 raidboss: ASS add Banishment triggers
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane.ts
Labels: raidboss

#5012 build: upgrade tsconfig target to es2022
  .eslintrc.cjs
  package-lock.json
  package.json
  tsconfig.json
  util/test_timeline.ts
Labels: util

#5025 test: refactor `chai` import style
  test/helper/regex_util.ts
  test/helper/test_manifest.ts
  test/helper/test_timeline.ts
  test/helper/test_trigger.ts
  test/unittests/config_test.ts
  test/unittests/csv_util_test.ts
  test/unittests/netregex_test.ts
  test/unittests/regex_test.ts
  test/unittests/resources_test.ts
  test/unittests/responses_test.ts
  test/unittests/util_test.ts
Labels: test

#5019 lint: enable prefer-promise-reject-errors
  .eslintrc.cjs
  resources/util.ts
  ui/raidboss/popup-text.ts
  util/csv_util.ts
  util/logtools/split_log.ts
Labels: resources, raidboss, util

#5023 ci: upgrade action for deprecation warning
  .github/workflows/build-artifact.yml
Labels: ci

#4677 raidboss: DSR p7 Gigaflare direction to run
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss, 💬ko, 💬de, 💬ja

#5024 raidboss: enhance Tentacle trigger in Alzadaal
  ui/raidboss/data/06-ew/dungeon/alzadaals_legacy.ts
Labels: raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#5004 raidboss: ASS earlier Infern Brand 2 color call
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane.ts
Labels: raidboss

#5016 raidboss: ASS Infern Brand 5 Triggers
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane.ts
Labels: raidboss, 💬de

#5020 raidboss/oopsy: add new variant dungeon
  ui/oopsyraidsy/data/06-ew/dungeon/the_sildihn_subterrane.ts
  ui/oopsyraidsy/data/oopsy_manifest.txt
  ui/raidboss/data/06-ew/dungeon/the_sildihn_subterrane.ts
  ui/raidboss/data/06-ew/dungeon/the_sildihn_subterrane.txt
  ui/raidboss/data/raidboss_manifest.txt
Labels: oopsy, raidboss

#5027 build: hash entire dep file and fix hash update
  util/DEPS.json5
  util/fetch_deps.ts
Labels: util

#5029 raidboss: make sure ASS(S) trigger ids are unique
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane-savage.ts
Labels: raidboss

#5028 lint: add rule for string substr
  .eslintrc.cjs
  package-lock.json
  package.json
  resources/datetime.ts
  resources/languages.ts
  resources/responses.ts
  resources/stringhandlers.ts
  resources/user_config.ts
  test/helper/test_manifest.ts
  test/helper/test_trigger.ts
  ui/oopsyraidsy/damage_tracker.ts
  ui/oopsyraidsy/data/04-sb/dungeon/bardams_mettle.ts
  ui/oopsyraidsy/data/05-shb/eureka/delubrum_reginae.ts
  ui/oopsyraidsy/data/05-shb/eureka/delubrum_reginae_savage.ts
  ui/oopsyraidsy/death_report.ts
  ui/oopsyraidsy/oopsy_common.ts
  ui/pullcounter/pullcounter.ts
  ui/raidboss/data/03-hw/dungeon/gubal_library_hard.ts
  ui/raidboss/data/04-sb/dungeon/ghimlyt_dark.ts
  ui/raidboss/emulator/data/LogEventHandler.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x1F.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x26.ts
  ui/raidboss/popup-text.ts
  ui/raidboss/raidboss_config.ts
  util/logtools/anonymizer.ts
  util/logtools/encounter_tools.ts
  util/logtools/make_timeline.ts
Labels: resources, config, oopsy, pullcounter, raidboss, raidemulator, test, util

#5031 raidboss: ASS/S add Hells' Nebula trigger
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane-savage.ts
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane.ts
Labels: raidboss

#5030 raidboss: ASS/S add King's Will trigger
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane-savage.ts
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane.ts
Labels: raidboss

#5032 i18n: update ko dsr, sildihn translations
  ui/raidboss/data/02-arr/raid/t10.ts
  ui/raidboss/data/06-ew/dungeon/alzadaals_legacy.ts
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane-savage.ts
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane.ts
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss, 💬ko
