Repository quisquous/cactbot, pull requests merged in 2022-01, with the labels that each got.

#3952 i18n: update EW KR translations
  ui/oopsyraidsy/data/06-ew/raid/p1n.ts
  ui/oopsyraidsy/data/06-ew/raid/p4n.ts
  ui/raidboss/data/06-ew/raid/p2n.ts
Labels: oopsy, raidboss, 💬ko

#3953 plugin: add reaper job details
  plugin/CactbotEventSource/FFXIVProcessIntl.cs
  types/event.d.ts
  ui/test/test.ts
Labels: test, plugin

#3955 oopsy: annotate user triggersets with filenames
  ui/oopsyraidsy/oopsyraidsy_config.ts
Labels: config, oopsy

#3956 plugin: fix shield percentage memory offset
  plugin/CactbotEventSource/FFXIVProcessIntl.cs
Labels: plugin

#3960 dps: update rdmty bar color for SGE and RPR from FFLogs
  ui/dps/rdmty/dps.css
Labels: dps

#3963 raidboss: adjust lvl89 trial/EX2 timings
  ui/raidboss/data/06-ew/trial/hydaelyn-ex.ts
  ui/raidboss/data/06-ew/trial/hydaelyn.ts
Labels: raidboss

#3965 raidboss: fix o7n ultros typo
  ui/raidboss/data/04-sb/raid/o7n.txt
Labels: raidboss

#3967 i18n:dungeon cn translations
  ui/raidboss/data/06-ew/dungeon/ktisis_hyperboreia.ts
  ui/raidboss/data/06-ew/dungeon/smileton.ts
  ui/raidboss/data/06-ew/dungeon/stigma_dreamscape.ts
  ui/raidboss/data/06-ew/dungeon/the_aitiascope.ts
  ui/raidboss/data/06-ew/dungeon/the_dead_ends.ts
  ui/raidboss/data/06-ew/dungeon/the_tower_of_babil.ts
Labels: raidboss, 💬cn

#3970 resources: add 6.05 zones
  resources/zone_id.ts
  resources/zone_info.ts
Labels: resources, 💬fr, 💬de, 💬ja

#3940 i18n: Ew hunt francais
  ui/raidboss/data/06-ew/hunts/elpis.ts
  ui/raidboss/data/06-ew/hunts/garlemald.ts
  ui/raidboss/data/06-ew/hunts/labyrinthos.ts
  ui/raidboss/data/06-ew/hunts/mare_lamentorum.ts
  ui/raidboss/data/06-ew/hunts/thavnair.ts
  ui/raidboss/data/06-ew/hunts/ultima_thule.ts
Labels: raidboss, 💬fr

#3966 raidboss: Tower of Babil--Add Barnabas timeline fork
  ui/raidboss/data/06-ew/dungeon/the_tower_of_babil.txt
Labels: raidboss

#3968 i18n: Ew hydaelyn-ex and p1n-p4n fr
  ui/raidboss/data/06-ew/raid/p1n.ts
  ui/raidboss/data/06-ew/raid/p2n.ts
  ui/raidboss/data/06-ew/raid/p3n.ts
  ui/raidboss/data/06-ew/raid/p4n.ts
  ui/raidboss/data/06-ew/trial/hydaelyn-ex.ts
Labels: raidboss, 💬fr

#3971 i18n: fix p4n wrong FR meaning
  ui/raidboss/data/06-ew/raid/p4n.ts
Labels: raidboss, 💬fr

#3972 resources: update content list for panda savage
  resources/content_list.ts
Labels: resources

#3973 ci: require space after colon in PR title
  .github/scripts/lint-pr-title.cjs
Labels: ci

#3975 plugin: update intl bozja CE opcode for 6.05
  plugin/CactbotEventSource/FateWatcher.cs
Labels: plugin

#3976 util: ignore Liturgic Bell in make_timeline
  util/make_timeline.py
Labels: util

#3978 raidboss: add basic p3s timeline/triggers
  ui/raidboss/data/06-ew/raid/p3s.ts
  ui/raidboss/data/06-ew/raid/p3s.txt
  ui/raidboss/data/raidboss_manifest.txt
Labels: raidboss

#3980 resources: update hunts for 6.05
  resources/hunt.ts
Labels: resources, 💬fr, 💬de, 💬ja

#3981 resources: update fish names for 6.05
  ui/fisher/static-data.ts
Labels: fishing🎣

#3983 i18n: savage translations + small fix
  ui/raidboss/data/06-ew/raid/p1n.ts
  ui/raidboss/data/06-ew/raid/p1s.ts
  ui/raidboss/data/06-ew/raid/p1s.txt
  ui/raidboss/data/06-ew/raid/p3s.ts
Labels: raidboss, 💬de

#3982 raidboss: Added french for p1s & p3s
  ui/raidboss/data/06-ew/raid/p1s.ts
  ui/raidboss/data/06-ew/raid/p3s.ts
Labels: raidboss, 💬fr

#3987 i18n: added and correction of translation P1s-p3s
  ui/raidboss/data/06-ew/raid/p1s.ts
  ui/raidboss/data/06-ew/raid/p3s.ts
Labels: raidboss, 💬fr

#3988 raidboss: Added chinese for p1s & p3s
  ui/raidboss/data/06-ew/raid/p1s.ts
  ui/raidboss/data/06-ew/raid/p3s.ts
Labels: raidboss, 💬cn

#3985 raidboss: P1S Add Shackle Callouts
  ui/raidboss/data/06-ew/raid/p1s.ts
Labels: raidboss, 💬ko, 💬fr, 💬cn, 💬de

#3989 i18n: p1s de shackle translation
  ui/raidboss/data/06-ew/raid/p1s.ts
Labels: raidboss, 💬de

#3990 i18n: p1s added missing translations fr
  ui/raidboss/data/06-ew/raid/p1s.ts
Labels: raidboss, 💬fr

#3986 raidboss: p3s timings for add phases
  ui/raidboss/data/06-ew/raid/p3s.ts
  ui/raidboss/data/06-ew/raid/p3s.txt
Labels: raidboss

#3979 raidboss: add basic p2s timeline/triggers
  ui/raidboss/data/06-ew/raid/p2s.ts
  ui/raidboss/data/06-ew/raid/p2s.txt
  ui/raidboss/data/raidboss_manifest.txt
Labels: raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#3992 lint: fix p2s line endings
  ui/raidboss/data/06-ew/raid/p2s.ts
  ui/raidboss/data/06-ew/raid/p2s.txt
Labels: raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#3993 i18n: p2s translations
  ui/raidboss/data/06-ew/raid/p2s.ts
  ui/raidboss/data/06-ew/raid/p2s.txt
Labels: raidboss, 💬de

#3996 raidboss: Fix P2S Kampeos Harma Marker Callout
  ui/raidboss/data/06-ew/raid/p2s.ts
Labels: raidboss

#4000 raidboss: added french trigger for p2s
  ui/raidboss/data/06-ew/raid/p2s.ts
Labels: raidboss, 💬fr

#4004 i18n: p2s added missing translations fr
  ui/raidboss/data/06-ew/raid/p2s.ts
Labels: raidboss, 💬fr

#3999 raidboss: fix p2s dissociation callout
  ui/raidboss/data/06-ew/raid/p2s.ts
  ui/raidboss/data/06-ew/raid/p2s.txt
Labels: raidboss

#4001 i18n: add ja/cn translations for ew raids
  ui/raidboss/data/06-ew/raid/p1n.ts
  ui/raidboss/data/06-ew/raid/p1s.ts
  ui/raidboss/data/06-ew/raid/p2n.ts
  ui/raidboss/data/06-ew/raid/p2s.ts
  ui/raidboss/data/06-ew/raid/p3n.ts
  ui/raidboss/data/06-ew/raid/p3s.ts
  ui/raidboss/data/06-ew/raid/p4n.ts
Labels: raidboss, 💬cn, 💬ja

#4006 raidboss: fix EW hunts wrong ZoneId
  ui/raidboss/data/06-ew/hunts/ultima_thule.ts
Labels: raidboss

#4007 resources: Convert Simple HTML Text to InnerText
  resources/resourcebar.ts
  resources/timerbar.ts
Labels: resources

#4009 raidboss: add p4s timeline
  ui/raidboss/data/06-ew/raid/p4s.ts
  ui/raidboss/data/06-ew/raid/p4s.txt
  ui/raidboss/data/raidboss_manifest.txt
Labels: raidboss

#4008 resources: Convert New Date to Date.now()
  resources/timerbar.ts
  resources/timerbox.ts
  resources/timericon.ts
Labels: resources

#4012 i18n: p3s/p4s missing translations
  ui/raidboss/data/06-ew/raid/p1s.ts
  ui/raidboss/data/06-ew/raid/p3s.ts
  ui/raidboss/data/06-ew/raid/p4s.ts
Labels: raidboss

#4013 jobs: RDM: EW changes
  ui/jobs/components/index.ts
  ui/jobs/components/rdm.ts
  ui/jobs/constants.ts
  ui/jobs/jobs.css
Labels: jobs

#3997 raidboss: p4s basic triggers and timeline
  ui/raidboss/data/06-ew/raid/p4s.ts
  ui/raidboss/data/06-ew/raid/p4s.txt
Labels: raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#4015 i18n: missing p4s translations
  ui/raidboss/data/06-ew/raid/p4s.ts
Labels: raidboss, 💬de

#4016 i18n: ew elpis hunts fix
  ui/raidboss/data/06-ew/hunts/elpis.ts
Labels: raidboss

#4017 raidboss: slight p4s trigger adjustments
  ui/raidboss/data/06-ew/raid/p4s.ts
Labels: raidboss, 💬de

#4018 i18n: small fix p4s translation
  ui/raidboss/data/06-ew/raid/p4s.ts
Labels: raidboss, 💬de

#4020 raidboss: smileton fix duplicate knockback call
  ui/raidboss/data/06-ew/dungeon/smileton.ts
Labels: raidboss

#4024 i18n: Added chinese for p4s
  ui/raidboss/data/06-ew/raid/p4s.ts
Labels: raidboss, 💬cn

#4005 raidboss: p3s fledgling flights and death's toll triggers
  ui/raidboss/data/06-ew/raid/p3s.ts
  ui/raidboss/data/06-ew/raid/p3s.txt
Labels: raidboss

#4023 raidboss: Fix incorrect response for Violent Discharge
  ui/raidboss/data/06-ew/dungeon/smileton.ts
Labels: raidboss

#4025 jobs: MCH: add Chain Saw
  ui/jobs/components/mch.ts
  ui/jobs/constants.ts
  ui/jobs/jobs.css
Labels: jobs

#4026 i18n: P3s-p4s and hydaelyn ex fr
  ui/raidboss/data/06-ew/raid/p3s.ts
  ui/raidboss/data/06-ew/raid/p4s.ts
  ui/raidboss/data/06-ew/trial/hydaelyn-ex.ts
Labels: raidboss, 💬fr

#4027 i18n: P4S Japanese & Korean
  ui/raidboss/data/06-ew/raid/p4s.ts
Labels: raidboss, 💬ko, 💬ja

#4034 lint: fix locale ordering in p4s.ts
  ui/raidboss/data/06-ew/raid/p4s.ts
Labels: raidboss, 💬ja

#4033 resources: use short name for sharedTankBuster response
  resources/responses.ts
Labels: resources

#4035 raidboss: adjust p4s farsight wording for consistency
  ui/raidboss/data/06-ew/raid/p4s.ts
Labels: raidboss, 💬fr, 💬cn, 💬de

#4036 i18n: p4s corrections fr
  ui/raidboss/data/06-ew/raid/p4s.ts
Labels: raidboss, 💬fr

#4038 raidemulator: make typescript promise explicit
  ui/raidboss/raidemulator.ts
Labels: raidemulator

#4037 raidboss: p4s timeline sync/id fixes
  ui/raidboss/data/06-ew/raid/p4s.txt
Labels: raidboss

#4039 i18n: add missing translations Oopsy + raidboss fr
  ui/oopsyraidsy/data/06-ew/dungeon/smileton.ts
  ui/oopsyraidsy/data/06-ew/dungeon/the_tower_of_babil.ts
  ui/oopsyraidsy/data/06-ew/raid/p1n.ts
  ui/oopsyraidsy/data/06-ew/raid/p3n.ts
  ui/oopsyraidsy/data/06-ew/raid/p4n.ts
  ui/raidboss/data/06-ew/raid/p3n.ts
  ui/raidboss/data/06-ew/raid/p3s.ts
Labels: oopsy, raidboss, 💬fr

#4040 i18n: add missing translations fr HW
  ui/oopsyraidsy/data/03-hw/dungeon/gubal_library_hard.ts
  ui/raidboss/data/02-arr/trial/titan-nm.ts
  ui/raidboss/data/03-hw/dungeon/baelsars_wall.ts
  ui/raidboss/data/03-hw/dungeon/xelphatol.ts
  ui/raidboss/data/03-hw/raid/a6n.ts
  ui/raidboss/data/03-hw/raid/a8s.ts
Labels: oopsy, raidboss, 💬fr

#4041 raidboss: keep p4s thorn count on screen
  ui/raidboss/data/06-ew/raid/p4s.ts
Labels: raidboss

#4042 plugin: update CE opcode for cn 5.58
  plugin/CactbotEventSource/FateWatcher.cs
Labels: plugin

#4047 i18n: add translations Weapon fr on ShB
  ui/raidboss/data/05-shb/trial/diamond_weapon.ts
  ui/raidboss/data/05-shb/trial/emerald_weapon-ex.ts
  ui/raidboss/data/05-shb/trial/ruby_weapon-ex.ts
  ui/raidboss/data/05-shb/trial/ruby_weapon.ts
Labels: raidboss, 💬fr

#4049 i18n: Trial shb correction translations fr
  ui/raidboss/data/05-shb/trial/hades-ex.ts
  ui/raidboss/data/05-shb/trial/hades.ts
  ui/raidboss/data/05-shb/trial/innocence-ex.ts
  ui/raidboss/data/05-shb/trial/innocence.ts
  ui/raidboss/data/05-shb/trial/varis-ex.ts
  ui/raidboss/data/05-shb/trial/wol-ex.ts
Labels: raidboss, 💬fr

#4052 i18n: add missing translation fr p4s
  ui/raidboss/data/06-ew/raid/p4s.ts
Labels: raidboss

#4053 i18n: Added Korean for P1S~P4S
  ui/raidboss/data/06-ew/raid/p1s.ts
  ui/raidboss/data/06-ew/raid/p2s.ts
  ui/raidboss/data/06-ew/raid/p3s.ts
  ui/raidboss/data/06-ew/raid/p4n.ts
  ui/raidboss/data/06-ew/raid/p4s.ts
Labels: raidboss, 💬ko, 💬ja

#4054 i18n: Added chinese for p4s
  ui/raidboss/data/06-ew/raid/p4s.ts
Labels: raidboss, 💬cn

#4057 i18n: Akadaemia Anyder - fix english name for morbol boss
  ui/raidboss/data/05-shb/dungeon/akadaemia_anyder.ts
  ui/raidboss/data/05-shb/dungeon/akadaemia_anyder.txt
Labels: raidboss

#4058 i18n: p4s Add missing translations fr
  ui/raidboss/data/06-ew/raid/p4s.ts
Labels: raidboss, 💬fr

#4051 raidboss: p1s shackles of time call opposite party/player
  ui/raidboss/data/06-ew/raid/p1s.ts
Labels: raidboss

#4060 i18n: p1s missing FR translation
  ui/raidboss/data/06-ew/raid/p1s.ts
Labels: raidboss, 💬fr

#4061 i18n: add missing translations fr on Sb dungeons
  ui/raidboss/data/04-sb/dungeon/castrum_abania.ts
  ui/raidboss/data/04-sb/dungeon/doma_castle.ts
  ui/raidboss/data/04-sb/dungeon/shisui_of_the_violet_tides.ts
Labels: raidboss, 💬fr

#4063 i18n: more translations fr
  ui/oopsyraidsy/data/00-misc/general.ts
  ui/oopsyraidsy/data/00-misc/test.ts
  ui/oopsyraidsy/data/02-arr/trial/levi-ex.ts
  ui/oopsyraidsy/data/02-arr/trial/titan-ex.ts
  ui/oopsyraidsy/data/04-sb/raid/o12n.ts
  ui/oopsyraidsy/data/04-sb/raid/o12s.ts
  ui/oopsyraidsy/data/04-sb/raid/o4n.ts
  ui/oopsyraidsy/data/04-sb/raid/o8n.ts
  ui/oopsyraidsy/data/04-sb/raid/o8s.ts
  ui/oopsyraidsy/data/04-sb/raid/o9s.ts
  ui/oopsyraidsy/data/04-sb/trial/lakshmi-ex.ts
  ui/oopsyraidsy/data/04-sb/trial/lakshmi.ts
  ui/oopsyraidsy/data/04-sb/trial/shinryu-ex.ts
  ui/oopsyraidsy/data/04-sb/trial/shinryu.ts
  ui/oopsyraidsy/data/04-sb/trial/suzaku-ex.ts
  ui/oopsyraidsy/data/04-sb/trial/suzaku.ts
  ui/oopsyraidsy/data/05-shb/alliance/the_tower_at_paradigms_breach.ts
  ui/oopsyraidsy/data/05-shb/raid/e11n.ts
  ui/oopsyraidsy/data/05-shb/raid/e11s.ts
  ui/oopsyraidsy/data/05-shb/raid/e12s.ts
  ui/oopsyraidsy/data/05-shb/raid/e4s.ts
  ui/oopsyraidsy/data/05-shb/raid/e7s.ts
  ui/oopsyraidsy/data/05-shb/raid/e8n.ts
  ui/oopsyraidsy/data/05-shb/trial/diamond_weapon-ex.ts
  ui/oopsyraidsy/data/05-shb/trial/diamond_weapon.ts
  ui/oopsyraidsy/data/05-shb/trial/emerald_weapon.ts
  ui/oopsyraidsy/data/05-shb/trial/levi-un.ts
  ui/oopsyraidsy/data/05-shb/trial/ruby_weapon-ex.ts
  ui/oopsyraidsy/data/06-ew/raid/p1n.ts
  ui/oopsyraidsy/data/06-ew/raid/p4n.ts
  ui/oopsyraidsy/data/06-ew/trial/endsinger.ts
  ui/oopsyraidsy/data/06-ew/trial/zodiark-ex.ts
  ui/oopsyraidsy/data/06-ew/trial/zodiark.ts
Labels: oopsy, 💬fr

#4064 i18n: Much fix replaceSync fr shb
  ui/raidboss/data/05-shb/dungeon/matoyas_relict.ts
  ui/raidboss/data/05-shb/raid/e10n.ts
  ui/raidboss/data/05-shb/raid/e10s.ts
  ui/raidboss/data/05-shb/trial/hades-ex.ts
  ui/raidboss/data/05-shb/trial/ruby_weapon-ex.ts
Labels: raidboss, 💬fr

#4065 i18n: add missing translations fr zodiark-ex
  ui/raidboss/data/06-ew/trial/zodiark-ex.ts
Labels: raidboss

#4031 raidboss: p4s part two headmarkers and safe spot triggers
  ui/raidboss/data/06-ew/raid/p4s.ts
Labels: raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#4066 i18n: add missing translations fr copied_factory
  ui/oopsyraidsy/data/04-sb/trial/shinryu.ts
  ui/raidboss/data/05-shb/alliance/the_copied_factory.ts
Labels: oopsy, raidboss, 💬fr

#4062 raidboss: p3s sunbird tether callouts
  ui/raidboss/data/06-ew/raid/p3s.ts
Labels: raidboss

#4067 raidboss: change p3s gloryplume out to alarm
  ui/raidboss/data/06-ew/raid/p3s.ts
Labels: raidboss

#4068 i18n: p3s add missing translations fr
  ui/raidboss/data/06-ew/raid/p3s.ts
Labels: raidboss, 💬fr

#4070 i18n: fix line regex FR on bozjan_southern_front
  ui/raidboss/data/05-shb/eureka/bozjan_southern_front.ts
Labels: raidboss

#4071 plugin: update bozja intl opcode for 6.08
  plugin/CactbotEventSource/FateWatcher.cs
Labels: plugin

#4072 i18n: add missing translations fr on Zadnor
  ui/raidboss/data/05-shb/eureka/zadnor.ts
Labels: raidboss, 💬fr

#4073 i18n: the_tower_at_paradigms_breach corrections Fr
  ui/raidboss/data/05-shb/alliance/the_tower_at_paradigms_breach.ts
Labels: raidboss, 💬fr

#4074 i18n: add missing translations + small adjustments
  ui/raidboss/data/06-ew/raid/p1s.ts
  ui/raidboss/data/06-ew/raid/p3s.ts
  ui/raidboss/data/06-ew/raid/p4s.ts
Labels: raidboss, 💬de

#4077 i18n: levi/titan-ex/un corrections of translations fr
  ui/raidboss/data/02-arr/trial/levi-ex.ts
  ui/raidboss/data/02-arr/trial/titan-ex.ts
  ui/raidboss/data/05-shb/trial/levi-un.ts
  ui/raidboss/data/05-shb/trial/titan-un.ts
Labels: raidboss, 💬fr

#4076 i18n: Ultima_weapon_ultimate fr
  ui/raidboss/data/04-sb/ultimate/ultima_weapon_ultimate.ts
  ui/raidboss/data/04-sb/ultimate/ultima_weapon_ultimate.txt
Labels: raidboss, 💬fr

#4080 raidboss: improve P2S predatory avarice calls
  ui/raidboss/data/06-ew/raid/p2s.ts
Labels: raidboss

#4082 raidboss: hunt trigger fixups
  ui/raidboss/data/06-ew/hunts/elpis.ts
  ui/raidboss/data/06-ew/hunts/labyrinthos.ts
  ui/raidboss/data/06-ew/hunts/mare_lamentorum.ts
  ui/raidboss/data/06-ew/hunts/thavnair.ts
  ui/raidboss/data/06-ew/hunts/ultima_thule.ts
Labels: raidboss, 💬fr, 💬de

#4078 jobs: RPR: new UI
  ui/jobs/components/rpr.ts
  ui/jobs/constants.ts
  ui/jobs/jobs.css
Labels: jobs

#4083 raidboss: remove Shackles of Time duplicate call
  ui/raidboss/data/06-ew/raid/p1s.ts
Labels: raidboss

#4084 i18n: Corrections fr for multiple content
  ui/raidboss/data/02-arr/raid/t9.ts
  ui/raidboss/data/03-hw/alliance/weeping_city.ts
  ui/raidboss/data/04-sb/alliance/royal_city_of_rabanastre.ts
  ui/raidboss/data/04-sb/dungeon/temple_of_the_fist.ts
  ui/raidboss/data/04-sb/raid/o1s.ts
  ui/raidboss/data/05-shb/eureka/delubrum_reginae.ts
  ui/raidboss/data/05-shb/eureka/delubrum_reginae_savage.ts
  ui/raidboss/data/05-shb/eureka/zadnor.ts
  ui/raidboss/data/05-shb/raid/e11s.ts
  ui/raidboss/data/05-shb/raid/e12n.ts
  ui/raidboss/data/05-shb/raid/e12s.ts
  ui/raidboss/data/05-shb/raid/e2s.ts
  ui/raidboss/data/05-shb/raid/e5s.ts
  ui/raidboss/data/05-shb/raid/e7s.ts
  ui/raidboss/data/05-shb/raid/e8s.ts
  ui/raidboss/data/05-shb/raid/e9s.ts
  ui/raidboss/data/05-shb/trial/emerald_weapon-ex.ts
  ui/raidboss/data/05-shb/trial/hades-ex.ts
  ui/raidboss/data/05-shb/trial/wol-ex.ts
  ui/raidboss/data/05-shb/trial/wol.ts
  ui/raidboss/data/05-shb/ultimate/the_epic_of_alexander.ts
Labels: raidboss, 💬fr

#4079 plugin: add logging for debugging process issues
  plugin/CactbotEventSource/FFXIVPlugin.cs
  plugin/CactbotEventSource/FFXIVProcess.cs
Labels: plugin

#4086 i18n: delubrum_reginae - better translations fr
  ui/raidboss/data/05-shb/eureka/delubrum_reginae.ts
Labels: raidboss, 💬fr

#4087 i18n: delubrum_reginae_savage - better translations fr
  ui/raidboss/data/05-shb/eureka/delubrum_reginae_savage.ts
Labels: raidboss, 💬fr

#4089 i18n: p2s - add missing translations fr
  ui/raidboss/data/06-ew/raid/p2s.ts
Labels: raidboss, 💬fr
