Repository quisquous/cactbot, pull requests merged in 2022-06, with the labels that each got.

#4556 i18n: ko p1n ~ p4n
  ui/raidboss/data/06-ew/raid/p1n.ts
  ui/raidboss/data/06-ew/raid/p2n.ts
  ui/raidboss/data/06-ew/raid/p3n.ts
  ui/raidboss/data/06-ew/raid/p4n.ts
Labels: raidboss

#4557 i18n: ko DSR update
  ui/oopsyraidsy/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: oopsy, raidboss, 💬ko

#4561 raidboss: fix general.ts translations (e.g. ready check)
  ui/raidboss/data/00-misc/general.ts
Labels: raidboss

#4565 raidboss: DSR fix incorrect p6 cauterize call
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss

#4566 raidboss: DSR reverse p6 hallowed wings left/right
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss

#4563 i18n: DSR japanese translations
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss

#4568 resources: add log line 42
  docs/LogGuide.md
  resources/netlog_defs.ts
  util/gen_log_guide.ts
Labels: resources, util, docs

#4569 util: fix some anonymizer bugs
  util/logtools/anonymizer.js
Labels: util

#4570 util: TypeScriptify fake_name_generator
  util/logtools/fake_name_generator.ts
Labels: util

#4572 util: TypeScriptify util/logtools/anonymizer.js
  util/logtools/anonymizer.ts
Labels: util

#4573 util: split out logtools Notifier into its own file
  util/logtools/anonymizer.ts
  util/logtools/notifier.ts
  util/logtools/split_log.js
Labels: util

#4574 util: TypeScriptify util/logtools/splitter.js
  util/logtools/splitter.ts
Labels: util

#4575 util: TypeScriptify util/logtools/split_log.ts
  util/logtools/split_log.ts
Labels: util

#4577 util: remove find_manual_timelines.js
  util/find_manual_timelines.js
Labels: util

#4579 oopsy: fix missed buff party tracking
  ui/oopsyraidsy/player_state_tracker.ts
Labels: oopsy

#4578 util/docs: remove adjust_timeline.ts
  docs/TimelineGuide.md
  util/logtools/arg_parser.ts
  util/logtools/make_timeline.ts
  util/logtools/split_log.ts
  util/timeline_adjust.mjs
Labels: util, docs

#4581 util: Restore correct date formatting in encounter_tools
  util/logtools/encounter_tools.ts
Labels: util

#4582 raidboss: DSR increase hallowed wings duration
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss

#4580 util: move node-only encounter printing to its own file
  util/logtools/encounter_printer.ts
  util/logtools/encounter_tools.ts
  util/logtools/make_timeline.ts
  util/logtools/split_log.ts
Labels: util

#4587 i18n: ko translations update
  resources/outputs.ts
  ui/fisher/fisher.js
  ui/raidboss/data/03-hw/alliance/dun_scaith.ts
  ui/raidboss/data/03-hw/alliance/weeping_city.ts
  ui/raidboss/data/04-sb/alliance/orbonne_monastery.ts
  ui/raidboss/data/04-sb/alliance/ridorana_lighthouse.ts
  ui/raidboss/data/04-sb/alliance/royal_city_of_rabanastre.ts
  ui/raidboss/data/05-shb/alliance/the_puppets_bunker.ts
  ui/raidboss/data/05-shb/alliance/the_tower_at_paradigms_breach.ts
  ui/raidboss/data/05-shb/raid/e3n.ts
  ui/raidboss/data/05-shb/raid/e6s.ts
  ui/raidboss/data/06-ew/hunts/ultima_thule.ts
  ui/raidboss/data/06-ew/raid/p1s.ts
  ui/raidboss/data/06-ew/raid/p2s.ts
  ui/raidboss/data/06-ew/raid/p3s.ts
  ui/raidboss/data/06-ew/raid/p4s.ts
Labels: resources, fishing🎣, raidboss, 💬ko

#4586 raidboss: Extend duration of Sanctity direction callout
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss

#4590 raidboss: make empty string sound mean no sound
  ui/raidboss/popup-text.ts
Labels: raidboss

#4585 util: Add basic FFLogs support to make_timeline.ts
  util/logtools/arg_parser.ts
  util/logtools/fflogs.ts
  util/logtools/make_timeline.ts
  util/logtools/split_log.ts
Labels: util

#4589 raidboss: DSR Thordan2 timeline improvements
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.txt
Labels: raidboss

#4591 raidboss: DSR add Sanctity sword names
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss

#4595 docs: Update zh-cn README.md
  docs/zh-CN/README.md
Labels: docs, 💬cn

#4596 i18n: ko translations update
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss, 💬ko

#4600 i18n: ko p1s ~ p4s update
  ui/oopsyraidsy/data/06-ew/raid/p3n.ts
  ui/raidboss/data/06-ew/raid/p1s.ts
  ui/raidboss/data/06-ew/raid/p2n.ts
  ui/raidboss/data/06-ew/raid/p2s.ts
  ui/raidboss/data/06-ew/raid/p3s.ts
  ui/raidboss/data/06-ew/raid/p4s.ts
Labels: oopsy, raidboss, 💬ko

#4598 util: Auto-comment some repeated abilities in make_timeline
  util/logtools/make_timeline.ts
Labels: util

#4601 resources: Korean 6.05 update
  resources/hunt.ts
  resources/zone_info.ts
  ui/fisher/static-data.ts
Labels: resources, fishing🎣, 💬ko

#4602 i18n: fix ko Asphodelos
  ui/oopsyraidsy/data/06-ew/raid/p2s.ts
  ui/raidboss/data/06-ew/raid/p4s.ts
Labels: oopsy, raidboss, 💬ko

#4604 util: Improve make_timeline sync auto-commenting
  util/logtools/make_timeline.ts
Labels: util

#4606 plugin: update bozja ko opcode for 6.05
  plugin/CactbotEventSource/FateWatcher.cs
Labels: plugin

#4603 raidboss: DSR Individual Sacred Sever hits in timeline
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.txt
Labels: raidboss

#4605 oopsy: DSR some adds phase warnings
  ui/oopsyraidsy/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: oopsy

#4523 lint: Handle nullable empty string checks in misc files
  resources/languages.ts
  resources/netregexes.ts
  resources/overlay_plugin_api.ts
  resources/player_override.ts
  resources/regexes.ts
  resources/responses.ts
  resources/translations.ts
  resources/user_config.ts
  test/helper/test_timeline.ts
  test/helper/test_trigger.ts
  ui/config/config.ts
  ui/eureka/eureka.ts
  ui/jobs/bars.ts
  ui/jobs/components/index.ts
  ui/jobs/event_emitter.ts
  ui/jobs/player.ts
  ui/radar/radar.ts
  ui/test/test.ts
  util/coinach.ts
  util/coverage/coverage.ts
  util/find_missing_timeline_translations.ts
  util/find_missing_translations.ts
  util/gen_coverage_report.ts
  util/gen_effect_id.ts
  util/gen_log_guide.ts
  util/index.ts
  util/logtools/anonymizer.ts
  util/logtools/encounter_printer.ts
  util/logtools/encounter_tools.ts
  util/logtools/make_timeline.ts
  util/logtools/split_log.ts
  util/process_triggers_folder.ts
  util/test_timeline.ts
  util/translate_timeline.ts
Labels: resources, config, eureka, jobs, radar, test, util, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#4613 raidboss: DSR add p7 in/out triggers
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss

#4607 fisher: fix place and fish regex
  ui/fisher/fisher.js
Labels: fishing🎣

#4616 raidboss: DSR add Great Wyrmsbreath tank triggers
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss

#4617 docs: Update ko-kr README.md
  README.md
  docs/ko-KR/CactbotCustomization.md
  docs/ko-KR/README.md
  docs/zh-CN/README.md
Labels: 💬ko, docs, 💬cn

#4618 raidboss: fix Aglaia Far Above Deep Below race
  ui/raidboss/data/06-ew/alliance/aglaia.ts
Labels: raidboss

#4615 raidboss: DSR add Death of the Heavens edge cases
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss

#4619 raidboss: DSR minor Akh Afah edit
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#4620 raidboss: DSR adjust Hallowed Wings to call out quadrant
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss, 💬ko, 💬de, 💬ja

#4621 raidboss: DSR add hot wing / hot tail
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss
