Repository quisquous/cactbot, pull requests merged in 2022-08, with the labels that each got.

#4662 raidboss: DSR p6 and p7 targetable/untargetable lines
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.txt
Labels: raidboss

#4665 i18n: some missing translations
  ui/oopsyraidsy/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
  ui/oopsyraidsy/oopsy_viewer.ts
  ui/raidboss/data/03-hw/dungeon/the_lost_city_of_amdapor_hard.ts
  ui/raidboss/data/03-hw/raid/a10n.ts
  ui/raidboss/data/03-hw/raid/a3n.ts
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: oopsy, raidboss, 💬de

#4660 raidboss: DSR add Mortal Vow callout
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss

#4666 i18n: missing KO translations
  ui/raidboss/data/03-hw/dungeon/the_lost_city_of_amdapor_hard.ts
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss, 💬ko

#4671 resources: update for cn 6.1
  resources/zone_info.ts
Labels: resources, 💬cn

#4672 plugin: Update FFXIVProcessCn.cs
  plugin/CactbotEventSource/FFXIVProcessCn.cs
Labels: plugin

#4670 i18n: CN 6.1
  ui/oopsyraidsy/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
  ui/raidboss/data/03-hw/dungeon/the_lost_city_of_amdapor_hard.ts
  ui/raidboss/data/03-hw/raid/a10n.ts
  ui/raidboss/data/06-ew/alliance/aglaia.ts
  ui/raidboss/data/06-ew/dungeon/alzadaals_legacy.ts
  ui/raidboss/data/06-ew/trial/endsinger-ex.ts
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: oopsy, raidboss, 💬cn

#4674 resources: update cn 6.1 fish data
  ui/fisher/static-data.ts
Labels: fishing🎣

#4676 plugin: CN 6.1 hotfix CE opcode
  plugin/CactbotEventSource/FateWatcher.cs
Labels: plugin

#4678 raidboss: DSR fix#4664 track p6/p7 by ability trigger
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss

#4675 jobs: CN 6.1 changes
  ui/jobs/buff_tracker.ts
  ui/jobs/components/ast.ts
  ui/jobs/components/dnc.ts
  ui/jobs/components/drk.ts
  ui/jobs/components/whm.ts
  ui/jobs/constants.ts
Labels: jobs

#4679 ci: Autogenerate Release Notes
  .github/workflows/release.yml
Labels: ci

#4681 config: Don't Load Raidboss CSS Within Config UI
  resources/user_config.ts
  ui/raidboss/raidboss_config.ts
Labels: resources, config, raidboss

#4683 plugin: add error MessageBox for old OverlayPlugin
  plugin/CactbotEventSource/CactbotEventSource.cs
Labels: plugin

#4684 resources: 6.2 update
  resources/content_type.ts
  resources/weather_rate.ts
  resources/zone_id.ts
  resources/zone_info.ts
  ui/fisher/static-data.ts
  util/gen_zone_id_and_info.py
Labels: resources, fishing🎣, util, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#4685 raidboss: Add 6.2 Skeleton Files
  ui/raidboss/data/06-ew/dungeon/the_fell_court_of_troia.ts
  ui/raidboss/data/06-ew/dungeon/the_fell_court_of_troia.txt
  ui/raidboss/data/06-ew/raid/p5n.ts
  ui/raidboss/data/06-ew/raid/p5n.txt
  ui/raidboss/data/06-ew/raid/p5s.ts
  ui/raidboss/data/06-ew/raid/p5s.txt
  ui/raidboss/data/06-ew/raid/p6n.ts
  ui/raidboss/data/06-ew/raid/p6n.txt
  ui/raidboss/data/06-ew/raid/p6s.ts
  ui/raidboss/data/06-ew/raid/p6s.txt
  ui/raidboss/data/06-ew/raid/p7n.ts
  ui/raidboss/data/06-ew/raid/p7n.txt
  ui/raidboss/data/06-ew/raid/p7s.ts
  ui/raidboss/data/06-ew/raid/p7s.txt
  ui/raidboss/data/06-ew/raid/p8n.ts
  ui/raidboss/data/06-ew/raid/p8n.txt
  ui/raidboss/data/06-ew/raid/p8s.ts
  ui/raidboss/data/06-ew/raid/p8s.txt
  ui/raidboss/data/06-ew/trial/barbariccia-ex.ts
  ui/raidboss/data/06-ew/trial/barbariccia-ex.txt
  ui/raidboss/data/06-ew/trial/barbariccia.ts
  ui/raidboss/data/06-ew/trial/barbariccia.txt
  ui/raidboss/data/06-ew/trial/sephirot-un.ts
  ui/raidboss/data/06-ew/trial/sephirot-un.txt
  ui/raidboss/data/raidboss_manifest.txt
Labels: raidboss

#4686 plugin: update signatures and memory for 6.2
  plugin/CactbotEventSource/FFXIVProcessIntl.cs
Labels: plugin

#4687 oopsy: Add 6.2 Skeleton Files
  ui/oopsyraidsy/data/06-ew/dungeon/the_fell_court_of_troia.ts
  ui/oopsyraidsy/data/06-ew/raid/p5n.ts
  ui/oopsyraidsy/data/06-ew/raid/p5s.ts
  ui/oopsyraidsy/data/06-ew/raid/p6n.ts
  ui/oopsyraidsy/data/06-ew/raid/p6s.ts
  ui/oopsyraidsy/data/06-ew/raid/p7n.ts
  ui/oopsyraidsy/data/06-ew/raid/p7s.ts
  ui/oopsyraidsy/data/06-ew/raid/p8n.ts
  ui/oopsyraidsy/data/06-ew/raid/p8s.ts
  ui/oopsyraidsy/data/06-ew/trial/barbariccia-ex.ts
  ui/oopsyraidsy/data/06-ew/trial/barbariccia.ts
  ui/oopsyraidsy/data/06-ew/trial/sephirot-un.ts
  ui/oopsyraidsy/data/oopsy_manifest.txt
Labels: oopsy

#4688 plugin: update bozja intl opcode for v6.2
  plugin/CactbotEventSource/FateWatcher.cs
Labels: plugin

#4691 raidboss/oopsy: update actor control wipe in code/docs
  docs/LogGuide.md
  docs/TimelineGuide.md
  docs/zh-CN/TimelineGuide.md
  test/unittests/netregex_test.ts
  ui/jobs/event_emitter.ts
  ui/oopsyraidsy/damage_tracker.ts
  ui/pullcounter/pullcounter.ts
  ui/raidboss/emulator/EmulatorCommon.ts
  ui/raidboss/popup-text.ts
  ui/raidboss/timeline.ts
  util/gen_log_guide.ts
  util/logtools/encounter_tools.ts
Labels: jobs, oopsy, pullcounter, raidboss, raidemulator, test, util, docs, 💬cn

#4690 jobs: 6.2 changes
  ui/jobs/components/drk.ts
  ui/jobs/components/gnb.ts
Labels: jobs

#4693 plugin: improve old OverlayPlugin message
  plugin/CactbotEventSource/CactbotEventSource.cs
Labels: plugin

#4689 raidboss: barbariccia-ex add some triggers and timeline
  ui/raidboss/data/06-ew/trial/barbariccia-ex.ts
  ui/raidboss/data/06-ew/trial/barbariccia-ex.txt
Labels: raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#4695 i18n: barbariccia-ex chinese translation
  ui/raidboss/data/06-ew/trial/barbariccia-ex.ts
Labels: raidboss, 💬cn

#4698 i18n: ex4 + dsu translations
  ui/raidboss/data/06-ew/trial/barbariccia-ex.ts
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss, 💬de

#4696 raidboss: ex4 switch impact trigger
  ui/raidboss/data/06-ew/trial/barbariccia-ex.ts
Labels: raidboss

#4701 oopsy: fix up zone names from #4687
  ui/oopsyraidsy/data/06-ew/raid/p7n.ts
  ui/oopsyraidsy/data/06-ew/raid/p8n.ts
  ui/oopsyraidsy/data/06-ew/trial/barbariccia.ts
Labels: oopsy

#4702 util: fix missed actor control from #4691
  util/encounter_tools.py
Labels: util

#4703 util: Fix fflogs.ts pagination handling
  util/logtools/fflogs.ts
Labels: util

#4704 util: add Varshahn as a trust npc to ignore
  util/logtools/make_timeline.ts
  util/make_timeline.py
Labels: util

#4707 raidboss: EX4 timeline improvements
  ui/raidboss/data/06-ew/trial/barbariccia-ex.txt
Labels: raidboss

#4709 raidboss: more EX4 triggers
  ui/raidboss/data/06-ew/trial/barbariccia-ex.ts
Labels: raidboss

#4710 oopsy: add EX4
  ui/oopsyraidsy/data/06-ew/trial/barbariccia-ex.ts
Labels: oopsy

#4711 oopsy: Initial P5N Triggers
  ui/oopsyraidsy/data/06-ew/raid/p5n.ts
Labels: oopsy

#4708 raidboss: Initial P5N Timeline and Triggers
  ui/raidboss/data/06-ew/raid/p5n.ts
  ui/raidboss/data/06-ew/raid/p5n.txt
Labels: raidboss

#4714 i18n: several 6.2 translations
  ui/raidboss/data/06-ew/dungeon/the_fell_court_of_troia.ts
  ui/raidboss/data/06-ew/raid/p5n.ts
  ui/raidboss/data/06-ew/trial/barbariccia-ex.ts
Labels: raidboss, 💬de

#4717 i18n: Several FR translations
  ui/raidboss/data/06-ew/dungeon/the_fell_court_of_troia.ts
  ui/raidboss/data/06-ew/raid/p5n.ts
  ui/raidboss/data/06-ew/trial/barbariccia-ex.ts
Labels: raidboss, 💬fr

#4713 raidboss: Pandaemonium 7 normal package
  ui/oopsyraidsy/data/06-ew/raid/p7n.ts
  ui/raidboss/data/06-ew/raid/p7n.ts
  ui/raidboss/data/06-ew/raid/p7n.txt
Labels: oopsy, raidboss

#4715 raidboss/oopsy: 6.2 MSQ Trial
  ui/oopsyraidsy/data/06-ew/trial/barbariccia.ts
  ui/raidboss/data/06-ew/trial/barbariccia.ts
  ui/raidboss/data/06-ew/trial/barbariccia.txt
Labels: oopsy, raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#4716 raidboss: Add Sephirot Unreal
  ui/oopsyraidsy/data/06-ew/trial/sephirot-un.ts
  ui/raidboss/data/06-ew/trial/sephirot-un.ts
  ui/raidboss/data/06-ew/trial/sephirot-un.txt
Labels: oopsy, raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#4719 oopsy: add P8N
  ui/oopsyraidsy/data/06-ew/raid/p8n.ts
Labels: oopsy

#4718 raidboss: add P8N triggers
  ui/raidboss/data/06-ew/raid/p8n.ts
Labels: raidboss

#4722 i18n: more 6.2 translations
  ui/raidboss/data/06-ew/raid/p7n.ts
  ui/raidboss/data/06-ew/raid/p8n.ts
  ui/raidboss/data/06-ew/trial/barbariccia-ex.ts
  ui/raidboss/data/06-ew/trial/barbariccia.ts
  ui/raidboss/data/06-ew/trial/sephirot-un.ts
Labels: raidboss, 💬de

#4725 resources: update content_list.ts for 6.2
  resources/content_list.ts
Labels: resources

#4726 i18n: 6.2 Japanese (modified)
  ui/raidboss/data/06-ew/alliance/aglaia.ts
  ui/raidboss/data/06-ew/dungeon/alzadaals_legacy.ts
  ui/raidboss/data/06-ew/dungeon/ktisis_hyperboreia.ts
  ui/raidboss/data/06-ew/dungeon/the_fell_court_of_troia.ts
  ui/raidboss/data/06-ew/hunts/elpis.ts
  ui/raidboss/data/06-ew/hunts/garlemald.ts
  ui/raidboss/data/06-ew/hunts/labyrinthos.ts
  ui/raidboss/data/06-ew/hunts/mare_lamentorum.ts
  ui/raidboss/data/06-ew/hunts/thavnair.ts
  ui/raidboss/data/06-ew/hunts/ultima_thule.ts
  ui/raidboss/data/06-ew/raid/p5n.ts
  ui/raidboss/data/06-ew/raid/p7n.ts
  ui/raidboss/data/06-ew/raid/p8n.ts
  ui/raidboss/data/06-ew/trial/barbariccia-ex.ts
  ui/raidboss/data/06-ew/trial/barbariccia.ts
  ui/raidboss/data/06-ew/trial/endsinger-ex.ts
  ui/raidboss/data/06-ew/trial/sephirot-un.ts
  ui/raidboss/data/06-ew/trial/zodiark-ex.ts
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss, 💬ja

#4724 raidboss: add P8N timeline
  ui/raidboss/data/06-ew/raid/p8n.ts
  ui/raidboss/data/06-ew/raid/p8n.txt
Labels: raidboss

#4728 i18n: p8n translation
  ui/raidboss/data/06-ew/raid/p8n.ts
Labels: raidboss

#4730 raidboss: P6N Initial triggers/oopsy
  ui/oopsyraidsy/data/06-ew/raid/p6n.ts
  ui/raidboss/data/06-ew/raid/p6n.ts
Labels: oopsy, raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#4729 i18n: cn 6.11
  resources/zone_info.ts
  ui/raidboss/data/06-ew/trial/sephirot-un.ts
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: resources, raidboss, 💬cn

#4732 raidboss: P6N timeline
  ui/raidboss/data/06-ew/raid/p6n.txt
Labels: raidboss

#4734 docs: Add Note About CE's Debugger Option
  docs/MemorySignatures.md
Labels: docs

#4736 plugin: update bozja cn opcode for 6.11
  plugin/CactbotEventSource/FateWatcher.cs
Labels: plugin

#4737 i18n: fix DSR P7 Thordan name
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss

#4738 i18n: add & fix ko translations
  ui/raidboss/data/03-hw/dungeon/the_lost_city_of_amdapor_hard.ts
  ui/raidboss/data/03-hw/raid/a10n.ts
  ui/raidboss/data/06-ew/alliance/aglaia.ts
  ui/raidboss/data/06-ew/dungeon/alzadaals_legacy.ts
  ui/raidboss/data/06-ew/dungeon/the_fell_court_of_troia.ts
  ui/raidboss/data/06-ew/raid/p5n.ts
  ui/raidboss/data/06-ew/raid/p6n.ts
  ui/raidboss/data/06-ew/raid/p7n.ts
  ui/raidboss/data/06-ew/raid/p8n.ts
  ui/raidboss/data/06-ew/trial/barbariccia-ex.ts
  ui/raidboss/data/06-ew/trial/barbariccia.ts
  ui/raidboss/data/06-ew/trial/sephirot-un.ts
Labels: raidboss, 💬ko

#4739 i18n: more 6.2 translations
  ui/raidboss/data/03-hw/trial/sephirot-ex.ts
  ui/raidboss/data/06-ew/raid/p6n.ts
  ui/raidboss/data/06-ew/raid/p7n.ts
  ui/raidboss/data/06-ew/trial/sephirot-un.ts
Labels: raidboss, 💬de

#4740 raidboss: Initial P5S Triggers
  resources/outputs.ts
  ui/raidboss/data/06-ew/raid/p5s.ts
Labels: resources, raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#4742 raidboss: rough P5S timeline
  ui/raidboss/data/06-ew/raid/p5s.txt
Labels: raidboss

#4743 oopsy: rough P5S
  ui/oopsyraidsy/data/06-ew/raid/p5s.ts
Labels: oopsy

#4745 raidboss: p5s add hard enrage to timeline
  ui/raidboss/data/06-ew/raid/p5s.txt
Labels: raidboss

#4746 raidboss: basic p6s triggers
  ui/raidboss/data/06-ew/raid/p6s.ts
Labels: raidboss

#4747 i18n: Another set of FR translations
  ui/raidboss/data/06-ew/dungeon/the_fell_court_of_troia.ts
  ui/raidboss/data/06-ew/raid/p5n.ts
  ui/raidboss/data/06-ew/raid/p5s.ts
  ui/raidboss/data/06-ew/raid/p6n.ts
  ui/raidboss/data/06-ew/raid/p7n.ts
  ui/raidboss/data/06-ew/raid/p8n.ts
  ui/raidboss/data/06-ew/trial/barbariccia-ex.ts
  ui/raidboss/data/06-ew/trial/sephirot-un.ts
Labels: raidboss, 💬fr

#4749 raidboss: p5s Raging Tail/Raging Claw Callout
  ui/raidboss/data/06-ew/raid/p5s.ts
Labels: raidboss

#4748 i18n: p5s translations
  ui/raidboss/data/06-ew/raid/p5n.ts
  ui/raidboss/data/06-ew/raid/p5s.ts
  ui/raidboss/data/06-ew/raid/p6s.ts
Labels: raidboss, 💬de
