Repository quisquous/cactbot, pull requests merged in 2023-10, with the labels that each got.

#5820 i18n: missing cn translations
  ui/oopsyraidsy/data/00-misc/general.ts
  ui/oopsyraidsy/oopsyraidsy_config.ts
  ui/raidboss/data/03-hw/trial/thordan-ex.ts
  ui/raidboss/data/06-ew/dungeon/aetherfont.ts
  ui/raidboss/data/06-ew/raid/p12s.ts
  ui/raidboss/data/06-ew/raid/p9s.ts
  ui/raidboss/data/06-ew/trial/golbez-ex.ts
Labels: config, oopsy, raidboss, 💬cn

#5821 i18n: Thordan EX FR update
  ui/raidboss/data/03-hw/trial/thordan-ex.ts
Labels: raidboss, 💬fr

#5822 i18n: oopsy, throdan + golbes updates
  ui/oopsyraidsy/data/00-misc/general.ts
  ui/oopsyraidsy/oopsyraidsy_config.ts
  ui/raidboss/data/03-hw/trial/thordan-ex.ts
  ui/raidboss/data/06-ew/trial/golbez-ex.ts
Labels: config, oopsy, raidboss, 💬de

#5825 resources: update content list for 6.5
  resources/content_list.ts
Labels: resources

#5826 plugin: memory offsets for 6.5
  plugin/CactbotEventSource/FFXIVProcessIntl.cs
Labels: plugin

#5828 raidboss: ex7 initial timeline
  ui/raidboss/data/06-ew/trial/zeromus-ex.ts
  ui/raidboss/data/06-ew/trial/zeromus-ex.txt
Labels: raidboss

#5830 raidboss: Some initial ex7 triggers
  ui/raidboss/data/06-ew/trial/zeromus-ex.ts
Labels: raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#5833 i18n: ex7 + dungeon translations
  ui/raidboss/data/06-ew/dungeon/the_lunar_subterrane.ts
  ui/raidboss/data/06-ew/trial/zeromus-ex.ts
  ui/raidboss/data/06-ew/trial/zeromus-ex.txt
Labels: raidboss, 💬de

#5831 raidboss/oopsy: Add Singularity Reactor Unreal
  ui/oopsyraidsy/data/06-ew/trial/thordan-un.ts
  ui/raidboss/data/03-hw/trial/thordan-ex.txt
  ui/raidboss/data/06-ew/trial/thordan-un.ts
  ui/raidboss/data/06-ew/trial/thordan-un.txt
  util/sync_files.ts
Labels: oopsy, raidboss, util, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#5834 jobs: countdown volume option
  ui/jobs/bars.ts
  ui/jobs/jobs_config.ts
  ui/jobs/jobs_options.ts
Labels: config, jobs

#5837 docs: add patch update guide
  docs/PatchUpdateChecklist.md
  docs/images/newpatch_testoverlay.png
Labels: docs

#5835 raidboss: additional ex7 triggers
  resources/util.ts
  ui/raidboss/data/06-ew/trial/zeromus-ex.ts
Labels: resources, raidboss

#5836 raidboss/oopsy: add 6.5 normal trial
  ui/oopsyraidsy/data/06-ew/trial/zeromus.ts
  ui/raidboss/data/06-ew/trial/zeromus.ts
  ui/raidboss/data/06-ew/trial/zeromus.txt
Labels: oopsy, raidboss, 💬de

#5839 i18n: missing cn translations
  ui/jobs/jobs_config.ts
  ui/raidboss/data/03-hw/trial/thordan-ex.ts
  ui/raidboss/data/06-ew/trial/thordan-un.ts
Labels: config, jobs, raidboss, 💬cn

#5843 resources: Statuseffectlist first unknown field fix
  resources/netlog_defs.ts
Labels: resources

#5841 raidboss: fix ex7 forked lightning
  ui/raidboss/data/06-ew/trial/zeromus-ex.ts
Labels: raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#5845 oopsy: add ex7 trial
  ui/oopsyraidsy/data/06-ew/trial/zeromus-ex.ts
  ui/oopsyraidsy/data/06-ew/trial/zeromus.ts
Labels: oopsy

#5844 raidboss: ex7 timeline tweaks
  ui/raidboss/data/06-ew/trial/zeromus-ex.ts
  ui/raidboss/data/06-ew/trial/zeromus-ex.txt
  ui/raidboss/data/06-ew/trial/zeromus.txt
Labels: raidboss

#5846 raidboss: more ex7 triggers
  ui/raidboss/data/06-ew/trial/zeromus-ex.ts
Labels: raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#5849 raidboss: temporarily disable ex7 miasmic trigger
  ui/raidboss/data/06-ew/trial/zeromus-ex.ts
Labels: raidboss

#5850 i18n: update ko translations
  ui/jobs/jobs_config.ts
  ui/oopsyraidsy/data/00-misc/general.ts
  ui/oopsyraidsy/oopsyraidsy_config.ts
  ui/raidboss/data/03-hw/trial/thordan-ex.ts
  ui/raidboss/data/06-ew/dungeon/the_lunar_subterrane.ts
  ui/raidboss/data/06-ew/trial/golbez-ex.ts
  ui/raidboss/data/06-ew/trial/thordan-un.ts
  util/coverage/coverage.ts
Labels: config, jobs, oopsy, raidboss, util, 💬ko

#5851 i18n: new de translations
  ui/jobs/jobs_config.ts
  ui/raidboss/data/03-hw/trial/thordan-ex.ts
  ui/raidboss/data/06-ew/trial/thordan-un.ts
  ui/raidboss/data/06-ew/trial/zeromus-ex.ts
  ui/raidboss/data/06-ew/trial/zeromus.ts
Labels: config, jobs, raidboss, 💬de

#5852 raidboss: reenable ex7 miasmic trigger
  ui/raidboss/data/06-ew/trial/zeromus-ex.ts
Labels: raidboss

#5855 i18n: add ex7 zeromus CN translate
  ui/raidboss/data/06-ew/trial/zeromus-ex.ts
  ui/raidboss/data/06-ew/trial/zeromus.ts
Labels: raidboss, 💬cn

#5857 resources: More natural Japanese
  resources/outputs.ts
Labels: resources, 💬ja

#5856 raidboss: Add JA translation for Zeromus
  ui/raidboss/data/06-ew/trial/zeromus.ts
Labels: raidboss, 💬ja

#5862 i18n: update zeromus ko translations
  ui/raidboss/data/06-ew/trial/zeromus-ex.ts
  ui/raidboss/data/06-ew/trial/zeromus.ts
Labels: raidboss, 💬ko

#5863 util: improve coverage report for Chinese/Korean
  util/coverage/coverage.css
  util/coverage/coverage.d.ts
  util/coverage/coverage.ts
  util/coverage/coverage_report.ts
  util/find_missing_timeline_translations.ts
  util/find_missing_translations.ts
  util/gen_coverage_report.ts
Labels: util, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#5864 plugin: add warning for misconfigured cactbot paths
  plugin/CactbotEventSource/CactbotEventSource.cs
  plugin/CactbotEventSource/CactbotEventSource.csproj
  plugin/CactbotEventSource/CactbotPathWarning.cs
  plugin/CactbotEventSource/loc/Strings.Designer.cs
  plugin/CactbotEventSource/loc/Strings.resx
Labels: plugin

#5865 raidboss: Barbariccia Ex minor improvements
  ui/raidboss/data/06-ew/trial/barbariccia-ex.ts
  ui/raidboss/data/06-ew/trial/barbariccia-ex.txt
Labels: raidboss

#5866 lint: fix various css lint errors
  ui/dps/rdmty/dps.css
  ui/dps/xephero/xephero.css
  ui/raidboss/skins/dorgrin/dorgrin.css
Labels: dps, raidboss

#5868 raidboss: p12s classical concepts tcxs order
  ui/raidboss/data/06-ew/raid/p12s.ts
Labels: raidboss

#5869 raidboss: Add Option to Order Timeline Bottom-to-Top
  ui/raidboss/html_timeline_ui.ts
  ui/raidboss/raidboss.css
  ui/raidboss/raidboss_config.ts
  ui/raidboss/raidboss_options.ts
  ui/raidboss/timeline.ts
Labels: config, raidboss

#5718 raidboss/oopsy: add AMR
  ui/oopsyraidsy/data/06-ew/dungeon/another_mount_rokkon-savage.ts
  ui/oopsyraidsy/data/06-ew/dungeon/another_mount_rokkon.ts
  ui/raidboss/data/06-ew/dungeon/another_mount_rokkon-savage.ts
  ui/raidboss/data/06-ew/dungeon/another_mount_rokkon-savage.txt
  ui/raidboss/data/06-ew/dungeon/another_mount_rokkon.ts
  ui/raidboss/data/06-ew/dungeon/another_mount_rokkon.txt
  util/sync_files.ts
Labels: oopsy, raidboss, util, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#5871 resources/docs: update for in combat line changes
  docs/LogGuide.md
  resources/netlog_defs.ts
  util/gen_log_guide.ts
Labels: resources, util, docs

#5872 i18n: new translations including AMR
  ui/raidboss/data/06-ew/dungeon/another_mount_rokkon-savage.ts
  ui/raidboss/data/06-ew/dungeon/another_mount_rokkon.ts
  ui/raidboss/data/06-ew/trial/barbariccia-ex.ts
  ui/raidboss/data/06-ew/trial/zeromus-ex.ts
  ui/raidboss/raidboss_config.ts
Labels: config, raidboss, 💬de

#5870 raidboss: Simple Thaleia triggers
  ui/raidboss/data/06-ew/alliance/thaleia.ts
  ui/raidboss/data/06-ew/alliance/thaleia.txt
Labels: raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#5873 i18n: thaleia translations
  ui/raidboss/data/06-ew/alliance/thaleia.ts
Labels: raidboss, 💬de

#5874 raidboss: throw error on duplicate timeline label
  ui/raidboss/timeline_parser.ts
Labels: raidboss

#5875 test/oopsy: add some basic oopsy unit tests
  .mocharc.cjs
  package.json
  test/helper/test_data_runner.ts
  test/helper/test_oopsy.ts
  test/test_data_files.ts
  types/oopsy.d.ts
  ui/oopsyraidsy/data/02-arr/trial/titan-ex.ts
  ui/oopsyraidsy/data/03-hw/raid/a6n.ts
  ui/oopsyraidsy/data/03-hw/trial/sophia-ex.ts
  ui/oopsyraidsy/data/03-hw/trial/thordan-ex.ts
  ui/oopsyraidsy/data/04-sb/alliance/orbonne_monastery.ts
  ui/oopsyraidsy/data/04-sb/dungeon/bardams_mettle.ts
  ui/oopsyraidsy/data/04-sb/dungeon/bardams_mettle63.ts
  ui/oopsyraidsy/data/04-sb/dungeon/drowned_city_of_skalla.ts
  ui/oopsyraidsy/data/04-sb/dungeon/fractal_continuum_hard.ts
  ui/oopsyraidsy/data/04-sb/raid/o10s.ts
  ui/oopsyraidsy/data/04-sb/raid/o12s.ts
  ui/oopsyraidsy/data/04-sb/raid/o4s.ts
  ui/oopsyraidsy/data/04-sb/raid/o7s.ts
  ui/oopsyraidsy/data/04-sb/raid/o8s.ts
  ui/oopsyraidsy/data/04-sb/trial/shinryu-ex.ts
  ui/oopsyraidsy/data/05-shb/alliance/the_puppets_bunker.ts
  ui/oopsyraidsy/data/05-shb/dungeon/matoyas_relict.ts
  ui/oopsyraidsy/data/05-shb/dungeon/paglthan.ts
  ui/oopsyraidsy/data/05-shb/raid/e11s.ts
  ui/oopsyraidsy/data/05-shb/raid/e2s.ts
  ui/oopsyraidsy/data/05-shb/raid/e7n.ts
  ui/oopsyraidsy/data/05-shb/trial/shiva-un.ts
  ui/oopsyraidsy/data/05-shb/trial/wol-ex.ts
  ui/oopsyraidsy/data/06-ew/alliance/euphrosyne.ts
  ui/oopsyraidsy/data/06-ew/dungeon/ktisis_hyperboreia.ts
  ui/oopsyraidsy/data/06-ew/dungeon/lapis_manalis.ts
  ui/oopsyraidsy/data/06-ew/dungeon/the_sildihn_subterrane.ts
  ui/oopsyraidsy/data/06-ew/raid/p4s.ts
  ui/oopsyraidsy/data/06-ew/trial/endsinger-ex.ts
  ui/oopsyraidsy/data/06-ew/trial/endsinger.ts
  ui/oopsyraidsy/data/06-ew/trial/golbez-ex.ts
  ui/oopsyraidsy/data/06-ew/trial/golbez.ts
  ui/oopsyraidsy/data/06-ew/trial/sophia-un.ts
  ui/oopsyraidsy/data/06-ew/trial/thordan-un.ts
  ui/oopsyraidsy/data/06-ew/trial/ultima-un.ts
  util/sync_files.ts
Labels: oopsy, test, util

#5876 oopsy/test: add test for duplicate ability id
  test/helper/test_oopsy.ts
  ui/oopsyraidsy/data/03-hw/dungeon/the_lost_city_of_amdapor_hard.ts
  ui/oopsyraidsy/data/04-sb/dungeon/hells_lid.ts
  ui/oopsyraidsy/data/04-sb/dungeon/swallows_compass.ts
  ui/oopsyraidsy/data/04-sb/raid/o11s.ts
  ui/oopsyraidsy/data/05-shb/alliance/the_copied_factory.ts
  ui/oopsyraidsy/data/05-shb/alliance/the_puppets_bunker.ts
  ui/oopsyraidsy/data/05-shb/alliance/the_tower_at_paradigms_breach.ts
  ui/oopsyraidsy/data/05-shb/dungeon/anamnesis_anyder.ts
  ui/oopsyraidsy/data/05-shb/eureka/delubrum_reginae.ts
  ui/oopsyraidsy/data/05-shb/raid/e10s.ts
  ui/oopsyraidsy/data/05-shb/raid/e11s.ts
  ui/oopsyraidsy/data/05-shb/trial/hades.ts
  ui/oopsyraidsy/data/05-shb/ultimate/the_epic_of_alexander.ts
  ui/oopsyraidsy/data/06-ew/alliance/aglaia.ts
  ui/oopsyraidsy/data/06-ew/alliance/euphrosyne.ts
  ui/oopsyraidsy/data/06-ew/dungeon/alzadaals_legacy.ts
  ui/oopsyraidsy/data/06-ew/dungeon/another_mount_rokkon-savage.ts
  ui/oopsyraidsy/data/06-ew/dungeon/another_mount_rokkon.ts
  ui/oopsyraidsy/data/06-ew/dungeon/another_sildihn_subterrane-savage.ts
  ui/oopsyraidsy/data/06-ew/dungeon/another_sildihn_subterrane.ts
  ui/oopsyraidsy/data/06-ew/dungeon/ktisis_hyperboreia.ts
  ui/oopsyraidsy/data/06-ew/dungeon/mount_rokkon.ts
  ui/oopsyraidsy/data/06-ew/dungeon/vanaspati.ts
  ui/oopsyraidsy/data/06-ew/trial/endsinger.ts
Labels: oopsy, test

#5877 test: fix test overlay tts echo command
  ui/test/test.ts
Labels: test

#5879 oopsy: fix Alzadaal pulse laser ability id
  ui/oopsyraidsy/data/06-ew/dungeon/alzadaals_legacy.ts
Labels: oopsy

#5881 i18n: missing CN translations
  ui/raidboss/data/03-hw/trial/thordan-ex.ts
  ui/raidboss/data/06-ew/trial/barbariccia-ex.ts
  ui/raidboss/data/06-ew/trial/thordan-un.ts
  ui/raidboss/raidboss_config.ts
  util/coverage/coverage.ts
Labels: config, raidboss, util, 💬cn

#5880 raidboss: ex7 small delay fixups
  ui/raidboss/data/06-ew/trial/zeromus-ex.ts
Labels: raidboss

#5882 raidboss: Ktisis Hyperboreia--Add Ladon Lord's Pyric Breath
  ui/raidboss/data/06-ew/dungeon/ktisis_hyperboreia.ts
Labels: raidboss

#5883 i18n: update missing ko translations
  ui/raidboss/data/03-hw/raid/a7s.ts
  ui/raidboss/data/04-sb/dungeon/doma_castle.ts
  ui/raidboss/data/06-ew/dungeon/ktisis_hyperboreia.ts
  ui/raidboss/data/06-ew/trial/barbariccia-ex.ts
  ui/raidboss/raidboss_config.ts
  util/coverage/coverage.ts
Labels: config, raidboss, util, 💬ko

#5884 resources: 6.51 update
  resources/content_list.ts
  resources/zone_id.ts
  resources/zone_info.ts
  ui/fisher/static-data.ts
Labels: resources, fishing🎣, 💬fr, 💬de, 💬ja
