Repository quisquous/cactbot, pull requests merged in 2023-08, with the labels that each got.

#5740 util: Auto-generate -it and -p flags in timeline header
  util/logtools/make_timeline.ts
Labels: util

#5739 i18n: new mount rokkon translations
  ui/raidboss/data/06-ew/dungeon/mount_rokkon.ts
Labels: raidboss, 💬de

#5743 docs: update raidboss emulator guide cn translation
  docs/zh-CN/README.md
Labels: docs, 💬cn

#5741 config: add trigger comments
  docs/RaidbossGuide.md
  docs/zh-CN/RaidbossGuide.md
  eslint/cactbot-trigger-property-order.js
  resources/user_config.ts
  test/helper/test_trigger.ts
  types/oopsy.d.ts
  types/trigger.d.ts
  ui/config/config.css
  ui/config/config.ts
  ui/oopsyraidsy/data/00-misc/general.ts
  ui/oopsyraidsy/oopsyraidsy_config.ts
  ui/raidboss/data/00-misc/general.ts
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.ts
  ui/raidboss/raidboss_config.ts
Labels: resources, config, oopsy, raidboss, test, docs, 💬cn, style

#5744 raidemulator: Fixed class operations for non-English users.
  ui/raidboss/raidemulator.ts
Labels: raidemulator

#5750 oopsy: add isImmune to OopsyData
  types/data.d.ts
  ui/oopsyraidsy/damage_tracker.ts
  ui/oopsyraidsy/player_state_tracker.ts
Labels: oopsy

#5751 oopsy: don't report share for invulning tanks
  ui/oopsyraidsy/data/06-ew/raid/p12s.ts
  ui/oopsyraidsy/data/06-ew/raid/p9s.ts
Labels: oopsy

#5753 raidboss: fix JA translation for Baelsar's Wall
  ui/raidboss/data/03-hw/dungeon/baelsars_wall.ts
  ui/raidboss/data/03-hw/dungeon/baelsars_wall62.ts
Labels: raidboss

#5758 i18n: add cn translation
  ui/raidboss/data/06-ew/dungeon/mount_rokkon.ts
Labels: raidboss, 💬cn

#5757 raidemulator: move encounter loading outside of Dexie zone
  ui/raidboss/emulator/data/Persistor.ts
Labels: raidemulator

#5755 raidboss: Add JA translations for DSR Gigaflare
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss, 💬ja

#5759 raidboss: fix Shatter big ice triggers for new map
  ui/raidboss/data/03-hw/pvp/shatter.ts
Labels: raidboss

#5761 oopsy: fix food buff triggers
  ui/oopsyraidsy/data/00-misc/general.ts
Labels: oopsy

#5747 raidboss: add P12S delay info to white flame baits
  ui/raidboss/data/06-ew/raid/p12s.ts
Labels: raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#5767 build/docs: Updated ttypescript version
  README.md
  package-lock.json
  package.json
Labels: docs

#5766 plugin: update DEPS.json5
  plugin/CactbotEventSource/CactbotEventSource.cs
  util/DEPS.json5
Labels: util, plugin

#5769 i18n: new DE translations
  ui/raidboss/data/06-ew/raid/p12s.ts
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.ts
Labels: raidboss, 💬de

#5768 i18n: p12s cn translations for white flame baits delay
  ui/raidboss/data/06-ew/raid/p12s.ts
Labels: raidboss, 💬cn

#5772 raidboss: fix classical1 bug with noflip checkbox
  ui/raidboss/data/06-ew/raid/p12s.ts
Labels: raidboss

#5774 resources: ko 6.35
  resources/effect_id.ts
  resources/pet_names.ts
  resources/zone_info.ts
  ui/fisher/static-data.ts
Labels: resources, fishing🎣, 💬ko

#5775 i18n: update ko orthos
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_01-10.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_11-20.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_21-30.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_31-40.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_41-50.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_51-60.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_61-70.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_71-80.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_81-90.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_91-100.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_general.ts
Labels: raidboss, 💬ko

#5776 plugin: ScholarJobMemory change again
  plugin/CactbotEventSource/FFXIVProcessIntl.cs
Labels: plugin
