Repository quisquous/cactbot, pull requests merged in 2023-07, with the labels that each got.

#5633 raidboss: p12s classical concepts bug fix
  ui/raidboss/data/06-ew/raid/p12s.ts
Labels: raidboss

#5638 i18n: p12s cn translation
  ui/raidboss/data/06-ew/raid/p12s.ts
Labels: raidboss, 💬cn

#5637 raidboss: improvements to p12s pangenesis
  ui/raidboss/data/06-ew/raid/p12s.ts
Labels: raidboss

#5634 raidboss: p12sp2 uav phase improvements
  ui/raidboss/data/06-ew/raid/p12s.ts
Labels: raidboss, 💬cn, 💬ja

#5618 raidboss: Endsinger Extreme improvements
  resources/util.ts
  ui/raidboss/data/06-ew/trial/endsinger-ex.ts
  ui/raidboss/data/06-ew/trial/endsinger-ex.txt
Labels: resources, raidboss

#5639 i18n: update 6.4 dungeons
  ui/raidboss/data/04-sb/dungeon/castrum_abania.ts
  ui/raidboss/data/04-sb/dungeon/doma_castle.ts
Labels: raidboss

#5640 i18n: p12s, endsinger ko translations
  resources/outputs.ts
  ui/raidboss/data/06-ew/raid/p12s.ts
  ui/raidboss/data/06-ew/trial/endsinger-ex.ts
Labels: resources, raidboss, 💬ko

#5644 raidboss: p9s additional limit cut 1 info
  ui/raidboss/data/06-ew/raid/p9s.ts
Labels: raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#5647 raidboss: add P9S - Beastly Fury callout
  ui/raidboss/data/06-ew/raid/p9s.ts
Labels: raidboss

#5646 config: fix headmarker config ui console error
  ui/raidboss/data/06-ew/raid/p12s.ts
Labels: raidboss

#5649 raidboss: TOP add missing replaceSync
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.ts
Labels: raidboss

#5652 raidboss: add p12s concepts ctxs (rainbow) option
  ui/raidboss/data/06-ew/raid/p12s.ts
Labels: raidboss

#5654 util: split up find missing translation code
  util/find_missing_translations.ts
  util/find_missing_translations_action.ts
  util/index.ts
Labels: util

#5656 raidboss: add delay to fix p12s classical concepts
  ui/raidboss/data/06-ew/raid/p12s.ts
Labels: raidboss

#5653 config: treat cleared options as defaults
  resources/user_config.ts
Labels: resources

#5645 raidboss: minor Eureka Orthos additions/fixes
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_21-30.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_31-40.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_71-80.ts
Labels: raidboss, 💬ko, 💬de, 💬ja

#5661 resources/docs: add more HoT/DoT line fields
  docs/LogGuide.md
  resources/netlog_defs.ts
  test/unittests/netregex_test.ts
  test/unittests/regex_test.ts
Labels: resources, test, docs

#5662 raidboss: fix P10S bond and other triggers for non-English
  ui/raidboss/data/06-ew/raid/p10s.ts
Labels: raidboss

#5663 docs: add more notes about translations
  docs/RaidbossGuide.md
Labels: docs

#5665 docs: fix a few typos/wording in translation guide
  docs/RaidbossGuide.md
Labels: docs

#5666 raidboss: take two on P10S translations
  docs/RaidbossGuide.md
  ui/raidboss/data/06-ew/raid/p10s.ts
Labels: raidboss, docs

#5667 util/test: add missing netRegex params to find translations
  resources/translations.ts
  test/helper/test_trigger.ts
  ui/raidboss/popup-text.ts
  ui/raidboss/raidboss_config.ts
  util/find_missing_timeline_translations.ts
Labels: resources, config, raidboss, test, util

#5668 util: make missingTranslations=true include regex
  util/find_missing_timeline_translations.ts
Labels: util

#5669 raidboss: fix p10n translations as well
  ui/raidboss/data/06-ew/raid/p10n.ts
Labels: raidboss

#5671 raidboss/resources: fix all triggers
  resources/translations.ts
Labels: resources

#5676 i18n: cn 6.35 & add some missing translations
  resources/outputs.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_01-10.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_11-20.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_21-30.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_31-40.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_41-50.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_51-60.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_61-70.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_71-80.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_81-90.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_91-100.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_general.ts
  ui/raidboss/data/06-ew/trial/endsinger-ex.ts
  util/coverage/coverage.ts
Labels: resources, raidboss, util, 💬cn

#5577 raidboss: add `forcejump` timeline command
  docs/TimelineGuide.md
  ui/raidboss/data/00-misc/test.ts
  ui/raidboss/data/00-misc/test.txt
  ui/raidboss/timeline.ts
  ui/raidboss/timeline_parser.ts
Labels: raidboss, docs

#5682 raidemulator: Various fixes for CombatantMemory lines
  ui/raidboss/emulator/data/CombatantTracker.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x105.ts
  ui/raidboss/emulator/data/network_log_converter/ParseLine.ts
Labels: raidemulator

#5683 docs: update customization guide cn translation
  docs/zh-CN/CactbotCustomization.md
Labels: docs, 💬cn

#5685 i18n: update raidboss test timeline translations
  ui/raidboss/data/00-misc/test.ts
Labels: raidboss

#5684 docs: update readme en/cn for jobs module features
  README.md
  docs/zh-CN/README.md
  screenshots/Jobs.png
  screenshots/promo_jobs.png
Labels: docs, 💬cn

#5688 jobs: ensure jobs name to be upper case
  plugin/CactbotEventSource/JSEvents.cs
Labels: plugin

#5679 raidboss: round timeline time to avoid micro jumps
  ui/raidboss/timeline.ts
Labels: raidboss

#5690 raidboss: delay P12S2 Ekpyrosis call
  ui/raidboss/data/06-ew/raid/p12s.ts
Labels: raidboss

#5692 raidboss: adjust callouts for BLU
  ui/raidboss/data/02-arr/trial/ultima-ex.ts
  ui/raidboss/data/03-hw/alliance/weeping_city.ts
  ui/raidboss/data/03-hw/dungeon/the_lost_city_of_amdapor_hard.ts
  ui/raidboss/data/03-hw/dungeon/the_vault.ts
  ui/raidboss/data/03-hw/dungeon/the_vault61.ts
  ui/raidboss/data/03-hw/raid/a6n.ts
  ui/raidboss/data/04-sb/alliance/orbonne_monastery.ts
  ui/raidboss/data/04-sb/dungeon/temple_of_the_fist.ts
  ui/raidboss/data/04-sb/raid/o11n.ts
  ui/raidboss/data/04-sb/raid/o12n.ts
  ui/raidboss/data/04-sb/raid/o1n.ts
  ui/raidboss/data/04-sb/raid/o9n.ts
  ui/raidboss/data/04-sb/raid/o9s.ts
  ui/raidboss/data/04-sb/trial/byakko-ex.ts
  ui/raidboss/data/04-sb/trial/seiryu-ex.ts
  ui/raidboss/data/05-shb/hunts/the_raktika_greatwood.ts
  ui/raidboss/data/05-shb/raid/e12s.ts
  ui/raidboss/data/05-shb/raid/e8s.ts
  ui/raidboss/data/05-shb/trial/hades-ex.ts
  ui/raidboss/data/05-shb/trial/innocence-ex.ts
  ui/raidboss/data/05-shb/trial/ruby_weapon-ex.ts
  ui/raidboss/data/05-shb/trial/ruby_weapon.ts
  ui/raidboss/data/05-shb/trial/titania-ex.ts
  ui/raidboss/data/05-shb/trial/varis-ex.ts
  ui/raidboss/data/05-shb/trial/wol-ex.ts
  ui/raidboss/data/05-shb/trial/wol.ts
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane-savage.ts
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane.ts
  ui/raidboss/data/06-ew/raid/p12s.ts
  ui/raidboss/data/06-ew/raid/p3n.ts
  ui/raidboss/data/06-ew/trial/endsinger.ts
Labels: raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#5693 raidboss/config: add debug delaySeconds adjustment ui
  types/trigger.d.ts
  ui/raidboss/popup-text.ts
  ui/raidboss/raidboss_config.ts
Labels: config, raidboss

#5696 raidboss: update p4s tank in/out + party out/in calls
  ui/raidboss/data/06-ew/raid/p4s.ts
Labels: raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#5697 i18n: add missing de translations
  ui/raidboss/data/03-hw/raid/a7s.ts
  ui/raidboss/data/04-sb/dungeon/doma_castle.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_71-80.ts
  ui/raidboss/data/06-ew/raid/p9s.ts
  ui/raidboss/data/06-ew/trial/endsinger-ex.ts
  ui/raidboss/raidboss_config.ts
Labels: config, raidboss, 💬de

#5698 i18n: missing p12s de translations
  ui/raidboss/data/06-ew/raid/p12s.ts
Labels: raidboss, 💬de

#5695 raidboss: Update p12s.ts
  ui/raidboss/data/06-ew/raid/p12s.ts
Labels: raidboss, 💬ja

#5699 util: fix async bugs with find missing translations
  util/find_missing_translations.ts
Labels: util

#5700 config: show triggersets that have ui but no triggers
  ui/raidboss/raidboss_config.ts
Labels: config, raidboss

#5704 i18n: add Chinese translate for P12S classical options
  ui/raidboss/data/06-ew/raid/p12s.ts
Labels: raidboss, 💬cn

#5701 util: apply rsvs to abilities/effects in log splitter
  resources/netlog_defs.ts
  util/logtools/splitter.ts
Labels: resources, util

#5706 resources: ko 6.31
  resources/zone_info.ts
Labels: resources, 💬ko, 💬cn

#5702 util: Auto-generate header data in make_timeline
  util/logtools/make_timeline.ts
Labels: util

#5708 i18n: update ko TOP
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.ts
Labels: raidboss, 💬ko

#5709 i18n: fix p12s callout
  ui/raidboss/data/06-ew/raid/p12s.ts
Labels: raidboss, 💬de

#5703 raidboss/config: add per triggerset default output options
  types/trigger.d.ts
  ui/raidboss/popup-text.ts
  ui/raidboss/raidboss_config.ts
  ui/raidboss/raidboss_options.ts
Labels: config, raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#5715 util: fix async race condition with split_log
  util/logtools/split_log.ts
Labels: util

#5719 resources: remove unneeded type assertion
  resources/party.ts
Labels: resources

#5721 raidboss: call caloric 1 beacon for everyone
  ui/raidboss/data/06-ew/raid/p12s.ts
Labels: raidboss, 💬ko, 💬cn, 💬de, 💬ja

#5723 raidboss: remove bad translations from caloric 1 beacon
  ui/raidboss/data/06-ew/raid/p12s.ts
Labels: raidboss

#5720 raidboss: add p12s2 tethers to timeline
  ui/raidboss/data/06-ew/raid/p12s.ts
  ui/raidboss/data/06-ew/raid/p12s.txt
Labels: raidboss

#5722 raidboss/oopsy: add Mount Rokkon left path
  ui/oopsyraidsy/data/06-ew/dungeon/mount_rokkon.ts
  ui/raidboss/data/06-ew/dungeon/mount_rokkon.ts
  ui/raidboss/data/06-ew/dungeon/mount_rokkon.txt
Labels: oopsy, raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#5724 raidboss: fix Mount Rokkon timeline sync
  ui/raidboss/data/06-ew/dungeon/mount_rokkon.txt
Labels: raidboss

#5726 raidboss: E4S - phase 3 raidwide + bleed
  ui/raidboss/data/05-shb/raid/e4s.ts
Labels: raidboss

#5727 raidboss: add callout for tetradaemonic bonds targets
  ui/raidboss/data/06-ew/raid/p10s.ts
Labels: raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#5728 raidboss: add Masked Carnivale stage 32
  ui/raidboss/data/00-misc/the_masked_carnivale.ts
Labels: raidboss, 💬ko, 💬cn, 💬de

#5731 i18n: update ko translations
  ui/raidboss/data/06-ew/dungeon/mount_rokkon.ts
  ui/raidboss/data/06-ew/map/the_shifting_gymnasion_agonon.ts
  ui/raidboss/data/06-ew/raid/p10s.ts
  ui/raidboss/data/06-ew/raid/p12s.ts
  ui/raidboss/raidboss_config.ts
Labels: config, raidboss, 💬ko, 💬fr, 💬cn, 💬ja

#5732 raidboss: add p12s shapeAndDebuff for other langs
  ui/raidboss/data/06-ew/raid/p12s.ts
Labels: raidboss

#5689 raidboss: add durations for p12s white flame
  ui/raidboss/data/06-ew/raid/p12s.ts
Labels: raidboss

#5733 i18n: update cn translations
  ui/raidboss/data/06-ew/map/the_shifting_gymnasion_agonon.ts
  ui/raidboss/data/06-ew/raid/p10s.ts
  ui/raidboss/data/06-ew/raid/p12s.ts
  ui/raidboss/raidboss_config.ts
Labels: config, raidboss, 💬cn

#5736 i18n: fix cn translation for trigger set config output
  ui/raidboss/raidboss_config.ts
Labels: config, raidboss, 💬cn

#5735 raidboss/oopsy: add Mount Rokkon middle path
  ui/oopsyraidsy/data/06-ew/dungeon/mount_rokkon.ts
  ui/raidboss/data/06-ew/dungeon/mount_rokkon.ts
  ui/raidboss/data/06-ew/dungeon/mount_rokkon.txt
Labels: oopsy, raidboss

#5737 i18n: add missing translations
  ui/raidboss/data/00-misc/the_masked_carnivale.ts
  ui/raidboss/data/06-ew/dungeon/mount_rokkon.ts
  ui/raidboss/data/06-ew/raid/p10s.ts
Labels: raidboss, 💬de

#5734 docs: Update timeline guide
  docs/TimelineGuide.md
Labels: docs

#5738 raidboss/oopsy: add Mount Rokkon right path
  ui/oopsyraidsy/data/06-ew/dungeon/mount_rokkon.ts
  ui/raidboss/data/06-ew/dungeon/mount_rokkon.ts
  ui/raidboss/data/06-ew/dungeon/mount_rokkon.txt
Labels: oopsy, raidboss
