Repository quisquous/cactbot, pull requests merged in 2023-06, with the labels that each got.

#5468 raidboss: add P10S bond callouts
  ui/raidboss/data/06-ew/raid/p10s.ts
Labels: raidboss

#5470 raidboss: p10s & p11s - aoe bleeds
  ui/raidboss/data/06-ew/raid/p10s.ts
  ui/raidboss/data/06-ew/raid/p11s.ts
Labels: raidboss

#5469 raidboss: p10s timeline
  ui/raidboss/data/06-ew/raid/p10s.ts
  ui/raidboss/data/06-ew/raid/p10s.txt
Labels: raidboss

#5471 oopsy: add P10S
  ui/oopsyraidsy/data/06-ew/raid/p10s.ts
Labels: oopsy

#5472 i18n: more 6.4 translations
  ui/raidboss/data/00-misc/test.ts
  ui/raidboss/data/06-ew/raid/p10s.ts
  ui/raidboss/data/06-ew/raid/p11s.ts
  ui/raidboss/data/06-ew/raid/p9s.ts
Labels: raidboss, 💬de

#5477 i18n: fix Daemoniac Bonds name
  ui/raidboss/data/06-ew/raid/p10s.ts
  ui/raidboss/data/06-ew/raid/p10s.txt
Labels: raidboss

#5474 raidboss: P9S full timeline
  ui/raidboss/data/06-ew/raid/p9s.ts
  ui/raidboss/data/06-ew/raid/p9s.txt
Labels: raidboss

#5478 i18n: p9s timeline
  ui/raidboss/data/06-ew/raid/p9n.ts
  ui/raidboss/data/06-ew/raid/p9s.ts
Labels: raidboss

#5483 i18n: p9s & p9n boss name fix for FR
  ui/raidboss/data/06-ew/raid/p9n.ts
  ui/raidboss/data/06-ew/raid/p9s.ts
Labels: raidboss

#5484 raidboss: basic p11s mechanics
  ui/raidboss/data/06-ew/raid/p11s.ts
  ui/raidboss/data/06-ew/raid/p11s.txt
Labels: raidboss

#5485 resources: update splitter for log line changes
  resources/netlog_defs.ts
Labels: resources

#5487 raidboss: P11S timeline
  ui/raidboss/data/06-ew/raid/p11s.ts
  ui/raidboss/data/06-ew/raid/p11s.txt
Labels: raidboss

#5488 i18n: p11s translations
  ui/raidboss/data/06-ew/raid/p11s.ts
Labels: raidboss, 💬de

#5489 i18n: fix german sphere name
  ui/raidboss/data/06-ew/raid/p11s.ts
Labels: raidboss

#5491 oopsy: add P11S
  ui/oopsyraidsy/data/06-ew/raid/p11s.ts
Labels: oopsy, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#5492 raidboss: add more P11S triggers
  ui/raidboss/data/06-ew/raid/p11s.ts
Labels: raidboss

#5493 i18n: new p11s translations
  ui/raidboss/data/06-ew/raid/p11s.ts
Labels: raidboss, 💬de

#5498 raidboss: Zurvan fixes
  ui/raidboss/data/03-hw/trial/zurvan-ex.ts
  ui/raidboss/data/03-hw/trial/zurvan-ex.txt
  ui/raidboss/data/06-ew/trial/zurvan-un.ts
  ui/raidboss/data/06-ew/trial/zurvan-un.txt
  util/sync_files.ts
Labels: raidboss, util

#5496 raidboss: add P12S wings
  ui/raidboss/data/06-ew/raid/p12s.ts
Labels: raidboss, 💬fr, 💬de

#5499 i18n: more p10s & p11s FR translations
  ui/raidboss/data/06-ew/raid/p10s.ts
  ui/raidboss/data/06-ew/raid/p11s.ts
Labels: raidboss, 💬fr

#5501 docs: update version numbers
  docs/LogGuide.md
Labels: docs

#5500 raidboss: add P12S apo/peri calls
  ui/raidboss/data/06-ew/raid/p12s.ts
Labels: raidboss

#5502 raidboss: add p12s second wing call by request
  ui/raidboss/data/06-ew/raid/p12n.ts
  ui/raidboss/data/06-ew/raid/p12s.ts
Labels: raidboss

#5503 i18n: 6.4 raid normal translations
  ui/raidboss/data/06-ew/raid/p10n.ts
  ui/raidboss/data/06-ew/raid/p11n.ts
  ui/raidboss/data/06-ew/raid/p12n.ts
  ui/raidboss/data/06-ew/raid/p9n.ts
Labels: raidboss, 💬ko

#5504 i18n: p9s + p12s translations + small fix in p10s
  ui/raidboss/data/06-ew/raid/p10s.txt
  ui/raidboss/data/06-ew/raid/p12s.ts
  ui/raidboss/data/06-ew/raid/p9s.ts
Labels: raidboss, 💬de

#5506 i18n: update ko translations
  ui/raidboss/data/00-misc/test.ts
  ui/raidboss/data/03-hw/trial/zurvan-ex.ts
  ui/raidboss/data/05-shb/raid/e3s.ts
  ui/raidboss/data/06-ew/raid/p12n.ts
  ui/raidboss/data/06-ew/raid/p9n.ts
  ui/raidboss/data/06-ew/trial/zurvan-un.ts
Labels: raidboss, 💬ko

#5508 i18n: cn 6.31
  ui/oopsyraidsy/data/06-ew/ultimate/the_omega_protocol.ts
  ui/raidboss/data/00-misc/test.ts
  ui/raidboss/data/03-hw/trial/zurvan-ex.ts
  ui/raidboss/data/04-sb/ultimate/unending_coil_ultimate.ts
  ui/raidboss/data/06-ew/alliance/euphrosyne.ts
  ui/raidboss/data/06-ew/trial/zurvan-un.ts
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.ts
Labels: oopsy, raidboss, 💬cn

#5509 resources: cn-6.31
  resources/zone_info.ts
Labels: resources, 💬cn

#5515 raidboss: minor comment fix in p11s timeline
  ui/raidboss/data/06-ew/raid/p11s.txt
Labels: raidboss

#5516 docs: update RaidbossGuide re sequential trigger execution
  docs/RaidbossGuide.md
Labels: docs

#5519 raidboss: add p9s firestrikes triggers
  ui/raidboss/data/06-ew/raid/p9s.ts
Labels: raidboss

#5520 raidboss: add p9s two minds triggers
  ui/raidboss/data/06-ew/raid/p9s.ts
Labels: raidboss

#5522 raidboss: add p12s1 limit cut number
  ui/raidboss/data/06-ew/raid/p12s.ts
Labels: raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#5523 raidboss: add p10s pandaemoniac ray trigger
  ui/raidboss/data/06-ew/raid/p10s.ts
Labels: raidboss

#5524 raidboss: adjust p11s durations
  ui/raidboss/data/06-ew/raid/p11s.ts
Labels: raidboss

#5521 raidboss: add p11s Twofold Revelation triggers
  ui/raidboss/data/06-ew/raid/p11s.ts
Labels: raidboss

#5518 raidboss: P12S Timeline
  ui/raidboss/data/06-ew/raid/p12s.ts
  ui/raidboss/data/06-ew/raid/p12s.txt
Labels: raidboss

#5525 i18n: more Savage translations
  ui/raidboss/data/06-ew/raid/p10s.ts
  ui/raidboss/data/06-ew/raid/p11s.ts
  ui/raidboss/data/06-ew/raid/p9s.ts
Labels: raidboss, 💬de

#5526 i18n: More FR Savage translations
  ui/raidboss/data/06-ew/raid/p10s.ts
  ui/raidboss/data/06-ew/raid/p11s.ts
  ui/raidboss/data/06-ew/raid/p12s.ts
  ui/raidboss/data/06-ew/raid/p9s.ts
Labels: raidboss, 💬fr

#5527 i18n: Add p11s Chinese translations
  ui/raidboss/data/06-ew/raid/p11s.ts
Labels: raidboss, 💬cn

#5529 oopsy: add p12s
  ui/oopsyraidsy/data/06-ew/raid/p12s.ts
Labels: oopsy

#5528 raidboss: some p12s timeline adjustments, notes
  ui/raidboss/data/06-ew/raid/p12s.txt
Labels: raidboss

#5453 raidboss: convert NetRegexes functions to params
  resources/translations.ts
  ui/raidboss/data/00-misc/test.ts
  ui/raidboss/data/04-sb/eureka/eureka_hydatos.ts
  ui/raidboss/data/06-ew/trial/golbez-ex.ts
Labels: resources, raidboss

#5531 oopsy: add p9s
  ui/oopsyraidsy/data/06-ew/raid/p9s.ts
  ui/raidboss/data/06-ew/raid/p9s.txt
Labels: oopsy, raidboss

#5532 util: update make_timeline.ts to use InCombat line
  util/logtools/make_timeline.ts
Labels: util

#5534 raidboss: timeline & initial triggers for Golbez (normal)
  ui/oopsyraidsy/data/06-ew/trial/golbez.ts
  ui/raidboss/data/06-ew/trial/golbez.ts
  ui/raidboss/data/06-ew/trial/golbez.txt
Labels: oopsy, raidboss

#5536 raidboss: ignore InCombat lines for missing translations
  ui/raidboss/timeline_parser.ts
Labels: raidboss

#5537 raidboss: fix console error messages for p11s
  ui/raidboss/data/06-ew/raid/p11s.ts
Labels: raidboss

#5539 util: Set lastInclude: true for ChangeMap
  resources/netlog_defs.ts
Labels: resources

#5542 i18n: more 6.4 translations
  ui/raidboss/data/00-misc/test.ts
  ui/raidboss/data/06-ew/raid/p12s.ts
  ui/raidboss/data/06-ew/raid/p9s.ts
  ui/raidboss/data/06-ew/trial/golbez.ts
Labels: raidboss, 💬de

#5540 i18n: Update TOP CN translations
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.ts
Labels: raidboss, 💬cn

#5480 build: Build manifest automatically
  test/helper/test_data_runner.ts
  test/helper/test_manifest.ts
  test/test_raidboss_data.ts
  ui/oopsyraidsy/data/oopsy_manifest.txt
  ui/raidboss/data/raidboss_manifest.txt
  util/gen_coverage_report.ts
  util/manifest.ts
  webpack/loaders/manifest-loader.ts
Labels: oopsy, raidboss, test, util

#5543 oopsy: more p12s
  ui/oopsyraidsy/data/06-ew/raid/p12s.ts
  ui/oopsyraidsy/data/06-ew/raid/p9s.ts
  ui/raidboss/data/06-ew/raid/p12s.txt
Labels: oopsy, raidboss

#5544 raidboss: Adjust p11s timeline to fix miscounted Styx hits
  ui/raidboss/data/06-ew/raid/p11s.txt
Labels: raidboss

#5546 raidboss: add P12S1 palladion white flame calls
  ui/raidboss/data/06-ew/raid/p12s.ts
Labels: raidboss

#5547 raidboss: add p12s Superchain I triggers
  ui/raidboss/data/06-ew/raid/p12s.ts
Labels: raidboss

#5548 resources: allow for readonly string[] netregex params
  resources/netregexes.ts
  resources/regexes.ts
  resources/translations.ts
  test/helper/test_trigger.ts
  types/net_props.d.ts
  ui/raidboss/data/06-ew/raid/p12s.ts
Labels: resources, raidboss, test

#5552 raidboss: add Angada hunt triggers
  ui/raidboss/data/04-sb/hunts/yanxia.ts
Labels: raidboss

#5549 raidboss/oopsy: add duplicate files for changed 6.3 content
  ui/oopsyraidsy/data/04-sb/dungeon/ala_mhigo63.ts
  ui/oopsyraidsy/data/04-sb/dungeon/bardams_mettle63.ts
  ui/oopsyraidsy/data/04-sb/dungeon/castrum_abania63.ts
  ui/oopsyraidsy/data/04-sb/dungeon/doma_castle63.ts
  ui/oopsyraidsy/data/04-sb/dungeon/sirensong_sea63.ts
  ui/raidboss/data/04-sb/dungeon/ala_mhigo63.ts
  ui/raidboss/data/04-sb/dungeon/ala_mhigo63.txt
  ui/raidboss/data/04-sb/dungeon/bardams_mettle63.ts
  ui/raidboss/data/04-sb/dungeon/bardams_mettle63.txt
  ui/raidboss/data/04-sb/dungeon/castrum_abania63.ts
  ui/raidboss/data/04-sb/dungeon/castrum_abania63.txt
  ui/raidboss/data/04-sb/dungeon/doma_castle63.ts
  ui/raidboss/data/04-sb/dungeon/doma_castle63.txt
  ui/raidboss/data/04-sb/dungeon/sirensong_sea63.ts
  ui/raidboss/data/04-sb/dungeon/sirensong_sea63.txt
Labels: oopsy, raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#5553 raidboss: fix p12s outputStrings localetext
  ui/raidboss/data/06-ew/raid/p12s.ts
Labels: raidboss

#5550 i18n: ko p9~12s, golbez
  ui/raidboss/data/05-shb/ultimate/the_epic_of_alexander.ts
  ui/raidboss/data/06-ew/raid/p10s.ts
  ui/raidboss/data/06-ew/raid/p11s.ts
  ui/raidboss/data/06-ew/raid/p12s.ts
  ui/raidboss/data/06-ew/raid/p9s.ts
  ui/raidboss/data/06-ew/trial/golbez.ts
Labels: raidboss, 💬ko

#5558 i18n: Add cn translate in p9~12n, aetherfont, golbez
  ui/raidboss/data/06-ew/dungeon/aetherfont.ts
  ui/raidboss/data/06-ew/raid/p10n.ts
  ui/raidboss/data/06-ew/raid/p11n.ts
  ui/raidboss/data/06-ew/raid/p12n.ts
  ui/raidboss/data/06-ew/raid/p9n.ts
  ui/raidboss/data/06-ew/trial/golbez.ts
Labels: raidboss, 💬cn

#5556 raidboss: add tether side/direction for p10s dividing wings
  ui/raidboss/data/06-ew/raid/p10s.ts
Labels: raidboss

#5554 raidboss: add role callout to p11s dark & light tethers
  resources/outputs.ts
  ui/raidboss/data/06-ew/raid/p11s.ts
Labels: resources, raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#5560 i18n: more savage translations
  ui/raidboss/data/06-ew/raid/p10s.ts
  ui/raidboss/data/06-ew/raid/p11s.ts
  ui/raidboss/data/06-ew/raid/p12s.ts
Labels: raidboss, 💬de

#5561 raidboss: p9s tankbuster/firestrikes trigger improvements
  ui/raidboss/data/06-ew/raid/p9s.ts
Labels: raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#5562 raidboss: adjust p10s bonds timing, message severity
  ui/raidboss/data/06-ew/raid/p10s.ts
Labels: raidboss

#5563 i18n: more FR translations
  ui/raidboss/data/06-ew/raid/p10n.ts
  ui/raidboss/data/06-ew/raid/p10s.ts
  ui/raidboss/data/06-ew/raid/p11s.ts
  ui/raidboss/data/06-ew/raid/p12n.ts
  ui/raidboss/data/06-ew/raid/p12s.ts
Labels: raidboss, 💬fr

#5565 i18n: add new Chinese translate
  ui/raidboss/data/06-ew/raid/p10s.ts
Labels: raidboss, 💬cn

#5557 raidboss: P11S Lightstream safespot
  ui/raidboss/data/06-ew/raid/p11s.ts
Labels: raidboss

#5559 raidboss: add p12s Superchain IIA
  ui/raidboss/data/06-ew/raid/p12s.ts
Labels: raidboss

#5568 raidboss: move p12s superchain1 second call earlier
  ui/raidboss/data/06-ew/raid/p12s.ts
Labels: raidboss

#5570 raidboss: add p10s Jade Passage trigger
  ui/raidboss/data/06-ew/raid/p10s.ts
Labels: raidboss, 💬cn

#5569 oopsy: add missing p12s ray of light
  ui/oopsyraidsy/data/06-ew/raid/p12s.ts
Labels: oopsy

#5572 raidboss: p10s fixups after #5562
  ui/raidboss/data/06-ew/raid/p10s.ts
Labels: raidboss

#5573 raidboss: add delay to p9s limit cut 'soak tower' alerts
  ui/raidboss/data/06-ew/raid/p9s.ts
Labels: raidboss

#5571 raidboss: add more p11s triggers
  ui/raidboss/data/06-ew/raid/p11s.ts
Labels: raidboss, 💬ko, 💬fr, 💬cn, 💬de

#5574 raidboss: p10s Jade Passage trigger box/line
  ui/raidboss/data/06-ew/raid/p10s.ts
Labels: raidboss

#5578 i18n: add Chinese for Jade Passage
  ui/raidboss/data/06-ew/raid/p10s.ts
Labels: raidboss, 💬cn

#5581 i18n: more 6.4 savage translations
  ui/raidboss/data/06-ew/raid/p10s.ts
  ui/raidboss/data/06-ew/raid/p11s.ts
  ui/raidboss/data/06-ew/raid/p12s.ts
Labels: raidboss, 💬de

#5582 raidboss: small bug fix in p12s limit cut laser baits
  ui/raidboss/data/06-ew/raid/p12s.ts
Labels: raidboss

#5583 i18n: add cn translate in p12s p1
  ui/raidboss/data/06-ew/raid/p12s.ts
Labels: raidboss, 💬cn

#5585 raidboss: fix P11S lightstream safespot
  ui/raidboss/data/06-ew/raid/p11s.ts
Labels: raidboss

#5586 docs: add headmarker guide
  docs/Headmarkers.md
  docs/images/vfxeditor_initial.png
  docs/images/vfxeditor_loaded.png
  docs/images/vfxeditor_replace.png
  docs/images/vfxeditor_result.png
Labels: docs

#5589 raidboss: re-fix P11S lightstream safespot
  ui/raidboss/data/06-ew/raid/p11s.ts
Labels: raidboss

#5590 i18n: add ko translations
  ui/raidboss/data/06-ew/raid/p10s.ts
  ui/raidboss/data/06-ew/raid/p11s.ts
  ui/raidboss/data/06-ew/raid/p12s.ts
Labels: raidboss, 💬ko

#5591 raidboss: fix p10s jade passage wrong output
  ui/raidboss/data/06-ew/raid/p10s.ts
Labels: raidboss

#5594 i18n: add Chinese translate for new update trigger
  ui/raidboss/data/06-ew/raid/p11s.ts
  ui/raidboss/data/06-ew/raid/p9s.ts
Labels: raidboss, 💬cn

#5595 docs: add CONTRIBUTING note about global ts-node
  CONTRIBUTING.md
Labels: docs

#5587 raidboss: add support for P12S Engravements
  ui/raidboss/data/06-ew/raid/p12s.ts
Labels: raidboss, 💬ko, 💬fr, 💬cn, 💬de

#5596 raidboss: add p12s pangenesis triggers
  ui/raidboss/data/06-ew/raid/p12s.ts
Labels: raidboss

#5599 i18n: add p12s Chinese translate
  ui/raidboss/data/06-ew/raid/p12s.ts
Labels: raidboss, 💬cn

#5601 raidboss: Zurvan JA translation
  ui/raidboss/data/03-hw/trial/zurvan-ex.ts
  ui/raidboss/data/06-ew/trial/zurvan-un.ts
Labels: raidboss, 💬ja

#5603 raidboss: update Bardam's Mettle for 6.4 changes
  ui/raidboss/data/04-sb/dungeon/bardams_mettle.ts
  util/logtools/make_timeline.ts
Labels: raidboss, util

#5604 raidboss: small p12s pangenesis adjustments
  ui/raidboss/data/06-ew/raid/p12s.ts
Labels: raidboss

#5597 raidboss: add P12s Engravement 1 Tower trigger
  ui/raidboss/data/06-ew/raid/p12s.ts
Labels: raidboss, 💬cn

#5598 raidboss: additional p12s p1 triggers
  resources/outputs.ts
  ui/raidboss/data/06-ew/raid/p12s.ts
  ui/raidboss/data/06-ew/raid/p12s.txt
  ui/raidboss/data/06-ew/trial/rubicante-ex.ts
Labels: resources, raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#5605 raidboss: add p12s2 headmarker ids and todos
  ui/raidboss/data/06-ew/raid/p12s.ts
Labels: raidboss

#5606 i18n: add p12s P12S Ray of Light
  ui/raidboss/data/06-ew/raid/p12s.ts
Labels: raidboss, 💬cn

#5608 raidboss: update Doma Castle for 6.4 duty Support
  ui/raidboss/data/04-sb/dungeon/doma_castle.ts
  ui/raidboss/data/04-sb/dungeon/doma_castle.txt
  util/logtools/make_timeline.ts
Labels: raidboss, util

#5609 i18n: add ko p12 translations
  ui/raidboss/data/06-ew/raid/p12s.ts
Labels: raidboss, 💬ko

#5610 i18n: More FR translations
  ui/raidboss/data/06-ew/raid/p10s.ts
  ui/raidboss/data/06-ew/raid/p11s.ts
  ui/raidboss/data/06-ew/trial/golbez.ts
Labels: raidboss, 💬fr

#5611 raidboss: update Castrum Abania for 6.4
  ui/raidboss/data/04-sb/dungeon/castrum_abania.ts
  ui/raidboss/data/04-sb/dungeon/castrum_abania.txt
  util/logtools/make_timeline.ts
Labels: raidboss, util, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#5612 raidboss: update Ala Mhigo for 6.4
  ui/raidboss/data/04-sb/dungeon/ala_mhigo.txt
  util/logtools/make_timeline.ts
Labels: raidboss, util

#5613 i18n: 6.3/6.4 Japanese translations
  resources/outputs.ts
  ui/raidboss/data/06-ew/alliance/euphrosyne.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_41-50.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_51-60.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_61-70.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_71-80.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_81-90.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_91-100.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_general.ts
  ui/raidboss/data/06-ew/dungeon/aetherfont.ts
  ui/raidboss/data/06-ew/raid/p10n.ts
  ui/raidboss/data/06-ew/raid/p10s.ts
  ui/raidboss/data/06-ew/raid/p11n.ts
  ui/raidboss/data/06-ew/raid/p11s.ts
  ui/raidboss/data/06-ew/raid/p12n.ts
  ui/raidboss/data/06-ew/raid/p12s.ts
  ui/raidboss/data/06-ew/raid/p9n.ts
  ui/raidboss/data/06-ew/raid/p9s.ts
  ui/raidboss/data/06-ew/trial/golbez-ex.ts
  ui/raidboss/data/06-ew/trial/golbez.ts
  ui/raidboss/data/06-ew/trial/rubicante.ts
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.ts
Labels: resources, raidboss, 💬ja

#5451 raidboss: convert NetRegexes.echo/message/dialog to params
  resources/netregexes.ts
  resources/util.ts
  ui/raidboss/data/00-misc/test.ts
  ui/raidboss/data/02-arr/dungeon/haukke_manor.ts
  ui/raidboss/data/02-arr/raid/t1.ts
  ui/raidboss/data/02-arr/raid/t8.ts
  ui/raidboss/data/03-hw/alliance/dun_scaith.ts
  ui/raidboss/data/03-hw/alliance/weeping_city.ts
  ui/raidboss/data/04-sb/eureka/eureka_hydatos.ts
  ui/raidboss/data/04-sb/trial/byakko-ex.ts
  ui/raidboss/data/04-sb/trial/tsukuyomi-ex.ts
  ui/raidboss/data/04-sb/ultimate/unending_coil_ultimate.ts
  ui/raidboss/data/05-shb/alliance/the_copied_factory.ts
  ui/raidboss/data/06-ew/dungeon/the_sildihn_subterrane.ts
Labels: resources, raidboss

#5614 raidboss: convert one final NetRegexes.message to params
  ui/raidboss/data/04-sb/dungeon/bardams_mettle63.ts
Labels: raidboss

#5615 raidboss: migrate to new NetParams trigger style
  docs/RaidbossGuide.md
  types/trigger.d.ts
  ui/raidboss/data/04-sb/dungeon/bardams_mettle63.ts
Labels: raidboss, docs

#5616 util: make_timeline - sort ignored combatants
  util/logtools/make_timeline.ts
Labels: util

#5621 resources: ko 6.3
  resources/zone_info.ts
  ui/fisher/static-data.ts
Labels: resources, fishing🎣, 💬ko

#5622 i18n: ko 6.3
  ui/raidboss/data/06-ew/alliance/euphrosyne.ts
  ui/raidboss/data/06-ew/dungeon/lapis_manalis.ts
  ui/raidboss/data/06-ew/map/the_shifting_gymnasion_agonon.ts
  ui/raidboss/data/06-ew/trial/rubicante-ex.ts
  ui/raidboss/data/06-ew/trial/rubicante.ts
Labels: raidboss

#5623 i18n: more p12s cn translation
  ui/raidboss/data/06-ew/raid/p12s.ts
Labels: raidboss, 💬cn

#5626 raidboss: fix up p12s engravement clockwise strategy
  ui/raidboss/data/06-ew/raid/p12s.ts
Labels: raidboss

#5627 plugin: update ko 6.3
  plugin/CactbotEventSource/FFXIVProcessKo.cs
  ui/jobs/jobs.ts
Labels: jobs, 💬ko, plugin

#5620 raidboss: more P12S second phase
  ui/raidboss/data/06-ew/raid/p12s.ts
Labels: raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#5628 raidboss: refactoring of P12S second phase #5620
  resources/outputs.ts
  ui/raidboss/data/06-ew/raid/p12s.ts
Labels: resources, raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#5629 raidboss: increase P12S engravement3 tower duration
  ui/raidboss/data/06-ew/raid/p12s.ts
Labels: raidboss

#5625 raidboss: add p12s superchain2b
  ui/raidboss/data/06-ew/raid/p12s.ts
Labels: raidboss, 💬ko, 💬cn, 💬ja

#5632 raidboss: improvements to p12sp2 classical concepts
  ui/raidboss/data/06-ew/raid/p12s.ts
Labels: raidboss
