Repository quisquous/cactbot, pull requests merged in 2023-09, with the labels that each got.

#5778 oopsy: fix P12N palladion spread id
  ui/oopsyraidsy/data/06-ew/raid/p12n.ts
Labels: oopsy

#5760 raidboss: add named timeline jump labels
  docs/TimelineGuide.md
  ui/raidboss/data/00-misc/test.txt
  ui/raidboss/timeline_parser.ts
Labels: raidboss, docs

#5777 raidboss: update cn translation
  ui/raidboss/data/06-ew/raid/p10s.ts
Labels: raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#5782 raidboss: update cn translation
  ui/raidboss/data/06-ew/raid/p11s.ts
Labels: raidboss, 💬cn

#5780 raidboss: uwu updates
  resources/party.ts
  resources/util.ts
  ui/raidboss/data/04-sb/ultimate/ultima_weapon_ultimate.ts
  ui/raidboss/data/04-sb/ultimate/ultima_weapon_ultimate.txt
Labels: resources, raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#5788 raidboss: add p11s styx
  ui/raidboss/data/06-ew/raid/p11s.ts
Labels: raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#5783 raidboss: update EW timelines to use InCombat lines
  ui/raidboss/data/06-ew/raid/p10n.txt
  ui/raidboss/data/06-ew/raid/p11n.txt
  ui/raidboss/data/06-ew/raid/p12n.txt
  ui/raidboss/data/06-ew/raid/p1n.txt
  ui/raidboss/data/06-ew/raid/p1s.txt
  ui/raidboss/data/06-ew/raid/p2n.txt
  ui/raidboss/data/06-ew/raid/p2s.txt
  ui/raidboss/data/06-ew/raid/p3n.txt
  ui/raidboss/data/06-ew/raid/p3s.txt
  ui/raidboss/data/06-ew/raid/p4n.txt
  ui/raidboss/data/06-ew/raid/p4s.txt
  ui/raidboss/data/06-ew/raid/p5n.txt
  ui/raidboss/data/06-ew/raid/p5s.txt
  ui/raidboss/data/06-ew/raid/p6n.txt
  ui/raidboss/data/06-ew/raid/p6s.txt
  ui/raidboss/data/06-ew/raid/p7n.txt
  ui/raidboss/data/06-ew/raid/p7s.txt
  ui/raidboss/data/06-ew/raid/p8n.txt
  ui/raidboss/data/06-ew/raid/p9n.txt
  ui/raidboss/data/06-ew/trial/barbariccia-ex.txt
  ui/raidboss/data/06-ew/trial/barbariccia.txt
  ui/raidboss/data/06-ew/trial/endsinger-ex.txt
  ui/raidboss/data/06-ew/trial/endsinger.txt
  ui/raidboss/data/06-ew/trial/golbez-ex.txt
  ui/raidboss/data/06-ew/trial/hydaelyn-ex.txt
  ui/raidboss/data/06-ew/trial/hydaelyn.txt
  ui/raidboss/data/06-ew/trial/rubicante-ex.txt
  ui/raidboss/data/06-ew/trial/rubicante.txt
  ui/raidboss/data/06-ew/trial/ultima-un.txt
  ui/raidboss/data/06-ew/trial/zodiark-ex.txt
  ui/raidboss/data/06-ew/trial/zodiark.txt
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.txt
Labels: raidboss

#5789 raidboss: text in alerts lang, not display lang
  ui/raidboss/popup-text.ts
Labels: raidboss

#5784 lint: Handle nullable empty string checks in misc files
  test/helper/test_trigger.ts
  util/logtools/make_timeline.ts
  util/logtools/web_splitter.ts
Labels: test, util

#5785 lint: Handle nullable empty string checks in oopsy
  ui/oopsyraidsy/damage_tracker.ts
  ui/oopsyraidsy/data/05-shb/raid/e12s.ts
  ui/oopsyraidsy/death_report.ts
  ui/oopsyraidsy/oopsy_common.ts
  ui/oopsyraidsy/oopsy_live_list.ts
  ui/oopsyraidsy/oopsy_summary_list.ts
  ui/oopsyraidsy/oopsyraidsy.ts
  ui/oopsyraidsy/oopsyraidsy_config.ts
  ui/oopsyraidsy/player_state_tracker.ts
Labels: config, oopsy

#5786 lint: Handle nullable empty string checks in raidboss code
  ui/raidboss/browser_tts_engine.ts
  ui/raidboss/emulator/data/CombatantTracker.ts
  ui/raidboss/emulator/data/PopupTextAnalysis.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x1F.ts
  ui/raidboss/emulator/data/network_log_converter/ParseLine.ts
  ui/raidboss/emulator/overrides/RaidEmulatorTimelineController.ts
  ui/raidboss/emulator/ui/EmulatedPartyInfo.ts
  ui/raidboss/emulator/ui/EncounterTab.ts
  ui/raidboss/html_timeline_ui.ts
  ui/raidboss/popup-text.ts
  ui/raidboss/raidboss.ts
  ui/raidboss/raidboss_config.ts
  ui/raidboss/raidemulator.ts
  ui/raidboss/timeline.ts
  ui/raidboss/timeline_parser.ts
Labels: config, raidboss, raidemulator

#5787 lint: Handle nullable empty string checks in raidboss data
  ui/raidboss/data/02-arr/raid/t11.ts
  ui/raidboss/data/02-arr/trial/shiva-ex.ts
  ui/raidboss/data/03-hw/raid/a10s.ts
  ui/raidboss/data/03-hw/raid/a11s.ts
  ui/raidboss/data/03-hw/raid/a3n.ts
  ui/raidboss/data/03-hw/raid/a3s.ts
  ui/raidboss/data/03-hw/raid/a8s.ts
  ui/raidboss/data/03-hw/trial/sephirot-ex.ts
  ui/raidboss/data/03-hw/trial/sophia-ex.ts
  ui/raidboss/data/04-sb/dungeon/fractal_continuum_hard.ts
  ui/raidboss/data/04-sb/raid/o4s.ts
  ui/raidboss/data/04-sb/raid/o7s.ts
  ui/raidboss/data/04-sb/raid/o8s.ts
  ui/raidboss/data/04-sb/ultimate/unending_coil_ultimate.ts
  ui/raidboss/data/05-shb/alliance/the_copied_factory.ts
  ui/raidboss/data/05-shb/alliance/the_puppets_bunker.ts
  ui/raidboss/data/05-shb/eureka/bozjan_southern_front.ts
  ui/raidboss/data/05-shb/eureka/delubrum_reginae_savage.ts
  ui/raidboss/data/05-shb/eureka/zadnor.ts
  ui/raidboss/data/05-shb/raid/e11s.ts
  ui/raidboss/data/05-shb/raid/e12n.ts
  ui/raidboss/data/05-shb/raid/e12s.ts
  ui/raidboss/data/05-shb/raid/e1s.ts
  ui/raidboss/data/05-shb/raid/e6s.ts
  ui/raidboss/data/05-shb/raid/e8n.ts
  ui/raidboss/data/05-shb/raid/e8s.ts
  ui/raidboss/data/05-shb/raid/e9s.ts
  ui/raidboss/data/05-shb/trial/emerald_weapon-ex.ts
  ui/raidboss/data/05-shb/trial/hades.ts
  ui/raidboss/data/05-shb/trial/ruby_weapon-ex.ts
  ui/raidboss/data/05-shb/trial/shiva-un.ts
  ui/raidboss/data/05-shb/trial/wol-ex.ts
  ui/raidboss/data/05-shb/ultimate/the_epic_of_alexander.ts
  ui/raidboss/data/06-ew/raid/p1s.ts
  ui/raidboss/data/06-ew/raid/p3s.ts
  ui/raidboss/data/06-ew/raid/p5n.ts
  ui/raidboss/data/06-ew/raid/p7s.ts
  ui/raidboss/data/06-ew/trial/endsinger-ex.ts
  ui/raidboss/data/06-ew/trial/rubicante.ts
  ui/raidboss/data/06-ew/trial/sephirot-un.ts
  ui/raidboss/data/06-ew/trial/sophia-un.ts
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss

#5794 raidboss: prevent duplicate button creation
  ui/raidboss/autoplay_helper.ts
Labels: raidboss

#5795 raidboss: add p11s dike
  ui/raidboss/data/06-ew/raid/p11s.ts
Labels: raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#5797 resources: cn-6.4
  resources/zone_info.ts
Labels: resources, 💬cn

#5796 i18n: cn 6.4 & add some missing translations
  ui/raidboss/data/03-hw/raid/a7s.ts
  ui/raidboss/data/04-sb/dungeon/castrum_abania.ts
  ui/raidboss/data/04-sb/dungeon/doma_castle.ts
  ui/raidboss/data/04-sb/ultimate/ultima_weapon_ultimate.ts
  ui/raidboss/data/06-ew/dungeon/aetherfont.ts
  ui/raidboss/data/06-ew/raid/p10n.ts
  ui/raidboss/data/06-ew/raid/p10s.ts
  ui/raidboss/data/06-ew/raid/p11n.ts
  ui/raidboss/data/06-ew/raid/p11s.ts
  ui/raidboss/data/06-ew/raid/p12n.ts
  ui/raidboss/data/06-ew/raid/p12s.ts
  ui/raidboss/data/06-ew/raid/p9n.ts
  ui/raidboss/data/06-ew/raid/p9s.ts
  ui/raidboss/data/06-ew/trial/golbez-ex.ts
  ui/raidboss/data/06-ew/trial/golbez.ts
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.ts
Labels: raidboss, 💬cn

#5799 i18n: p12s cn
  ui/raidboss/data/06-ew/raid/p12s.ts
Labels: raidboss

#5800 plugin: update signatures and memory for cn 6.4
  plugin/CactbotEventSource/FFXIVProcessCn.cs
Labels: plugin

#5801 i18n: more FR translations
  ui/raidboss/data/04-sb/dungeon/doma_castle.ts
  ui/raidboss/data/06-ew/alliance/aglaia.ts
  ui/raidboss/data/06-ew/alliance/euphrosyne.ts
  ui/raidboss/data/06-ew/dungeon/mount_rokkon.ts
  ui/raidboss/data/06-ew/raid/p9s.ts
Labels: raidboss, 💬fr

#5806 plugin: disable strong name req for FFXIV_ACT_Plugin.Common
  plugin/CactbotEventSource/CactbotEventSource.csproj
Labels: plugin

#5805 oopsy: call out double raises
  ui/oopsyraidsy/data/00-misc/general.ts
Labels: oopsy

#5809 oopsy: better double raise call
  ui/oopsyraidsy/data/00-misc/general.ts
Labels: oopsy

#5803 resources: use arrows more consistently in output text
  resources/outputs.ts
Labels: resources

#5808 i18n: added new and missing translations,
  resources/outputs.ts
  ui/oopsyraidsy/data/00-misc/general.ts
  ui/raidboss/data/04-sb/ultimate/ultima_weapon_ultimate.ts
  util/coverage/coverage.ts
  util/logtools/web_splitter.ts
Labels: resources, oopsy, raidboss, util, 💬de

#5811 raidboss: fix JA translation for golbez-ex
  ui/raidboss/data/06-ew/trial/golbez-ex.ts
Labels: raidboss, 💬ja

#5812 i18n: update ko translations
  ui/oopsyraidsy/data/00-misc/general.ts
  ui/raidboss/data/04-sb/ultimate/ultima_weapon_ultimate.ts
  ui/raidboss/data/06-ew/raid/p12s.ts
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.ts
Labels: oopsy, raidboss, 💬ko

#5813 i18n: FR translation update
  util/coverage/coverage.ts
Labels: util, 💬fr

#5814 oopsy: report overwritten mit
  types/data.d.ts
  ui/oopsyraidsy/data/00-misc/general.ts
  ui/oopsyraidsy/oopsy_options.ts
  ui/oopsyraidsy/oopsyraidsy_config.ts
Labels: config, oopsy

#5807 raidboss: p12s Paradeigma 2 Tower Strategy add 'tetherbase'
  ui/raidboss/data/06-ew/raid/p12s.ts
Labels: raidboss, 💬ko, 💬cn, 💬de, 💬ja

#5804 raidboss/oopsy: ex6 improvements
  ui/oopsyraidsy/data/06-ew/trial/golbez-ex.ts
  ui/raidboss/data/06-ew/trial/golbez-ex.ts
  ui/raidboss/data/06-ew/trial/golbez-ex.txt
Labels: oopsy, raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#5815 oopsy: better double raise detection
  ui/oopsyraidsy/data/00-misc/general.ts
Labels: oopsy, 💬ko, 💬de

#5816 lint: enable prefer-template
  .eslintrc.cjs
  resources/datetime.ts
  resources/netregexes.ts
  resources/regexes.ts
  resources/stringhandlers.ts
  resources/translations.ts
  resources/user_config.ts
  test/helper/test_timeline.ts
  test/helper/test_trigger.ts
  ui/config/config.ts
  ui/dps/xephero/dps_phase_tracker.js
  ui/dps/xephero/xephero.js
  ui/eureka/eureka.ts
  ui/fisher/fisher-ui.js
  ui/fisher/seabase.js
  ui/jobs/bars.ts
  ui/jobs/buff_tracker.ts
  ui/oopsyraidsy/damage_tracker.ts
  ui/oopsyraidsy/data/04-sb/dungeon/bardams_mettle.ts
  ui/oopsyraidsy/data/04-sb/dungeon/bardams_mettle63.ts
  ui/oopsyraidsy/data/04-sb/ultimate/unending_coil_ultimate.ts
  ui/oopsyraidsy/data/05-shb/raid/e5s.ts
  ui/oopsyraidsy/data/05-shb/raid/e7n.ts
  ui/oopsyraidsy/data/05-shb/raid/e7s.ts
  ui/oopsyraidsy/oopsy_live_list.ts
  ui/radar/radar.ts
  ui/raidboss/data/00-misc/test.ts
  ui/raidboss/data/03-hw/raid/a3n.ts
  ui/raidboss/data/03-hw/raid/a3s.ts
  ui/raidboss/data/04-sb/ultimate/unending_coil_ultimate.ts
  ui/raidboss/data/05-shb/ultimate/the_epic_of_alexander.ts
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane-savage.ts
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane.ts
  ui/raidboss/data/06-ew/trial/zodiark-ex.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x00.ts
  ui/raidboss/emulator/data/network_log_converter/ParseLine.ts
  ui/raidboss/emulator/overrides/RaidEmulatorPopupText.ts
  ui/raidboss/emulator/ui/EmulatedPartyInfo.ts
  ui/raidboss/emulator/ui/EncounterTab.ts
  ui/raidboss/popup-text.ts
  ui/raidboss/raidboss.ts
  ui/raidboss/raidemulator.ts
  user/oopsyraidsy-example.js
  util/coinach.ts
  util/find_missing_timeline_translations.ts
  util/gen_log_guide.ts
  util/gen_pet_names.ts
  util/gen_world_ids.ts
  util/logtools/anonymizer.ts
  util/logtools/encounter_tools.ts
  util/logtools/fake_name_generator.ts
  util/logtools/notifier.ts
  util/logtools/split_log.ts
  util/process_triggers_folder.ts
  util/translate_timeline.ts
Labels: resources, config, dps, eureka, fishing🎣, jobs, oopsy, radar, raidboss, raidemulator, test, util, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#5817 oopsy: add initData support
  types/oopsy.d.ts
  ui/oopsyraidsy/damage_tracker.ts
  ui/oopsyraidsy/data/00-misc/general.ts
  ui/oopsyraidsy/data/05-shb/raid/e6s.ts
  ui/oopsyraidsy/data/06-ew/dungeon/another_sildihn_subterrane-savage.ts
  ui/oopsyraidsy/data/06-ew/dungeon/another_sildihn_subterrane.ts
Labels: oopsy

#5819 raidboss/oopsy: Thordan EX
  ui/oopsyraidsy/data/03-hw/trial/thordan-ex.ts
  ui/raidboss/data/03-hw/trial/thordan-ex.ts
  ui/raidboss/data/03-hw/trial/thordan-ex.txt
Labels: oopsy, raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja
