Repository quisquous/cactbot, pull requests merged in 2023-02, with the labels that each got.

#5255 raidboss: add TOP party synergy in/out
  types/event.d.ts
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.ts
Labels: raidboss

#5256 i18n: add missing translations for TOP
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.ts
Labels: raidboss, 💬de

#5193 raidboss: added dorgrin's skin as built-in option
  ui/raidboss/raidboss_config.ts
  ui/raidboss/skins/dorgrin/Peace Sans LICENSE.txt
  ui/raidboss/skins/dorgrin/Peace Sans.otf
  ui/raidboss/skins/dorgrin/Readme.md
  ui/raidboss/skins/dorgrin/dorgrin.css
Labels: config, raidboss, docs

#5258 raidboss: add p4-p6 initial timeline
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.ts
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.txt
Labels: raidboss

#5261 oopsy: add more TOP p1 mistakes
  ui/oopsyraidsy/data/06-ew/ultimate/the_omega_protocol.ts
Labels: oopsy

#5262 raidboss/oopsy: adjust TOP p4 timeline
  ui/oopsyraidsy/data/06-ew/ultimate/the_omega_protocol.ts
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.txt
Labels: oopsy, raidboss

#5265 raidboss: Add instant reminder for P6S Transmission
  ui/raidboss/data/06-ew/raid/p6s.ts
Labels: raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#5263 raidboss: add monitors/p4 triggers
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.ts
Labels: raidboss

#5267 oopsy: mark TOP data members as optional
  ui/oopsyraidsy/data/06-ew/ultimate/the_omega_protocol.ts
Labels: oopsy

#5269 i18n: add ko translations
  ui/oopsyraidsy/data/06-ew/ultimate/the_omega_protocol.ts
  ui/raidboss/data/05-shb/raid/e1s.ts
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.ts
Labels: oopsy, raidboss, 💬ko

#5271 raidboss: add TOP Pile Pitch call even with meteor
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.ts
Labels: raidboss

#5273 raidboss: try to initialize tts multiple times
  ui/raidboss/browser_tts_engine.ts
Labels: raidboss

#5272 resources/jobs: KO 6.2 code update
  resources/netregexes.ts
  resources/translations.ts
  ui/jobs/buff_tracker.ts
  ui/jobs/components/ast.ts
  ui/jobs/components/dnc.ts
  ui/jobs/components/drk.ts
  ui/jobs/components/gnb.ts
  ui/jobs/components/whm.ts
  ui/jobs/constants.ts
  ui/raidboss/common_replacement.ts
Labels: resources, jobs, raidboss

#5274 raidboss: try to fix brower tts take two
  ui/raidboss/browser_tts_engine.ts
Labels: raidboss

#5277 resources: ko 6.2 update
  resources/zone_info.ts
  ui/fisher/static-data.ts
Labels: resources, fishing🎣, 💬ko

#5278 i18n: add ko 6.2 translations
  ui/raidboss/data/06-ew/dungeon/the_fell_court_of_troia.ts
  ui/raidboss/data/06-ew/raid/p5n.ts
  ui/raidboss/data/06-ew/raid/p5s.ts
  ui/raidboss/data/06-ew/raid/p6n.ts
  ui/raidboss/data/06-ew/raid/p6s.ts
  ui/raidboss/data/06-ew/raid/p7n.ts
  ui/raidboss/data/06-ew/raid/p7s.ts
  ui/raidboss/data/06-ew/raid/p8n.ts
  ui/raidboss/data/06-ew/raid/p8s.ts
  ui/raidboss/data/06-ew/trial/barbariccia-ex.ts
  ui/raidboss/data/06-ew/trial/barbariccia.ts
Labels: raidboss, 💬ko

#5266 raidboss: p3 add some tether triggers
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.ts
Labels: raidboss

#5276 raidboss: Mobile tts fix
  ui/raidboss/browser_tts_engine.ts
Labels: raidboss

#5264 raidboss: p3 add some rot triggers
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.ts
Labels: raidboss

#5268 oopsy: add some Hello World mistakes
  ui/oopsyraidsy/data/06-ew/ultimate/the_omega_protocol.ts
Labels: oopsy

#5275 raidboss: p5 timeline adjustments
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.txt
Labels: raidboss

#5281 raidboss: some minor TOP trigger adjustments
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.ts
Labels: raidboss, 💬ko, 💬de

#5285 i18n: FR translations
  ui/raidboss/data/06-ew/alliance/euphrosyne.ts
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane.ts
  ui/raidboss/data/06-ew/dungeon/lapis_manalis.ts
  ui/raidboss/data/06-ew/raid/p8s.ts
  ui/raidboss/data/06-ew/trial/barbariccia.ts
  ui/raidboss/data/06-ew/trial/rubicante-ex.ts
  ui/raidboss/data/06-ew/trial/rubicante.ts
Labels: raidboss, 💬fr

#5286 i18n: run sync_files for sildihn savage
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane-savage.ts
Labels: raidboss, 💬fr

#5287 i18n: add & fix ko translations
  ui/oopsyraidsy/data/06-ew/ultimate/the_omega_protocol.ts
  ui/raidboss/data/03-hw/raid/a3n.ts
  ui/raidboss/data/06-ew/raid/p7n.ts
  ui/raidboss/data/06-ew/trial/barbariccia-ex.ts
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.ts
Labels: oopsy, raidboss, 💬ko

#5289 i18n: new TOP translations
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.ts
Labels: raidboss, 💬de

#5291 i18n: ko p5s~p8s rsv data
  ui/raidboss/data/06-ew/raid/p5s.ts
  ui/raidboss/data/06-ew/raid/p6s.ts
  ui/raidboss/data/06-ew/raid/p7s.ts
  ui/raidboss/data/06-ew/raid/p8s.ts
Labels: raidboss

#5293 oopsy: remove unused AbilityIdMap
  ui/oopsyraidsy/ability_name_map.ts
  ui/oopsyraidsy/oopsy_options.ts
Labels: oopsy

#5294 i18n: Add CN translations for 6.25
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane-savage.ts
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane.ts
  ui/raidboss/data/06-ew/dungeon/the_sildihn_subterrane.ts
  util/coverage/coverage.ts
Labels: raidboss, util, 💬cn
