Repository quisquous/cactbot, pull requests merged in 2023-04, with the labels that each got.

#5317 raidboss: TOP P5 Omega Dodge Locations
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.ts
Labels: raidboss

#5318 raidboss: TOP P5 Sigma Staff/Feet Call
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.ts
Labels: raidboss

#5326 raidboss: TOP P5 Sigma Omega-M location
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.ts
Labels: raidboss

#5332 raidboss: TOP remove some abilities from p6 timeline
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.txt
Labels: raidboss

#5331 raidboss: TOP add some P6 calls
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.ts
Labels: raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#5328 i18n: Zodiark-ex missing FR strings
  ui/raidboss/data/06-ew/trial/zodiark-ex.ts
Labels: raidboss, 💬fr

#5336 raidboss: disable TOP Sigma Superliminal/Blizzard
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.ts
Labels: raidboss

#5330 raidboss: TOP P5 Omega Earlier Safe Spot Call
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.ts
Labels: raidboss

#5334 raidboss: TOP adjustments and cleanup for omega dodges
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.ts
Labels: raidboss

#5338 raidboss: TOP adjustments and cleanup for omega pre-dodges
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.ts
Labels: raidboss

#5339 raidboss: TOP add left/right rotation to omega dodge
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.ts
Labels: raidboss

#5340 raidboss: revert TOP add left/right rotation to omega dodge
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.ts
Labels: raidboss

#5342 i18n: orthos timeline replaces
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_01-10.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_11-20.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_21-30.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_31-40.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_41-50.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_51-60.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_61-70.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_71-80.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_81-90.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_91-100.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_general.ts
Labels: raidboss

#5343 i18n: TOP add ko translations
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.ts
Labels: raidboss, 💬ko

#5344 raidboss: TOP suppress useless bait tethers calls
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.ts
Labels: raidboss

#5351 config: refactor ui building to support option paths
  ui/config/config.ts
Labels: config

#5352 config: add "string" entry type for config ui
  resources/user_config.ts
  ui/config/config.css
  ui/config/config.ts
Labels: resources, config

#5353 config: refactor setterFunc for configs
  resources/user_config.ts
  ui/config/general_config.ts
  ui/eureka/eureka_config.ts
  ui/oopsyraidsy/oopsyraidsy_config.ts
  ui/raidboss/raidboss_config.ts
Labels: resources, config, eureka, oopsy, raidboss

#5354 raidboss: more Orthos
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_01-10.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_21-30.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_71-80.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_81-90.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_91-100.ts
Labels: raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#5355 raidboss: correct translation
  resources/outputs.ts
Labels: resources, 💬cn, 💬ja

#5357 config: add config ui for trigger set options
  eslint/cactbot-triggerset-property-order.js
  resources/user_config.ts
  test/helper/test_trigger.ts
  types/data.d.ts
  types/trigger.d.ts
  ui/config/config.ts
  ui/raidboss/data/00-misc/test.ts
  ui/raidboss/data/05-shb/raid/e8s.ts
  ui/raidboss/data/05-shb/ultimate/the_epic_of_alexander.ts
  ui/raidboss/popup-text.ts
  ui/raidboss/raidboss_config.ts
  ui/raidboss/raidboss_options.ts
Labels: resources, config, raidboss, test, 💬ko, 💬fr, 💬cn, 💬de, style, 💬ja

#5359 raidboss: fix comment from #5357
  ui/raidboss/raidboss_config.ts
Labels: config, raidboss

#5360 raidboss: fix up TOP p6 timeline for consistency
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.txt
Labels: raidboss

#5361 oopsy: add more TOP p5/p6 mistakes
  ui/oopsyraidsy/data/06-ew/ultimate/the_omega_protocol.ts
Labels: oopsy, 💬ko, 💬de

#5362 raidboss/oopsy: small Lapis Manalis fixups
  ui/oopsyraidsy/data/06-ew/dungeon/lapis_manalis.ts
  ui/raidboss/data/06-ew/dungeon/lapis_manalis.ts
Labels: oopsy, raidboss

#5363 i18n: correct ASS(S) fr translation of Hateful Visage
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane-savage.ts
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane.ts
Labels: raidboss

#5365 docs: remove references to fetch_deps.py
  README.md
  docs/ko-KR/README.md
  docs/zh-CN/README.md
Labels: 💬ko, docs, 💬cn

#5364 util: update sync_files to handle trigger set ids
  util/sync_files.ts
Labels: util

#5358 docs: add new OverlayPlugin log line information
  docs/LogGuide.md
  resources/netlog_defs.ts
  util/gen_log_guide.ts
Labels: resources, util, docs

#5366 oopsy: fix role-based mistake tracking
  ui/oopsyraidsy/player_state_tracker.ts
Labels: oopsy

#5368 ci: add test for sync_files
  .github/workflows/test-sync-files.yml
  package.json
Labels: ci

#5369 raidboss: Fix ParseHelperType definitions
  resources/netregexes.ts
  resources/regexes.ts
Labels: resources

#5371 config/oopsy: fix setterFunc changes from #5353
  ui/eureka/eureka_config.ts
  ui/oopsyraidsy/oopsyraidsy_config.ts
Labels: config, eureka, oopsy

#5372 config: fix select type defaults after #5357
  resources/user_config.ts
Labels: resources
