Repository quisquous/cactbot, pull requests merged in 2023-05, with the labels that each got.

#5375 i18n: fix DSR eyes
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss

#5374 i18n: orthos, ko translations
  ui/raidboss/data/00-misc/test.ts
  ui/raidboss/data/05-shb/raid/e8s.ts
  ui/raidboss/data/05-shb/ultimate/the_epic_of_alexander.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_01-10.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_21-30.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_71-80.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_81-90.ts
Labels: raidboss, 💬ko

#5376 raidboss: small Lyhe Ghiah updates
  ui/raidboss/data/05-shb/map/the_shifting_oubliettes_of_lyhe_ghiah.ts
Labels: raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#5367 raidboss: TOP add config option + rotation to omega dodge
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.ts
Labels: raidboss, 💬ko

#5378 raidboss: re-enable TOP Sigma Superliminal/Blizzard
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.ts
Labels: raidboss

#5381 raidboss: fix user triggerset configs not loading
  types/trigger.d.ts
  ui/config/config.ts
  ui/raidboss/popup-text.ts
Labels: config, raidboss

#5382 raidboss: fix triggers on "first time" trials
  ui/raidboss/popup-text.ts
Labels: raidboss

#5384 resources: cn-6.3
  resources/zone_info.ts
Labels: resources, 💬cn

#5385 i18n: cn-6.3
  ui/raidboss/data/00-misc/test.ts
  ui/raidboss/data/05-shb/raid/e8s.ts
  ui/raidboss/data/05-shb/ultimate/the_epic_of_alexander.ts
  ui/raidboss/data/06-ew/alliance/euphrosyne.ts
  ui/raidboss/data/06-ew/dungeon/lapis_manalis.ts
  ui/raidboss/data/06-ew/map/the_shifting_gymnasion_agonon.ts
  ui/raidboss/data/06-ew/trial/rubicante-ex.ts
  ui/raidboss/data/06-ew/trial/rubicante.ts
Labels: raidboss, 💬cn

#5386 i18n: Add missing de translations
  ui/oopsyraidsy/data/06-ew/ultimate/the_omega_protocol.ts
  ui/raidboss/data/00-misc/test.ts
  ui/raidboss/data/05-shb/raid/e8s.ts
  ui/raidboss/data/05-shb/ultimate/the_epic_of_alexander.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_71-80.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_81-90.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_91-100.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_general.ts
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.ts
Labels: oopsy, raidboss, 💬de

#5389 jobs: apply 6.3 changes to CN region
  ui/jobs/components/mch.ts
  ui/jobs/components/pld.ts
  ui/jobs/components/sge.ts
  ui/jobs/components/whm.ts
  ui/jobs/constants.ts
Labels: jobs

#5390 jobs: use ffxivVersion instead of ffxivRegion
  ui/jobs/buff_tracker.ts
  ui/jobs/combo_tracker.ts
  ui/jobs/components/base.ts
  ui/jobs/components/index.ts
  ui/jobs/components/mch.ts
  ui/jobs/components/pld.ts
  ui/jobs/components/sge.ts
  ui/jobs/components/whm.ts
  ui/jobs/constants.ts
  ui/jobs/jobs.ts
  ui/jobs/player.ts
Labels: jobs, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#5377 raidboss: TOP P6 Add Cosmo Arrow Exa Calls
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.ts
Labels: raidboss

#5370 raidboss: TOP Unlimited Wave Cannon Dodge + Clock
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.ts
Labels: raidboss, 💬ko, 💬cn, 💬de, 💬ja

#5224 raidboss: add Menphina Midnight Frost / Waxing Claw
  ui/raidboss/data/06-ew/alliance/euphrosyne.ts
Labels: raidboss

#5396 raidboss: fix Argath Fire IV id
  ui/raidboss/data/04-sb/alliance/royal_city_of_rabanastre.ts
Labels: raidboss

#5397 raidboss: add longer duration to TOP Omega Pre-Safe Spot
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.ts
Labels: raidboss

#5398 raidboss: adjust TOP p6 timeline final syncs
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.txt
Labels: raidboss

#5399 oopsy: add TOP diffuse wave cannon for p5 omega
  ui/oopsyraidsy/data/06-ew/ultimate/the_omega_protocol.ts
Labels: oopsy

#5400 raidboss: update P6N timeline for randomness
  ui/raidboss/data/06-ew/raid/p6n.txt
Labels: raidboss

#5387 raidemulator: Refactor `CombatantState` object
  resources/world_id.ts
  ui/raidboss/emulator/data/AnalyzedEncounter.ts
  ui/raidboss/emulator/data/Combatant.ts
  ui/raidboss/emulator/data/CombatantState.ts
  ui/raidboss/emulator/data/CombatantTracker.ts
  ui/raidboss/emulator/overrides/RaidEmulatorOverlayApiHook.ts
  ui/raidboss/emulator/ui/EmulatedPartyInfo.ts
  util/gen_world_ids.ts
  util/generate_data_files.ts
Labels: resources, raidemulator, util

#5245 raidboss: add TOP p2 eye location
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.ts
Labels: raidboss

#5406 jobs: 6.4 update
  ui/jobs/combo_tracker.ts
  ui/jobs/constants.ts
  ui/jobs/jobs.ts
Labels: jobs, 💬fr, 💬de, 💬ja

#5407 resources: 6.4 update
  resources/hunt.ts
  resources/weather_rate.ts
  resources/zone_id.ts
  resources/zone_info.ts
  ui/fisher/static-data.ts
  util/gen_zone_id_and_info.py
Labels: resources, fishing🎣, util, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#5403 raidboss: allow disabled triggers without regex/netRegex
  ui/raidboss/popup-text.ts
Labels: raidboss

#5408 raidboss: add blank files for 6.4
  ui/raidboss/data/06-ew/dungeon/aetherfont.ts
  ui/raidboss/data/06-ew/dungeon/aetherfont.txt
  ui/raidboss/data/06-ew/raid/p10n.ts
  ui/raidboss/data/06-ew/raid/p10n.txt
  ui/raidboss/data/06-ew/raid/p10s.ts
  ui/raidboss/data/06-ew/raid/p10s.txt
  ui/raidboss/data/06-ew/raid/p11n.ts
  ui/raidboss/data/06-ew/raid/p11n.txt
  ui/raidboss/data/06-ew/raid/p11s.ts
  ui/raidboss/data/06-ew/raid/p11s.txt
  ui/raidboss/data/06-ew/raid/p12n.ts
  ui/raidboss/data/06-ew/raid/p12n.txt
  ui/raidboss/data/06-ew/raid/p12s.ts
  ui/raidboss/data/06-ew/raid/p12s.txt
  ui/raidboss/data/06-ew/raid/p9n.ts
  ui/raidboss/data/06-ew/raid/p9n.txt
  ui/raidboss/data/06-ew/raid/p9s.ts
  ui/raidboss/data/06-ew/raid/p9s.txt
  ui/raidboss/data/06-ew/trial/golbez-ex.ts
  ui/raidboss/data/06-ew/trial/golbez-ex.txt
  ui/raidboss/data/06-ew/trial/golbez.ts
  ui/raidboss/data/06-ew/trial/golbez.txt
  ui/raidboss/data/06-ew/trial/zurvan-un.ts
  ui/raidboss/data/06-ew/trial/zurvan-un.txt
  ui/raidboss/data/raidboss_manifest.txt
Labels: raidboss

#5410 plugin: 6.4 memory changes
  plugin/CactbotEventSource/FFXIVProcessIntl.cs
Labels: plugin

#5404 raidboss: Initial ZurvanEX package
  ui/oopsyraidsy/data/03-hw/trial/zurvan-ex.ts
  ui/oopsyraidsy/data/oopsy_manifest.txt
  ui/raidboss/data/03-hw/trial/zurvan-ex.ts
  ui/raidboss/data/03-hw/trial/zurvan-ex.txt
  ui/raidboss/data/raidboss_manifest.txt
Labels: oopsy, raidboss

#5413 plugin: ScholarJobMemory change
  plugin/CactbotEventSource/FFXIVProcessIntl.cs
Labels: plugin

#5402 resources: Update util.ts to add direction-related helpers
  resources/user_config.ts
  resources/util.ts
Labels: resources

#5416 oopsy: fix 6.4 buffs: tech step, veil, searing
  ui/oopsyraidsy/buff_map.ts
Labels: oopsy

#5419 oopsy: update veil id again
  ui/oopsyraidsy/buff_map.ts
Labels: oopsy

#5411 raidboss: Initial ex6 timeline + basic triggers
  ui/raidboss/data/06-ew/trial/golbez-ex.ts
  ui/raidboss/data/06-ew/trial/golbez-ex.txt
Labels: raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#5420 raidboss/oopsy: add The Aetherfont
  ui/oopsyraidsy/data/06-ew/dungeon/aetherfont.ts
  ui/raidboss/data/06-ew/dungeon/aetherfont.ts
  ui/raidboss/data/06-ew/dungeon/aetherfont.txt
  util/logtools/make_timeline.ts
Labels: oopsy, raidboss, util

#5421 resources: update content list for 6.4
  resources/content_list.ts
Labels: resources

#5422 raidboss: translation refactoring for extreme
  ui/raidboss/data/06-ew/trial/golbez-ex.ts
  ui/raidboss/data/06-ew/trial/golbez-ex.txt
Labels: raidboss

#5424 raidboss: fix Aetherfont Lyngbakr initial sync
  ui/raidboss/data/06-ew/dungeon/aetherfont.txt
Labels: raidboss

#5423 raidboss: ex6 fix spark move trigger timing
  ui/raidboss/data/06-ew/trial/golbez-ex.ts
Labels: raidboss

#5426 raidboss: Add Zurvan Unreal package
  ui/oopsyraidsy/data/06-ew/trial/zurvan-un.ts
  ui/raidboss/data/06-ew/trial/zurvan-un.ts
  ui/raidboss/data/06-ew/trial/zurvan-un.txt
  util/sync_files.ts
Labels: oopsy, raidboss, util

#5428 i18n: run sync files for zurvan-ex translations
  ui/raidboss/data/06-ew/trial/zurvan-un.ts
Labels: raidboss, 💬de

#5434 docs: small fix to OopsyRaidsy.md guide
  docs/OopsyraidsyGuide.md
Labels: docs

#5395 raidboss: updates to UCOB
  resources/outputs.ts
  resources/util.ts
  ui/raidboss/data/04-sb/ultimate/unending_coil_ultimate.ts
Labels: resources, raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#5435 util: support jumps in test_timeline
  util/logtools/test_timeline.ts
Labels: util

#5436 raidemulator: Remove significantStates
  ui/raidboss/emulator/data/AnalyzedEncounter.ts
  ui/raidboss/emulator/data/Combatant.ts
  ui/raidboss/emulator/data/CombatantTracker.ts
  ui/raidboss/emulator/overrides/RaidEmulatorOverlayApiHook.ts
  ui/raidboss/emulator/ui/EmulatedPartyInfo.ts
Labels: raidemulator

#5439 i18n: update ko translations
  ui/raidboss/data/03-hw/trial/zurvan-ex.ts
  ui/raidboss/data/04-sb/ultimate/unending_coil_ultimate.ts
  ui/raidboss/data/05-shb/trial/wol-ex.ts
  ui/raidboss/data/06-ew/dungeon/aetherfont.ts
  ui/raidboss/data/06-ew/trial/golbez-ex.ts
  ui/raidboss/data/06-ew/trial/zurvan-un.ts
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.ts
Labels: raidboss, 💬ko

#5433 raidboss/oopsy: Add support for P10N
  resources/outputs.ts
  resources/responses.ts
  ui/oopsyraidsy/data/06-ew/raid/p10n.ts
  ui/raidboss/data/06-ew/raid/p10n.ts
  ui/raidboss/data/06-ew/raid/p10n.txt
Labels: resources, oopsy, raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#5438 raidboss/oopsy: add P12N
  ui/oopsyraidsy/data/06-ew/raid/p12n.ts
  ui/raidboss/data/06-ew/raid/p12n.ts
  ui/raidboss/data/06-ew/raid/p12n.txt
Labels: oopsy, raidboss

#5441 oopsy: add EX6
  ui/oopsyraidsy/data/06-ew/trial/golbez-ex.ts
Labels: oopsy, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#5442 raidboss: fix P10N Pandaemoniac Meldown
  ui/raidboss/data/06-ew/raid/p10n.ts
Labels: raidboss

#5443 raidboss/oopsy: zurvan fixups
  ui/oopsyraidsy/data/03-hw/trial/zurvan-ex.ts
  ui/oopsyraidsy/data/06-ew/trial/zurvan-un.ts
  ui/raidboss/data/03-hw/trial/zurvan-ex.ts
  ui/raidboss/data/06-ew/trial/zurvan-un.ts
  util/sync_files.ts
Labels: oopsy, raidboss, util

#5444 oopsy: add Sophia Extreme/Unreal
  ui/oopsyraidsy/data/03-hw/trial/sophia-ex.ts
  ui/oopsyraidsy/data/06-ew/trial/sophia-un.ts
  ui/oopsyraidsy/data/oopsy_manifest.txt
  util/sync_files.ts
Labels: oopsy, util, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#5445 raidboss: zurvan multiple move call fixup
  ui/raidboss/data/03-hw/trial/zurvan-ex.ts
  ui/raidboss/data/06-ew/trial/zurvan-un.ts
Labels: raidboss

#5449 resources/docs: fix field order for RSVData lines
  docs/LogGuide.md
  resources/netlog_defs.ts
Labels: resources, docs

#5446 raidboss/oopsy: Sophia fixups
  ui/oopsyraidsy/data/03-hw/trial/sophia-ex.ts
  ui/oopsyraidsy/data/06-ew/trial/sophia-un.ts
Labels: oopsy

#5379 resources: Support for `combatantMemory` lines
  resources/netlog_defs.ts
  resources/netregexes.ts
  resources/regexes.ts
  resources/translations.ts
  test/unittests/netregex_test.ts
  test/unittests/regex_test.ts
  types/event.d.ts
  types/net_matches.d.ts
  types/net_props.d.ts
  ui/raidboss/data/00-misc/test.ts
Labels: resources, raidboss, test

#5447 i18n: 6.4 translations (continued)
  ui/raidboss/data/03-hw/trial/zurvan-ex.ts
  ui/raidboss/data/04-sb/ultimate/unending_coil_ultimate.ts
  ui/raidboss/data/06-ew/raid/p10n.ts
  ui/raidboss/data/06-ew/raid/p12n.ts
  ui/raidboss/data/06-ew/trial/zurvan-un.ts
Labels: raidboss, 💬de

#5432 raidboss/oopsy: add P9N
  ui/oopsyraidsy/data/06-ew/raid/p9n.ts
  ui/raidboss/data/06-ew/raid/p9n.ts
  ui/raidboss/data/06-ew/raid/p9n.txt
Labels: oopsy, raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#5448 raidemulator: Support for combatant memory lines
  ui/raidboss/emulator/data/CombatantTracker.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x105.ts
Labels: raidemulator

#5450 raidboss/oopsy: P11N Initial Package
  ui/oopsyraidsy/data/06-ew/raid/p11n.ts
  ui/raidboss/data/06-ew/raid/p11n.ts
  ui/raidboss/data/06-ew/raid/p11n.txt
Labels: oopsy, raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#5455 i18n: add p9n and p11n
  ui/raidboss/data/06-ew/raid/p11n.ts
  ui/raidboss/data/06-ew/raid/p9n.ts
Labels: raidboss, 💬de

#5454 raidboss: initial P9S triggers
  ui/raidboss/data/06-ew/raid/p9s.ts
Labels: raidboss

#5456 raidboss: P10S basic triggers
  ui/raidboss/data/06-ew/raid/p10s.ts
Labels: raidboss, 💬de

#5457 raidboss: p9s headmarkers, more
  ui/raidboss/data/06-ew/raid/p9s.ts
  ui/raidboss/data/06-ew/raid/p9s.txt
Labels: raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#5458 raidboss: P9S fixups oops
  ui/raidboss/data/06-ew/raid/p9s.ts
Labels: raidboss

#5460 raidboss: add P9S front/rear roundhouse
  ui/raidboss/data/06-ew/raid/p9s.ts
Labels: raidboss

#5462 resources: promote AoE + bleed to Responses
  resources/outputs.ts
  resources/responses.ts
  ui/raidboss/data/05-shb/raid/e4n.ts
  ui/raidboss/data/05-shb/trial/hades-ex.ts
  ui/raidboss/data/06-ew/dungeon/alzadaals_legacy.ts
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane-savage.ts
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane.ts
  ui/raidboss/data/06-ew/dungeon/stigma_dreamscape.ts
  ui/raidboss/data/06-ew/dungeon/the_fell_court_of_troia.ts
  ui/raidboss/data/06-ew/raid/p10n.ts
  ui/raidboss/data/06-ew/raid/p11n.ts
  ui/raidboss/data/06-ew/raid/p7n.ts
  ui/raidboss/data/06-ew/raid/p7s.ts
  ui/raidboss/data/06-ew/raid/p8s.ts
  ui/raidboss/data/06-ew/raid/p9n.ts
  ui/raidboss/data/06-ew/trial/endsinger-ex.ts
  ui/raidboss/data/06-ew/trial/endsinger.ts
  ui/raidboss/data/06-ew/trial/golbez-ex.ts
  ui/raidboss/data/06-ew/trial/rubicante-ex.ts
  ui/raidboss/data/06-ew/trial/zodiark-ex.ts
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: resources, raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#5463 i18n: Add Chinese Translation to P9s Triggers
  ui/raidboss/data/06-ew/raid/p9s.ts
Labels: raidboss, 💬cn

#5465 raidemulator: Fix some minor bugs
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x14.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x15.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x17.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x1A.ts
  ui/raidboss/emulator/overrides/RaidEmulatorPopupText.ts
Labels: raidemulator

#5467 i18n: P11N FR fixes
  ui/raidboss/data/06-ew/raid/p11n.ts
Labels: raidboss, 💬fr

#5464 raidboss: more P10S triggers
  ui/raidboss/data/06-ew/raid/p10s.ts
Labels: raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja
