Repository quisquous/cactbot, pull requests merged in 2023-01, with the labels that each got.

#5170 i18n: add missing cn translations
  ui/raidboss/data/03-hw/map/the_aquapolis.ts
  ui/raidboss/data/04-sb/map/the_hidden_canals_of_uznair.ts
  ui/raidboss/data/04-sb/map/the_lost_canals_of_uznair.ts
  ui/raidboss/data/04-sb/map/the_shifting_altars_of_uznair.ts
  ui/raidboss/data/05-shb/map/the_dungeons_of_lyhe_ghiah.ts
  ui/raidboss/data/05-shb/map/the_shifting_oubliettes_of_lyhe_ghiah.ts
  ui/raidboss/data/06-ew/map/the_excitatron_6000.ts
Labels: raidboss, 💬cn

#5169 oopsy: add RDM Magick Barrier
  ui/oopsyraidsy/buff_map.ts
Labels: oopsy

#5167 raidboss: ASS/S simplify Rush of Might 1
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane-savage.ts
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane.ts
Labels: raidboss

#5172 raidboss: ASS/S improve Scream of the Fallen timing
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane-savage.ts
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane.ts
Labels: raidboss

#5173 raidboss: Fix zone seal message for a7s timeline
  ui/raidboss/data/03-hw/raid/a7s.txt
Labels: raidboss

#5151 raidboss: include healers in DSR p6 rng buster callouts
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
Labels: raidboss

#5175 i18n: add new translations
  ui/raidboss/data/03-hw/deepdungeon/the_palace_of_the_dead_floors_181-190.ts
  ui/raidboss/data/04-sb/deepdungeon/heaven-on-high_floors_81-90.ts
  ui/raidboss/data/04-sb/map/the_hidden_canals_of_uznair.ts
  ui/raidboss/data/04-sb/map/the_shifting_altars_of_uznair.ts
  ui/raidboss/data/05-shb/map/the_dungeons_of_lyhe_ghiah.ts
  ui/raidboss/data/05-shb/map/the_shifting_oubliettes_of_lyhe_ghiah.ts
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane-savage.ts
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane.ts
Labels: raidboss, 💬de

#5177 oopsy: track Macrocosmos missing people
  ui/oopsyraidsy/buff_map.ts
Labels: oopsy

#5179 docs: add documentation for line 260
  docs/LogGuide.md
  resources/netlog_defs.ts
  util/gen_log_guide.ts
Labels: resources, util, docs

#5178 oopsy: more missing buffs
  ui/oopsyraidsy/buff_map.ts
Labels: oopsy

#5180 raidboss: remove backslash in p8s timeline
  ui/raidboss/data/06-ew/raid/p8s.txt
Labels: raidboss

#5182 raidboss: more maps
  ui/raidboss/data/05-shb/map/the_shifting_oubliettes_of_lyhe_ghiah.ts
  ui/raidboss/data/06-ew/map/the_excitatron_6000.ts
Labels: raidboss

#5183 i18n: Add new / fix some translations
  ui/raidboss/data/03-hw/raid/a7s.ts
  ui/raidboss/data/05-shb/etc/the_diadem.ts
  ui/raidboss/data/06-ew/map/the_excitatron_6000.ts
  util/logtools/web_splitter.ts
Labels: raidboss, util, 💬cn

#5181 raidboss: Sophia EX changes
  ui/raidboss/data/03-hw/trial/sophia-ex.ts
  ui/raidboss/data/03-hw/trial/sophia-ex.txt
Labels: raidboss

#5186 plugin: remove FateWatcher and fate/CE events
  plugin/CactbotEventSource/CactbotEventSource.cs
  plugin/CactbotEventSource/CactbotEventSource.csproj
  plugin/CactbotEventSource/FateWatcher.cs
  plugin/CactbotEventSource/JSEvents.cs
  types/event.d.ts
Labels: plugin

#5188 resources: fix numbering of legacy zones
  resources/zone_id.ts
  util/gen_zone_id_and_info.py
Labels: resources, util

#5189 raidboss: add pre-6.3 duplicate legacy zones
  ui/raidboss/data/03-hw/dungeon/aetherochemical_research_facility62.ts
  ui/raidboss/data/03-hw/dungeon/aetherochemical_research_facility62.txt
  ui/raidboss/data/03-hw/dungeon/baelsars_wall62.ts
  ui/raidboss/data/03-hw/dungeon/baelsars_wall62.txt
  ui/raidboss/data/03-hw/dungeon/xelphatol62.ts
  ui/raidboss/data/03-hw/dungeon/xelphatol62.txt
  ui/raidboss/data/raidboss_manifest.txt
Labels: raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#5190 oopsy: 6.3 buff updates
  ui/oopsyraidsy/buff_map.ts
Labels: oopsy

#5191 plugin: fix entity position/rotation
  plugin/CactbotEventSource/FFXIVProcessIntl.cs
Labels: plugin

#5196 jobs: 6.3 changes
  resources/effect_id.ts
  ui/jobs/components/mch.ts
  ui/jobs/components/pld.ts
  ui/jobs/components/sge.ts
  ui/jobs/components/whm.ts
  ui/jobs/constants.ts
  ui/jobs/utils.ts
  util/gen_effect_id.ts
Labels: resources, jobs, util

#5199 raidboss: Sophia EX/Unreal fixes
  ui/raidboss/data/03-hw/trial/sophia-ex.txt
  ui/raidboss/data/06-ew/trial/sophia-un.ts
  ui/raidboss/data/06-ew/trial/sophia-un.txt
  util/sync_files.ts
Labels: raidboss, util

#5195 raidboss/oopsy: add Euphrosyne
  ui/oopsyraidsy/data/06-ew/alliance/euphrosyne.ts
  ui/oopsyraidsy/data/oopsy_manifest.txt
  ui/raidboss/data/06-ew/alliance/euphrosyne.ts
  ui/raidboss/data/06-ew/alliance/euphrosyne.txt
  ui/raidboss/data/raidboss_manifest.txt
Labels: oopsy, raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#5202 i18n: 6.3 aliraid translations
  ui/raidboss/data/06-ew/alliance/euphrosyne.ts
Labels: raidboss, 💬de

#5201 resources: Update content_list.ts for 6.3
  resources/content_list.ts
Labels: resources

#5204 oopsy: missing Euphrosyne ability
  ui/oopsyraidsy/data/06-ew/alliance/euphrosyne.ts
Labels: oopsy

#5205 raidboss: fix Euphrosyne Nymeia Spinner's Wheel tether
  ui/raidboss/data/06-ew/alliance/euphrosyne.ts
Labels: raidboss

#5206 raidboss: fix/improve Euphrosyne Tetrapagos
  ui/raidboss/data/06-ew/alliance/euphrosyne.ts
Labels: raidboss

#5207 raidboss: Euphrosyne Matron's Harvest additional ID
  ui/raidboss/data/06-ew/alliance/euphrosyne.ts
Labels: raidboss

#5209 raidboss: enhancement for p8s orogenic deformation
  ui/raidboss/data/06-ew/raid/p8s.ts
Labels: raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#5210 raidboss/oopsy: add EX5 basics (no ordeals)
  ui/oopsyraidsy/data/06-ew/trial/rubicante-ex.ts
  ui/oopsyraidsy/data/oopsy_manifest.txt
  ui/raidboss/data/06-ew/trial/rubicante-ex.ts
  ui/raidboss/data/06-ew/trial/rubicante-ex.txt
  ui/raidboss/data/raidboss_manifest.txt
Labels: oopsy, raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#5211 raidboss: add The Shifting Gymnasion Agonon map dungeon
  ui/raidboss/data/06-ew/map/the_shifting_gymnasion_agonon.ts
  ui/raidboss/data/raidboss_manifest.txt
Labels: raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#5212 i18n: ex5 + map translation
  ui/raidboss/data/06-ew/map/the_shifting_gymnasion_agonon.ts
  ui/raidboss/data/06-ew/trial/rubicante-ex.ts
Labels: raidboss, 💬de

#5216 i18n: add missing ko translations
  ui/raidboss/data/00-misc/the_masked_carnivale.ts
  ui/raidboss/data/02-arr/raid/t1.ts
  ui/raidboss/data/02-arr/raid/t10.ts
  ui/raidboss/data/02-arr/raid/t2.ts
  ui/raidboss/data/02-arr/raid/t4.ts
  ui/raidboss/data/02-arr/raid/t6.ts
  ui/raidboss/data/02-arr/raid/t9.ts
  ui/raidboss/data/03-hw/trial/sophia-ex.ts
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane-savage.ts
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane.ts
  ui/raidboss/data/06-ew/hunts/ss_rank.ts
  ui/raidboss/data/06-ew/hunts/thavnair.ts
  ui/raidboss/data/06-ew/hunts/ultima_thule.ts
  ui/raidboss/data/06-ew/map/the_excitatron_6000.ts
  ui/raidboss/data/06-ew/map/the_shifting_gymnasion_agonon.ts
  ui/raidboss/data/06-ew/trial/rubicante-ex.ts
  ui/raidboss/data/06-ew/trial/sophia-un.ts
Labels: raidboss, 💬ko, 💬de, 💬ja

#5215 raidboss/oopsy: add Lapis Manalis
  ui/oopsyraidsy/data/06-ew/dungeon/lapis_manalis.ts
  ui/oopsyraidsy/data/oopsy_manifest.txt
  ui/raidboss/data/06-ew/dungeon/lapis_manalis.ts
  ui/raidboss/data/06-ew/dungeon/lapis_manalis.txt
  ui/raidboss/data/raidboss_manifest.txt
Labels: oopsy, raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#5218 raidboss/oopsy: additional Lapis Manilis triggers
  ui/oopsyraidsy/data/06-ew/dungeon/lapis_manalis.ts
  ui/raidboss/data/06-ew/dungeon/lapis_manalis.ts
Labels: oopsy, raidboss

#5222 raidboss: use map events for Lapis timeline syncs
  ui/raidboss/data/06-ew/dungeon/lapis_manalis.txt
Labels: raidboss

#5220 raidboss: fix Euphrosyne hydrostasis trigger
  ui/raidboss/data/06-ew/alliance/euphrosyne.ts
Labels: raidboss

#5223 [wip] raidboss/oopsy: timeline + triggers for Rubicante
  ui/oopsyraidsy/data/06-ew/trial/rubicante.ts
  ui/oopsyraidsy/data/oopsy_manifest.txt
  ui/raidboss/data/06-ew/trial/rubicante.ts
  ui/raidboss/data/06-ew/trial/rubicante.txt
  ui/raidboss/data/raidboss_manifest.txt
Labels: oopsy, raidboss, 💬de, 💬ja

#5226 i18n: added new translations
  ui/raidboss/data/06-ew/dungeon/lapis_manalis.ts
  ui/raidboss/data/06-ew/trial/rubicante.ts
Labels: raidboss, 💬de

#5227 raidboss: Fell Court of Troia Firedamp tankbuster
  ui/raidboss/data/06-ew/dungeon/the_fell_court_of_troia.ts
Labels: raidboss

#5228 raidboss: add Rubicante (normal) Ordeals
  ui/raidboss/data/06-ew/trial/rubicante.ts
Labels: raidboss

#5229 util: split on CRLF and not just LF in sync_files
  util/sync_files.ts
Labels: util

#5231 raidboss: fix Lapis Albion timeline syncs
  ui/raidboss/data/06-ew/dungeon/lapis_manalis.txt
Labels: raidboss

#5232 resources: update for 6.31
  resources/content_list.ts
  resources/zone_id.ts
  resources/zone_info.ts
Labels: resources, 💬fr, 💬de, 💬ja

#5234 raidboss/oopsy: add skeleton TOP files
  ui/oopsyraidsy/data/06-ew/ultimate/the_omega_protocol.ts
  ui/oopsyraidsy/data/oopsy_manifest.txt
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.ts
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.txt
  ui/raidboss/data/raidboss_manifest.txt
Labels: oopsy, raidboss

#5233 i18n: add ko translations
  ui/raidboss/data/02-arr/dungeon/sastasha_hard.ts
  ui/raidboss/data/03-hw/dungeon/sohm_al_hard.ts
  ui/raidboss/data/03-hw/trial/sephirot-ex.ts
  ui/raidboss/data/04-sb/dungeon/ala_mhigo.ts
  ui/raidboss/data/04-sb/dungeon/shisui_of_the_violet_tides.ts
  ui/raidboss/data/05-shb/eureka/delubrum_reginae.ts
  ui/raidboss/data/05-shb/eureka/delubrum_reginae_savage.ts
  ui/raidboss/data/06-ew/alliance/aglaia.ts
  ui/raidboss/data/06-ew/dungeon/lapis_manalis.ts
  ui/raidboss/data/06-ew/dungeon/the_dead_ends.ts
  ui/raidboss/data/06-ew/raid/p7s.ts
  ui/raidboss/data/06-ew/trial/rubicante-ex.ts
  ui/raidboss/data/06-ew/trial/rubicante.ts
  ui/raidboss/data/06-ew/trial/sephirot-un.ts
Labels: raidboss, 💬ko

#5236 raidboss: add TOP p1 timeline
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.txt
Labels: raidboss

#5237 oopsy: add TOP p1
  ui/oopsyraidsy/data/06-ew/ultimate/the_omega_protocol.ts
Labels: oopsy

#5235 raidboss: add TOP p1 debuff triggers
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.ts
Labels: raidboss

#5238 i18n: add first set of top +missing ex5
  ui/raidboss/data/06-ew/trial/rubicante.ts
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.ts
Labels: raidboss, 💬de

#5239 raidboss: update TOP headmarkers
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.ts
Labels: raidboss

#5240 raidboss: add some TOP p2 abilities
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.ts
Labels: raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#5241 raidboss: Fix Euphrosyne boss 3 stack + spread call
  ui/raidboss/data/06-ew/alliance/euphrosyne.ts
Labels: raidboss

#5242 raidboss: Correction of Japanese translation
  ui/raidboss/data/06-ew/dungeon/vanaspati.ts
Labels: raidboss, 💬ja

#5243 oopsy: add TOP p2
  ui/oopsyraidsy/data/06-ew/dungeon/another_sildihn_subterrane-savage.ts
  ui/oopsyraidsy/data/06-ew/dungeon/another_sildihn_subterrane.ts
  ui/oopsyraidsy/data/06-ew/raid/p8s.ts
  ui/oopsyraidsy/data/06-ew/trial/rubicante-ex.ts
  ui/oopsyraidsy/data/06-ew/ultimate/the_omega_protocol.ts
Labels: oopsy

#5247 i18n: TOP 2 translations
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.ts
Labels: raidboss, 💬de

#5249 raidboss: add TOP p3 timeline
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.ts
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.txt
Labels: raidboss

#5248 raidboss: fix TOP stack trigger on flare
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.ts
Labels: raidboss

#5250 raidboss: TOP p2/p3 triggers
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.ts
Labels: raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#5252 pullcounter: fix wipes not crossing out number
  ui/pullcounter/pullcounter.ts
Labels: pullcounter

#5251 i18n: top part 3 translations
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.ts
Labels: raidboss, 💬de

#5253 i18n: add ko translations
  ui/raidboss/data/06-ew/alliance/euphrosyne.ts
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.ts
Labels: raidboss, 💬ko, 💬de

#5254 raidboss: minor TOP trigger duration/sev adjust
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.ts
Labels: raidboss
