Repository quisquous/cactbot, pull requests merged in 2023-12, with the labels that each got.

#5967 raidboss: support bareword keys in timeline netregex
  ui/raidboss/data/00-misc/test.txt
  ui/raidboss/timeline_parser.ts
Labels: raidboss

#5970 raidboss: fix UWU Ifrit 4th dash
  ui/raidboss/data/04-sb/ultimate/ultima_weapon_ultimate.ts
Labels: raidboss

#5971 build: Bump version to 0.30.8
  package-lock.json
  package.json
  plugin/CactbotEventSource/Properties/AssemblyInfo.cs
  plugin/CactbotOverlay/Properties/AssemblyInfo.cs
Labels: plugin

#5972 ci: change release.yml to use tag explicitly
  .github/workflows/release.yml
Labels: ci

#5976 i18n: another mount rokkon cn translation
  ui/raidboss/data/06-ew/dungeon/another_mount_rokkon-savage.ts
  ui/raidboss/data/06-ew/dungeon/another_mount_rokkon.ts
Labels: raidboss, 💬cn

#5975 raidboss: normalize timelines in preparation for conversion
  ui/raidboss/data/00-misc/test.txt
  ui/raidboss/data/03-hw/raid/a3n.txt
  ui/raidboss/data/03-hw/raid/a3s.txt
  ui/raidboss/data/03-hw/raid/a7s.txt
  ui/raidboss/data/04-sb/eureka/eureka_hydatos.txt
  ui/raidboss/data/04-sb/raid/o10s.txt
  ui/raidboss/data/04-sb/raid/o12n.txt
  ui/raidboss/data/04-sb/raid/o6s.txt
  ui/raidboss/data/04-sb/raid/o7s.txt
  ui/raidboss/data/04-sb/trial/lakshmi-ex.txt
  ui/raidboss/data/04-sb/trial/shinryu.txt
  ui/raidboss/data/05-shb/alliance/the_tower_at_paradigms_breach.txt
  ui/raidboss/data/05-shb/eureka/delubrum_reginae_savage.txt
  ui/raidboss/data/05-shb/trial/emerald_weapon-ex.txt
  ui/raidboss/data/05-shb/trial/hades.txt
  ui/raidboss/data/05-shb/ultimate/the_epic_of_alexander.txt
  ui/raidboss/data/06-ew/alliance/aglaia.txt
  ui/raidboss/data/06-ew/dungeon/lapis_manalis.ts
  ui/raidboss/data/06-ew/raid/p10n.txt
  ui/raidboss/data/06-ew/trial/endsinger.txt
  ui/raidboss/data/06-ew/trial/sephirot-un.txt
Labels: raidboss

#5973 raidboss: add comments for UWU nail deaths
  ui/raidboss/data/04-sb/ultimate/ultima_weapon_ultimate.ts
Labels: raidboss

#5969 util: update make_timeline to emit netregex
  util/logtools/make_timeline.ts
Labels: util

#5959 docs: improve troubleshooting guide
  README.md
  docs/FAQ-Troubleshooting.md
Labels: docs

#5978 resources: cn-6.45
  resources/zone_info.ts
Labels: resources, 💬cn

#5980 i18n: cn translation small fix
  ui/raidboss/data/06-ew/dungeon/mount_rokkon.ts
Labels: raidboss, 💬cn

#5982 raidboss: fix test timeline `test sync`
  ui/raidboss/data/00-misc/test.txt
Labels: raidboss

#5983 raidboss: set timeline netregexes to capture: false
  ui/raidboss/timeline_parser.ts
Labels: raidboss

#5984 docs: update customization guide about player.job
  docs/CactbotCustomization.md
Labels: docs

#5985 raidboss/oopsy: shadowbringers blu updates
  ui/oopsyraidsy/data/05-shb/raid/e8s.ts
  ui/raidboss/data/05-shb/raid/e12s.ts
  ui/raidboss/data/05-shb/raid/e4s.ts
  ui/raidboss/data/05-shb/raid/e4s.txt
  ui/raidboss/data/05-shb/raid/e8s.ts
  ui/raidboss/data/05-shb/raid/e8s.txt
  ui/raidboss/data/05-shb/trial/diamond_weapon-ex.ts
  ui/raidboss/data/05-shb/trial/diamond_weapon-ex.txt
  ui/raidboss/data/05-shb/trial/emerald_weapon-ex.txt
  ui/raidboss/data/05-shb/trial/hades-ex.txt
  ui/raidboss/data/05-shb/trial/ruby_weapon-ex.txt
  ui/raidboss/data/05-shb/trial/titania-ex.ts
  ui/raidboss/data/05-shb/trial/titania-ex.txt
  ui/raidboss/data/05-shb/trial/titania.ts
  ui/raidboss/data/05-shb/trial/titania.txt
Labels: oopsy, raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#5987 build: Bump version to 0.30.9
  package-lock.json
  package.json
  plugin/CactbotEventSource/Properties/AssemblyInfo.cs
  plugin/CactbotOverlay/Properties/AssemblyInfo.cs
Labels: plugin

#5988 i18n: missing cn translations
  ui/raidboss/data/05-shb/raid/e12s.ts
  ui/raidboss/data/05-shb/raid/e4s.ts
  ui/raidboss/data/05-shb/raid/e8s.ts
  ui/raidboss/data/05-shb/trial/titania-ex.ts
  ui/raidboss/data/06-ew/dungeon/another_mount_rokkon-savage.ts
  ui/raidboss/data/06-ew/dungeon/another_mount_rokkon.ts
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane-savage.ts
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane.ts
  ui/raidboss/data/06-ew/raid/p12s.ts
  ui/raidboss/data/06-ew/raid/p8s.ts
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.ts
Labels: raidboss, 💬cn

#5991 ci: require node 18.18.2 for workflow jobs
  .github/actions/setup-js-env/action.yml
  package-lock.json
  package.json
Labels: raidboss

#5998 i18n: update ko translations
  ui/raidboss/data/00-misc/test.ts
  ui/raidboss/data/04-sb/ultimate/ultima_weapon_ultimate.ts
  ui/raidboss/data/05-shb/raid/e12s.ts
  ui/raidboss/data/05-shb/raid/e4s.ts
  ui/raidboss/data/05-shb/raid/e8s.ts
  ui/raidboss/data/05-shb/trial/titania-ex.ts
  ui/raidboss/data/06-ew/alliance/thaleia.ts
  ui/raidboss/data/06-ew/dungeon/aloalo_island.ts
  ui/raidboss/data/06-ew/dungeon/the_lunar_subterrane.ts
Labels: raidboss, 💬ko

#5999 raidboss: fix AMR Gorai Malformed Reincarnation
  ui/raidboss/data/06-ew/dungeon/another_mount_rokkon-savage.ts
  ui/raidboss/data/06-ew/dungeon/another_mount_rokkon.ts
Labels: raidboss

#6000 i18n: FR translation update
  ui/raidboss/data/00-misc/test.ts
  ui/raidboss/data/03-hw/raid/a7s.ts
  ui/raidboss/data/03-hw/trial/sephirot-ex.ts
  ui/raidboss/data/03-hw/trial/thordan-ex.ts
  ui/raidboss/data/03-hw/trial/zurvan-ex.ts
  ui/raidboss/data/05-shb/hunts/kholusia.ts
  ui/raidboss/data/05-shb/hunts/lakeland.ts
  ui/raidboss/data/05-shb/hunts/the_raktika_greatwood.ts
  ui/raidboss/data/05-shb/hunts/the_tempest.ts
  ui/raidboss/data/05-shb/map/the_dungeons_of_lyhe_ghiah.ts
  ui/raidboss/data/05-shb/map/the_shifting_oubliettes_of_lyhe_ghiah.ts
  ui/raidboss/data/05-shb/raid/e12s.ts
  ui/raidboss/data/05-shb/raid/e4s.ts
  ui/raidboss/data/05-shb/raid/e8s.ts
  ui/raidboss/data/06-ew/trial/thordan-un.ts
  ui/raidboss/data/06-ew/trial/zurvan-un.ts
Labels: raidboss, 💬fr

#5993 raidboss: timeline netregex for arr ability
  ui/raidboss/data/02-arr/raid/t10.txt
  ui/raidboss/data/02-arr/raid/t11.txt
  ui/raidboss/data/02-arr/raid/t12.txt
  ui/raidboss/data/02-arr/raid/t13.txt
  ui/raidboss/data/02-arr/raid/t4.txt
  ui/raidboss/data/02-arr/raid/t5.txt
  ui/raidboss/data/02-arr/raid/t6.txt
  ui/raidboss/data/02-arr/raid/t7.txt
  ui/raidboss/data/02-arr/raid/t8.txt
  ui/raidboss/data/02-arr/raid/t9.txt
  ui/raidboss/data/02-arr/trial/ifrit-nm.txt
  ui/raidboss/data/02-arr/trial/levi-ex.txt
  ui/raidboss/data/02-arr/trial/shiva-ex.txt
  ui/raidboss/data/02-arr/trial/shiva-hm.txt
  ui/raidboss/data/02-arr/trial/titan-ex.txt
  ui/raidboss/data/02-arr/trial/titan-hm.txt
  ui/raidboss/data/02-arr/trial/titan-nm.txt
  ui/raidboss/data/02-arr/trial/ultima-ex.txt
Labels: raidboss

#5994 raidboss: timeline netregex for hw ability
  ui/raidboss/data/03-hw/alliance/dun_scaith.txt
  ui/raidboss/data/03-hw/alliance/weeping_city.txt
  ui/raidboss/data/03-hw/dungeon/aetherochemical_research_facility.txt
  ui/raidboss/data/03-hw/dungeon/baelsars_wall.txt
  ui/raidboss/data/03-hw/dungeon/fractal_continuum.txt
  ui/raidboss/data/03-hw/dungeon/gubal_library_hard.txt
  ui/raidboss/data/03-hw/dungeon/sohm_al.txt
  ui/raidboss/data/03-hw/dungeon/sohm_al_hard.txt
  ui/raidboss/data/03-hw/dungeon/the_lost_city_of_amdapor_hard.txt
  ui/raidboss/data/03-hw/dungeon/the_vault.txt
  ui/raidboss/data/03-hw/dungeon/xelphatol.txt
  ui/raidboss/data/03-hw/raid/a10n.txt
  ui/raidboss/data/03-hw/raid/a10s.txt
  ui/raidboss/data/03-hw/raid/a11s.txt
  ui/raidboss/data/03-hw/raid/a12n.txt
  ui/raidboss/data/03-hw/raid/a12s.txt
  ui/raidboss/data/03-hw/raid/a1s.txt
  ui/raidboss/data/03-hw/raid/a2s.txt
  ui/raidboss/data/03-hw/raid/a3n.txt
  ui/raidboss/data/03-hw/raid/a3s.txt
  ui/raidboss/data/03-hw/raid/a4s.txt
  ui/raidboss/data/03-hw/raid/a5s.txt
  ui/raidboss/data/03-hw/raid/a6n.txt
  ui/raidboss/data/03-hw/raid/a6s.txt
  ui/raidboss/data/03-hw/raid/a7s.txt
  ui/raidboss/data/03-hw/raid/a8n.txt
  ui/raidboss/data/03-hw/raid/a8s.txt
  ui/raidboss/data/03-hw/raid/a9s.txt
  ui/raidboss/data/03-hw/trial/ravana-ex.txt
  ui/raidboss/data/03-hw/trial/sephirot-ex.txt
  ui/raidboss/data/03-hw/trial/sophia-ex.txt
  ui/raidboss/data/03-hw/trial/thordan-ex.txt
  ui/raidboss/data/03-hw/trial/zurvan-ex.txt
  ui/raidboss/data/06-ew/trial/sophia-un.txt
  ui/raidboss/data/06-ew/trial/thordan-un.txt
  ui/raidboss/data/06-ew/trial/zurvan-un.txt
Labels: raidboss

#6001 oopsy: fix test errors on TODO abilities
  test/helper/test_oopsy.ts
Labels: test

#6007 docs: main README update
  README.md
  docs/FAQ-Troubleshooting.md
  docs/ko-KR/README.md
  docs/zh-CN/README.md
Labels: 💬ko, docs, 💬cn

#6008 i18n: new translations
  ui/oopsyraidsy/data/00-misc/test.ts
  ui/raidboss/data/00-misc/test.ts
  ui/raidboss/data/04-sb/ultimate/ultima_weapon_ultimate.ts
  ui/raidboss/data/05-shb/raid/e12s.ts
  ui/raidboss/data/05-shb/raid/e4s.ts
  ui/raidboss/data/05-shb/raid/e8s.ts
  ui/raidboss/data/05-shb/trial/titania-ex.ts
Labels: oopsy, raidboss, 💬de

#6002 raidboss: timeline netregex for arr startsusing
  ui/raidboss/data/02-arr/raid/t10.txt
  ui/raidboss/data/02-arr/raid/t11.txt
  ui/raidboss/data/02-arr/raid/t12.txt
  ui/raidboss/data/02-arr/raid/t13.txt
  ui/raidboss/data/02-arr/raid/t6.txt
  ui/raidboss/data/02-arr/raid/t8.txt
  ui/raidboss/data/02-arr/trial/ifrit-nm.txt
  ui/raidboss/data/02-arr/trial/shiva-ex.txt
  ui/raidboss/data/02-arr/trial/titan-ex.txt
  ui/raidboss/data/02-arr/trial/titan-hm.txt
  ui/raidboss/data/02-arr/trial/titan-nm.txt
  ui/raidboss/data/02-arr/trial/ultima-ex.txt
Labels: raidboss

#6003 raidboss: timeline netregex for hw startsusing
  ui/raidboss/data/03-hw/alliance/dun_scaith.txt
  ui/raidboss/data/03-hw/alliance/weeping_city.txt
  ui/raidboss/data/03-hw/dungeon/baelsars_wall.txt
  ui/raidboss/data/03-hw/dungeon/sohm_al.txt
  ui/raidboss/data/03-hw/dungeon/the_lost_city_of_amdapor_hard.txt
  ui/raidboss/data/03-hw/dungeon/xelphatol.txt
  ui/raidboss/data/03-hw/raid/a10n.txt
  ui/raidboss/data/03-hw/raid/a11s.txt
  ui/raidboss/data/03-hw/raid/a12s.txt
  ui/raidboss/data/03-hw/raid/a1s.txt
  ui/raidboss/data/03-hw/raid/a3s.txt
  ui/raidboss/data/03-hw/raid/a4s.txt
  ui/raidboss/data/03-hw/raid/a5s.txt
  ui/raidboss/data/03-hw/raid/a7s.txt
  ui/raidboss/data/03-hw/raid/a8s.txt
  ui/raidboss/data/03-hw/raid/a9s.txt
  ui/raidboss/data/03-hw/trial/ravana-ex.txt
  ui/raidboss/data/03-hw/trial/thordan-ex.txt
  ui/raidboss/data/03-hw/trial/zurvan-ex.txt
  ui/raidboss/data/06-ew/trial/thordan-un.txt
  ui/raidboss/data/06-ew/trial/zurvan-un.txt
Labels: raidboss

#6004 raidboss: timeline netregex for sb startsusing
  ui/raidboss/data/04-sb/alliance/orbonne_monastery.txt
  ui/raidboss/data/04-sb/alliance/ridorana_lighthouse.txt
  ui/raidboss/data/04-sb/alliance/royal_city_of_rabanastre.txt
  ui/raidboss/data/04-sb/dungeon/ala_mhigo.txt
  ui/raidboss/data/04-sb/dungeon/castrum_abania.txt
  ui/raidboss/data/04-sb/dungeon/drowned_city_of_skalla.txt
  ui/raidboss/data/04-sb/dungeon/fractal_continuum_hard.txt
  ui/raidboss/data/04-sb/dungeon/ghimlyt_dark.txt
  ui/raidboss/data/04-sb/dungeon/ghimlyt_dark64.txt
  ui/raidboss/data/04-sb/dungeon/shisui_of_the_violet_tides.txt
  ui/raidboss/data/04-sb/dungeon/sirensong_sea.txt
  ui/raidboss/data/04-sb/dungeon/swallows_compass.txt
  ui/raidboss/data/04-sb/eureka/eureka_hydatos.txt
  ui/raidboss/data/04-sb/raid/o10s.txt
  ui/raidboss/data/04-sb/raid/o11n.txt
  ui/raidboss/data/04-sb/raid/o11s.txt
  ui/raidboss/data/04-sb/raid/o2s.txt
  ui/raidboss/data/04-sb/raid/o4n.txt
  ui/raidboss/data/04-sb/raid/o4s.txt
  ui/raidboss/data/04-sb/raid/o5n.txt
  ui/raidboss/data/04-sb/raid/o5s.txt
  ui/raidboss/data/04-sb/raid/o6s.txt
  ui/raidboss/data/04-sb/raid/o7s.txt
  ui/raidboss/data/04-sb/raid/o8s.txt
  ui/raidboss/data/04-sb/raid/o9s.txt
  ui/raidboss/data/04-sb/trial/lakshmi-ex.txt
  ui/raidboss/data/04-sb/trial/seiryu.txt
  ui/raidboss/data/04-sb/trial/shinryu-ex.txt
  ui/raidboss/data/04-sb/trial/shinryu.txt
  ui/raidboss/data/04-sb/trial/tsukuyomi-ex.txt
  ui/raidboss/data/04-sb/trial/tsukuyomi.txt
  ui/raidboss/data/04-sb/trial/yojimbo.txt
  ui/raidboss/data/04-sb/ultimate/ultima_weapon_ultimate.txt
  ui/raidboss/data/04-sb/ultimate/unending_coil_ultimate.txt
Labels: raidboss

#6005 raidboss: timeline netregex for shb startsusing
  ui/raidboss/data/05-shb/alliance/the_copied_factory.txt
  ui/raidboss/data/05-shb/alliance/the_puppets_bunker.txt
  ui/raidboss/data/05-shb/alliance/the_tower_at_paradigms_breach.txt
  ui/raidboss/data/05-shb/dungeon/akadaemia_anyder.txt
  ui/raidboss/data/05-shb/dungeon/amaurot.txt
  ui/raidboss/data/05-shb/dungeon/anamnesis_anyder.txt
  ui/raidboss/data/05-shb/dungeon/matoyas_relict.txt
  ui/raidboss/data/05-shb/eureka/bozjan_southern_front.txt
  ui/raidboss/data/05-shb/eureka/delubrum_reginae.txt
  ui/raidboss/data/05-shb/eureka/delubrum_reginae_savage.txt
  ui/raidboss/data/05-shb/eureka/zadnor.txt
  ui/raidboss/data/05-shb/raid/e11s.txt
  ui/raidboss/data/05-shb/raid/e12n.txt
  ui/raidboss/data/05-shb/raid/e12s.txt
  ui/raidboss/data/05-shb/raid/e1s.txt
  ui/raidboss/data/05-shb/raid/e2s.txt
  ui/raidboss/data/05-shb/raid/e4s.txt
  ui/raidboss/data/05-shb/raid/e7n.txt
  ui/raidboss/data/05-shb/raid/e7s.txt
  ui/raidboss/data/05-shb/raid/e8s.txt
  ui/raidboss/data/05-shb/raid/e9n.txt
  ui/raidboss/data/05-shb/trial/diamond_weapon-ex.txt
  ui/raidboss/data/05-shb/trial/diamond_weapon.txt
  ui/raidboss/data/05-shb/trial/emerald_weapon-ex.txt
  ui/raidboss/data/05-shb/trial/emerald_weapon.txt
  ui/raidboss/data/05-shb/trial/hades-ex.txt
  ui/raidboss/data/05-shb/trial/hades.txt
  ui/raidboss/data/05-shb/trial/innocence-ex.txt
  ui/raidboss/data/05-shb/trial/ruby_weapon-ex.txt
  ui/raidboss/data/05-shb/trial/ruby_weapon.txt
  ui/raidboss/data/05-shb/trial/shiva-un.txt
  ui/raidboss/data/05-shb/trial/titan-un.txt
  ui/raidboss/data/05-shb/trial/titania-ex.txt
  ui/raidboss/data/05-shb/trial/titania.txt
  ui/raidboss/data/05-shb/trial/varis-ex.txt
  ui/raidboss/data/05-shb/trial/wol-ex.txt
  ui/raidboss/data/05-shb/trial/wol.txt
  ui/raidboss/data/05-shb/ultimate/the_epic_of_alexander.txt
Labels: raidboss

#6006 raidboss: timeline netregex for ew startsusing
  ui/raidboss/data/06-ew/alliance/aglaia.txt
  ui/raidboss/data/06-ew/alliance/euphrosyne.txt
  ui/raidboss/data/06-ew/alliance/thaleia.txt
  ui/raidboss/data/06-ew/dungeon/aetherfont.txt
  ui/raidboss/data/06-ew/dungeon/aloalo_island.txt
  ui/raidboss/data/06-ew/dungeon/another_mount_rokkon-savage.txt
  ui/raidboss/data/06-ew/dungeon/another_mount_rokkon.txt
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane-savage.txt
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane.txt
  ui/raidboss/data/06-ew/dungeon/mount_rokkon.txt
  ui/raidboss/data/06-ew/dungeon/the_aitiascope.txt
  ui/raidboss/data/06-ew/dungeon/the_dead_ends.txt
  ui/raidboss/data/06-ew/dungeon/the_fell_court_of_troia.txt
  ui/raidboss/data/06-ew/dungeon/the_lunar_subterrane.txt
  ui/raidboss/data/06-ew/dungeon/the_sildihn_subterrane.txt
  ui/raidboss/data/06-ew/dungeon/the_tower_of_babil.txt
  ui/raidboss/data/06-ew/dungeon/vanaspati.txt
  ui/raidboss/data/06-ew/raid/p10n.txt
  ui/raidboss/data/06-ew/raid/p10s.txt
  ui/raidboss/data/06-ew/raid/p11n.txt
  ui/raidboss/data/06-ew/raid/p11s.txt
  ui/raidboss/data/06-ew/raid/p12n.txt
  ui/raidboss/data/06-ew/raid/p12s.txt
  ui/raidboss/data/06-ew/raid/p1n.txt
  ui/raidboss/data/06-ew/raid/p1s.txt
  ui/raidboss/data/06-ew/raid/p2n.txt
  ui/raidboss/data/06-ew/raid/p2s.txt
  ui/raidboss/data/06-ew/raid/p3n.txt
  ui/raidboss/data/06-ew/raid/p3s.txt
  ui/raidboss/data/06-ew/raid/p4n.txt
  ui/raidboss/data/06-ew/raid/p4s.txt
  ui/raidboss/data/06-ew/raid/p5s.txt
  ui/raidboss/data/06-ew/raid/p6s.txt
  ui/raidboss/data/06-ew/raid/p7n.txt
  ui/raidboss/data/06-ew/raid/p7s.txt
  ui/raidboss/data/06-ew/raid/p8n.txt
  ui/raidboss/data/06-ew/raid/p8s.txt
  ui/raidboss/data/06-ew/raid/p9s.txt
  ui/raidboss/data/06-ew/trial/barbariccia-ex.txt
  ui/raidboss/data/06-ew/trial/endsinger-ex.txt
  ui/raidboss/data/06-ew/trial/endsinger.txt
  ui/raidboss/data/06-ew/trial/golbez-ex.txt
  ui/raidboss/data/06-ew/trial/hydaelyn-ex.txt
  ui/raidboss/data/06-ew/trial/hydaelyn.txt
  ui/raidboss/data/06-ew/trial/rubicante-ex.txt
  ui/raidboss/data/06-ew/trial/rubicante.txt
  ui/raidboss/data/06-ew/trial/ultima-un.txt
  ui/raidboss/data/06-ew/trial/zeromus-ex.txt
  ui/raidboss/data/06-ew/trial/zeromus.txt
  ui/raidboss/data/06-ew/trial/zodiark.txt
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.txt
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.txt
Labels: raidboss

#5889 raidboss/oopsy: add Another Aloalo Island
  ui/oopsyraidsy/data/06-ew/dungeon/another_aloalo_island-savage.ts
  ui/oopsyraidsy/data/06-ew/dungeon/another_aloalo_island.ts
  ui/raidboss/data/06-ew/dungeon/another_aloalo_island-savage.ts
  ui/raidboss/data/06-ew/dungeon/another_aloalo_island-savage.txt
  ui/raidboss/data/06-ew/dungeon/another_aloalo_island.ts
  ui/raidboss/data/06-ew/dungeon/another_aloalo_island.txt
  util/sync_files.ts
Labels: oopsy, raidboss, util, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#6009 i18n: aai translations
  ui/raidboss/data/06-ew/dungeon/another_aloalo_island-savage.ts
  ui/raidboss/data/06-ew/dungeon/another_aloalo_island.ts
  ui/raidboss/raidboss_config.ts
Labels: config, raidboss, 💬de

#6010 i18n: resource translations
  resources/party.ts
  util/coverage/coverage.ts
Labels: resources, util, 💬de

#6011 i18n: aai oopsy translation
  ui/oopsyraidsy/data/06-ew/dungeon/another_aloalo_island-savage.ts
  ui/oopsyraidsy/data/06-ew/dungeon/another_aloalo_island.ts
Labels: oopsy, 💬de

#6012 build: Bump version to 0.30.10
  package-lock.json
  package.json
  plugin/CactbotEventSource/Properties/AssemblyInfo.cs
  plugin/CactbotOverlay/Properties/AssemblyInfo.cs
Labels: plugin

#6013 raidboss: timeline netregex for AddedCombatant
  ui/raidboss/data/02-arr/raid/t4.txt
  ui/raidboss/data/02-arr/trial/shiva-ex.txt
  ui/raidboss/data/02-arr/trial/shiva-hm.txt
  ui/raidboss/data/03-hw/alliance/dun_scaith.txt
  ui/raidboss/data/03-hw/dungeon/aetherochemical_research_facility.txt
  ui/raidboss/data/03-hw/raid/a11s.txt
  ui/raidboss/data/03-hw/raid/a12s.txt
  ui/raidboss/data/03-hw/raid/a2s.txt
  ui/raidboss/data/03-hw/raid/a6s.txt
  ui/raidboss/data/03-hw/raid/a7s.txt
  ui/raidboss/data/03-hw/raid/a8n.txt
  ui/raidboss/data/03-hw/raid/a8s.txt
  ui/raidboss/data/03-hw/raid/a9s.txt
  ui/raidboss/data/03-hw/trial/sephirot-ex.txt
  ui/raidboss/data/03-hw/trial/sophia-ex.txt
  ui/raidboss/data/04-sb/alliance/orbonne_monastery.txt
  ui/raidboss/data/04-sb/alliance/royal_city_of_rabanastre.txt
  ui/raidboss/data/04-sb/dungeon/bardams_mettle.txt
  ui/raidboss/data/04-sb/dungeon/doma_castle.txt
  ui/raidboss/data/04-sb/dungeon/shisui_of_the_violet_tides.txt
  ui/raidboss/data/04-sb/dungeon/temple_of_the_fist.txt
  ui/raidboss/data/04-sb/raid/o5s.txt
  ui/raidboss/data/04-sb/raid/o6s.txt
  ui/raidboss/data/04-sb/trial/tsukuyomi-ex.txt
  ui/raidboss/data/04-sb/trial/tsukuyomi.txt
  ui/raidboss/data/05-shb/dungeon/amaurot.txt
  ui/raidboss/data/05-shb/eureka/delubrum_reginae_savage.txt
  ui/raidboss/data/05-shb/eureka/zadnor.txt
  ui/raidboss/data/05-shb/trial/shiva-un.txt
  ui/raidboss/data/06-ew/dungeon/aloalo_island.txt
  ui/raidboss/data/06-ew/trial/sephirot-un.txt
  ui/raidboss/data/06-ew/trial/sophia-un.txt
Labels: raidboss

#6015 oopsy: fix Aloalo tornado mistake
  ui/oopsyraidsy/data/06-ew/dungeon/another_aloalo_island-savage.ts
  ui/oopsyraidsy/data/06-ew/dungeon/another_aloalo_island.ts
  ui/oopsyraidsy/oopsy_common.ts
Labels: oopsy

#6016 raidboss: fix edge case for Aloalo spring crystals 1/6
  ui/raidboss/data/06-ew/dungeon/another_aloalo_island-savage.ts
  ui/raidboss/data/06-ew/dungeon/another_aloalo_island.ts
Labels: raidboss

#6017 raidboss: clarify bubble on Aloalo Spring Crystals 1/6
  ui/raidboss/data/06-ew/dungeon/another_aloalo_island-savage.ts
  ui/raidboss/data/06-ew/dungeon/another_aloalo_island.ts
Labels: raidboss, 💬de

#6018 docs: trigger guide update
  CONTRIBUTING.md
  docs/RaidbossGuide.md
Labels: docs

#6020 raidboss: timeline netregex for nameToggle
  ui/raidboss/data/02-arr/trial/levi-ex.txt
  ui/raidboss/data/03-hw/alliance/dun_scaith.txt
  ui/raidboss/data/03-hw/dungeon/the_lost_city_of_amdapor_hard.txt
  ui/raidboss/data/03-hw/dungeon/xelphatol.txt
  ui/raidboss/data/03-hw/raid/a10n.txt
  ui/raidboss/data/03-hw/raid/a10s.txt
  ui/raidboss/data/03-hw/raid/a12n.txt
  ui/raidboss/data/03-hw/raid/a12s.txt
  ui/raidboss/data/03-hw/raid/a4s.txt
  ui/raidboss/data/03-hw/raid/a6s.txt
  ui/raidboss/data/03-hw/raid/a8n.txt
  ui/raidboss/data/03-hw/raid/a8s.txt
  ui/raidboss/data/03-hw/trial/sephirot-ex.txt
  ui/raidboss/data/04-sb/dungeon/bardams_mettle.txt
  ui/raidboss/data/05-shb/alliance/the_copied_factory.txt
  ui/raidboss/data/05-shb/alliance/the_tower_at_paradigms_breach.txt
  ui/raidboss/data/05-shb/dungeon/akadaemia_anyder.txt
  ui/raidboss/data/05-shb/eureka/delubrum_reginae.txt
  ui/raidboss/data/05-shb/eureka/delubrum_reginae_savage.txt
  ui/raidboss/data/05-shb/trial/hades-ex.txt
  ui/raidboss/data/05-shb/trial/levi-un.txt
  ui/raidboss/data/06-ew/trial/sephirot-un.txt
Labels: raidboss

#6021 raidboss: timeline netregex for actorControlNoData
  ui/raidboss/data/04-sb/raid/o12s.txt
  ui/raidboss/data/04-sb/raid/o5n.txt
  ui/raidboss/data/04-sb/raid/o5s.txt
  ui/raidboss/data/04-sb/raid/o9n.txt
  ui/raidboss/data/04-sb/trial/shinryu.txt
  ui/raidboss/data/05-shb/eureka/delubrum_reginae_savage.txt
  ui/raidboss/data/05-shb/raid/e11s.txt
  ui/raidboss/data/05-shb/trial/varis-ex.txt
  ui/raidboss/data/06-ew/raid/p10n.txt
  ui/raidboss/data/06-ew/raid/p10s.txt
  ui/raidboss/data/06-ew/raid/p11n.txt
  ui/raidboss/data/06-ew/raid/p11s.txt
  ui/raidboss/data/06-ew/raid/p12n.txt
  ui/raidboss/data/06-ew/raid/p12s.txt
  ui/raidboss/data/06-ew/raid/p1n.txt
  ui/raidboss/data/06-ew/raid/p1s.txt
  ui/raidboss/data/06-ew/raid/p2n.txt
  ui/raidboss/data/06-ew/raid/p2s.txt
  ui/raidboss/data/06-ew/raid/p3n.txt
  ui/raidboss/data/06-ew/raid/p3s.txt
  ui/raidboss/data/06-ew/raid/p4n.txt
  ui/raidboss/data/06-ew/raid/p4s.txt
  ui/raidboss/data/06-ew/raid/p5n.txt
  ui/raidboss/data/06-ew/raid/p5s.txt
  ui/raidboss/data/06-ew/raid/p6n.txt
  ui/raidboss/data/06-ew/raid/p6s.txt
  ui/raidboss/data/06-ew/raid/p7n.txt
  ui/raidboss/data/06-ew/raid/p7s.txt
  ui/raidboss/data/06-ew/raid/p8n.txt
  ui/raidboss/data/06-ew/raid/p8s.txt
  ui/raidboss/data/06-ew/raid/p9n.txt
  ui/raidboss/data/06-ew/raid/p9s.txt
  ui/raidboss/data/06-ew/trial/barbariccia-ex.txt
  ui/raidboss/data/06-ew/trial/barbariccia.txt
  ui/raidboss/data/06-ew/trial/endsinger-ex.txt
  ui/raidboss/data/06-ew/trial/endsinger.txt
  ui/raidboss/data/06-ew/trial/golbez-ex.txt
  ui/raidboss/data/06-ew/trial/golbez.txt
  ui/raidboss/data/06-ew/trial/hydaelyn-ex.txt
  ui/raidboss/data/06-ew/trial/hydaelyn.txt
  ui/raidboss/data/06-ew/trial/rubicante-ex.txt
  ui/raidboss/data/06-ew/trial/rubicante.txt
  ui/raidboss/data/06-ew/trial/sephirot-un.txt
  ui/raidboss/data/06-ew/trial/ultima-un.txt
  ui/raidboss/data/06-ew/trial/zodiark-ex.txt
  ui/raidboss/data/06-ew/trial/zodiark.txt
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.txt
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.txt
Labels: raidboss

#6022 raidboss: timeline netregex for actorControl
  ui/raidboss/data/05-shb/eureka/bozjan_southern_front.txt
  ui/raidboss/data/05-shb/eureka/zadnor.txt
Labels: raidboss

#6023 raidboss: timeline netregex for systemLogNoParam
  ui/raidboss/data/03-hw/dungeon/the_lost_city_of_amdapor_hard.txt
  ui/raidboss/data/04-sb/eureka/eureka_hydatos.txt
  ui/raidboss/data/05-shb/eureka/bozjan_southern_front.txt
  ui/raidboss/data/05-shb/eureka/delubrum_reginae_savage.txt
  ui/raidboss/data/05-shb/eureka/zadnor.txt
  ui/raidboss/data/06-ew/alliance/aglaia.txt
  ui/raidboss/data/06-ew/alliance/euphrosyne.txt
  ui/raidboss/data/06-ew/alliance/thaleia.txt
  ui/raidboss/data/06-ew/dungeon/aetherfont.txt
  ui/raidboss/data/06-ew/dungeon/aloalo_island.txt
  ui/raidboss/data/06-ew/dungeon/alzadaals_legacy.txt
  ui/raidboss/data/06-ew/dungeon/another_mount_rokkon-savage.txt
  ui/raidboss/data/06-ew/dungeon/another_mount_rokkon.txt
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane-savage.txt
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane.txt
  ui/raidboss/data/06-ew/dungeon/ktisis_hyperboreia.txt
  ui/raidboss/data/06-ew/dungeon/lapis_manalis.txt
  ui/raidboss/data/06-ew/dungeon/smileton.txt
  ui/raidboss/data/06-ew/dungeon/stigma_dreamscape.txt
  ui/raidboss/data/06-ew/dungeon/the_aitiascope.txt
  ui/raidboss/data/06-ew/dungeon/the_dead_ends.txt
  ui/raidboss/data/06-ew/dungeon/the_fell_court_of_troia.txt
  ui/raidboss/data/06-ew/dungeon/the_lunar_subterrane.txt
  ui/raidboss/data/06-ew/dungeon/the_sildihn_subterrane.txt
  ui/raidboss/data/06-ew/dungeon/the_tower_of_babil.txt
  ui/raidboss/data/06-ew/dungeon/the_tower_of_zot.txt
  ui/raidboss/data/06-ew/dungeon/vanaspati.txt
Labels: raidboss

#6024 raidboss: timeline netregex for gameLogWithName
  ui/raidboss/data/02-arr/trial/ifrit-nm.txt
  ui/raidboss/data/04-sb/dungeon/fractal_continuum_hard.txt
  ui/raidboss/data/04-sb/raid/o11n.ts
  ui/raidboss/data/04-sb/raid/o11n.txt
  ui/raidboss/data/04-sb/raid/o12n.ts
  ui/raidboss/data/04-sb/raid/o12n.txt
  ui/raidboss/data/04-sb/raid/o9n.ts
  ui/raidboss/data/04-sb/raid/o9n.txt
  ui/raidboss/data/05-shb/eureka/delubrum_reginae_savage.txt
  ui/raidboss/data/05-shb/trial/hades-ex.ts
  ui/raidboss/data/05-shb/trial/hades-ex.txt
  ui/raidboss/data/06-ew/dungeon/lapis_manalis.txt
Labels: raidboss

#6025 raidboss: timeline netregex for abilityNoSource
  ui/raidboss/data/03-hw/trial/thordan-ex.txt
  ui/raidboss/data/04-sb/ultimate/ultima_weapon_ultimate.txt
  ui/raidboss/data/06-ew/dungeon/aloalo_island.txt
  ui/raidboss/data/06-ew/raid/p8n.txt
  ui/raidboss/data/06-ew/trial/thordan-un.txt
Labels: raidboss

#6026 raidboss: timeline netregex for gameLogNoName
  ui/raidboss/data/00-misc/test.txt
  ui/raidboss/data/04-sb/alliance/orbonne_monastery.txt
  ui/raidboss/data/04-sb/alliance/royal_city_of_rabanastre.txt
  ui/raidboss/data/04-sb/raid/o12n.txt
  ui/raidboss/data/04-sb/raid/o12s.txt
  ui/raidboss/data/06-ew/trial/endsinger.txt
Labels: raidboss

#6027 raidboss: timeline netregex for gainsEffectWithTarget
  ui/raidboss/data/04-sb/raid/o7n.txt
  ui/raidboss/data/04-sb/raid/o7s.txt
Labels: raidboss

#6028 raidboss: timeline netregex mapEffectNoInstanceNoLocation
  ui/raidboss/data/06-ew/dungeon/lapis_manalis.txt
Labels: raidboss

#6029 raidboss: timeline netregex for gainsEffectNameOnly
  ui/raidboss/data/03-hw/raid/a7s.txt
Labels: raidboss

#6030 raidboss: timeline netregex for mapEffect
  ui/raidboss/data/06-ew/dungeon/the_sildihn_subterrane.txt
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.txt
Labels: raidboss

#6031 raidboss: timeline netregex for headMarkerNoName
  ui/raidboss/data/02-arr/raid/t9.txt
Labels: raidboss

#6032 raidboss: timeline netregex for gameLogNoNameNoCode
  ui/raidboss/data/03-hw/dungeon/gubal_library_hard.txt
Labels: raidboss

#6033 raidboss: timeline netregex for interrupt
  ui/raidboss/data/04-sb/eureka/eureka_hydatos.txt
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.txt
Labels: raidboss

#6034 raidboss: timeline netregex for headMarkerName
  ui/raidboss/data/03-hw/dungeon/fractal_continuum.txt
Labels: raidboss

#6035 raidboss: timeline netregex for removedCombatant
  ui/raidboss/data/04-sb/eureka/eureka_hydatos.txt
  ui/raidboss/data/05-shb/ultimate/the_epic_of_alexander.txt
Labels: raidboss

#6036 raidboss: timeline netregex for abilityWithNonEmptyTarget
  ui/raidboss/data/04-sb/eureka/eureka_hydatos.txt
Labels: raidboss

#6037 raidboss: timeline netregex for wasDefeated
  ui/raidboss/data/05-shb/eureka/delubrum_reginae_savage.txt
Labels: raidboss

#6038 raidboss: timeline netregex for addedCombatantOneOff
  ui/raidboss/data/06-ew/raid/p12s.txt
Labels: raidboss

#6039 raidboss: timeline netregex for sourceGroups
  ui/raidboss/data/02-arr/raid/t9.txt
  ui/raidboss/data/03-hw/alliance/dun_scaith.ts
  ui/raidboss/data/03-hw/alliance/dun_scaith.txt
  ui/raidboss/data/03-hw/dungeon/aetherochemical_research_facility.txt
  ui/raidboss/data/03-hw/raid/a10n.txt
  ui/raidboss/data/03-hw/raid/a3s.txt
  ui/raidboss/data/03-hw/trial/thordan-ex.txt
  ui/raidboss/data/04-sb/dungeon/temple_of_the_fist.txt
  ui/raidboss/data/05-shb/alliance/the_tower_at_paradigms_breach.txt
  ui/raidboss/data/05-shb/dungeon/akadaemia_anyder.txt
  ui/raidboss/data/05-shb/eureka/delubrum_reginae.txt
  ui/raidboss/data/05-shb/eureka/delubrum_reginae_savage.txt
  ui/raidboss/data/05-shb/trial/wol-ex.txt
  ui/raidboss/data/06-ew/alliance/aglaia.txt
  ui/raidboss/data/06-ew/raid/p7n.txt
  ui/raidboss/data/06-ew/trial/endsinger-ex.txt
  ui/raidboss/data/06-ew/trial/thordan-un.txt
  ui/raidboss/data/06-ew/trial/zodiark.txt
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.txt
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.txt
Labels: raidboss

#6040 raidboss: timeline netregex quote fixup
  ui/raidboss/data/02-arr/raid/t9.txt
  ui/raidboss/data/03-hw/alliance/dun_scaith.txt
  ui/raidboss/data/03-hw/dungeon/aetherochemical_research_facility.txt
  ui/raidboss/data/03-hw/raid/a10n.txt
  ui/raidboss/data/03-hw/raid/a3s.txt
  ui/raidboss/data/03-hw/trial/thordan-ex.txt
  ui/raidboss/data/04-sb/dungeon/temple_of_the_fist.txt
  ui/raidboss/data/05-shb/alliance/the_tower_at_paradigms_breach.txt
  ui/raidboss/data/05-shb/dungeon/akadaemia_anyder.txt
  ui/raidboss/data/05-shb/eureka/delubrum_reginae.txt
  ui/raidboss/data/05-shb/eureka/delubrum_reginae_savage.txt
  ui/raidboss/data/05-shb/trial/wol-ex.txt
  ui/raidboss/data/06-ew/alliance/aglaia.txt
  ui/raidboss/data/06-ew/raid/p7n.txt
  ui/raidboss/data/06-ew/trial/endsinger-ex.txt
  ui/raidboss/data/06-ew/trial/thordan-un.txt
  ui/raidboss/data/06-ew/trial/zodiark.txt
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.txt
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.txt
Labels: raidboss

#6042 test: add test to verify all timeline syncs are netregex
  test/helper/test_timeline.ts
Labels: test

#6043 i18n: Endsinger FR missing translations
  ui/raidboss/data/06-ew/trial/endsinger-ex.ts
Labels: raidboss, 💬fr

#6044 raidboss: fix AAI Hydroshot IDs
  ui/raidboss/data/06-ew/dungeon/another_aloalo_island-savage.ts
  ui/raidboss/data/06-ew/dungeon/another_aloalo_island.ts
Labels: raidboss

#6046 i18n: FR translation update
  ui/oopsyraidsy/data/00-misc/general.ts
  ui/oopsyraidsy/oopsyraidsy_config.ts
  ui/raidboss/data/04-sb/deepdungeon/heaven-on-high_floors_21-30.ts
  ui/raidboss/data/04-sb/deepdungeon/heaven-on-high_floors_51-60.ts
  ui/raidboss/data/04-sb/deepdungeon/heaven-on-high_floors_61-70.ts
  ui/raidboss/data/04-sb/deepdungeon/heaven-on-high_floors_81-90.ts
  ui/raidboss/data/04-sb/deepdungeon/heaven-on-high_general.ts
Labels: config, oopsy, raidboss, 💬fr

#6047 docs: update cn translation about player.job
  docs/zh-CN/CactbotCustomization.md
Labels: docs, 💬cn

#6049 util: fix make_timeline support for split logs
  util/logtools/encounter_tools.ts
Labels: util

#6050 resources: improve anonymization for various line types
  resources/netlog_defs.ts
Labels: resources

#6053 raidboss: add Rubi Ordeal of Purgation
  ui/raidboss/data/06-ew/trial/rubicante-ex.ts
Labels: raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#6054 docs: contributing.md update
  CONTRIBUTING.md
  docs/RaidbossGuide.md
Labels: docs

#6057 build: Bump version to 0.30.11
  package-lock.json
  package.json
  plugin/CactbotEventSource/Properties/AssemblyInfo.cs
  plugin/CactbotOverlay/Properties/AssemblyInfo.cs
Labels: plugin

#6058 plugin: switch to OP/cactbot for updates
  plugin/CactbotEventSource/VersionChecker.cs
Labels: plugin

#6059 build: Bump version to 0.30.12
  package-lock.json
  package.json
  plugin/CactbotEventSource/Properties/AssemblyInfo.cs
  plugin/CactbotOverlay/Properties/AssemblyInfo.cs
Labels: plugin

#6060 raidboss/util: redirect all html to op/cactbot
  ui/config/config.html
  ui/dps/rdmty/dps.html
  ui/dps/xephero/xephero-cactbot.html
  ui/eureka/eureka.html
  ui/jobs/jobs.html
  ui/oopsyraidsy/oopsy_summary.html
  ui/oopsyraidsy/oopsy_viewer.html
  ui/oopsyraidsy/oopsyraidsy.html
  ui/pullcounter/pullcounter.html
  ui/radar/radar.html
  ui/raidboss/raidboss.html
  ui/raidboss/raidboss_alerts_only.html
  ui/raidboss/raidboss_silent.html
  ui/raidboss/raidboss_timeline_only.html
  ui/raidboss/raidemulator.html
  ui/test/test.html
  ui/test/timerbar_test.html
  util/coverage/coverage.html
  util/gen_coverage_report.ts
  util/logtools/splitter.html
Labels: config, dps, eureka, jobs, oopsy, pullcounter, radar, raidboss, raidemulator, test, util

#6061 ci: remove workflows that depend on BOT_TOKEN
  .github/workflows/lint-pr-title.yaml
  .github/workflows/release.yml
Labels: ci

#6062 docs: test one markdown file redirect
  CONTRIBUTING.md
Labels: docs

#6063 docs: update all markdown files to direct to OP
  .github/workflows/README.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  docs/CactbotCustomization.md
  docs/FAQ-Troubleshooting.md
  docs/Headmarkers.md
  docs/LogGuide.md
  docs/MemorySignatures.md
  docs/OopsyraidsyGuide.md
  docs/PatchUpdateChecklist.md
  docs/RaidbossGuide.md
  docs/RemoteCactbot.md
  docs/TimelineGuide.md
  docs/ko-KR/CactbotCustomization.md
  docs/ko-KR/README.md
  docs/zh-CN/CactbotCustomization.md
  docs/zh-CN/MemorySignatures.md
  docs/zh-CN/README.md
  docs/zh-CN/RaidbossGuide.md
  docs/zh-CN/TimelineGuide.md
  docs/zh-TW/CactbotCustomization.md
  ui/raidboss/emulator/Readme.md
  ui/raidboss/skins/dorgrin/Readme.md
  util/README.md
Labels: 💬ko, docs, 💬cn

#6064 docs: update main readme
  ui/raidboss/emulator/Readme.md
Labels: docs

#6065 docs: update main readme (take two oops)
  README.md
  ui/raidboss/emulator/Readme.md
Labels: docs

#6066 docs: add back logo for funsies
  README.md
Labels: docs

#6067 raidboss: redirect from raidboss.html preserving params
  ui/raidboss/raidboss.html
Labels: raidboss
