Repository quisquous/cactbot, pull requests merged in 2023-03, with the labels that each got.

#5299 pullcounter: make able to reset zone counters
  ui/pullcounter/pullcounter.ts
Labels: pullcounter

#5296 raidboss: TOP add phase tracking
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.ts
Labels: raidboss

#5292 oopsy: specify flex props of flex childs
  ui/oopsyraidsy/oopsy_live.css
Labels: oopsy

#5300 docs: fix link to test.ts
  docs/RaidbossGuide.md
Labels: docs

#5301 raidboss: p6s-p8s correct minor typo in timeline file
  ui/raidboss/data/06-ew/raid/p6s.txt
  ui/raidboss/data/06-ew/raid/p7s.txt
  ui/raidboss/data/06-ew/raid/p8s.txt
Labels: raidboss

#5302 util: fix when the log time is 00
  util/logtools/encounter_tools.ts
Labels: util

#5304 resources: update for 6.35
  resources/zone_id.ts
  resources/zone_info.ts
Labels: resources, 💬fr, 💬cn, 💬de, 💬ja

#5303 raidboss: TOP P5 delta tether + beyond defense filter
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.ts
Labels: raidboss

#5305 oopsy: add more p3/p4 mistake tracking
  ui/oopsyraidsy/data/06-ew/ultimate/the_omega_protocol.ts
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.ts
Labels: oopsy, raidboss

#5307 raidboss: Eureka Orthos 1-100
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_01-10.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_11-20.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_21-30.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_31-40.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_41-50.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_51-60.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_61-70.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_71-80.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_81-90.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_91-100.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_general.ts
  ui/raidboss/data/raidboss_manifest.txt
Labels: raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#5306 raidboss: TOP p5 delta swivel cannon
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.ts
Labels: raidboss

#5309 i18n: new missing translations + small Lapis fix
  ui/oopsyraidsy/data/06-ew/ultimate/the_omega_protocol.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_41-50.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_51-60.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_71-80.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_91-100.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_general.ts
  ui/raidboss/data/06-ew/dungeon/lapis_manalis.ts
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.ts
Labels: oopsy, raidboss, 💬de

#5310 docs: update install screenshots
  screenshots/config_panel.png
  screenshots/get_plugins_overlayplugin.png
Labels: docs

#5311 raidboss: more Eureka Orthos
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_21-30.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_41-50.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_61-70.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_71-80.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_81-90.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_91-100.ts
Labels: raidboss, 💬de

#5313 i18n: add ko translations
  ui/oopsyraidsy/data/06-ew/ultimate/the_omega_protocol.ts
  ui/raidboss/data/03-hw/deepdungeon/the_palace_of_the_dead_general.ts
  ui/raidboss/data/03-hw/raid/a3n.ts
  ui/raidboss/data/04-sb/deepdungeon/heaven-on-high_general.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_41-50.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_51-60.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_71-80.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_91-100.ts
  ui/raidboss/data/06-ew/dungeon/alzadaals_legacy.ts
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.ts
  util/coverage/coverage.ts
Labels: oopsy, raidboss, util, 💬ko

#5316 raidboss: TOP P5 Omega adjust Diffuse Wave Cannon
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.txt
Labels: raidboss

#5319 raidboss: add TOP p5 near/far reminders
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.ts
Labels: raidboss

#5324 oopsy: TOP add more p5
  ui/oopsyraidsy/data/06-ew/ultimate/the_omega_protocol.ts
Labels: oopsy

#5323 raidboss: TOP call out conga partner for p3 intermission
  test/helper/test_trigger.ts
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.ts
Labels: raidboss, test, 💬ko, 💬de
