Repository quisquous/cactbot, pull requests merged in 2023-11, with the labels that each got.

#5885 raidboss: fix test_timeline referencing `window`
  ui/raidboss/timeline.ts
Labels: raidboss

#5886 resources: ko 6.4
  resources/zone_info.ts
  ui/fisher/static-data.ts
  ui/jobs/jobs.ts
Labels: resources, fishing🎣, jobs, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#5887 plugin: update FFXIVProcessKo.cs for ko 6.4
  plugin/CactbotEventSource/FFXIVProcessKo.cs
Labels: plugin

#5888 i18n: ko 6.4
  ui/raidboss/data/04-sb/dungeon/castrum_abania.ts
  ui/raidboss/data/06-ew/dungeon/aetherfont.ts
  ui/raidboss/data/06-ew/raid/p10n.ts
  ui/raidboss/data/06-ew/raid/p10s.ts
  ui/raidboss/data/06-ew/raid/p11n.ts
  ui/raidboss/data/06-ew/raid/p11s.ts
  ui/raidboss/data/06-ew/raid/p12n.ts
  ui/raidboss/data/06-ew/raid/p12s.ts
  ui/raidboss/data/06-ew/raid/p9n.ts
  ui/raidboss/data/06-ew/raid/p9s.ts
  ui/raidboss/data/06-ew/trial/golbez-ex.ts
  ui/raidboss/data/06-ew/trial/golbez.ts
Labels: raidboss

#5878 test: remove non-existent FileChanged event
  types/event.d.ts
  ui/test/test.ts
Labels: test

#5890 docs: Update defs to add currentShield
  docs/LogGuide.md
  resources/netlog_defs.ts
Labels: resources, docs

#5861 raidboss: Support for objects in trigger outputStrings
  eslint/cactbot-output-strings.js
  resources/party.ts
  resources/util.ts
  test/helper/test_trigger.ts
  types/party.d.ts
  types/trigger.d.ts
  ui/jobs/jobs.ts
  ui/oopsyraidsy/damage_tracker.ts
  ui/oopsyraidsy/oopsy_common.ts
  ui/oopsyraidsy/oopsy_live_list.ts
  ui/oopsyraidsy/oopsy_options.ts
  ui/oopsyraidsy/oopsy_summary_list.ts
  ui/oopsyraidsy/player_state_tracker.ts
  ui/raidboss/data/00-misc/test.ts
  ui/raidboss/popup-text.ts
  ui/raidboss/raidboss_config.ts
  ui/raidboss/raidboss_options.ts
Labels: resources, config, jobs, oopsy, raidboss, test, style

#5892 oopsy: P12S - Add trigger for failing caloric due to stacks
  ui/oopsyraidsy/data/06-ew/raid/p12s.ts
Labels: oopsy

#5893 raidboss: Simple Aloalo triggers
  ui/raidboss/data/06-ew/dungeon/aloalo.ts
  ui/raidboss/data/06-ew/dungeon/aloalo.txt
Labels: raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#5894 i18n: missing translations (mostly DE)
  ui/raidboss/data/00-misc/test.ts
  ui/raidboss/data/06-ew/dungeon/aloalo.ts
  ui/raidboss/data/06-ew/dungeon/ktisis_hyperboreia.ts
Labels: raidboss, 💬de

#5896 raidboss: Add 263/264 line types
  docs/LogGuide.md
  resources/netlog_defs.ts
  resources/netregexes.ts
  resources/regexes.ts
  util/gen_log_guide.ts
Labels: resources, util, docs

#5895 raidboss: handle player object arrays in output params
  resources/party.ts
  types/trigger.d.ts
  ui/raidboss/popup-text.ts
Labels: resources, raidboss

#5898 raidboss: rename aloalo files to aloalo_island
  ui/raidboss/data/06-ew/dungeon/aloalo_island.ts
  ui/raidboss/data/06-ew/dungeon/aloalo_island.txt
Labels: raidboss

#5891 raidboss: update arr and responses to use player objects
  resources/responses.ts
  ui/raidboss/data/00-misc/general.ts
  ui/raidboss/data/02-arr/dungeon/brayfloxs_longstop.ts
  ui/raidboss/data/02-arr/dungeon/pharos_sirius.ts
  ui/raidboss/data/02-arr/dungeon/sastasha_hard.ts
  ui/raidboss/data/02-arr/dungeon/the_wanderers_palace_hard.ts
  ui/raidboss/data/02-arr/raid/t10.ts
  ui/raidboss/data/02-arr/raid/t11.ts
  ui/raidboss/data/02-arr/raid/t12.ts
  ui/raidboss/data/02-arr/raid/t13.ts
  ui/raidboss/data/02-arr/raid/t2.ts
  ui/raidboss/data/02-arr/raid/t5.ts
  ui/raidboss/data/02-arr/raid/t6.ts
  ui/raidboss/data/02-arr/raid/t7.ts
  ui/raidboss/data/02-arr/raid/t8.ts
  ui/raidboss/data/02-arr/raid/t9.ts
  ui/raidboss/data/02-arr/trial/shiva-ex.ts
  ui/raidboss/data/02-arr/trial/shiva-hm.ts
  ui/raidboss/data/02-arr/trial/titan-hm.ts
  ui/raidboss/data/02-arr/trial/titan-nm.ts
Labels: resources, raidboss

#5902 i18n: fix ko golbez-ex
  ui/raidboss/data/06-ew/trial/golbez-ex.ts
Labels: raidboss, 💬ko

#5901 docs: Clarify 263/264 in LogGuide.md
  docs/LogGuide.md
Labels: docs

#5899 raidboss: update hw to use player objects
  ui/raidboss/data/03-hw/alliance/dun_scaith.ts
  ui/raidboss/data/03-hw/dungeon/sohm_al_hard.ts
  ui/raidboss/data/03-hw/dungeon/the_lost_city_of_amdapor_hard.ts
  ui/raidboss/data/03-hw/dungeon/the_vault.ts
  ui/raidboss/data/03-hw/dungeon/the_vault61.ts
  ui/raidboss/data/03-hw/raid/a10s.ts
  ui/raidboss/data/03-hw/raid/a11s.ts
  ui/raidboss/data/03-hw/raid/a12n.ts
  ui/raidboss/data/03-hw/raid/a12s.ts
  ui/raidboss/data/03-hw/raid/a1s.ts
  ui/raidboss/data/03-hw/raid/a2s.ts
  ui/raidboss/data/03-hw/raid/a3n.ts
  ui/raidboss/data/03-hw/raid/a3s.ts
  ui/raidboss/data/03-hw/raid/a5s.ts
  ui/raidboss/data/03-hw/raid/a6n.ts
  ui/raidboss/data/03-hw/raid/a6s.ts
  ui/raidboss/data/03-hw/raid/a7s.ts
  ui/raidboss/data/03-hw/raid/a8n.ts
  ui/raidboss/data/03-hw/raid/a8s.ts
  ui/raidboss/data/03-hw/trial/thordan-ex.ts
  ui/raidboss/data/06-ew/trial/thordan-un.ts
Labels: raidboss

#5900 raidboss: UWU - Add ifrit phase change triggers
  ui/raidboss/data/04-sb/ultimate/ultima_weapon_ultimate.ts
Labels: raidboss

#5903 raidboss: update sb to use player objects
  ui/raidboss/data/03-hw/dungeon/baelsars_wall.ts
  ui/raidboss/data/03-hw/dungeon/baelsars_wall62.ts
  ui/raidboss/data/03-hw/raid/a4s.ts
  ui/raidboss/data/03-hw/trial/sophia-ex.ts
  ui/raidboss/data/03-hw/trial/zurvan-ex.ts
  ui/raidboss/data/04-sb/dungeon/fractal_continuum_hard.ts
  ui/raidboss/data/04-sb/dungeon/temple_of_the_fist.ts
  ui/raidboss/data/04-sb/raid/o10s.ts
  ui/raidboss/data/04-sb/raid/o12n.ts
  ui/raidboss/data/04-sb/raid/o12s.ts
  ui/raidboss/data/04-sb/raid/o2n.ts
  ui/raidboss/data/04-sb/raid/o3s.ts
  ui/raidboss/data/04-sb/raid/o7s.ts
  ui/raidboss/data/04-sb/raid/o8s.ts
  ui/raidboss/data/04-sb/trial/seiryu.ts
  ui/raidboss/data/04-sb/trial/shinryu-ex.ts
  ui/raidboss/data/04-sb/trial/shinryu.ts
  ui/raidboss/data/04-sb/trial/susano-ex.ts
  ui/raidboss/data/04-sb/trial/tsukuyomi-ex.ts
  ui/raidboss/data/04-sb/trial/tsukuyomi.ts
  ui/raidboss/data/04-sb/ultimate/ultima_weapon_ultimate.ts
  ui/raidboss/data/04-sb/ultimate/unending_coil_ultimate.ts
  ui/raidboss/data/06-ew/trial/sophia-un.ts
  ui/raidboss/data/06-ew/trial/zurvan-un.ts
Labels: raidboss

#5904 raidboss: update shb to use player objects
  ui/raidboss/data/05-shb/alliance/the_tower_at_paradigms_breach.ts
  ui/raidboss/data/05-shb/dungeon/heroes_gauntlet.ts
  ui/raidboss/data/05-shb/dungeon/holminster_switch.ts
  ui/raidboss/data/05-shb/eureka/delubrum_reginae.ts
  ui/raidboss/data/05-shb/eureka/delubrum_reginae_savage.ts
  ui/raidboss/data/05-shb/eureka/zadnor.ts
  ui/raidboss/data/05-shb/hunts/lakeland.ts
  ui/raidboss/data/05-shb/map/the_shifting_oubliettes_of_lyhe_ghiah.ts
  ui/raidboss/data/05-shb/raid/e10s.ts
  ui/raidboss/data/05-shb/raid/e11n.ts
  ui/raidboss/data/05-shb/raid/e11s.ts
  ui/raidboss/data/05-shb/raid/e12n.ts
  ui/raidboss/data/05-shb/raid/e12s.ts
  ui/raidboss/data/05-shb/raid/e4s.ts
  ui/raidboss/data/05-shb/raid/e6s.ts
  ui/raidboss/data/05-shb/raid/e7s.ts
  ui/raidboss/data/05-shb/raid/e8s.ts
  ui/raidboss/data/05-shb/raid/e9s.ts
  ui/raidboss/data/05-shb/trial/hades-ex.ts
  ui/raidboss/data/05-shb/trial/hades.ts
  ui/raidboss/data/05-shb/trial/shiva-un.ts
  ui/raidboss/data/05-shb/trial/titania-ex.ts
  ui/raidboss/data/05-shb/trial/varis-ex.ts
  ui/raidboss/data/05-shb/trial/wol-ex.ts
  ui/raidboss/data/05-shb/ultimate/the_epic_of_alexander.ts
Labels: raidboss

#5905 raidboss: update ew to use player objects
  ui/raidboss/data/06-ew/alliance/aglaia.ts
  ui/raidboss/data/06-ew/dungeon/another_mount_rokkon-savage.ts
  ui/raidboss/data/06-ew/dungeon/another_mount_rokkon.ts
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane-savage.ts
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane.ts
  ui/raidboss/data/06-ew/dungeon/lapis_manalis.ts
  ui/raidboss/data/06-ew/dungeon/the_dead_ends.ts
  ui/raidboss/data/06-ew/dungeon/the_lunar_subterrane.ts
  ui/raidboss/data/06-ew/raid/p10s.ts
  ui/raidboss/data/06-ew/raid/p11n.ts
  ui/raidboss/data/06-ew/raid/p11s.ts
  ui/raidboss/data/06-ew/raid/p12s.ts
  ui/raidboss/data/06-ew/raid/p1s.ts
  ui/raidboss/data/06-ew/raid/p2n.ts
  ui/raidboss/data/06-ew/raid/p2s.ts
  ui/raidboss/data/06-ew/raid/p3s.ts
  ui/raidboss/data/06-ew/raid/p4s.ts
  ui/raidboss/data/06-ew/raid/p5s.ts
  ui/raidboss/data/06-ew/raid/p8s.ts
  ui/raidboss/data/06-ew/raid/p9n.ts
  ui/raidboss/data/06-ew/trial/golbez.ts
  ui/raidboss/data/06-ew/trial/rubicante-ex.ts
  ui/raidboss/data/06-ew/trial/zeromus-ex.ts
  ui/raidboss/data/06-ew/trial/zeromus.ts
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.ts
Labels: raidboss

#5907 docs: update documentation to use player objects
  docs/CactbotCustomization.md
  docs/OopsyraidsyGuide.md
  docs/RaidbossGuide.md
  docs/ko-KR/CactbotCustomization.md
  docs/zh-CN/CactbotCustomization.md
  docs/zh-CN/RaidbossGuide.md
  docs/zh-TW/CactbotCustomization.md
  ui/raidboss/data/00-misc/general.ts
Labels: raidboss, 💬ko, docs, 💬cn

#5911 i18n: new FR translations
  ui/jobs/jobs_config.ts
  ui/raidboss/data/06-ew/alliance/thaleia.ts
  ui/raidboss/data/06-ew/dungeon/ktisis_hyperboreia.ts
  ui/raidboss/data/06-ew/trial/barbariccia-ex.ts
  ui/raidboss/data/06-ew/trial/zeromus-ex.ts
  ui/raidboss/raidboss_config.ts
Labels: config, jobs, raidboss, 💬fr

#5906 oopsy: update oopsy code to use player objects
  types/data.d.ts
  ui/oopsyraidsy/damage_tracker.ts
  ui/oopsyraidsy/data/00-misc/general.ts
  ui/oopsyraidsy/data/05-shb/raid/e12s.ts
  ui/oopsyraidsy/oopsy_live_list.ts
  ui/oopsyraidsy/oopsy_summary_list.ts
  ui/oopsyraidsy/oopsy_viewer.ts
  ui/oopsyraidsy/oopsyraidsy.ts
  ui/oopsyraidsy/player_state_tracker.ts
  ui/raidboss/popup-text.ts
Labels: oopsy, raidboss, 💬ko, 💬cn, 💬de

#5912 raidboss: fix errors on delayed triggers being cancelled
  ui/raidboss/popup-text.ts
Labels: raidboss

#5914 i18n: added P12S korean translation
  ui/raidboss/data/06-ew/raid/p12s.ts
Labels: raidboss

#5916 raidboss/oopsy: support jobs instead of names in triggers
  ui/oopsyraidsy/oopsyraidsy_config.ts
  ui/raidboss/raidboss_config.ts
Labels: config, oopsy, raidboss

#5918 raidboss: improve e10n wording
  ui/raidboss/data/05-shb/raid/e10n.ts
Labels: raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#5920 util: remove hests from coverage report
  resources/content_list.ts
  util/coverage/coverage.css
  util/coverage/coverage.ts
Labels: resources, util

#5919 plugin: delete fishing code and overlay
  .github/scripts/auto-label.cjs
  .github/scripts/lint-pr-title.cjs
  LICENSE
  README.md
  docs/FAQ-Troubleshooting.md
  docs/PatchUpdateChecklist.md
  docs/RemoteCactbot.md
  docs/ko-KR/README.md
  docs/zh-CN/README.md
  plugin/CactbotEventSource/CactbotEventSource.cs
  plugin/CactbotEventSource/CactbotEventSource.csproj
  plugin/CactbotEventSource/FFXIVProcess.cs
  plugin/CactbotEventSource/FFXIVProcessCn.cs
  plugin/CactbotEventSource/FFXIVProcessIntl.cs
  plugin/CactbotEventSource/FFXIVProcessKo.cs
  plugin/CactbotEventSource/JSEvents.cs
  plugin/CactbotEventSource/loc/Strings.Designer.cs
  plugin/CactbotEventSource/loc/Strings.resx
  plugin/CactbotEventSource/loc/Strings.zh.resx
  ui/fisher/fisher-ui.js
  ui/fisher/fisher.css
  ui/fisher/fisher.html
  ui/fisher/fisher.js
  ui/fisher/seabase.js
  ui/fisher/static-data.ts
  ui/test/test.html
  ui/test/test.ts
  util/gen_fisher_data.py
  webpack/constants.ts
Labels: ci, fishing🎣, test, util, 💬ko, docs, 💬cn, plugin

#5922 i18n: update ko translations
  ui/oopsyraidsy/oopsyraidsy_config.ts
  ui/raidboss/data/00-misc/test.ts
  ui/raidboss/data/04-sb/ultimate/ultima_weapon_ultimate.ts
  ui/raidboss/data/05-shb/raid/e10n.ts
  ui/raidboss/data/06-ew/raid/p10s.ts
  ui/raidboss/data/06-ew/raid/p11s.ts
  ui/raidboss/data/06-ew/raid/p12s.ts
  ui/raidboss/data/06-ew/raid/p9s.ts
  ui/raidboss/raidboss_config.ts
Labels: config, oopsy, raidboss, 💬ko

#5923 i18n: missing cn translations
  ui/oopsyraidsy/oopsyraidsy_config.ts
  ui/raidboss/data/00-misc/test.ts
  ui/raidboss/data/04-sb/ultimate/ultima_weapon_ultimate.ts
  ui/raidboss/data/05-shb/raid/e10n.ts
  ui/raidboss/raidboss_config.ts
Labels: config, oopsy, raidboss, 💬cn

#5927 raidboss: fix Skoll Howl in Eureka Pyros
  ui/raidboss/data/04-sb/eureka/eureka_pyros.ts
Labels: raidboss

#5930 raidboss: localized job names
  resources/party.ts
  types/party.d.ts
  ui/jobs/jobs.ts
  ui/oopsyraidsy/oopsyraidsy_config.ts
  ui/raidboss/raidboss_config.ts
Labels: resources, config, jobs, oopsy, raidboss, 💬cn, 💬ja

#5932 i18n: localized job names for JP/KR
  resources/party.ts
Labels: resources, 💬ko, 💬ja

#5933 i18n: Ktisis Hyperboreia cn
  ui/raidboss/data/06-ew/dungeon/ktisis_hyperboreia.ts
Labels: raidboss, 💬cn

#5929 docs: add line 0x37 auto-generated regex/examples
  docs/LogGuide.md
  util/gen_log_guide.ts
Labels: util, docs

#5926 raidboss: Lunar Subterrane -- Add Forsaken Fount triggers
  ui/raidboss/data/06-ew/dungeon/the_lunar_subterrane.ts
Labels: raidboss

#5935 i18n: update FR translations
  resources/party.ts
  ui/raidboss/data/05-shb/raid/e10n.ts
Labels: resources, raidboss, 💬fr

#5936 i18n: update ko another mount rokkon
  ui/oopsyraidsy/oopsyraidsy_config.ts
  ui/raidboss/data/06-ew/dungeon/another_mount_rokkon-savage.ts
  ui/raidboss/data/06-ew/dungeon/another_mount_rokkon.ts
  ui/raidboss/raidboss_config.ts
Labels: config, oopsy, raidboss, 💬ko

#5938 i18n: update JP translations
  ui/config/config.ts
  ui/jobs/jobs_config.ts
  ui/oopsyraidsy/data/00-misc/general.ts
  ui/oopsyraidsy/data/06-ew/dungeon/smileton.ts
  ui/oopsyraidsy/data/06-ew/dungeon/the_tower_of_babil.ts
  ui/oopsyraidsy/data/06-ew/raid/p3n.ts
  ui/oopsyraidsy/data/06-ew/raid/p4n.ts
  ui/oopsyraidsy/data/06-ew/raid/p8s.ts
  ui/oopsyraidsy/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
  ui/oopsyraidsy/data/06-ew/ultimate/the_omega_protocol.ts
  ui/oopsyraidsy/oopsy_common.ts
  ui/oopsyraidsy/oopsy_live_list.ts
  ui/oopsyraidsy/oopsy_viewer.ts
  ui/oopsyraidsy/oopsyraidsy_config.ts
  ui/radar/radar.ts
  ui/radar/radar_config.ts
  ui/raidboss/data/00-misc/test.ts
  ui/raidboss/data/03-hw/trial/thordan-ex.ts
  ui/raidboss/data/06-ew/alliance/aglaia.ts
  ui/raidboss/data/06-ew/alliance/thaleia.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_71-80.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_general.ts
  ui/raidboss/data/06-ew/dungeon/aetherfont.ts
  ui/raidboss/data/06-ew/dungeon/aloalo_island.ts
  ui/raidboss/data/06-ew/dungeon/another_mount_rokkon-savage.ts
  ui/raidboss/data/06-ew/dungeon/another_mount_rokkon.ts
  ui/raidboss/data/06-ew/dungeon/ktisis_hyperboreia.ts
  ui/raidboss/data/06-ew/dungeon/lapis_manalis.ts
  ui/raidboss/data/06-ew/dungeon/the_lunar_subterrane.ts
  ui/raidboss/data/06-ew/dungeon/the_sildihn_subterrane.ts
  ui/raidboss/data/06-ew/map/the_shifting_gymnasion_agonon.ts
  ui/raidboss/data/06-ew/trial/barbariccia-ex.ts
  ui/raidboss/data/06-ew/trial/endsinger-ex.ts
  ui/raidboss/data/06-ew/trial/golbez-ex.ts
  ui/raidboss/data/06-ew/trial/golbez.ts
  ui/raidboss/data/06-ew/trial/hydaelyn-ex.ts
  ui/raidboss/data/06-ew/trial/rubicante-ex.ts
  ui/raidboss/data/06-ew/trial/rubicante.ts
  ui/raidboss/data/06-ew/trial/thordan-un.ts
  ui/raidboss/data/06-ew/trial/zeromus-ex.ts
  ui/raidboss/data/06-ew/trial/zeromus.ts
  ui/raidboss/data/06-ew/trial/zodiark-ex.ts
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.ts
  ui/raidboss/raidboss_config.ts
  util/coverage/coverage.ts
Labels: config, jobs, oopsy, radar, raidboss, util, 💬ja

#5940 raidboss: allow timeline labels to be any non-quote char
  ui/raidboss/timeline_parser.ts
Labels: raidboss

#5941 raidboss/oopsy: Aloalo variant left path
  ui/oopsyraidsy/data/06-ew/dungeon/aloalo_island.ts
  ui/raidboss/data/06-ew/dungeon/aloalo_island.ts
  ui/raidboss/data/06-ew/dungeon/aloalo_island.txt
Labels: oopsy, raidboss, 💬de, 💬ja

#5942 raidboss/oopsy: Aloalo variant middle path
  ui/oopsyraidsy/data/06-ew/dungeon/aloalo_island.ts
  ui/raidboss/data/06-ew/dungeon/aloalo_island.ts
  ui/raidboss/data/06-ew/dungeon/aloalo_island.txt
Labels: oopsy, raidboss, 💬ko, 💬fr, 💬cn, 💬de, 💬ja

#5945 raidboss/oopsy: Aloalo variant right path
  ui/oopsyraidsy/data/06-ew/dungeon/aloalo_island.ts
  ui/raidboss/data/06-ew/dungeon/aloalo_island.ts
  ui/raidboss/data/06-ew/dungeon/aloalo_island.txt
Labels: oopsy, raidboss, 💬de, 💬ja

#5944 raidboss: Lunar Subterrane--Add Ruinous Hex calls
  ui/raidboss/data/06-ew/dungeon/the_lunar_subterrane.ts
Labels: raidboss

#5948 raidboss/oopsy: Thaleia timeline, oopsy, extra triggers
  ui/oopsyraidsy/data/06-ew/alliance/thaleia.ts
  ui/raidboss/data/06-ew/alliance/thaleia.ts
  ui/raidboss/data/06-ew/alliance/thaleia.txt
Labels: oopsy, raidboss, 💬fr, 💬de, 💬ja

#5949 util: ignore system messages for timeline coverage
  ui/raidboss/timeline_parser.ts
Labels: raidboss

#5950 docs: add note to Tether about channeling table
  docs/LogGuide.md
Labels: docs

#5951 raidboss: minor Another Mount Rokkon improvements
  ui/raidboss/data/06-ew/dungeon/another_mount_rokkon-savage.ts
  ui/raidboss/data/06-ew/dungeon/another_mount_rokkon.ts
Labels: raidboss, 💬ko, 💬de, 💬ja

#5952 ci: add test to validate versions in sync
  .github/workflows/test-validate-versions.yml
  package.json
  util/validate_versions.ts
Labels: ci, util

#5954 util/raidboss: list source file in synced files
  ui/oopsyraidsy/data/06-ew/dungeon/another_mount_rokkon-savage.ts
  ui/oopsyraidsy/data/06-ew/dungeon/another_sildihn_subterrane-savage.ts
  ui/oopsyraidsy/data/06-ew/trial/sophia-un.ts
  ui/oopsyraidsy/data/06-ew/trial/thordan-un.ts
  ui/oopsyraidsy/data/06-ew/trial/zurvan-un.ts
  ui/raidboss/data/06-ew/dungeon/another_mount_rokkon-savage.ts
  ui/raidboss/data/06-ew/dungeon/another_mount_rokkon-savage.txt
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane-savage.ts
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane-savage.txt
  ui/raidboss/data/06-ew/trial/sophia-un.ts
  ui/raidboss/data/06-ew/trial/sophia-un.txt
  ui/raidboss/data/06-ew/trial/thordan-un.ts
  ui/raidboss/data/06-ew/trial/thordan-un.txt
  ui/raidboss/data/06-ew/trial/zurvan-un.ts
  ui/raidboss/data/06-ew/trial/zurvan-un.txt
  util/sync_files.ts
Labels: oopsy, raidboss, util

#5939 raidboss: Add support for netregexes in timelines
  ui/raidboss/data/00-misc/test.ts
  ui/raidboss/data/00-misc/test.txt
  ui/raidboss/emulator/overrides/RaidEmulatorTimelineController.ts
  ui/raidboss/raidboss.ts
  ui/raidboss/timeline.ts
  ui/raidboss/timeline_parser.ts
  util/logtools/test_timeline.ts
Labels: raidboss, raidemulator, util

#5955 build: Bump version to 0.30.6
  package-lock.json
  package.json
  plugin/CactbotEventSource/Properties/AssemblyInfo.cs
  plugin/CactbotOverlay/Properties/AssemblyInfo.cs
Labels: plugin

#5956 ci: fix for #5953 to pass output between jobs
  .github/workflows/release.yml
Labels: ci

#5957 build: Bump version to 0.30.7
  package-lock.json
  package.json
  plugin/CactbotEventSource/Properties/AssemblyInfo.cs
  plugin/CactbotOverlay/Properties/AssemblyInfo.cs
Labels: plugin

#5958 ci: move create tag into create release step for release
  .github/workflows/release.yml
Labels: ci

#5961 docs: improve oopsy guide
  docs/OopsyraidsyGuide.md
Labels: docs

#5947 util: Add basic network log seal support in timeline tools
  util/logtools/encounter_tools.ts
  util/logtools/make_timeline.ts
Labels: util

#5963 i18n: added new translations
  ui/oopsyraidsy/data/06-ew/dungeon/aloalo_island.ts
  ui/oopsyraidsy/oopsyraidsy_config.ts
  ui/raidboss/data/04-sb/ultimate/ultima_weapon_ultimate.ts
  ui/raidboss/data/05-shb/raid/e10n.ts
  ui/raidboss/data/06-ew/alliance/thaleia.ts
  ui/raidboss/data/06-ew/dungeon/aloalo_island.ts
  ui/raidboss/data/06-ew/dungeon/the_lunar_subterrane.ts
  ui/raidboss/raidboss_config.ts
Labels: config, oopsy, raidboss, 💬de

#5962 raidboss: improve translation of timeline netregex
  ui/raidboss/timeline_parser.ts
  util/find_missing_timeline_translations.ts
Labels: raidboss, util

#5964 raidboss/oopsy: remove outdated dungeon files
  ui/oopsyraidsy/data/04-sb/dungeon/ala_mhigo63.ts
  ui/oopsyraidsy/data/04-sb/dungeon/bardams_mettle63.ts
  ui/oopsyraidsy/data/04-sb/dungeon/castrum_abania63.ts
  ui/oopsyraidsy/data/04-sb/dungeon/doma_castle63.ts
  ui/oopsyraidsy/data/04-sb/dungeon/sirensong_sea63.ts
  ui/raidboss/data/02-arr/dungeon/snowcloak61.ts
  ui/raidboss/data/03-hw/dungeon/aetherochemical_research_facility62.ts
  ui/raidboss/data/03-hw/dungeon/aetherochemical_research_facility62.txt
  ui/raidboss/data/03-hw/dungeon/baelsars_wall62.ts
  ui/raidboss/data/03-hw/dungeon/baelsars_wall62.txt
  ui/raidboss/data/03-hw/dungeon/sohm_al61.ts
  ui/raidboss/data/03-hw/dungeon/sohm_al61.txt
  ui/raidboss/data/03-hw/dungeon/the_vault61.ts
  ui/raidboss/data/03-hw/dungeon/the_vault61.txt
  ui/raidboss/data/03-hw/dungeon/xelphatol62.ts
  ui/raidboss/data/03-hw/dungeon/xelphatol62.txt
  ui/raidboss/data/04-sb/dungeon/ala_mhigo63.ts
  ui/raidboss/data/04-sb/dungeon/ala_mhigo63.txt
  ui/raidboss/data/04-sb/dungeon/bardams_mettle63.ts
  ui/raidboss/data/04-sb/dungeon/bardams_mettle63.txt
  ui/raidboss/data/04-sb/dungeon/castrum_abania63.ts
  ui/raidboss/data/04-sb/dungeon/castrum_abania63.txt
  ui/raidboss/data/04-sb/dungeon/doma_castle63.ts
  ui/raidboss/data/04-sb/dungeon/doma_castle63.txt
  ui/raidboss/data/04-sb/dungeon/sirensong_sea63.ts
  ui/raidboss/data/04-sb/dungeon/sirensong_sea63.txt
Labels: oopsy, raidboss
